In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
import sys
sys.path.append("..")

In [8]:
import pandas as pd

In [9]:
filepath = "/data/research/04232023_De_identified_Vitally Patient Data updated_01062023.xlsx"
df = pd.read_excel(filepath)
df

,Name,Date,Time,Systolic,Diastolic,Heart Rate BPM,Weight Lbs
0,HF-0013,09/24/2022,09:09:44,NaN,NaN,NaN,212.1
1,HF-0013,09/15/2022,06:48:32,NaN,NaN,NaN,210.5
2,HF-0013,09/13/2022,07:27:10,NaN,NaN,NaN,210.3
3,HF-0013,09/12/2022,08:35:38,NaN,NaN,NaN,209.9
4,HF-0013,09/11/2022,07:44:57,NaN,NaN,NaN,209.9
...,...,...,...,...,...,...,...
25372,HF-0270,06/12/2021,11:05:06,111.0,69.0,74.0,NaN
25373,HF-0270,06/11/2021,17:13:37,121.0,69.0,82.0,NaN
25374,HF-0270,06/06/2021,09:17:47,136.0,79.0,80.0,NaN
25375,HF-0270,06/06/2021,09:16:24,139.0,80.0,78.0,NaN
25376,HF-0270,11/14/2020,13:14:16,112.0,69.0,71.0,NaN

In [10]:
output = "/data/research"