In [139]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [140]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-02 12:05:51 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-02 12:05:51 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-02 12:05:51 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-02 12:05:51 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [141]:
train_X = physionet2012_dataset['train_X']

In [142]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0]
female_gender_missing_rate = female_gender_distribution_training.isna().sum()
female_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            3188
ALT            3183
AST            3185
Age               0
Albumin        3205
BUN            2919
Bilirubin      3188
Cholesterol    3318
Creatinine     2919
DiasABP        2740
FiO2           2695
GCS            2133
Gender            0
Glucose        2967
HCO3           2955
HCT            2893
HR             1622
Height            0
ICUType           0
K              2958
Lactate        2932
MAP            2759
MechVent       2748
Mg             3037
NIDiasABP      2036
NIMAP          2050
NISysABP       2034
Na             2963
PaCO2          2661
PaO2           2672
Platelets      2894
RespRate       2805
SaO2           3235
SysABP         2740
Temp           2065
TroponinI      3321
TroponinT      3265
Urine          2248
WBC            2924
Weight            0
pH             2654
dtype: int64

In [143]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0]
male_gender_missing_rate = male_gender_distribution_training.isna().sum()
male_gender_missing_rate

RecordID          0
level_1           0
Time              0
ALP            4122
ALT            4116
AST            4115
Age               0
Albumin        4142
BUN            3806
Bilirubin      4122
Cholesterol    4305
Creatinine     3806
DiasABP        3483
FiO2           3546
GCS            2807
Gender            0
Glucose        3877
HCO3           3862
HCT            3745
HR             2202
Height            0
ICUType           0
K              3863
Lactate        3815
MAP            3508
MechVent       3571
Mg             3971
NIDiasABP      2753
NIMAP          2761
NISysABP       2753
Na             3870
PaCO2          3259
PaO2           3273
Platelets      3734
RespRate       3731
SaO2           4177
SysABP         3482
Temp           2696
TroponinI      4312
TroponinT      4210
Urine          3056
WBC            3793
Weight            0
pH             3252
dtype: int64

In [144]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training_missing = ICUType_1_training.isna().sum()
ICUType_1_training_missing

RecordID          0
level_1           0
Time              0
ALP            1026
ALT            1024
AST            1024
Age               0
Albumin        1035
BUN             947
Bilirubin      1031
Cholesterol    1072
Creatinine      947
DiasABP         824
FiO2            965
GCS             618
Gender            0
Glucose         952
HCO3            951
HCT             947
HR              469
Height            0
ICUType           0
K               945
Lactate        1046
MAP             827
MechVent        982
Mg             1005
NIDiasABP       654
NIMAP           655
NISysABP        654
Na              949
PaCO2           986
PaO2            984
Platelets       948
RespRate        843
SaO2           1029
SysABP          824
Temp            661
TroponinI      1091
TroponinT      1034
Urine           767
WBC             952
Weight            0
pH              984
dtype: int64

In [145]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training_missing = ICUType_2_training.isna().sum()
ICUType_2_training_missing

RecordID          0
level_1           0
Time              0
ALP            1585
ALT            1583
AST            1583
Age               0
Albumin        1585
BUN            1522
Bilirubin      1583
Cholesterol    1601
Creatinine     1522
DiasABP        1317
FiO2           1413
GCS            1334
Gender            0
Glucose        1546
HCO3           1528
HCT            1458
HR             1202
Height            0
ICUType           0
K              1545
Lactate        1510
MAP            1320
MechVent       1381
Mg             1558
NIDiasABP      1449
NIMAP          1449
NISysABP       1449
Na             1549
PaCO2           668
PaO2            683
Platelets      1434
RespRate       1550
SaO2           1550
SysABP         1317
Temp           1279
TroponinI      1602
TroponinT      1595
Urine          1309
WBC            1481
Weight            0
pH              665
dtype: int64

In [146]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training_missing = ICUType_3_training.isna().sum()
ICUType_3_training_missing

RecordID          0
level_1           0
Time              0
ALP            2573
ALT            2570
AST            2571
Age               0
Albumin        2594
BUN            2395
Bilirubin      2571
Cholesterol    2739
Creatinine     2395
DiasABP        2520
FiO2           2244
GCS            1686
Gender            0
Glucose        2401
HCO3           2400
HCT            2403
HR             1224
Height            0
ICUType           0
K              2393
Lactate        2394
MAP            2537
MechVent       2302
Mg             2457
NIDiasABP      1345
NIMAP          1361
NISysABP       1343
Na             2397
PaCO2          2472
PaO2           2477
Platelets      2427
RespRate       2264
SaO2           2704
SysABP         2519
Temp           1663
TroponinI      2729
TroponinT      2670
Urine          1901
WBC            2429
Weight            0
pH             2466
dtype: int64

In [147]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training_missing = ICUType_4_training.isna().sum()
ICUType_4_training_missing

RecordID          0
level_1           0
Time              0
ALP            2133
ALT            2129
AST            2129
Age               0
Albumin        2140
BUN            1868
Bilirubin      2132
Cholesterol    2218
Creatinine     1868
DiasABP        1568
FiO2           1626
GCS            1306
Gender            0
Glucose        1952
HCO3           1945
HCT            1837
HR              934
Height            0
ICUType           0
K              1945
Lactate        1804
MAP            1589
MechVent       1661
Mg             1995
NIDiasABP      1347
NIMAP          1352
NISysABP       1347
Na             1945
PaCO2          1800
PaO2           1807
Platelets      1826
RespRate       1885
SaO2           2136
SysABP         1568
Temp           1164
TroponinI      2218
TroponinT      2183
Urine          1334
WBC            1862
Weight            0
pH             1797
dtype: int64

In [148]:
more_than_or_equal_to_65_train = train_X[train_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_train = more_than_or_equal_to_65_train[more_than_or_equal_to_65_train["Gender"] != -1.0]
more_than_or_equal_to_65_train_missing = more_than_or_equal_to_65_train.isna().sum()
more_than_or_equal_to_65_train_missing

RecordID          0
level_1           0
Time              0
ALP            2561
ALT            2523
AST            2520
Age               0
Albumin        2574
BUN              54
Bilirubin      2502
Cholesterol    3824
Creatinine       54
DiasABP        1232
FiO2           1313
GCS              57
Gender            0
Glucose          95
HCO3             64
HCT              60
HR               57
Height            0
ICUType           0
K                77
Lactate        1921
MAP            1232
MechVent       1570
Mg               82
NIDiasABP       517
NIMAP           526
NISysABP        507
Na               64
PaCO2          1017
PaO2           1020
Platelets        61
RespRate       3044
SaO2           2230
SysABP         1232
Temp             57
TroponinI      3944
TroponinT      3031
Urine            99
WBC              70
Weight            0
pH              997
dtype: int64

In [149]:
less_than_65_train = train_X[train_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_65_train = less_than_65_train[less_than_65_train["Gender"] != -1.0]
less_than_65_train_missing = less_than_65_train.isna().sum()
less_than_65_train_missing

RecordID          0
level_1           0
Time              0
ALP            1834
ALT            1792
AST            1792
Age               0
Albumin        1966
BUN              45
Bilirubin      1809
Cholesterol    3221
Creatinine       45
DiasABP        1065
FiO2           1163
GCS              53
Gender            0
Glucose          69
HCO3             52
HCT              45
HR               53
Height            0
ICUType           0
K                58
Lactate        1531
MAP            1072
MechVent       1275
Mg               82
NIDiasABP       410
NIMAP           413
NISysABP        402
Na               53
PaCO2           875
PaO2            874
Platelets        47
RespRate       2491
SaO2           2039
SysABP         1065
Temp             53
TroponinI      3354
TroponinT      2968
Urine            86
WBC              48
Weight            0
pH              857
dtype: int64

In [150]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [151]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [152]:
filtered_train_X_metros = filtered_train_X.copy()
filtered_train_X_metros["Height"] = filtered_train_X["Height"]/100
filtered_train_X_metros["Height"]

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575035    1.600
575037    1.600
575038    1.600
575039    1.600
575088    1.727
Name: Height, Length: 100835, dtype: float64

In [153]:
bmi_data_train = filtered_train_X_metros
bmi_data_train["BMI"] = filtered_train_X_metros["Weight"] / (filtered_train_X_metros["Height"]**2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [154]:
classificacao_baixo_peso = bmi_data_train[bmi_data_train["Classificacao"] == "Baixo peso"].groupby("RecordID").first().reset_index()
classificacao_baixo_peso = classificacao_baixo_peso[classificacao_baixo_peso["Gender"] != -1.0]
classificacao_baixo_peso_missing = classificacao_baixo_peso.isna().sum()
classificacao_baixo_peso_missing

RecordID           0
level_1            0
Time               0
ALP              100
ALT              101
AST              101
Age                0
Albumin          103
BUN               59
Bilirubin        101
Cholesterol      121
Creatinine        59
DiasABP           58
FiO2              66
GCS               40
Gender            10
Glucose           63
HCO3              59
HCT               56
HR                29
Height             0
ICUType           10
K                 63
Lactate           87
MAP               57
MechVent          65
Mg                64
NIDiasABP         51
NIMAP             52
NISysABP          51
Na                62
PaCO2             55
PaO2              55
Platelets         56
RespRate         109
SaO2              95
SysABP            58
Temp              34
TroponinI        117
TroponinT        112
Urine             44
WBC               60
Weight             0
pH                55
BMI                0
Classificacao      0
dtype: int64

In [155]:
classificacao_peso_normal = bmi_data_train[bmi_data_train["Classificacao"] == "Peso normal"].groupby("RecordID").first().reset_index()
classificacao_peso_normal = classificacao_peso_normal[classificacao_peso_normal["Gender"] != -1.0]
classificacao_peso_normal_missing = classificacao_peso_normal.isna().sum()
classificacao_peso_normal_missing

RecordID            0
level_1             0
Time                0
ALP               964
ALT               958
AST               958
Age                 0
Albumin           969
BUN               554
Bilirubin         959
Cholesterol      1176
Creatinine        554
DiasABP           538
FiO2              669
GCS               389
Gender             58
Glucose           587
HCO3              569
HCT               527
HR                322
Height              0
ICUType            58
K                 576
Lactate           837
MAP               541
MechVent          684
Mg                592
NIDiasABP         576
NIMAP             578
NISysABP          576
Na                578
PaCO2             506
PaO2              507
Platelets         525
RespRate         1031
SaO2              906
SysABP            538
Temp              372
TroponinI        1180
TroponinT        1084
Urine             406
WBC               551
Weight              0
pH                492
BMI                 0
Classificacao       0
dtype: int64

In [156]:
classificacao_sobrepeso = bmi_data_train[bmi_data_train["Classificacao"] == "Sobrepeso"].groupby("RecordID").first().reset_index()
classificacao_sobrepeso = classificacao_sobrepeso[classificacao_sobrepeso["Gender"] != -1.0]
classificacao_sobrepeso_missing = classificacao_sobrepeso.isna().sum()
classificacao_sobrepeso_missing

RecordID            0
level_1             0
Time                0
ALP              1329
ALT              1323
AST              1323
Age                 0
Albumin          1367
BUN               688
Bilirubin        1318
Cholesterol      1581
Creatinine        686
DiasABP           625
FiO2              866
GCS               435
Gender            301
Glucose           755
HCO3              710
HCT               653
HR                355
Height              0
ICUType           301
K                 732
Lactate          1154
MAP               631
MechVent          860
Mg                725
NIDiasABP         726
NIMAP             728
NISysABP          723
Na                723
PaCO2             616
PaO2              622
Platelets         666
RespRate         1431
SaO2             1054
SysABP            625
Temp              418
TroponinI        1598
TroponinT        1495
Urine             453
WBC               700
Weight              0
pH                581
BMI                 0
Classificacao       0
dtype: int64

In [157]:
classificacao_obesidade_1 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 1"].groupby("RecordID").first().reset_index()
classificacao_obesidade_1 = classificacao_obesidade_1[classificacao_obesidade_1["Gender"] != -1.0]
classificacao_obesidade_1_missing = classificacao_obesidade_1.isna().sum()
classificacao_obesidade_1_missing

RecordID            0
level_1             0
Time                0
ALP               853
ALT               851
AST               853
Age                 0
Albumin           871
BUN               397
Bilirubin         851
Cholesterol      1030
Creatinine        395
DiasABP           308
FiO2              500
GCS               229
Gender            341
Glucose           456
HCO3              409
HCT               366
HR                170
Height              0
ICUType           341
K                 433
Lactate           729
MAP               310
MechVent          511
Mg                408
NIDiasABP         467
NIMAP             471
NISysABP          466
Na                418
PaCO2             350
PaO2              352
Platelets         391
RespRate          947
SaO2              643
SysABP            308
Temp              199
TroponinI        1029
TroponinT         960
Urine             215
WBC               406
Weight              0
pH                318
BMI                 0
Classificacao       0
dtype: int64

In [158]:
classificacao_obesidade_2 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 2"].groupby("RecordID").first().reset_index()
classificacao_obesidade_2 = classificacao_obesidade_2[classificacao_obesidade_2["Gender"] != -1.0]
classificacao_obesidade_2_missing = classificacao_obesidade_2.isna().sum()
classificacao_obesidade_2_missing

RecordID           0
level_1            0
Time               0
ALP              356
ALT              355
AST              355
Age                0
Albumin          379
BUN              162
Bilirubin        355
Cholesterol      449
Creatinine       162
DiasABP          139
FiO2             200
GCS               87
Gender           153
Glucose          185
HCO3             167
HCT              147
HR                68
Height             0
ICUType          153
K                176
Lactate          288
MAP              139
MechVent         214
Mg               176
NIDiasABP        189
NIMAP            190
NISysABP         187
Na               172
PaCO2            154
PaO2             156
Platelets        155
RespRate         410
SaO2             272
SysABP           139
Temp              84
TroponinI        451
TroponinT        413
Urine             91
WBC              162
Weight             0
pH               147
BMI                0
Classificacao      0
dtype: int64

In [159]:
classificacao_obesidade_3 = bmi_data_train[bmi_data_train["Classificacao"] == "Obesidade grau 3"].groupby("RecordID").first().reset_index()
classificacao_obesidade_3 = classificacao_obesidade_3[classificacao_obesidade_3["Gender"] != -1.0]
classificacao_obesidade_3_missing = classificacao_obesidade_3.isna().sum()
classificacao_obesidade_3_missing

RecordID           0
level_1            0
Time               0
ALP              247
ALT              245
AST              245
Age                0
Albumin          262
BUN              102
Bilirubin        238
Cholesterol      338
Creatinine       102
DiasABP           88
FiO2             124
GCS               50
Gender            92
Glucose          123
HCO3             106
HCT               90
HR                34
Height             0
ICUType           92
K                115
Lactate          203
MAP               89
MechVent         132
Mg               111
NIDiasABP        144
NIMAP            144
NISysABP         143
Na               108
PaCO2             96
PaO2              96
Platelets         95
RespRate         313
SaO2             189
SysABP            88
Temp              43
TroponinI        345
TroponinT        312
Urine             47
WBC              100
Weight             0
pH                94
BMI                0
Classificacao      0
dtype: int64

In [160]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [161]:
df_missing = pd.DataFrame(columns=df_columns)
df_missing_transpose = df_missing.T
df_missing_transpose["Female"] = female_gender_missing_rate
df_missing_transpose["Male"] = male_gender_missing_rate
df_missing_transpose["ICUType 1"] = ICUType_1_training_missing
df_missing_transpose["ICUType 2"] = ICUType_2_training_missing
df_missing_transpose["ICUType 3"] = ICUType_3_training_missing
df_missing_transpose["ICUType 4"] = ICUType_4_training_missing
df_missing_transpose["Age 65+"] = more_than_or_equal_to_65_train_missing
df_missing_transpose["Age 65-"] = less_than_65_train_missing
df_missing_transpose["Low Weight"] = classificacao_baixo_peso_missing
df_missing_transpose["Normal Weight"] = classificacao_peso_normal_missing
df_missing_transpose["Overweight"] = classificacao_sobrepeso_missing
df_missing_transpose["Obesity Grade 1"] = classificacao_obesidade_1_missing
df_missing_transpose["Obesity Grade 2"] = classificacao_obesidade_2_missing
df_missing_transpose["Obesity Grade 3"] = classificacao_obesidade_3_missing
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographics - Train</h2>"))
df_missing_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,3188,4122,1026,1585,2573,2133,2561,1834,100,964,1329,853,356,247
ALT,3183,4116,1024,1583,2570,2129,2523,1792,101,958,1323,851,355,245
AST,3185,4115,1024,1583,2571,2129,2520,1792,101,958,1323,853,355,245
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,3205,4142,1035,1585,2594,2140,2574,1966,103,969,1367,871,379,262
BUN,2919,3806,947,1522,2395,1868,54,45,59,554,688,397,162,102
Bilirubin,3188,4122,1031,1583,2571,2132,2502,1809,101,959,1318,851,355,238
Cholesterol,3318,4305,1072,1601,2739,2218,3824,3221,121,1176,1581,1030,449,338
Creatinine,2919,3806,947,1522,2395,1868,54,45,59,554,686,395,162,102
DiasABP,2740,3483,824,1317,2520,1568,1232,1065,58,538,625,308,139,88
FiO2,2695,3546,965,1413,2244,1626,1313,1163,66,669,866,500,200,124
GCS,2133,2807,618,1334,1686,1306,57,53,40,389,435,229,87,50
Gender,0,0,0,0,0,0,0,0,10,58,301,341,153,92
Glucose,2967,3877,952,1546,2401,1952,95,69,63,587,755,456,185,123
HCO3,2955,3862,951,1528,2400,1945,64,52,59,569,710,409,167,106
HCT,2893,3745,947,1458,2403,1837,60,45,56,527,653,366,147,90
HR,1622,2202,469,1202,1224,934,57,53,29,322,355,170,68,34
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,0,0,10,58,301,341,153,92
K,2958,3863,945,1545,2393,1945,77,58,63,576,732,433,176,115
Lactate,2932,3815,1046,1510,2394,1804,1921,1531,87,837,1154,729,288,203
MAP,2759,3508,827,1320,2537,1589,1232,1072,57,541,631,310,139,89
MechVent,2748,3571,982,1381,2302,1661,1570,1275,65,684,860,511,214,132
Mg,3037,3971,1005,1558,2457,1995,82,82,64,592,725,408,176,111
NIDiasABP,2036,2753,654,1449,1345,1347,517,410,51,576,726,467,189,144
NIMAP,2050,2761,655,1449,1361,1352,526,413,52,578,728,471,190,144
NISysABP,2034,2753,654,1449,1343,1347,507,402,51,576,723,466,187,143
Na,2963,3870,949,1549,2397,1945,64,53,62,578,723,418,172,108
PaCO2,2661,3259,986,668,2472,1800,1017,875,55,506,616,350,154,96
PaO2,2672,3273,984,683,2477,1807,1020,874,55,507,622,352,156,96
Platelets,2894,3734,948,1434,2427,1826,61,47,56,525,666,391,155,95
RespRate,2805,3731,843,1550,2264,1885,3044,2491,109,1031,1431,947,410,313
SaO2,3235,4177,1029,1550,2704,2136,2230,2039,95,906,1054,643,272,189
SysABP,2740,3482,824,1317,2519,1568,1232,1065,58,538,625,308,139,88
Temp,2065,2696,661,1279,1663,1164,57,53,34,372,418,199,84,43
TroponinI,3321,4312,1091,1602,2729,2218,3944,3354,117,1180,1598,1029,451,345
TroponinT,3265,4210,1034,1595,2670,2183,3031,2968,112,1084,1495,960,413,312
Urine,2248,3056,767,1309,1901,1334,99,86,44,406,453,215,91,47
WBC,2924,3793,952,1481,2429,1862,70,48,60,551,700,406,162,100
Weight,0,0,0,0,0,0,0,0,0,0,0,0,0,0
pH,2654,3252,984,665,2466,1797,997,857,55,492,581,318,147,94

<h3>Validation data</h3>

In [162]:
validation_X = physionet2012_dataset['val_X']

In [163]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0]
female_gender_missing_rate_validation = female_gender_distribution_validation.isna().sum()
female_gender_missing_rate_validation

RecordID         0
level_1          0
Time             0
ALP            800
ALT            796
AST            797
Age              0
Albumin        803
BUN            737
Bilirubin      801
Cholesterol    827
Creatinine     737
DiasABP        698
FiO2           679
GCS            518
Gender           0
Glucose        746
HCO3           742
HCT            721
HR             401
Height           0
ICUType          0
K              744
Lactate        743
MAP            703
MechVent       673
Mg             768
NIDiasABP      499
NIMAP          502
NISysABP       499
Na             745
PaCO2          662
PaO2           664
Platelets      723
RespRate       692
SaO2           801
SysABP         698
Temp           517
TroponinI      829
TroponinT      815
Urine          570
WBC            734
Weight           0
pH             662
dtype: int64

In [164]:
male_gender_distribution_validation = validation_X[validation_X['Gender'] == 1.0]
male_gender_missing_rate_validation = male_gender_distribution_validation.isna().sum()
male_gender_missing_rate_validation

RecordID          0
level_1           0
Time              0
ALP            1036
ALT            1036
AST            1036
Age               0
Albumin        1042
BUN             955
Bilirubin      1036
Cholesterol    1077
Creatinine      954
DiasABP         890
FiO2            895
GCS             738
Gender            0
Glucose         972
HCO3            967
HCT             931
HR              576
Height            0
ICUType           0
K               969
Lactate         961
MAP             896
MechVent        901
Mg              996
NIDiasABP       704
NIMAP           706
NISysABP        704
Na              969
PaCO2           794
PaO2            799
Platelets       928
RespRate        938
SaO2           1039
SysABP          889
Temp            716
TroponinI      1076
TroponinT      1056
Urine           772
WBC             938
Weight            0
pH              790
dtype: int64

In [165]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0]
ICUType_1_validation_missing = ICUType_1_validation.isna().sum()
ICUType_1_validation_missing

RecordID         0
level_1          0
Time             0
ALP            250
ALT            249
AST            250
Age              0
Albumin        252
BUN            225
Bilirubin      251
Cholesterol    258
Creatinine     225
DiasABP        209
FiO2           234
GCS            156
Gender           0
Glucose        227
HCO3           226
HCT            226
HR             113
Height           0
ICUType          0
K              226
Lactate        258
MAP            210
MechVent       239
Mg             242
NIDiasABP      148
NIMAP          148
NISysABP       148
Na             226
PaCO2          226
PaO2           227
Platelets      225
RespRate       203
SaO2           236
SysABP         209
Temp           171
TroponinI      263
TroponinT      251
Urine          186
WBC            227
Weight           0
pH             226
dtype: int64

In [166]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0]
ICUType_2_validation_missing = ICUType_2_validation.isna().sum()
ICUType_2_validation_missing

RecordID         0
level_1          0
Time             0
ALP            402
ALT            402
AST            402
Age              0
Albumin        405
BUN            388
Bilirubin      402
Cholesterol    407
Creatinine     387
DiasABP        338
FiO2           353
GCS            351
Gender           0
Glucose        396
HCO3           390
HCT            363
HR             315
Height           0
ICUType          0
K              396
Lactate        375
MAP            338
MechVent       345
Mg             397
NIDiasABP      382
NIMAP          382
NISysABP       382
Na             396
PaCO2          155
PaO2           158
Platelets      358
RespRate       399
SaO2           390
SysABP         338
Temp           332
TroponinI      407
TroponinT      406
Urine          336
WBC            370
Weight           0
pH             155
dtype: int64

In [167]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0]
ICUType_3_validation_missing = ICUType_3_validation.isna().sum()
ICUType_3_validation_missing

RecordID         0
level_1          0
Time             0
ALP            686
ALT            682
AST            682
Age              0
Albumin        684
BUN            639
Bilirubin      685
Cholesterol    717
Creatinine     639
DiasABP        664
FiO2           597
GCS            442
Gender           0
Glucose        639
HCO3           638
HCT            636
HR             317
Height           0
ICUType          0
K              637
Lactate        633
MAP            668
MechVent       598
Mg             658
NIDiasABP      354
NIMAP          356
NISysABP       354
Na             637
PaCO2          662
PaO2           663
Platelets      639
RespRate       587
SaO2           710
SysABP         663
Temp           437
TroponinI      713
TroponinT      698
Urine          503
WBC            639
Weight           0
pH             659
dtype: int64

In [168]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0]
ICUType_4_validation_missing = ICUType_4_validation.isna().sum()
ICUType_4_validation_missing

RecordID         0
level_1          0
Time             0
ALP            501
ALT            502
AST            502
Age              0
Albumin        507
BUN            442
Bilirubin      502
Cholesterol    525
Creatinine     442
DiasABP        380
FiO2           392
GCS            309
Gender           0
Glucose        458
HCO3           457
HCT            430
HR             232
Height           0
ICUType          0
K              456
Lactate        441
MAP            386
MechVent       394
Mg             469
NIDiasABP      319
NIMAP          322
NISysABP       319
Na             457
PaCO2          416
PaO2           418
Platelets      432
RespRate       443
SaO2           507
SysABP         380
Temp           295
TroponinI      525
TroponinT      518
Urine          318
WBC            439
Weight           0
pH             415
dtype: int64

In [169]:
more_than_or_equal_to_65_validation = validation_X[validation_X["Age"] >= 65]
more_than_or_equal_to_65_validation_missing = more_than_or_equal_to_65_validation.isna().sum()
more_than_or_equal_to_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            46118
ALT            46096
AST            46097
Age                0
Albumin        46192
BUN            43210
Bilirubin      46091
Cholesterol    46651
Creatinine     43197
DiasABP        19463
FiO2           38760
GCS            31418
Gender         45710
Glucose        43476
HCO3           43285
HCT            41994
HR              1893
Height             0
ICUType        45710
K              43078
Lactate        44779
MAP            19594
MechVent       39175
Mg             43279
NIDiasABP      25981
NIMAP          26211
NISysABP       25967
Na             43316
PaCO2          40763
PaO2           40770
Platelets      43140
RespRate       34642
SaO2           44378
SysABP         19462
Temp           27108
TroponinI      46615
TroponinT      46040
Urine          11304
WBC            43431
Weight         19885
pH             40475
dtype: int64

In [170]:
less_than_65_validation = validation_X[validation_X["Age"] < 65]
less_than_65_validation_missing = less_than_65_validation.isna().sum()
less_than_65_validation_missing

RecordID           0
level_1            0
Time               0
ALP            39094
ALT            39066
AST            39067
Age                0
Albumin        39318
BUN            36792
Bilirubin      39077
Cholesterol    39854
Creatinine     36783
DiasABP        16528
FiO2           33215
GCS            26102
Gender         39029
Glucose        36923
HCO3           36831
HCT            35887
HR              1826
Height             0
ICUType        39029
K              36641
Lactate        37989
MAP            16654
MechVent       33252
Mg             36872
NIDiasABP      22715
NIMAP          22960
NISysABP       22693
Na             36798
PaCO2          34908
PaO2           34912
Platelets      36757
RespRate       30611
SaO2           38411
SysABP         16524
Temp           25327
TroponinI      39854
TroponinT      39601
Urine          11302
WBC            37018
Weight         17535
pH             34682
dtype: int64

In [171]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [172]:
filtered_validation_X_metros = filtered_validation_X.copy()
filtered_validation_X_metros["Height"] = filtered_validation_X["Height"]/100
filtered_validation_X_metros["Height"]

624       1.702
628       1.702
629       1.702
630       1.702
631       1.702
          ...
574940    1.702
574941    1.702
574942    1.702
574943    1.702
575184    1.727
Name: Height, Length: 25886, dtype: float64

In [173]:
bmi_data_validation = filtered_validation_X_metros
bmi_data_validation["BMI"] = filtered_validation_X_metros["Weight"] / (filtered_validation_X_metros["Height"]**2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
624,132570,0,0.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
628,132570,4,4.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,36.6,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
629,132570,5,5.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,NaN,NaN,NaN,NaN,8.8,102.6,NaN,35.418344,Obesidade grau 2
630,132570,6,6.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
631,132570,7,7.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,600.0,NaN,102.6,NaN,35.418344,Obesidade grau 2

In [174]:
classificacao_baixo_peso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_validation = classificacao_baixo_peso_validation.isna().sum()
classificacao_baixo_peso_missing_validation

RecordID           0
level_1            0
Time               0
ALP              509
ALT              509
AST              509
Age                0
Albumin          516
BUN              486
Bilirubin        509
Cholesterol      522
Creatinine       486
DiasABP          207
FiO2             437
GCS              327
Gender           494
Glucose          484
HCO3             485
HCT              478
HR                16
Height             0
ICUType          494
K                482
Lactate          486
MAP              208
MechVent         453
Mg               478
NIDiasABP        262
NIMAP            262
NISysABP         262
Na               485
PaCO2            458
PaO2             457
Platelets        486
RespRate         348
SaO2             502
SysABP           207
Temp             381
TroponinI        522
TroponinT        511
Urine             91
WBC              487
Weight             0
pH               456
BMI                0
Classificacao      0
dtype: int64

In [175]:
classificacao_peso_normal_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_validation = classificacao_peso_normal_validation.isna().sum()
classificacao_peso_normal_missing_validation

RecordID            0
level_1             0
Time                0
ALP              5419
ALT              5416
AST              5415
Age                 0
Albumin          5439
BUN              5089
Bilirubin        5417
Cholesterol      5517
Creatinine       5089
DiasABP          2027
FiO2             4579
GCS              3870
Gender           5249
Glucose          5130
HCO3             5107
HCT              4966
HR                160
Height              0
ICUType          5249
K                5080
Lactate          5263
MAP              2067
MechVent         4564
Mg               5120
NIDiasABP        3158
NIMAP            3171
NISysABP         3156
Na               5118
PaCO2            4828
PaO2             4828
Platelets        5090
RespRate         4630
SaO2             5214
SysABP           2027
Temp             3133
TroponinI        5511
TroponinT        5463
Urine            1495
WBC              5132
Weight              0
pH               4781
BMI                 0
Classificacao       0
dtype: int64

In [176]:
classificacao_sobrepeso_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_validation = classificacao_sobrepeso_validation.isna().sum()
classificacao_sobrepeso_missing_validation

RecordID            0
level_1             0
Time                0
ALP              8222
ALT              8217
AST              8217
Age                 0
Albumin          8257
BUN              7768
Bilirubin        8215
Cholesterol      8326
Creatinine       7764
DiasABP          2410
FiO2             6980
GCS              5604
Gender           8009
Glucose          7825
HCO3             7786
HCT              7520
HR                188
Height              0
ICUType          8009
K                7750
Lactate          8045
MAP              2383
MechVent         6986
Mg               7761
NIDiasABP        5406
NIMAP            5426
NISysABP         5400
Na               7799
PaCO2            7208
PaO2             7212
Platelets        7756
RespRate         6763
SaO2             7772
SysABP           2410
Temp             4290
TroponinI        8332
TroponinT        8274
Urine            1809
WBC              7792
Weight              0
pH               7107
BMI                 0
Classificacao       0
dtype: int64

In [177]:
classificacao_obesidade_grau_1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_validation = classificacao_obesidade_grau_1_validation.isna().sum()
classificacao_obesidade_grau_1_missing_validation

RecordID            0
level_1             0
Time                0
ALP              5696
ALT              5695
AST              5696
Age                 0
Albumin          5723
BUN              5356
Bilirubin        5691
Cholesterol      5781
Creatinine       5354
DiasABP          1496
FiO2             4754
GCS              4087
Gender           5607
Glucose          5397
HCO3             5376
HCT              5220
HR                 95
Height              0
ICUType          5607
K                5347
Lactate          5532
MAP              1519
MechVent         4787
Mg               5352
NIDiasABP        3842
NIMAP            3851
NISysABP         3842
Na               5378
PaCO2            4919
PaO2             4919
Platelets        5369
RespRate         4986
SaO2             5350
SysABP           1496
Temp             2770
TroponinI        5758
TroponinT        5724
Urine            1065
WBC              5409
Weight              0
pH               4862
BMI                 0
Classificacao       0
dtype: int64

In [178]:
classificacao_obesidade_grau_2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_validation = classificacao_obesidade_grau_2_validation.isna().sum()
classificacao_obesidade_grau_2_missing_validation

RecordID            0
level_1             0
Time                0
ALP              2235
ALT              2236
AST              2236
Age                 0
Albumin          2239
BUN              2112
Bilirubin        2235
Cholesterol      2262
Creatinine       2111
DiasABP           553
FiO2             1865
GCS              1605
Gender           2189
Glucose          2127
HCO3             2122
HCT              2045
HR                 35
Height              0
ICUType          2189
K                2116
Lactate          2140
MAP               527
MechVent         1893
Mg               2116
NIDiasABP        1484
NIMAP            1495
NISysABP         1484
Na               2126
PaCO2            1926
PaO2             1926
Platelets        2104
RespRate         2033
SaO2             2102
SysABP            553
Temp             1139
TroponinI        2262
TroponinT        2255
Urine             377
WBC              2121
Weight              0
pH               1897
BMI                 0
Classificacao       0
dtype: int64

In [179]:
classificacao_obesidade_grau_3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_validation = classificacao_obesidade_grau_3_validation.isna().sum()
classificacao_obesidade_grau_3_missing_validation

RecordID            0
level_1             0
Time                0
ALP              3006
ALT              3002
AST              3003
Age                 0
Albumin          3016
BUN              2844
Bilirubin        3006
Cholesterol      3040
Creatinine       2843
DiasABP           893
FiO2             2434
GCS              2205
Gender           2961
Glucose          2861
HCO3             2847
HCT              2768
HR                 40
Height              0
ICUType          2961
K                2841
Lactate          2898
MAP               883
MechVent         2433
Mg               2823
NIDiasABP        2093
NIMAP            2109
NISysABP         2093
Na               2849
PaCO2            2586
PaO2             2586
Platelets        2846
RespRate         2649
SaO2             2837
SysABP            893
Temp             1583
TroponinI        3044
TroponinT        3009
Urine             584
WBC              2857
Weight              0
pH               2564
BMI                 0
Classificacao       0
dtype: int64

In [180]:
df_missing_validation = pd.DataFrame(columns=df_columns)
df_missing_transpose_validation = df_missing_validation.T
df_missing_transpose_validation["Female"] = female_gender_missing_rate_validation
df_missing_transpose_validation["Male"] = male_gender_missing_rate_validation
df_missing_transpose_validation["ICUType 1"] = ICUType_1_validation_missing
df_missing_transpose_validation["ICUType 2"] = ICUType_2_validation_missing
df_missing_transpose_validation["ICUType 3"] = ICUType_3_validation_missing
df_missing_transpose_validation["ICUType 4"] = ICUType_4_validation_missing
df_missing_transpose_validation["Age 65+"] = more_than_or_equal_to_65_validation_missing
df_missing_transpose_validation["Age 65-"] = less_than_65_validation_missing
df_missing_transpose_validation["Low Weight"] = classificacao_baixo_peso_missing_validation
df_missing_transpose_validation["Normal Weight"] = classificacao_peso_normal_missing_validation
df_missing_transpose_validation["Overweight"] = classificacao_sobrepeso_missing_validation
df_missing_transpose_validation["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_validation
df_missing_transpose_validation["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_validation
df_missing_transpose_validation["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_validation
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Original Missing Rate per Variable by demographcs - Validation</h2>"))
df_missing_transpose_validation

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,800,1036,250,402,686,501,46118,39094,509,5419,8222,5696,2235,3006
ALT,796,1036,249,402,682,502,46096,39066,509,5416,8217,5695,2236,3002
AST,797,1036,250,402,682,502,46097,39067,509,5415,8217,5696,2236,3003
Age,0,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,803,1042,252,405,684,507,46192,39318,516,5439,8257,5723,2239,3016
BUN,737,955,225,388,639,442,43210,36792,486,5089,7768,5356,2112,2844
Bilirubin,801,1036,251,402,685,502,46091,39077,509,5417,8215,5691,2235,3006
Cholesterol,827,1077,258,407,717,525,46651,39854,522,5517,8326,5781,2262,3040
Creatinine,737,954,225,387,639,442,43197,36783,486,5089,7764,5354,2111,2843
DiasABP,698,890,209,338,664,380,19463,16528,207,2027,2410,1496,553,893
FiO2,679,895,234,353,597,392,38760,33215,437,4579,6980,4754,1865,2434
GCS,518,738,156,351,442,309,31418,26102,327,3870,5604,4087,1605,2205
Gender,0,0,0,0,0,0,45710,39029,494,5249,8009,5607,2189,2961
Glucose,746,972,227,396,639,458,43476,36923,484,5130,7825,5397,2127,2861
HCO3,742,967,226,390,638,457,43285,36831,485,5107,7786,5376,2122,2847
HCT,721,931,226,363,636,430,41994,35887,478,4966,7520,5220,2045,2768
HR,401,576,113,315,317,232,1893,1826,16,160,188,95,35,40
Height,0,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,0,45710,39029,494,5249,8009,5607,2189,2961
K,744,969,226,396,637,456,43078,36641,482,5080,7750,5347,2116,2841
Lactate,743,961,258,375,633,441,44779,37989,486,5263,8045,5532,2140,2898
MAP,703,896,210,338,668,386,19594,16654,208,2067,2383,1519,527,883
MechVent,673,901,239,345,598,394,39175,33252,453,4564,6986,4787,1893,2433
Mg,768,996,242,397,658,469,43279,36872,478,5120,7761,5352,2116,2823
NIDiasABP,499,704,148,382,354,319,25981,22715,262,3158,5406,3842,1484,2093
NIMAP,502,706,148,382,356,322,26211,22960,262,3171,5426,3851,1495,2109
NISysABP,499,704,148,382,354,319,25967,22693,262,3156,5400,3842,1484,2093
Na,745,969,226,396,637,457,43316,36798,485,5118,7799,5378,2126,2849
PaCO2,662,794,226,155,662,416,40763,34908,458,4828,7208,4919,1926,2586
PaO2,664,799,227,158,663,418,40770,34912,457,4828,7212,4919,1926,2586
Platelets,723,928,225,358,639,432,43140,36757,486,5090,7756,5369,2104,2846
RespRate,692,938,203,399,587,443,34642,30611,348,4630,6763,4986,2033,2649
SaO2,801,1039,236,390,710,507,44378,38411,502,5214,7772,5350,2102,2837
SysABP,698,889,209,338,663,380,19462,16524,207,2027,2410,1496,553,893
Temp,517,716,171,332,437,295,27108,25327,381,3133,4290,2770,1139,1583
TroponinI,829,1076,263,407,713,525,46615,39854,522,5511,8332,5758,2262,3044
TroponinT,815,1056,251,406,698,518,46040,39601,511,5463,8274,5724,2255,3009
Urine,570,772,186,336,503,318,11304,11302,91,1495,1809,1065,377,584
WBC,734,938,227,370,639,439,43431,37018,487,5132,7792,5409,2121,2857
Weight,0,0,0,0,0,0,19885,17535,0,0,0,0,0,0
pH,662,790,226,155,659,415,40475,34682,456,4781,7107,4862,1897,2564

<h3>Test data</h3>

In [181]:
test_X = physionet2012_dataset['test_X']

In [182]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0]
female_gender_missing_rate_test = female_gender_distribution_test.isna().sum()
female_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP            1045
ALT            1044
AST            1044
Age               0
Albumin        1057
BUN             958
Bilirubin      1045
Cholesterol    1087
Creatinine      958
DiasABP         899
FiO2            883
GCS             686
Gender            0
Glucose         968
HCO3            969
HCT             943
HR              508
Height            0
ICUType           0
K               967
Lactate         966
MAP             906
MechVent        889
Mg             1000
NIDiasABP       647
NIMAP           648
NISysABP        646
Na              969
PaCO2           880
PaO2            887
Platelets       941
RespRate        901
SaO2           1054
SysABP          899
Temp            642
TroponinI      1089
TroponinT      1066
Urine           716
WBC             951
Weight            0
pH              878
dtype: int64

In [183]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0]
male_gender_missing_rate_test = male_gender_distribution_test.isna().sum()
male_gender_missing_rate_test

RecordID          0
level_1           0
Time              0
ALP            1249
ALT            1248
AST            1246
Age               0
Albumin        1259
BUN            1172
Bilirubin      1249
Cholesterol    1301
Creatinine     1172
DiasABP        1056
FiO2           1048
GCS             861
Gender            0
Glucose        1188
HCO3           1187
HCT            1158
HR              663
Height            0
ICUType           0
K              1187
Lactate        1169
MAP            1066
MechVent       1071
Mg             1214
NIDiasABP       836
NIMAP           840
NISysABP        835
Na             1186
PaCO2           993
PaO2            999
Platelets      1151
RespRate       1116
SaO2           1260
SysABP         1056
Temp            815
TroponinI      1305
TroponinT      1269
Urine           890
WBC            1165
Weight            0
pH              987
dtype: int64

In [184]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0]
ICUType_1_test_missing = ICUType_1_test.isna().sum()
ICUType_1_test_missing

RecordID         0
level_1          0
Time             0
ALP            376
ALT            375
AST            374
Age              0
Albumin        379
BUN            340
Bilirubin      374
Cholesterol    392
Creatinine     340
DiasABP        302
FiO2           339
GCS            232
Gender           0
Glucose        343
HCO3           342
HCT            337
HR             161
Height           0
ICUType          0
K              341
Lactate        371
MAP            304
MechVent       344
Mg             369
NIDiasABP      231
NIMAP          231
NISysABP       230
Na             342
PaCO2          358
PaO2           360
Platelets      339
RespRate       291
SaO2           369
SysABP         302
Temp           224
TroponinI      397
TroponinT      377
Urine          260
WBC            340
Weight           0
pH             357
dtype: int64

In [185]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0]
ICUType_2_test_missing = ICUType_2_test.isna().sum()
ICUType_2_test_missing

RecordID         0
level_1          0
Time             0
ALP            510
ALT            510
AST            510
Age              0
Albumin        512
BUN            494
Bilirubin      511
Cholesterol    514
Creatinine     494
DiasABP        419
FiO2           448
GCS            440
Gender           0
Glucose        498
HCO3           496
HCT            478
HR             383
Height           0
ICUType          0
K              498
Lactate        485
MAP            420
MechVent       437
Mg             496
NIDiasABP      467
NIMAP          466
NISysABP       467
Na             498
PaCO2          216
PaO2           222
Platelets      472
RespRate       501
SaO2           494
SysABP         419
Temp           413
TroponinI      515
TroponinT      511
Urine          413
WBC            484
Weight           0
pH             214
dtype: int64

In [186]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0]
ICUType_3_test_missing = ICUType_3_test.isna().sum()
ICUType_3_test_missing

RecordID         0
level_1          0
Time             0
ALP            773
ALT            772
AST            771
Age              0
Albumin        781
BUN            721
Bilirubin      773
Cholesterol    824
Creatinine     720
DiasABP        765
FiO2           664
GCS            510
Gender           0
Glucose        720
HCO3           723
HCT            718
HR             373
Height           0
ICUType          0
K              721
Lactate        719
MAP            774
MechVent       690
Mg             746
NIDiasABP      411
NIMAP          416
NISysABP       410
Na             722
PaCO2          753
PaO2           755
Platelets      720
RespRate       679
SaO2           819
SysABP         765
Temp           498
TroponinI      825
TroponinT      800
Urine          556
WBC            721
Weight           0
pH             748
dtype: int64

In [187]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0]
ICUType_4_test_missing = ICUType_4_test.isna().sum()
ICUType_4_test_missing

RecordID         0
level_1          0
Time             0
ALP            637
ALT            637
AST            637
Age              0
Albumin        646
BUN            576
Bilirubin      638
Cholesterol    660
Creatinine     577
DiasABP        470
FiO2           481
GCS            366
Gender           0
Glucose        596
HCO3           596
HCT            569
HR             254
Height           0
ICUType          0
K              595
Lactate        561
MAP            475
MechVent       490
Mg             604
NIDiasABP      375
NIMAP          376
NISysABP       375
Na             594
PaCO2          547
PaO2           550
Platelets      562
RespRate       547
SaO2           634
SysABP         470
Temp           323
TroponinI      659
TroponinT      649
Urine          379
WBC            572
Weight           0
pH             547
dtype: int64

In [188]:
more_than_or_equal_to_65_test = test_X[test_X["Age"] >= 65]
more_than_or_equal_to_65_test_missing = more_than_or_equal_to_65_test.isna().sum()
more_than_or_equal_to_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            59106
ALT            59095
AST            59092
Age                0
Albumin        59262
BUN            55523
Bilirubin      59081
Cholesterol    59816
Creatinine     55494
DiasABP        25238
FiO2           50165
GCS            40372
Gender         58607
Glucose        55840
HCO3           55615
HCT            53935
HR              2423
Height             0
ICUType        58607
K              55331
Lactate        57541
MAP            25380
MechVent       50614
Mg             55602
NIDiasABP      33239
NIMAP          33516
NISysABP       33210
Na             55675
PaCO2          52515
PaO2           52527
Platelets      55322
RespRate       43554
SaO2           56877
SysABP         25236
Temp           35321
TroponinI      59784
TroponinT      58985
Urine          15405
WBC            55739
Weight         26728
pH             52166
dtype: int64

In [189]:
less_than_65_test = test_X[test_X["Age"] < 65]
less_than_65_test_missing = less_than_65_test.isna().sum()
less_than_65_test_missing

RecordID           0
level_1            0
Time               0
ALP            47510
ALT            47486
AST            47486
Age                0
Albumin        47812
BUN            44702
Bilirubin      47478
Cholesterol    48473
Creatinine     44687
DiasABP        21307
FiO2           40508
GCS            31472
Gender         47477
Glucose        44877
HCO3           44791
HCT            43671
HR              2098
Height             0
ICUType        47477
K              44458
Lactate        46270
MAP            21469
MechVent       40603
Mg             44818
NIDiasABP      26639
NIMAP          27073
NISysABP       26626
Na             44728
PaCO2          42763
PaO2           42782
Platelets      44669
RespRate       36572
SaO2           46886
SysABP         21306
Temp           30087
TroponinI      48488
TroponinT      48152
Urine          13694
WBC            45006
Weight         21933
pH             42500
dtype: int64

In [190]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [191]:
filtered_test_X_metros = filtered_test_X.copy()
filtered_test_X_metros["Height"] = filtered_test_X["Height"]/100
filtered_test_X_metros["Height"]

432       1.753
433       1.753
434       1.753
435       1.753
436       1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 32078, dtype: float64

In [192]:
bmi_data_test = filtered_test_X_metros
bmi_data_test["BMI"] = filtered_test_X_metros["Weight"] / (filtered_test_X_metros["Height"]**2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
432,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,98.0,34.80,NaN,NaN,35.0,NaN,66.1,7.39,21.509862,Peso normal
433,132555,1,1.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,112.0,35.30,NaN,NaN,130.0,9.0,66.1,7.41,21.509862,Peso normal
434,132555,2,2.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,104.0,36.05,NaN,NaN,210.0,NaN,66.1,NaN,21.509862,Peso normal
435,132555,3,3.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,114.0,36.20,NaN,NaN,120.0,NaN,66.1,NaN,21.509862,Peso normal
436,132555,4,4.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,111.0,36.10,NaN,NaN,185.0,NaN,66.1,7.29,21.509862,Peso normal

In [193]:
classificacao_baixo_peso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Baixo peso"]
classificacao_baixo_peso_missing_test = classificacao_baixo_peso_test.isna().sum()
classificacao_baixo_peso_missing_test

RecordID           0
level_1            0
Time               0
ALP              841
ALT              841
AST              841
Age                0
Albumin          847
BUN              787
Bilirubin        840
Cholesterol      850
Creatinine       787
DiasABP          292
FiO2             689
GCS              557
Gender           817
Glucose          787
HCO3             787
HCT              786
HR                25
Height             0
ICUType          817
K                784
Lactate          807
MAP              294
MechVent         686
Mg               792
NIDiasABP        542
NIMAP            542
NISysABP         542
Na               788
PaCO2            753
PaO2             752
Platelets        789
RespRate         644
SaO2             827
SysABP           292
Temp             531
TroponinI        855
TroponinT        846
Urine            248
WBC              795
Weight             0
pH               750
BMI                0
Classificacao      0
dtype: int64

In [194]:
classificacao_peso_normal_test = bmi_data_test[bmi_data_test["Classificacao"] == "Peso normal"]
classificacao_peso_normal_missing_test = classificacao_peso_normal_test.isna().sum()
classificacao_peso_normal_missing_test

RecordID            0
level_1             0
Time                0
ALP              7590
ALT              7587
AST              7586
Age                 0
Albumin          7610
BUN              7165
Bilirubin        7586
Cholesterol      7690
Creatinine       7163
DiasABP          3315
FiO2             6435
GCS              5093
Gender           7316
Glucose          7197
HCO3             7186
HCT              6959
HR                189
Height              0
ICUType          7316
K                7127
Lactate          7400
MAP              3335
MechVent         6448
Mg               7148
NIDiasABP        3983
NIMAP            3999
NISysABP         3980
Na               7182
PaCO2            6787
PaO2             6794
Platelets        7129
RespRate         6199
SaO2             7287
SysABP           3315
Temp             4497
TroponinI        7686
TroponinT        7612
Urine            2193
WBC              7190
Weight              0
pH               6742
BMI                 0
Classificacao       0
dtype: int64

In [195]:
classificacao_sobrepeso_test = bmi_data_test[bmi_data_test["Classificacao"] == "Sobrepeso"]
classificacao_sobrepeso_missing_test = classificacao_sobrepeso_test.isna().sum()
classificacao_sobrepeso_missing_test

RecordID             0
level_1              0
Time                 0
ALP              10200
ALT              10198
AST              10196
Age                  0
Albumin          10256
BUN               9646
Bilirubin        10191
Cholesterol      10365
Creatinine        9644
DiasABP           3276
FiO2              8758
GCS               7152
Gender            9941
Glucose           9694
HCO3              9661
HCT               9370
HR                 228
Height               0
ICUType           9941
K                 9616
Lactate           9951
MAP               3317
MechVent          8754
Mg                9625
NIDiasABP         6525
NIMAP             6567
NISysABP          6519
Na                9666
PaCO2             9009
PaO2              9011
Platelets         9602
RespRate          8622
SaO2              9703
SysABP            3276
Temp              5595
TroponinI        10356
TroponinT        10271
Urine             2447
WBC               9686
Weight               0
pH                8885
BMI                  0
Classificacao        0
dtype: int64

In [196]:
classificacao_obesidade_grau_1_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 1"]
classificacao_obesidade_grau_1_missing_test = classificacao_obesidade_grau_1_test.isna().sum()
classificacao_obesidade_grau_1_missing_test

RecordID            0
level_1             0
Time                0
ALP              6560
ALT              6557
AST              6557
Age                 0
Albumin          6590
BUN              6223
Bilirubin        6556
Cholesterol      6655
Creatinine       6220
DiasABP          1740
FiO2             5536
GCS              4635
Gender           6443
Glucose          6272
HCO3             6238
HCT              6057
HR                123
Height              0
ICUType          6443
K                6206
Lactate          6381
MAP              1768
MechVent         5568
Mg               6189
NIDiasABP        4517
NIMAP            4537
NISysABP         4515
Na               6239
PaCO2            5741
PaO2             5741
Platelets        6187
RespRate         5711
SaO2             6240
SysABP           1740
Temp             3277
TroponinI        6655
TroponinT        6601
Urine            1339
WBC              6232
Weight              0
pH               5664
BMI                 0
Classificacao       0
dtype: int64

In [197]:
classificacao_obesidade_grau_2_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 2"]
classificacao_obesidade_grau_2_missing_test = classificacao_obesidade_grau_2_test.isna().sum()
classificacao_obesidade_grau_2_missing_test

RecordID            0
level_1             0
Time                0
ALP              3234
ALT              3233
AST              3233
Age                 0
Albumin          3246
BUN              3039
Bilirubin        3234
Cholesterol      3276
Creatinine       3039
DiasABP          1008
FiO2             2703
GCS              2288
Gender           3193
Glucose          3056
HCO3             3046
HCT              2976
HR                 50
Height              0
ICUType          3193
K                3019
Lactate          3122
MAP              1016
MechVent         2738
Mg               3034
NIDiasABP        2081
NIMAP            2095
NISysABP         2080
Na               3051
PaCO2            2811
PaO2             2811
Platelets        3039
RespRate         2812
SaO2             3059
SysABP           1008
Temp             1614
TroponinI        3279
TroponinT        3237
Urine             605
WBC              3059
Weight              0
pH               2777
BMI                 0
Classificacao       0
dtype: int64

In [198]:
classificacao_obesidade_grau_3_test = bmi_data_test[bmi_data_test["Classificacao"] == "Obesidade grau 3"]
classificacao_obesidade_grau_3_missing_test = classificacao_obesidade_grau_3_test.isna().sum()
classificacao_obesidade_grau_3_missing_test

RecordID            0
level_1             0
Time                0
ALP              2576
ALT              2576
AST              2576
Age                 0
Albumin          2587
BUN              2422
Bilirubin        2574
Cholesterol      2612
Creatinine       2421
DiasABP           858
FiO2             2204
GCS              1828
Gender           2529
Glucose          2437
HCO3             2429
HCT              2401
HR                 39
Height              0
ICUType          2529
K                2408
Lactate          2505
MAP               858
MechVent         2206
Mg               2423
NIDiasABP        1611
NIMAP            1613
NISysABP         1606
Na               2424
PaCO2            2299
PaO2             2299
Platelets        2449
RespRate         2181
SaO2             2499
SysABP            857
Temp             1356
TroponinI        2604
TroponinT        2586
Urine             680
WBC              2464
Weight              0
pH               2287
BMI                 0
Classificacao       0
dtype: int64

In [199]:
df_missing_test = pd.DataFrame(columns=df_columns)
df_missing_transpose_test = df_missing_test.T
df_missing_transpose_test ["Female"] = female_gender_missing_rate_test
df_missing_transpose_test ["Male"] = male_gender_missing_rate_test
df_missing_transpose_test ["ICUType 2"] = ICUType_2_test_missing
df_missing_transpose_test ["ICUType 3"] = ICUType_3_test_missing
df_missing_transpose_test ["ICUType 4"] = ICUType_4_test_missing
df_missing_transpose_test["Age 65+"] = more_than_or_equal_to_65_test_missing
df_missing_transpose_test["Age 65-"] = less_than_65_test_missing
df_missing_transpose_test ["Low Weight"] = classificacao_baixo_peso_missing_test
df_missing_transpose_test ["Normal Weight"] = classificacao_peso_normal_missing_test
df_missing_transpose_test ["Overweight"] = classificacao_sobrepeso_missing_test
df_missing_transpose_test ["Obesity Grade 1"] = classificacao_obesidade_grau_1_missing_test
df_missing_transpose_test ["Obesity Grade 2"] = classificacao_obesidade_grau_2_missing_test
df_missing_transpose_test ["Obesity Grade 3"] = classificacao_obesidade_grau_3_missing_test
display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>original Missing rate per Variable by demographics - Test</h2>"))
df_missing_transpose_test

,Female,Male,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,0,0,0,0,0,0,0,0,0,0,0,0,0
level_1,0,0,0,0,0,0,0,0,0,0,0,0,0
Time,0,0,0,0,0,0,0,0,0,0,0,0,0
ALP,1045,1249,510,773,637,59106,47510,841,7590,10200,6560,3234,2576
ALT,1044,1248,510,772,637,59095,47486,841,7587,10198,6557,3233,2576
AST,1044,1246,510,771,637,59092,47486,841,7586,10196,6557,3233,2576
Age,0,0,0,0,0,0,0,0,0,0,0,0,0
Albumin,1057,1259,512,781,646,59262,47812,847,7610,10256,6590,3246,2587
BUN,958,1172,494,721,576,55523,44702,787,7165,9646,6223,3039,2422
Bilirubin,1045,1249,511,773,638,59081,47478,840,7586,10191,6556,3234,2574
Cholesterol,1087,1301,514,824,660,59816,48473,850,7690,10365,6655,3276,2612
Creatinine,958,1172,494,720,577,55494,44687,787,7163,9644,6220,3039,2421
DiasABP,899,1056,419,765,470,25238,21307,292,3315,3276,1740,1008,858
FiO2,883,1048,448,664,481,50165,40508,689,6435,8758,5536,2703,2204
GCS,686,861,440,510,366,40372,31472,557,5093,7152,4635,2288,1828
Gender,0,0,0,0,0,58607,47477,817,7316,9941,6443,3193,2529
Glucose,968,1188,498,720,596,55840,44877,787,7197,9694,6272,3056,2437
HCO3,969,1187,496,723,596,55615,44791,787,7186,9661,6238,3046,2429
HCT,943,1158,478,718,569,53935,43671,786,6959,9370,6057,2976,2401
HR,508,663,383,373,254,2423,2098,25,189,228,123,50,39
Height,0,0,0,0,0,0,0,0,0,0,0,0,0
ICUType,0,0,0,0,0,58607,47477,817,7316,9941,6443,3193,2529
K,967,1187,498,721,595,55331,44458,784,7127,9616,6206,3019,2408
Lactate,966,1169,485,719,561,57541,46270,807,7400,9951,6381,3122,2505
MAP,906,1066,420,774,475,25380,21469,294,3335,3317,1768,1016,858
MechVent,889,1071,437,690,490,50614,40603,686,6448,8754,5568,2738,2206
Mg,1000,1214,496,746,604,55602,44818,792,7148,9625,6189,3034,2423
NIDiasABP,647,836,467,411,375,33239,26639,542,3983,6525,4517,2081,1611
NIMAP,648,840,466,416,376,33516,27073,542,3999,6567,4537,2095,1613
NISysABP,646,835,467,410,375,33210,26626,542,3980,6519,4515,2080,1606
Na,969,1186,498,722,594,55675,44728,788,7182,9666,6239,3051,2424
PaCO2,880,993,216,753,547,52515,42763,753,6787,9009,5741,2811,2299
PaO2,887,999,222,755,550,52527,42782,752,6794,9011,5741,2811,2299
Platelets,941,1151,472,720,562,55322,44669,789,7129,9602,6187,3039,2449
RespRate,901,1116,501,679,547,43554,36572,644,6199,8622,5711,2812,2181
SaO2,1054,1260,494,819,634,56877,46886,827,7287,9703,6240,3059,2499
SysABP,899,1056,419,765,470,25236,21306,292,3315,3276,1740,1008,857
Temp,642,815,413,498,323,35321,30087,531,4497,5595,3277,1614,1356
TroponinI,1089,1305,515,825,659,59784,48488,855,7686,10356,6655,3279,2604
TroponinT,1066,1269,511,800,649,58985,48152,846,7612,10271,6601,3237,2586
Urine,716,890,413,556,379,15405,13694,248,2193,2447,1339,605,680
WBC,951,1165,484,721,572,55739,45006,795,7190,9686,6232,3059,2464
Weight,0,0,0,0,0,26728,21933,0,0,0,0,0,0
pH,878,987,214,748,547,52166,42500,750,6742,8885,5664,2777,2287