In [213]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [214]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-09 11:11:31 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-09 11:11:32 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-09 11:11:32 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-09 11:11:32 [INFO]: Loaded successfully!

Exception ignored in: <bound method IPythonKernel._clean_thread_parent_frames of <ipykernel.ipkernel.IPythonKernel object at 0x7fc9387294f0>>
Traceback (most recent call last):
  File "/usr/local/lib/python3.8/dist-packages/ipykernel/ipkernel.py", line 775, in _clean_thread_parent_frames
    def _clean_thread_parent_frames(
KeyboardInterrupt:

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [ ]:
train_X = physionet2012_dataset['train_X']

In [ ]:
female_gender_training = train_X[train_X["Gender"] == 0.0]
female_gender_training = female_gender_training["RecordID"]
female_gender_distribution_training = train_X[train_X["RecordID"].isin(female_gender_training)]
female_gender_distribution_training = female_gender_distribution_training.count()
female_gender_distribution_training

RecordID       161952
level_1        161952
Time           161952
ALP              2675
ALT              2739
AST              2740
Age            152144
Albumin          2051
BUN             11750
Bilirubin        2753
Cholesterol       275
Creatinine      11796
DiasABP         82525
FiO2            24947
GCS             52228
Gender           3374
Glucose         11261
HCO3            11564
HCT             14893
HR             146030
Height         152144
ICUType          3374
K               12424
Lactate          6390
MAP             82073
MechVent        24276
Mg              11533
NIDiasABP       71935
NIMAP           70935
NISysABP        72004
Na              11697
PaCO2           17191
PaO2            17171
Platelets       11582
RespRate        43760
SaO2             5908
SysABP          82533
Temp            56830
TroponinI         358
TroponinT        1708
Urine          112136
WBC             10816
Weight          86313
pH              17811
dtype: int64

In [ ]:
male_gender_training = train_X[train_X['Gender'] == 1.0]
male_gender_training = male_gender_training["RecordID"]
male_gender_distribution_training = train_X[train_X["RecordID"].isin(male_gender_training)]
male_gender_distribution_training = male_gender_distribution_training.count()
male_gender_distribution_training

RecordID       206064
level_1        206064
Time           206064
ALP              3457
ALT              3549
AST              3549
Age            194092
Albumin          2607
BUN             14968
Bilirubin        3572
Cholesterol       367
Creatinine      15046
DiasABP        114967
FiO2            32861
GCS             65930
Gender           4293
Glucose         13900
HCO3            14566
HCT             20151
HR             185536
Height         194092
ICUType          4293
K               15545
Lactate          8886
MAP            114338
MechVent        31106
Mg              14626
NIDiasABP       84141
NIMAP           83077
NISysABP        84225
Na              14475
PaCO2           25227
PaO2            25180
Platelets       15590
RespRate        44999
SaO2             8880
SysABP         114977
Temp            79742
TroponinI         399
TroponinT        2198
Urine          141979
WBC             14010
Weight         108733
pH              26548
dtype: int64

In [ ]:
undefined_gender_training = train_X[train_X['Gender'] == -1.0]
undefined_gender_training = undefined_gender_training['RecordID']
undefined_gender_distribution_training = train_X[train_X["RecordID"].isin(undefined_gender_training)]
undefined_gender_distribution_training = undefined_gender_distribution_training.count()
undefined_gender_distribution_training

RecordID       192
level_1        192
Time           192
ALP              0
ALT              0
AST              0
Age            186
Albumin          0
BUN             12
Bilirubin        0
Cholesterol      0
Creatinine      12
DiasABP         87
FiO2            13
GCS             68
Gender           4
Glucose         12
HCO3            12
HCT             11
HR             181
Height         186
ICUType          4
K               12
Lactate          0
MAP             85
MechVent        14
Mg              11
NIDiasABP      116
NIMAP          116
NISysABP       116
Na              12
PaCO2            9
PaO2             9
Platelets       11
RespRate        89
SaO2             0
SysABP          87
Temp            53
TroponinI        1
TroponinT        3
Urine          139
WBC             11
Weight         123
pH              10
dtype: int64

In [ ]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training = ICUType_1_training[ICUType_1_training["Time"] == 0.0]
ICUType_1_training= ICUType_1_training["RecordID"]
ICUType_1_distribution_training = train_X[train_X["RecordID"].isin(ICUType_1_training)]
ICUType_1_distribution_training = ICUType_1_distribution_training.count()

In [ ]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training = ICUType_2_training[ICUType_2_training["Time"] == 0.0]
ICUType_2_training= ICUType_2_training["RecordID"]
ICUType_2_distribution_training = train_X[train_X["RecordID"].isin(ICUType_2_training)]
ICUType_2_distribution_training = ICUType_2_distribution_training.count()

In [ ]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training = ICUType_3_training[ICUType_3_training["Time"] == 0.0]
ICUType_3_training= ICUType_3_training["RecordID"]
ICUType_3_distribution_training = train_X[train_X["RecordID"].isin(ICUType_3_training)]
ICUType_3_distribution_training = ICUType_3_distribution_training.count()

In [ ]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training = ICUType_4_training[ICUType_4_training["Time"] == 0.0]
ICUType_4_training= ICUType_4_training["RecordID"]
ICUType_4_distribution_training = train_X[train_X["RecordID"].isin(ICUType_4_training)]
ICUType_4_distribution_training = ICUType_4_distribution_training.count() 
ICUType_4_distribution_training

RecordID       105168
level_1        105168
Time           105168
ALP              1869
ALT              1899
AST              1901
Age            100318
Albumin          1470
BUN              7884
Bilirubin        1858
Cholesterol       145
Creatinine       7884
DiasABP         70090
FiO2            19591
GCS             48863
Gender           2191
Glucose          7959
HCO3             7783
HCT             10150
HR              96414
Height         100318
ICUType          2191
K                8630
Lactate          6149
MAP             69577
MechVent        19243
Mg               8102
NIDiasABP       36900
NIMAP           36437
NISysABP        36949
Na               8396
PaCO2           12290
PaO2            12260
Platelets        7954
RespRate        25576
SaO2             2120
SysABP          70096
Temp            37581
TroponinI         165
TroponinT         780
Urine           79349
WBC              7458
Weight          45000
pH              12484
dtype: int64

In [ ]:
more_than_or_equal_to_65_training = train_X[train_X["Age"] >= 65]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training["Time"] == 0.0]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training["RecordID"]
more_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(more_than_or_equal_to_65_training)]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training.count()

In [ ]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor para cada recordID.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [ ]:
less_than_or_equal_to_65_training = train_X[train_X["Age"] < 65]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training["Time"] == 0.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training["RecordID"]
less_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(less_than_or_equal_to_65_training)]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training.count()
less_than_or_equal_to_65_training

RecordID       167616
level_1        167616
Time           167616
ALP              3419
ALT              3524
AST              3523
Age            157174
Albumin          2430
BUN             12573
Bilirubin        3529
Cholesterol       257
Creatinine      12630
DiasABP         88601
FiO2            26389
GCS             55769
Gender           3492
Glucose         12047
HCO3            12323
HCT             16074
HR             150195
Height         157174
ICUType          3492
K               13275
Lactate          7259
MAP             87996
MechVent        25800
Mg              12216
NIDiasABP       71122
NIMAP           70002
NISysABP        71201
Na              12508
PaCO2           18956
PaO2            18919
Platelets       12656
RespRate        39537
SaO2             5668
SysABP          88608
Temp            59037
TroponinI         228
TroponinT        1208
Urine          112243
WBC             11593
Weight          87636
pH              19768
dtype: int64

In [ ]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [ ]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [ ]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101931, dtype: float64

In [ ]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = round(filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.0,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.0,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.0,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.0,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.0,Sobrepeso

In [ ]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.30,NaN,NaN,600.0,11.5,84.6,NaN,26.0,Sobrepeso
1,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.1,Obesidade grau 2
2,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.0,36.30,0.7,NaN,120.0,6.2,87.0,NaN,32.9,Obesidade grau 1
3,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,98.0,34.80,NaN,NaN,35.0,9.0,66.1,7.39,21.5,Peso normal
4,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,36.10,NaN,NaN,220.0,14.8,84.5,NaN,34.1,Obesidade grau 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4001,163007,0,0.0,42.0,30.0,40.0,19.0,2.8,16.0,0.6,...,0.0,40.55,NaN,1.00,150.0,14.1,114.3,7.36,34.2,Obesidade grau 1
4002,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.0,37.60,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
4003,163013,0,0.0,82.0,11.0,30.0,74.0,2.5,30.0,1.2,...,118.0,36.50,NaN,0.03,40.0,9.6,68.6,7.35,29.5,Sobrepeso
4004,163029,0,0.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,28.5,Sobrepeso
4005,163034,0,0.0,NaN,NaN,NaN,60.0,NaN,15.0,NaN,...,103.0,37.90,NaN,NaN,160.0,6.1,85.0,7.43,28.5,Sobrepeso

In [ ]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_low_weight_train = classification_low_weight_train["RecordID"]
classification_l_w_t = train_X[train_X["RecordID"].isin(classification_low_weight_train)]
classification_l_w_t = classification_l_w_t.count() 
classification_l_w_t

RecordID       5808
level_1        5808
Time           5808
ALP              92
ALT              94
AST              96
Age            5585
Albumin          69
BUN             429
Bilirubin        94
Cholesterol       7
Creatinine      431
DiasABP        3782
FiO2           1000
GCS            1833
Gender          121
Glucose         405
HCO3            419
HCT             564
HR             5366
Height         5585
ICUType         121
K               447
Lactate         292
MAP            3824
MechVent       1041
Mg              428
NIDiasABP      2044
NIMAP          2027
NISysABP       2048
Na              422
PaCO2           799
PaO2            802
Platelets       447
RespRate       1058
SaO2            351
SysABP         3783
Temp           2446
TroponinI        25
TroponinT        61
Urine          4290
WBC             399
Weight         2911
pH              841
dtype: int64

In [ ]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_normal_weight_train = classification_normal_weight_train["RecordID"]
classification_n_w_t = train_X[train_X["RecordID"].isin(classification_normal_weight_train)]
classification_n_w_t = classification_n_w_t.count() 
classification_n_w_t

RecordID       56832
level_1        56832
Time           56832
ALP              880
ALT              901
AST              898
Age            54420
Albumin          661
BUN             4100
Bilirubin        901
Cholesterol       98
Creatinine      4110
DiasABP        37260
FiO2            9351
GCS            18572
Gender          1184
Glucose         3749
HCO3            3980
HCT             5827
HR             52030
Height         54420
ICUType         1184
K               4225
Lactate         2646
MAP            37066
MechVent        9428
Mg              4110
NIDiasABP      19132
NIMAP          18953
NISysABP       19156
Na              3893
PaCO2           8156
PaO2            8132
Platelets       4535
RespRate        9450
SaO2            3334
SysABP         37261
Temp           25394
TroponinI        134
TroponinT        503
Urine          41761
WBC             3997
Weight         29009
pH              8678
dtype: int64

In [ ]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_overweight_train = classification_overweight_train['RecordID']
classification_o_w_t = train_X[train_X["RecordID"].isin(classification_overweight_train)]
classification_o_w_t = classification_o_w_t.count() 
classification_o_w_t

RecordID       66576
level_1        66576
Time           66576
ALP             1102
ALT             1122
AST             1119
Age            63783
Albumin          782
BUN             4980
Bilirubin       1120
Cholesterol      127
Creatinine      5007
DiasABP        45038
FiO2           11473
GCS            20540
Gender          1387
Glucose         4359
HCO3            4771
HCT             7179
HR             60801
Height         63783
ICUType         1387
K               4883
Lactate         3117
MAP            44939
MechVent       11312
Mg              4910
NIDiasABP      21389
NIMAP          21131
NISysABP       21410
Na              4517
PaCO2          10690
PaO2           10669
Platelets       5593
RespRate        9464
SaO2            4728
SysABP         45042
Temp           32011
TroponinI        158
TroponinT        587
Urine          49608
WBC             4867
Weight         35103
pH             11353
dtype: int64

In [ ]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_train = classification_obesity_grade1_train["RecordID"]
classification_ob1_t = train_X[train_X["RecordID"].isin(classification_obesity_grade1_train)]
classification_ob1_t = classification_ob1_t.count() 
classification_ob1_t

RecordID       35808
level_1        35808
Time           35808
ALP              599
ALT              619
AST              616
Age            34441
Albumin          439
BUN             2708
Bilirubin        623
Cholesterol       62
Creatinine      2715
DiasABP        24202
FiO2            6290
GCS            10785
Gender           746
Glucose         2389
HCO3            2600
HCT             3768
HR             32881
Height         34441
ICUType          746
K               2711
Lactate         1830
MAP            24093
MechVent        6231
Mg              2614
NIDiasABP      11382
NIMAP          11274
NISysABP       11398
Na              2514
PaCO2           5851
PaO2            5846
Platelets       2898
RespRate        5193
SaO2            2510
SysABP         24202
Temp           17257
TroponinI        101
TroponinT        355
Urine          27432
WBC             2556
Weight         19020
pH              6166
dtype: int64

In [ ]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_train = classification_obesity_grade2_train["RecordID"]
classification_ob2_t = train_X[train_X["RecordID"].isin(classification_obesity_grade2_train)]
classification_ob2_t = classification_ob2_t.count() 
classification_ob2_t

RecordID       14448
level_1        14448
Time           14448
ALP              253
ALT              253
AST              255
Age            13840
Albumin          164
BUN             1112
Bilirubin        254
Cholesterol       29
Creatinine      1120
DiasABP         9763
FiO2            2635
GCS             4417
Gender           301
Glucose          981
HCO3            1068
HCT             1561
HR             13224
Height         13840
ICUType          301
K               1094
Lactate          751
MAP             9748
MechVent        2456
Mg              1064
NIDiasABP       4590
NIMAP           4509
NISysABP        4592
Na              1021
PaCO2           2395
PaO2            2392
Platelets       1225
RespRate        2496
SaO2            1003
SysABP          9765
Temp            7037
TroponinI         33
TroponinT        132
Urine          10738
WBC             1102
Weight          8002
pH              2482
dtype: int64

In [ ]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_train = classification_obesity_grade3_train["RecordID"]
classification_ob3_t = train_X[train_X["RecordID"].isin(classification_obesity_grade3_train)]
classification_ob3_t = classification_ob3_t.count() 
classification_ob3_t

RecordID       12816
level_1        12816
Time           12816
ALP              241
ALT              249
AST              249
Age            12269
Albumin          161
BUN              968
Bilirubin        252
Cholesterol       27
Creatinine       968
DiasABP         8056
FiO2            2615
GCS             3669
Gender           267
Glucose          879
HCO3             941
HCT             1218
HR             11776
Height         12269
ICUType          267
K                999
Lactate          740
MAP             8057
MechVent        2533
Mg               951
NIDiasABP       4255
NIMAP           4192
NISysABP        4265
Na               908
PaCO2           2076
PaO2            2077
Platelets        959
RespRate        1832
SaO2             800
SysABP          8056
Temp            5275
TroponinI         29
TroponinT        164
Urine           9443
WBC              885
Weight          7886
pH              2149
dtype: int64

In [ ]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["Undefined Gender"] = undefined_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_distribution_training 
df_test_transpose["ICUType 2"] = ICUType_2_distribution_training 
df_test_transpose["ICUType 3"] = ICUType_3_distribution_training 
df_test_transpose["ICUType 4"] = ICUType_4_distribution_training 
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,161952,206064,192,54720,77520,130800,105168,200592,167616,5808,56832,66576,35808,14448,12816
level_1,161952,206064,192,54720,77520,130800,105168,200592,167616,5808,56832,66576,35808,14448,12816
Time,161952,206064,192,54720,77520,130800,105168,200592,167616,5808,56832,66576,35808,14448,12816
ALP,2675,3457,0,816,573,2874,1869,2713,3419,92,880,1102,599,253,241
ALT,2739,3549,0,863,585,2941,1899,2764,3524,94,901,1122,619,253,249
AST,2740,3549,0,857,586,2945,1901,2766,3523,96,898,1119,616,255,249
Age,152144,194092,186,50131,74862,121111,100318,189248,157174,5585,54420,63783,34441,13840,12269
Albumin,2051,2607,0,612,375,2201,1470,2228,2430,69,661,782,439,164,161
BUN,11750,14968,12,3862,5056,9928,7884,14157,12573,429,4100,4980,2708,1112,968
Bilirubin,2753,3572,0,846,573,3048,1858,2796,3529,94,901,1120,623,254,252
Cholesterol,275,367,0,342,20,135,145,385,257,7,98,127,62,29,27
Creatinine,11796,15046,12,3937,5062,9971,7884,14224,12630,431,4110,5007,2715,1120,968
DiasABP,82525,114967,87,22255,60101,45133,70090,108978,88601,3782,37260,45038,24202,9763,8056
FiO2,24947,32861,13,5939,13051,19240,19591,31432,26389,1000,9351,11473,6290,2635,2615
GCS,52228,65930,68,14123,20557,34683,48863,62457,55769,1833,18572,20540,10785,4417,3669
Gender,3374,4293,4,1140,1615,2725,2191,4179,3492,121,1184,1387,746,301,267
Glucose,11261,13900,12,3681,3625,9908,7959,13126,12047,405,3749,4359,2389,981,879
HCO3,11564,14566,12,3741,4661,9957,7783,13819,12323,419,3980,4771,2600,1068,941
HCT,14893,20151,11,4828,8471,11606,10150,18981,16074,564,5827,7179,3768,1561,1218
HR,146030,185536,181,47665,71080,116588,96414,181552,150195,5366,52030,60801,32881,13224,11776
Height,152144,194092,186,50131,74862,121111,100318,189248,157174,5585,54420,63783,34441,13840,12269
ICUType,3374,4293,4,1140,1615,2725,2191,4179,3492,121,1184,1387,746,301,267
K,12424,15545,12,4493,4115,10743,8630,14706,13275,447,4225,4883,2711,1094,999
Lactate,6390,8886,0,1223,2844,5060,6149,8017,7259,292,2646,3117,1830,751,740
MAP,82073,114338,85,22182,60166,44571,69577,108500,87996,3824,37066,44939,24093,9748,8057
MechVent,24276,31106,14,5545,12869,17739,19243,29596,25800,1041,9428,11312,6231,2456,2533
Mg,11533,14626,11,3857,4864,9347,8102,13954,12216,428,4110,4910,2614,1064,951
NIDiasABP,71935,84141,116,26703,17570,75019,36900,85070,71122,2044,19132,21389,11382,4590,4255
NIMAP,70935,83077,116,26574,17404,73713,36437,84126,70002,2027,18953,21131,11274,4509,4192
NISysABP,72004,84225,116,26725,17604,75067,36949,85144,71201,2048,19156,21410,11398,4592,4265
Na,11697,14475,12,3714,3892,10182,8396,13676,12508,422,3893,4517,2514,1021,908
PaCO2,17191,25227,9,4556,15631,9950,12290,23471,18956,799,8156,10690,5851,2395,2076
PaO2,17171,25180,9,4555,15586,9959,12260,23441,18919,802,8132,10669,5846,2392,2077
Platelets,11582,15590,11,3963,6300,8966,7954,14527,12656,447,4535,5593,2898,1225,959
RespRate,43760,44999,89,20056,3351,39865,25576,49311,39537,1058,9450,9464,5193,2496,1832
SaO2,5908,8880,0,2674,8344,1650,2120,9120,5668,351,3334,4728,2510,1003,800
SysABP,82533,114977,87,22257,60103,45141,70096,108989,88608,3783,37261,45042,24202,9765,8056
Temp,56830,79742,53,16255,45247,37542,37581,77588,59037,2446,25394,32011,17257,7037,5275
TroponinI,358,399,1,175,105,313,165,530,228,25,134,158,101,33,29
TroponinT,1708,2198,3,1142,200,1787,780,2701,1208,61,503,587,355,132,164
Urine,112136,141979,139,31110,64975,78820,79349,142011,112243,4290,41761,49608,27432,10738,9443
WBC,10816,14010,11,3559,5237,8583,7458,13244,11593,399,3997,4867,2556,1102,885
Weight,86313,108733,123,24511,40591,85067,45000,107533,87636,2911,29009,35103,19020,8002,7886
pH,17811,26548,10,4629,17146,10110,12484,24601,19768,841,8678,11353,6166,2482,2149

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [ ]:
validation_X = physionet2012_dataset['val_X']

In [ ]:
female_gender_validation = validation_X[validation_X['Gender'] == 0.0]
female_gender_validation = female_gender_validation["RecordID"]
female_gender_distribution_validation = validation_X[validation_X["RecordID"].isin(female_gender_validation)]
female_gender_distribution_validation = female_gender_distribution_validation.count()
female_gender_distribution_validation

RecordID       42048
level_1        42048
Time           42048
ALP              667
ALT              695
AST              693
Age            39708
Albumin          571
BUN             2993
Bilirubin        711
Cholesterol       77
Creatinine      3011
DiasABP        22241
FiO2            6369
GCS            13831
Gender           876
Glucose         2845
HCO3            2952
HCT             3800
HR             38172
Height         39708
ICUType          876
K               3160
Lactate         1656
MAP            22089
MechVent        6357
Mg              2956
NIDiasABP      18138
NIMAP          17775
NISysABP       18152
Na              2969
PaCO2           4504
PaO2            4485
Platelets       2953
RespRate       11253
SaO2            1507
SysABP         22242
Temp           15003
TroponinI         93
TroponinT        474
Urine          29309
WBC             2744
Weight         22064
pH              4672
dtype: int64

In [ ]:
male_gender_validation = validation_X[validation_X['Gender'] == 1.0]
male_gender_validation = male_gender_validation["RecordID"]
male_gender_distribution_validation = validation_X[validation_X["RecordID"].isin(male_gender_validation)]
male_gender_distribution_validation = male_gender_distribution_validation.count()
male_gender_distribution_validation

RecordID       49872
level_1        49872
Time           49872
ALP              809
ALT              833
AST              835
Age            46919
Albumin          594
BUN             3607
Bilirubin        835
Cholesterol       86
Creatinine      3629
DiasABP        27867
FiO2            7707
GCS            15857
Gender          1039
Glucose         3409
HCO3            3544
HCT             4814
HR             44839
Height         46919
ICUType         1039
K               3805
Lactate         1939
MAP            27717
MechVent        7183
Mg              3542
NIDiasABP      20396
NIMAP          20162
NISysABP       20414
Na              3555
PaCO2           5846
PaO2            5832
Platelets       3746
RespRate       11816
SaO2            2146
SysABP         27869
Temp           18632
TroponinI         62
TroponinT        585
Urine          34312
WBC             3386
Weight         25008
pH              6173
dtype: int64

In [ ]:
undefined_gender_validation = validation_X[validation_X['Gender'] == -1.0]
undefined_gender_validation = undefined_gender_validation["RecordID"]
undefined_gender_distribution_validation = validation_X[validation_X["RecordID"].isin(undefined_gender_validation)]
undefined_gender_distribution_validation = undefined_gender_distribution_validation.count()
undefined_gender_distribution_validation

RecordID       144
level_1        144
Time           144
ALP              3
ALT              3
AST              3
Age             99
Albumin          4
BUN             17
Bilirubin        3
Cholesterol      0
Creatinine      17
DiasABP         89
FiO2            19
GCS             23
Gender           3
Glucose         16
HCO3            17
HCT             14
HR              95
Height          99
ICUType          3
K               16
Lactate         27
MAP             88
MechVent        16
Mg              15
NIDiasABP       17
NIMAP           17
NISysABP        17
Na              16
PaCO2           32
PaO2            32
Platelets       15
RespRate         0
SaO2             3
SysABP          89
Temp            37
TroponinI        0
TroponinT        2
Urine           36
WBC             14
Weight          83
pH              32
dtype: int64

In [ ]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       278
level_1        278
Time           278
ALP             23
ALT             23
AST             23
Age            278
Albumin         20
BUN             37
Bilirubin       22
Cholesterol      5
Creatinine      37
DiasABP         69
FiO2            34
GCS            124
Gender         278
Glucose         36
HCO3            37
HCT             34
HR             159
Height         278
ICUType        278
K               37
Lactate         12
MAP             66
MechVent        29
Mg              19
NIDiasABP      116
NIMAP          116
NISysABP       116
Na              37
PaCO2           25
PaO2            25
Platelets       35
RespRate        68
SaO2            18
SysABP          69
Temp           117
TroponinI        5
TroponinT       15
Urine           87
WBC             34
Weight         278
pH              25
dtype: int64

In [ ]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       398
level_1        398
Time           398
ALP              3
ALT              3
AST              3
Age            398
Albumin          3
BUN             17
Bilirubin        3
Cholesterol      0
Creatinine      17
DiasABP         70
FiO2            44
GCS             64
Gender         398
Glucose         12
HCO3            16
HCT             35
HR              98
Height         398
ICUType        398
K               12
Lactate         27
MAP             67
MechVent        50
Mg              11
NIDiasABP       37
NIMAP           37
NISysABP        37
Na              12
PaCO2          241
PaO2           237
Platelets       39
RespRate        14
SaO2            15
SysABP          70
Temp            81
TroponinI        0
TroponinT        4
Urine           74
WBC             25
Weight         398
pH             241
dtype: int64

In [ ]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       690
level_1        690
Time           690
ALP             44
ALT             46
AST             45
Age            690
Albumin         36
BUN             89
Bilirubin       45
Cholesterol      1
Creatinine      89
DiasABP         63
FiO2           127
GCS            277
Gender         690
Glucose         85
HCO3            88
HCT             88
HR             391
Height         690
ICUType        690
K               90
Lactate         97
MAP             55
MechVent       118
Mg              75
NIDiasABP      357
NIMAP          351
NISysABP       357
Na              89
PaCO2           74
PaO2            70
Platelets       85
RespRate       143
SaO2             7
SysABP          63
Temp           288
TroponinI        2
TroponinT       15
Urine          226
WBC             85
Weight         690
pH              76
dtype: int64

In [ ]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       552
level_1        552
Time           552
ALP             16
ALT             16
AST             16
Age            552
Albumin         12
BUN             78
Bilirubin       16
Cholesterol      0
Creatinine      78
DiasABP        163
FiO2           153
GCS            230
Gender         552
Glucose         58
HCO3            63
HCT             84
HR             319
Height         552
ICUType        552
K               63
Lactate         92
MAP            158
MechVent       144
Mg              52
NIDiasABP      199
NIMAP          198
NISysABP       199
Na              63
PaCO2           97
PaO2            91
Platelets       90
RespRate        80
SaO2            20
SysABP         163
Temp           269
TroponinI        0
TroponinT        8
Urine          210
WBC             83
Weight         552
pH              98
dtype: int64

In [ ]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation.count()
more_than_or_equal_to_65_validation

RecordID       1025
level_1        1025
Time           1025
ALP             392
ALT             406
AST             407
Age            1025
Albumin         401
BUN            1011
Bilirubin       409
Cholesterol      90
Creatinine     1011
DiasABP         729
FiO2            689
GCS            1015
Gender         1025
Glucose        1004
HCO3           1009
HCT            1010
HR             1015
Height         1025
ICUType        1025
K              1006
Lactate         542
MAP             727
MechVent        617
Mg             1005
NIDiasABP       911
NIMAP           907
NISysABP        915
Na             1009
PaCO2           766
PaO2            765
Platelets      1010
RespRate        296
SaO2            484
SysABP          729
Temp           1015
TroponinI        58
TroponinT       318
Urine          1008
WBC            1009
Weight         1025
pH              771
dtype: int64

In [ ]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation.count()
less_than_or_equal_to_65_validation

RecordID       890
level_1        890
Time           890
ALP            418
ALT            427
AST            427
Age            890
Albumin        379
BUN            878
Bilirubin      422
Cholesterol     64
Creatinine     878
DiasABP        627
FiO2           573
GCS            876
Gender         890
Glucose        870
HCO3           877
HCT            878
HR             876
Height         890
ICUType        890
K              873
Lactate        476
MAP            624
MechVent       561
Mg             869
NIDiasABP      773
NIMAP          772
NISysABP       774
Na             877
PaCO2          652
PaO2           651
Platelets      877
RespRate       259
SaO2           359
SysABP         627
Temp           876
TroponinI       21
TroponinT      124
Urine          867
WBC            877
Weight         890
pH             656
dtype: int64

In [ ]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [ ]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575035    1.600
575037    1.600
575038    1.600
575039    1.600
575088    1.727
Name: Height, Length: 25134, dtype: float64

In [ ]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [ ]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         32
level_1          32
Time             32
ALP               6
ALT               6
AST               6
Age              32
Albumin           5
BUN              14
Bilirubin         6
Cholesterol       2
Creatinine       14
DiasABP          15
FiO2             14
GCS              20
Gender           31
Glucose          14
HCO3             14
HCT              15
HR               24
Height           32
ICUType          31
K                14
Lactate           6
MAP              15
MechVent         14
Mg               12
NIDiasABP        19
NIMAP            19
NISysABP         19
Na               14
PaCO2            14
PaO2             14
Platelets        15
RespRate          5
SaO2              4
SysABP           15
Temp             23
TroponinI         1
TroponinT         3
Urine            18
WBC              15
Weight           32
pH               14
BMI              32
Classificacao    32
dtype: int64

In [ ]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         317
level_1          317
Time             317
ALP               63
ALT               64
AST               65
Age              317
Albumin           58
BUN              175
Bilirubin         65
Cholesterol        9
Creatinine       175
DiasABP          173
FiO2             143
GCS              221
Gender           301
Glucose          162
HCO3             170
HCT              182
HR               234
Height           317
ICUType          301
K                166
Lactate           98
MAP              171
MechVent         142
Mg               160
NIDiasABP        171
NIMAP            171
NISysABP         171
Na               168
PaCO2            184
PaO2             181
Platelets        184
RespRate          42
SaO2              87
SysABP           173
Temp             220
TroponinI          9
TroponinT         36
Urine            215
WBC              175
Weight           317
pH               188
BMI              317
Classificacao    317
dtype: int64

In [ ]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         396
level_1          396
Time             396
ALP               82
ALT               86
AST               86
Age              396
Albumin           72
BUN              232
Bilirubin         84
Cholesterol       10
Creatinine       233
DiasABP          256
FiO2             183
GCS              298
Gender           321
Glucose          219
HCO3             229
HCT              245
HR               317
Height           396
ICUType          321
K                226
Lactate          114
MAP              253
MechVent         180
Mg               222
NIDiasABP        226
NIMAP            226
NISysABP         226
Na               229
PaCO2            240
PaO2             239
Platelets        240
RespRate          59
SaO2             138
SysABP           256
Temp             304
TroponinI          8
TroponinT         37
Urine            289
WBC              238
Weight           396
pH               253
BMI              396
Classificacao    396
dtype: int64

In [ ]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         246
level_1          246
Time             246
ALP               46
ALT               46
AST               46
Age              246
Albumin           41
BUN              148
Bilirubin         48
Cholesterol        9
Creatinine       149
DiasABP          179
FiO2             131
GCS              190
Gender           167
Glucose          132
HCO3             143
HCT              157
HR               208
Height           246
ICUType          167
K                136
Lactate           76
MAP              178
MechVent         131
Mg               147
NIDiasABP        128
NIMAP            126
NISysABP         128
Na               140
PaCO2            164
PaO2             162
Platelets        153
RespRate          24
SaO2              90
SysABP           179
Temp             201
TroponinI          3
TroponinT         19
Urine            193
WBC              148
Weight           246
pH               172
BMI              246
Classificacao    246
dtype: int64

In [ ]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         116
level_1          116
Time             116
ALP               26
ALT               26
AST               26
Age              116
Albumin           23
BUN               79
Bilirubin         26
Cholesterol        3
Creatinine        79
DiasABP           86
FiO2              71
GCS               96
Gender            83
Glucose           72
HCO3              78
HCT               83
HR               102
Height           116
ICUType           84
K                 76
Lactate           41
MAP               86
MechVent          65
Mg                73
NIDiasABP         70
NIMAP             70
NISysABP          70
Na                77
PaCO2             85
PaO2              84
Platelets         81
RespRate          16
SaO2              55
SysABP            86
Temp              97
TroponinI          1
TroponinT         19
Urine             93
WBC               78
Weight           116
pH                87
BMI              116
Classificacao    116
dtype: int64

In [ ]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         103
level_1          103
Time             103
ALP               23
ALT               23
AST               23
Age              103
Albumin           23
BUN               72
Bilirubin         24
Cholesterol        1
Creatinine        72
DiasABP           73
FiO2              59
GCS               87
Gender            85
Glucose           67
HCO3              72
HCT               72
HR                93
Height           103
ICUType           85
K                 68
Lactate           33
MAP               72
MechVent          55
Mg                73
NIDiasABP         69
NIMAP             69
NISysABP          69
Na                71
PaCO2             67
PaO2              67
Platelets         72
RespRate          15
SaO2              47
SysABP            73
Temp              89
TroponinI          0
TroponinT          9
Urine             87
WBC               71
Weight           103
pH                68
BMI              103
Classificacao    103
dtype: int64

In [ ]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["Undefined Gender"] = undefined_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
level_1,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
Time,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
ALP,25,61,23,3,44,16,392,418,6,63,82,46,26,23
ALT,26,62,23,3,46,16,406,427,6,64,86,46,26,23
AST,25,62,23,3,45,16,407,427,6,65,86,46,26,23
Age,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
Albumin,21,50,20,3,36,12,401,379,5,58,72,41,23,23
BUN,88,132,37,17,89,78,1011,878,14,175,232,148,79,72
Bilirubin,25,61,22,3,45,16,409,422,6,65,84,48,26,24
Cholesterol,4,2,5,0,1,0,90,64,2,9,10,9,3,1
Creatinine,88,132,37,17,89,78,1011,878,14,175,233,149,79,72
DiasABP,147,216,69,70,63,163,729,627,15,173,256,179,86,73
FiO2,158,199,34,44,127,153,689,573,14,143,183,131,71,59
GCS,325,369,124,64,277,230,1015,876,20,221,298,190,96,87
Gender,876,1039,278,398,690,552,1025,890,31,301,321,167,83,85
Glucose,73,117,36,12,85,58,1004,870,14,162,219,132,72,67
HCO3,80,123,37,16,88,63,1009,877,14,170,229,143,78,72
HCT,99,141,34,35,88,84,1010,878,15,182,245,157,83,72
HR,440,525,159,98,391,319,1015,876,24,234,317,208,102,93
Height,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
ICUType,876,1039,278,398,690,552,1025,890,31,301,321,167,84,85
K,78,123,37,12,90,63,1006,873,14,166,226,136,76,68
Lactate,106,121,12,27,97,92,542,476,6,98,114,76,41,33
MAP,144,200,66,67,55,158,727,624,15,171,253,178,86,72
MechVent,153,187,29,50,118,144,617,561,14,142,180,131,65,55
Mg,61,95,19,11,75,52,1005,869,12,160,222,147,73,73
NIDiasABP,331,377,116,37,357,199,911,773,19,171,226,128,70,69
NIMAP,328,373,116,37,351,198,907,772,19,171,226,126,70,69
NISysABP,331,377,116,37,357,199,915,774,19,171,226,128,70,69
Na,78,122,37,12,89,63,1009,877,14,168,229,140,77,71
PaCO2,177,259,25,241,74,97,766,652,14,184,240,164,85,67
PaO2,169,253,25,237,70,91,765,651,14,181,239,162,84,67
Platelets,99,149,35,39,85,90,1010,877,15,184,240,153,81,72
RespRate,141,164,68,14,143,80,296,259,5,42,59,24,16,15
SaO2,21,39,18,15,7,20,484,359,4,87,138,90,55,47
SysABP,147,216,69,70,63,163,729,627,15,173,256,179,86,73
Temp,343,410,117,81,288,269,1015,876,23,220,304,201,97,89
TroponinI,3,4,5,0,2,0,58,21,1,9,8,3,1,0
TroponinT,16,26,15,4,15,8,318,124,3,36,37,19,19,9
Urine,275,322,87,74,226,210,1008,867,18,215,289,193,93,87
WBC,90,136,34,25,85,83,1009,877,15,175,238,148,78,71
Weight,876,1039,278,398,690,552,1025,890,32,317,396,246,116,103
pH,177,262,25,241,76,98,771,656,14,188,253,172,87,68

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [216]:
test_X = physionet2012_dataset['test_X']

In [217]:
female_gender_test = test_X[test_X['Gender'] == 0.0]
female_gender_test = female_gender_test["RecordID"]
female_gender_distribution_test = test_X[test_X["RecordID"].isin(female_gender_test)]
female_gender_distribution_test = female_gender_distribution_test.count()
female_gender_distribution_test

RecordID       51312
level_1        51312
Time           51312
ALP              809
ALT              830
AST              829
Age            48409
Albumin          634
BUN             3679
Bilirubin        841
Cholesterol       78
Creatinine      3693
DiasABP        26544
FiO2            7914
GCS            16963
Gender          1069
Glucose         3542
HCO3            3631
HCT             4667
HR             46506
Height         48409
ICUType         1069
K               3892
Lactate         2123
MAP            26450
MechVent        7803
Mg              3583
NIDiasABP      22696
NIMAP          22377
NISysABP       22711
Na              3709
PaCO2           5628
PaO2            5626
Platelets       3598
RespRate       13478
SaO2            1955
SysABP         26547
Temp           18667
TroponinI        133
TroponinT        549
Urine          35939
WBC             3351
Weight         28065
pH              5856
dtype: int64

In [219]:
male_gender_test = test_X[test_X['Gender'] == 1.0]
male_gender_test = male_gender_test["RecordID"]
male_gender_distribution_test = test_X[test_X["RecordID"].isin(male_gender_test)]
male_gender_distribution_test = male_gender_distribution_test.count()
male_gender_distribution_test

RecordID       63792
level_1        63792
Time           63792
ALP             1063
ALT             1095
AST             1092
Age            59905
Albumin          783
BUN             4695
Bilirubin       1116
Cholesterol      130
Creatinine      4726
DiasABP        36067
FiO2           10073
GCS            20043
Gender          1329
Glucose         4414
HCO3            4581
HCT             6302
HR             57368
Height         59905
ICUType         1329
K               4911
Lactate         2561
MAP            35868
MechVent        9569
Mg              4598
NIDiasABP      25734
NIMAP          25343
NISysABP       25765
Na              4550
PaCO2           7601
PaO2            7585
Platelets       4793
RespRate       14014
SaO2            2682
SysABP         36069
Temp           23925
TroponinI        116
TroponinT        694
Urine          44209
WBC             4320
Weight         32734
pH              8017
dtype: int64

In [220]:
undefined_gender_test = test_X[test_X['Gender'] == -1.0]
undefined_gender_test = undefined_gender_test["RecordID"]
undefined_gender_distribution_test = test_X[test_X["RecordID"].isin(undefined_gender_test)]
undefined_gender_distribution_test = undefined_gender_distribution_test.count()
undefined_gender_distribution_test

RecordID       48
level_1        48
Time           48
ALP             0
ALT             0
AST             0
Age             2
Albumin         0
BUN             0
Bilirubin       0
Cholesterol     0
Creatinine      0
DiasABP         0
FiO2            0
GCS             0
Gender          1
Glucose         0
HCO3            0
HCT             0
HR              0
Height          2
ICUType         1
K               0
Lactate         1
MAP             0
MechVent        0
Mg              0
NIDiasABP       0
NIMAP           0
NISysABP        0
Na              0
PaCO2           2
PaO2            2
Platelets       0
RespRate        0
SaO2            0
SysABP          0
Temp            0
TroponinI       0
TroponinT       0
Urine           0
WBC             0
Weight          1
pH              2
dtype: int64

In [ ]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       347
level_1        347
Time           347
ALP             17
ALT             17
AST             18
Age            347
Albumin         12
BUN             46
Bilirubin       16
Cholesterol      5
Creatinine      46
DiasABP         80
FiO2            43
GCS            149
Gender         347
Glucose         43
HCO3            43
HCT             47
HR             201
Height         347
ICUType        347
K               44
Lactate         23
MAP             79
MechVent        44
Mg              29
NIDiasABP      147
NIMAP          147
NISysABP       147
Na              43
PaCO2           44
PaO2            43
Platelets       46
RespRate        82
SaO2            23
SysABP          80
Temp           136
TroponinI        4
TroponinT       18
Urine          103
WBC             44
Weight         347
pH              46
dtype: int64

In [ ]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       515
level_1        515
Time           515
ALP              6
ALT              6
AST              6
Age            515
Albumin          4
BUN             26
Bilirubin        6
Cholesterol      2
Creatinine      27
DiasABP        102
FiO2            63
GCS             83
Gender         515
Glucose         14
HCO3            23
HCT             48
HR             136
Height         515
ICUType        515
K               14
Lactate         30
MAP            101
MechVent        74
Mg              16
NIDiasABP       50
NIMAP           51
NISysABP        50
Na              15
PaCO2          308
PaO2           303
Platelets       57
RespRate        15
SaO2            20
SysABP         102
Temp           111
TroponinI        1
TroponinT        2
Urine          100
WBC             41
Weight         515
pH             308
dtype: int64

In [ ]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       872
level_1        872
Time           872
ALP             51
ALT             52
AST             52
Age            872
Albumin         49
BUN            108
Bilirubin       51
Cholesterol      2
Creatinine     108
DiasABP         65
FiO2           172
GCS            344
Gender         872
Glucose        107
HCO3           107
HCT            111
HR             488
Height         872
ICUType        872
K              108
Lactate        114
MAP             62
MechVent       153
Mg              85
NIDiasABP      444
NIMAP          441
NISysABP       446
Na             108
PaCO2           85
PaO2            83
Platelets      104
RespRate       140
SaO2            16
SysABP          65
Temp           353
TroponinI        2
TroponinT       25
Urine          283
WBC            103
Weight         872
pH              87
dtype: int64

In [ ]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       665
level_1        665
Time           665
ALP             32
ALT             34
AST             34
Age            665
Albumin         29
BUN            114
Bilirubin       31
Cholesterol      0
Creatinine     114
DiasABP        195
FiO2           178
GCS            289
Gender         665
Glucose         85
HCO3            87
HCT            126
HR             394
Height         665
ICUType        665
K               87
Lactate        123
MAP            192
MechVent       168
Mg              70
NIDiasABP      276
NIMAP          272
NISysABP       276
Na              87
PaCO2          128
PaO2           124
Platelets      125
RespRate       108
SaO2            30
SysABP         195
Temp           335
TroponinI        1
TroponinT        8
Urine          279
WBC            117
Weight         665
pH             128
dtype: int64

In [ ]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test.count()
more_than_or_equal_to_65_test

RecordID       1348
level_1        1348
Time           1348
ALP             518
ALT             526
AST             527
Age            1348
Albumin         513
BUN            1339
Bilirubin       539
Cholesterol     109
Creatinine     1339
DiasABP         959
FiO2            940
GCS            1332
Gender         1348
Glucose        1329
HCO3           1339
HCT            1337
HR             1332
Height         1348
ICUType        1348
K              1330
Lactate         730
MAP             958
MechVent        869
Mg             1333
NIDiasABP      1168
NIMAP          1165
NISysABP       1169
Na             1339
PaCO2          1039
PaO2           1039
Platelets      1336
RespRate        362
SaO2            664
SysABP          959
Temp           1332
TroponinI        93
TroponinT       372
Urine          1318
WBC            1333
Weight         1348
pH             1044
dtype: int64

In [ ]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test.count()
less_than_or_equal_to_65_test

RecordID       1046
level_1        1046
Time           1046
ALP             497
ALT             506
AST             505
Age            1046
Albumin         450
BUN            1025
Bilirubin       505
Cholesterol      75
Creatinine     1025
DiasABP         743
FiO2            732
GCS            1035
Gender         1046
Glucose        1017
HCO3           1023
HCT            1026
HR             1035
Height         1046
ICUType        1046
K              1019
Lactate         595
MAP             740
MechVent        694
Mg             1010
NIDiasABP       921
NIMAP           919
NISysABP        923
Na             1022
PaCO2           791
PaO2            791
Platelets      1024
RespRate        273
SaO2            409
SysABP          743
Temp           1035
TroponinI        37
TroponinT       160
Urine          1026
WBC            1023
Weight         1046
pH              795
dtype: int64

In [ ]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [ ]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

336       1.626
337       1.626
341       1.626
342       1.626
343       1.626
          ...
574841    1.651
574842    1.651
574843    1.651
574844    1.651
574845    1.651
Name: Height, Length: 31734, dtype: float64

In [ ]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
336,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.0,3.5,NaN,NaN,16.1,48.4,7.40,18.306456,Baixo peso
337,132551,1,1.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,114.50,NaN,NaN,NaN,120.0,NaN,48.4,NaN,18.306456,Baixo peso
341,132551,5,5.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,104.00,NaN,NaN,NaN,130.0,NaN,48.4,7.29,18.306456,Baixo peso
342,132551,6,6.0,NaN,NaN,NaN,78.0,NaN,67.0,NaN,...,141.00,35.6,3.1,NaN,60.0,20.4,48.4,7.25,18.306456,Baixo peso
343,132551,7,7.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,132.00,NaN,NaN,NaN,NaN,NaN,48.4,NaN,18.306456,Baixo peso

In [ ]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         43
level_1          43
Time             43
ALP              10
ALT               9
AST               9
Age              43
Albumin           9
BUN              24
Bilirubin        10
Cholesterol       2
Creatinine       24
DiasABP          22
FiO2             20
GCS              27
Gender           38
Glucose          20
HCO3             24
HCT              26
HR               30
Height           43
ICUType          38
K                20
Lactate          19
MAP              22
MechVent         19
Mg               22
NIDiasABP        22
NIMAP            22
NISysABP         22
Na               20
PaCO2            29
PaO2             29
Platelets        26
RespRate          4
SaO2             12
SysABP           22
Temp             29
TroponinI         2
TroponinT         6
Urine            27
WBC              24
Weight           43
pH               29
BMI              43
Classificacao    43
dtype: int64

In [ ]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         380
level_1          380
Time             380
ALP               78
ALT               79
AST               79
Age              380
Albumin           82
BUN              212
Bilirubin         78
Cholesterol       12
Creatinine       212
DiasABP          207
FiO2             175
GCS              272
Gender           362
Glucose          200
HCO3             206
HCT              217
HR               287
Height           380
ICUType          363
K                201
Lactate          122
MAP              207
MechVent         169
Mg               198
NIDiasABP        212
NIMAP            213
NISysABP         214
Na               203
PaCO2            223
PaO2             223
Platelets        218
RespRate          56
SaO2             103
SysABP           207
Temp             270
TroponinI         13
TroponinT         46
Urine            254
WBC              213
Weight           380
pH               229
BMI              380
Classificacao    380
dtype: int64

In [ ]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         529
level_1          529
Time             529
ALP              101
ALT              107
AST              108
Age              529
Albumin           82
BUN              303
Bilirubin        109
Cholesterol       23
Creatinine       304
DiasABP          343
FiO2             253
GCS              392
Gender           426
Glucose          283
HCO3             298
HCT              319
HR               424
Height           529
ICUType          426
K                290
Lactate          156
MAP              341
MechVent         261
Mg               291
NIDiasABP        293
NIMAP            292
NISysABP         293
Na               294
PaCO2            332
PaO2             328
Platelets        315
RespRate          67
SaO2             184
SysABP           343
Temp             403
TroponinI         12
TroponinT         51
Urine            380
WBC              307
Weight           529
pH               337
BMI              529
Classificacao    529
dtype: int64

In [ ]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         344
level_1          344
Time             344
ALP               64
ALT               64
AST               64
Age              344
Albumin           58
BUN              207
Bilirubin         63
Cholesterol        4
Creatinine       210
DiasABP          240
FiO2             178
GCS              262
Gender           221
Glucose          187
HCO3             202
HCT              213
HR               282
Height           344
ICUType          221
K                195
Lactate          104
MAP              240
MechVent         177
Mg               201
NIDiasABP        182
NIMAP            181
NISysABP         182
Na               201
PaCO2            232
PaO2             232
Platelets        207
RespRate          27
SaO2             142
SysABP           240
Temp             270
TroponinI         12
TroponinT         32
Urine            269
WBC              202
Weight           344
pH               243
BMI              344
Classificacao    344
dtype: int64

In [ ]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         143
level_1          143
Time             143
ALP               32
ALT               32
AST               32
Age              143
Albumin           24
BUN               90
Bilirubin         34
Cholesterol        6
Creatinine        90
DiasABP           97
FiO2              72
GCS              114
Gender            94
Glucose           81
HCO3              88
HCT              100
HR               118
Height           143
ICUType           94
K                 82
Lactate           47
MAP               97
MechVent          74
Mg                85
NIDiasABP         81
NIMAP             81
NISysABP          83
Na                87
PaCO2             94
PaO2              94
Platelets         97
RespRate          10
SaO2              60
SysABP            97
Temp             113
TroponinI          7
TroponinT         12
Urine            112
WBC               93
Weight           143
pH               100
BMI              143
Classificacao    143
dtype: int64

In [ ]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         119
level_1          119
Time             119
ALP               28
ALT               30
AST               30
Age              119
Albumin           28
BUN               76
Bilirubin         28
Cholesterol        4
Creatinine        77
DiasABP           92
FiO2              72
GCS               99
Gender            81
Glucose           69
HCO3              76
HCT               84
HR               105
Height           119
ICUType           81
K                 70
Lactate           46
MAP               92
MechVent          74
Mg                73
NIDiasABP         60
NIMAP             60
NISysABP          61
Na                76
PaCO2             91
PaO2              91
Platelets         82
RespRate           8
SaO2              60
SysABP            92
Temp             101
TroponinI          1
TroponinT         12
Urine             98
WBC               81
Weight           119
pH                93
BMI              119
Classificacao    119
dtype: int64

In [ ]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["Undefined Gender"] = undefined_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
level_1,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
Time,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
ALP,48,58,17,6,51,32,518,497,10,78,101,64,32,28
ALT,49,60,17,6,52,34,526,506,9,79,107,64,32,30
AST,49,61,18,6,52,34,527,505,9,79,108,64,32,30
Age,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
Albumin,40,54,12,4,49,29,513,450,9,82,82,58,24,28
BUN,140,153,46,26,108,114,1339,1025,24,212,303,207,90,76
Bilirubin,47,57,16,6,51,31,539,505,10,78,109,63,34,28
Cholesterol,2,7,5,2,2,0,109,75,2,12,23,4,6,4
Creatinine,140,154,46,27,108,114,1339,1025,24,212,304,210,90,77
DiasABP,177,265,80,102,65,195,959,743,22,207,343,240,97,92
FiO2,198,257,43,63,172,178,940,732,20,175,253,178,72,72
GCS,372,493,149,83,344,289,1332,1035,27,272,392,262,114,99
Gender,1009,1385,347,515,872,665,1348,1046,38,362,426,221,94,81
Glucose,117,131,43,14,107,85,1329,1017,20,200,283,187,81,69
HCO3,122,137,43,23,107,87,1339,1023,24,206,298,202,88,76
HCT,154,178,47,48,111,126,1337,1026,26,217,319,213,100,84
HR,537,680,201,136,488,394,1332,1035,30,287,424,282,118,105
Height,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
ICUType,1009,1385,347,515,872,665,1348,1046,38,363,426,221,94,81
K,118,134,44,14,108,87,1330,1019,20,201,290,195,82,70
Lactate,137,153,23,30,114,123,730,595,19,122,156,104,47,46
MAP,175,259,79,101,62,192,958,740,22,207,341,240,97,92
MechVent,196,242,44,74,153,168,869,694,19,169,261,177,74,74
Mg,91,108,29,16,85,70,1333,1010,22,198,291,201,85,73
NIDiasABP,412,503,147,50,444,276,1168,921,22,212,293,182,81,60
NIMAP,411,498,147,51,441,272,1165,919,22,213,292,181,81,60
NISysABP,413,504,147,50,446,276,1169,923,22,214,293,182,83,61
Na,117,135,43,15,108,87,1339,1022,20,203,294,201,87,76
PaCO2,230,334,44,308,85,128,1039,791,29,223,332,232,94,91
PaO2,225,327,43,303,83,124,1039,791,29,223,328,232,94,91
Platelets,152,180,46,57,104,125,1336,1024,26,218,315,207,97,82
RespRate,161,183,82,15,140,108,362,273,4,56,67,27,10,8
SaO2,36,53,23,20,16,30,664,409,12,103,184,142,60,60
SysABP,177,265,80,102,65,195,959,743,22,207,343,240,97,92
Temp,410,525,136,111,353,335,1332,1035,29,270,403,270,113,101
TroponinI,2,6,4,1,2,1,93,37,2,13,12,12,7,1
TroponinT,17,35,18,2,25,8,372,160,6,46,51,32,12,12
Urine,351,412,103,100,283,279,1318,1026,27,254,380,269,112,98
WBC,142,163,44,41,103,117,1333,1023,24,213,307,202,93,81
Weight,1009,1385,347,515,872,665,1348,1046,43,380,529,344,143,119
pH,231,337,46,308,87,128,1044,795,29,229,337,243,100,93