In [201]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [202]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-02 11:08:31 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-02 11:08:31 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-02 11:08:31 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-02 11:08:31 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [203]:
train_X = physionet2012_dataset['train_X']

In [204]:
# teste = train_X[train_X['Gender'] == 0.0]
# teste["RecordID"].value_counts()

In [205]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3384
level_1        3384
Time           3384
ALP             143
ALT             148
AST             146
Age            3384
Albumin         127
BUN             407
Bilirubin       144
Cholesterol      15
Creatinine      407
DiasABP         631
FiO2            641
GCS            1251
Gender         3384
Glucose         366
HCO3            376
HCT             447
HR             1768
Height         3384
ICUType        3384
K               376
Lactate         403
MAP             608
MechVent        620
Mg              291
NIDiasABP      1340
NIMAP          1327
NISysABP       1343
Na              371
PaCO2           678
PaO2            669
Platelets       446
RespRate        535
SaO2            103
SysABP          631
Temp           1315
TroponinI        12
TroponinT        74
Urine          1128
WBC             412
Weight         3384
pH              684
dtype: int64

In [206]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4279
level_1        4279
Time           4279
ALP             209
ALT             212
AST             215
Age            4279
Albumin         183
BUN             517
Bilirubin       207
Cholesterol      22
Creatinine      518
DiasABP         808
FiO2            787
GCS            1459
Gender         4279
Glucose         448
HCO3            466
HCT             564
HR             2063
Height         4279
ICUType        4279
K               461
Lactate         502
MAP             782
MechVent        759
Mg              352
NIDiasABP      1519
NIMAP          1511
NISysABP       1519
Na              456
PaCO2          1073
PaO2           1052
Platelets       585
RespRate        584
SaO2            155
SysABP          810
Temp           1569
TroponinI        12
TroponinT       119
Urine          1249
WBC             524
Weight         4279
pH             1084
dtype: int64

In [207]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1137
level_1        1137
Time           1137
ALP              80
ALT              83
AST              83
Age            1137
Albumin          72
BUN             176
Bilirubin        79
Cholesterol      30
Creatinine      176
DiasABP         276
FiO2            150
GCS             482
Gender         1137
Glucose         169
HCO3            172
HCT             177
HR              654
Height         1137
ICUType        1137
K               176
Lactate          58
MAP             272
MechVent        136
Mg              102
NIDiasABP       464
NIMAP           463
NISysABP        465
Na              173
PaCO2           137
PaO2            136
Platelets       174
RespRate        271
SaO2             91
SysABP          276
Temp            452
TroponinI         7
TroponinT        77
Urine           344
WBC             170
Weight         1137
pH              139
dtype: int64

In [208]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1631
level_1        1631
Time           1631
ALP              15
ALT              16
AST              16
Age            1631
Albumin          14
BUN              78
Bilirubin        15
Cholesterol       2
Creatinine       79
DiasABP         298
FiO2            200
GCS             255
Gender         1631
Glucose          53
HCO3             74
HCT             142
HR              411
Height         1631
ICUType        1631
K                54
Lactate         100
MAP             295
MechVent        241
Mg               47
NIDiasABP       153
NIMAP           154
NISysABP        153
Na               52
PaCO2           947
PaO2            930
Platelets       162
RespRate         50
SaO2             52
SysABP          298
Temp            326
TroponinI         2
TroponinT         7
Urine           301
WBC             119
Weight         1631
pH              949
dtype: int64

In [209]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2714
level_1        2714
Time           2714
ALP             165
ALT             168
AST             169
Age            2714
Albumin         148
BUN             348
Bilirubin       166
Cholesterol       4
Creatinine      349
DiasABP         231
FiO2            499
GCS            1073
Gender         2714
Glucose         344
HCO3            343
HCT             334
HR             1511
Height         2714
ICUType        2714
K               353
Lactate         344
MAP             212
MechVent        451
Mg              279
NIDiasABP      1375
NIMAP          1361
NISysABP       1377
Na              348
PaCO2           250
PaO2            245
Platelets       322
RespRate        471
SaO2             32
SysABP          233
Temp           1080
TroponinI        11
TroponinT        72
Urine           849
WBC             317
Weight         2714
pH              261
dtype: int64

In [210]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2189
level_1        2189
Time           2189
ALP              92
ALT              93
AST              93
Age            2189
Albumin          76
BUN             323
Bilirubin        91
Cholesterol       1
Creatinine      322
DiasABP         636
FiO2            580
GCS             903
Gender         2189
Glucose         249
HCO3            254
HCT             359
HR             1259
Height         2189
ICUType        2189
K               255
Lactate         404
MAP             613
MechVent        552
Mg              216
NIDiasABP       869
NIMAP           862
NISysABP        869
Na              255
PaCO2           419
PaO2            412
Platelets       374
RespRate        328
SaO2             83
SysABP          636
Temp           1029
TroponinI         4
TroponinT        37
Urine           883
WBC             331
Weight         2189
pH              421
dtype: int64

In [211]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training['Gender'] != -1.0]
#more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training.count()
more_than_or_equal_to_65_training

RecordID       4208
level_1        4208
Time           4208
ALP            1618
ALT            1655
AST            1654
Age            4208
Albumin        1602
BUN            4157
Bilirubin      1669
Cholesterol     367
Creatinine     4157
DiasABP        2989
FiO2           2854
GCS            4153
Gender         4208
Glucose        4113
HCO3           4147
HCT            4150
HR             4154
Height         4208
ICUType        4208
K              4127
Lactate        2280
MAP            2985
MechVent       2645
Mg             4126
NIDiasABP      3699
NIMAP          3689
NISysABP       3707
Na             4145
PaCO2          3199
PaO2           3198
Platelets      4149
RespRate       1166
SaO2           2033
SysABP         2989
Temp           4153
TroponinI       251
TroponinT      1180
Urine          4107
WBC            4140
Weight         4208
pH             3217
dtype: int64

In [212]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [213]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training['Gender'] != -1.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training.count()
less_than_or_equal_to_65_training

RecordID       3455
level_1        3455
Time           3455
ALP            1658
ALT            1689
AST            1687
Age            3455
Albumin        1548
BUN            3404
Bilirubin      1673
Cholesterol     253
Creatinine     3404
DiasABP        2426
FiO2           2338
GCS            3407
Gender         3455
Glucose        3379
HCO3           3397
HCT            3406
HR             3407
Height         3455
ICUType        3455
K              3390
Lactate        1960
MAP            2418
MechVent       2242
Mg             3365
NIDiasABP      3034
NIMAP          3027
NISysABP       3041
Na             3398
PaCO2          2611
PaO2           2610
Platelets      3399
RespRate        925
SaO2           1401
SysABP         2426
Temp           3407
TroponinI       106
TroponinT       532
Urine          3369
WBC            3397
Weight         3455
pH             2630
dtype: int64

In [214]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [215]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [216]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101179, dtype: float64

In [217]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [218]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         2500
level_1          2500
Time             2500
ALP                49
ALT                49
AST                49
Age              2500
Albumin            30
BUN               203
Bilirubin          50
Cholesterol         7
Creatinine        204
DiasABP          1592
FiO2              455
GCS               817
Gender            119
Glucose           196
HCO3              200
HCT               240
HR               2445
Height           2500
ICUType           119
K                 208
Lactate           137
MAP              1608
MechVent          451
Mg                192
NIDiasABP        1053
NIMAP            1043
NISysABP         1054
Na                196
PaCO2             317
PaO2              318
Platelets         193
RespRate          521
SaO2              102
SysABP           1593
Temp              928
TroponinI           8
TroponinT          31
Urine            1763
WBC               179
Weight           2500
pH                327
BMI              2500
Classificacao    2500
dtype: int64

In [219]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         24778
level_1          24778
Time             24778
ALP                467
ALT                479
AST                477
Age              24778
Albumin            359
BUN               1889
Bilirubin          488
Cholesterol         46
Creatinine        1889
DiasABP          15068
FiO2              4144
GCS               8111
Gender            1209
Glucose           1769
HCO3              1831
HCT               2471
HR               24111
Height           24778
ICUType           1209
K                 1980
Lactate           1166
MAP              14920
MechVent          4016
Mg                1856
NIDiasABP        10902
NIMAP            10802
NISysABP         10908
Na                1835
PaCO2             3090
PaO2              3088
Platelets         1908
RespRate          5060
SaO2              1230
SysABP           15068
Temp             10374
TroponinI           63
TroponinT          266
Urine            17769
WBC               1741
Weight           24778
pH                3260
BMI              24778
Classificacao    24778
dtype: int64

In [220]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         31151
level_1          31151
Time             31151
ALP                564
ALT                571
AST                573
Age              31151
Albumin            394
BUN               2220
Bilirubin          586
Cholesterol         58
Creatinine        2231
DiasABP          21153
FiO2              4985
GCS               9656
Gender            1316
Glucose           2056
HCO3              2154
HCT               3056
HR               30438
Height           31151
ICUType           1316
K                 2267
Lactate           1213
MAP              21102
MechVent          4873
Mg                2293
NIDiasABP        11864
NIMAP            11702
NISysABP         11877
Na                2115
PaCO2             4009
PaO2              4002
Platelets         2310
RespRate          5301
SaO2              1966
SysABP           21156
Temp             14896
TroponinI           66
TroponinT          326
Urine            24267
WBC               2091
Weight           31151
pH                4380
BMI              31151
Classificacao    31151
dtype: int64

In [221]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         21137
level_1          21137
Time             21137
ALP                318
ALT                324
AST                321
Age              21137
Albumin            233
BUN               1436
Bilirubin          324
Cholesterol         25
Creatinine        1438
DiasABP          15367
FiO2              3667
GCS               6314
Gender             716
Glucose           1305
HCO3              1389
HCT               1946
HR               20744
Height           21137
ICUType            716
K                 1497
Lactate            902
MAP              15341
MechVent          3515
Mg                1532
NIDiasABP         7193
NIMAP             7131
NISysABP          7196
Na                1364
PaCO2             3029
PaO2              3025
Platelets         1464
RespRate          2754
SaO2              1438
SysABP           15367
Temp             10794
TroponinI           61
TroponinT          212
Urine            17093
WBC               1345
Weight           21137
pH                3244
BMI              21137
Classificacao    21137
dtype: int64

In [222]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         9838
level_1          9838
Time             9838
ALP               140
ALT               141
AST               142
Age              9838
Albumin           103
BUN               668
Bilirubin         143
Cholesterol        15
Creatinine        666
DiasABP          7180
FiO2             1792
GCS              2967
Gender            299
Glucose           627
HCO3              637
HCT               900
HR               9680
Height           9838
ICUType           299
K                 692
Lactate           477
MAP              7195
MechVent         1669
Mg                700
NIDiasABP        3492
NIMAP            3428
NISysABP         3494
Na                631
PaCO2            1440
PaO2             1438
Platelets         674
RespRate         1104
SaO2              681
SysABP           7181
Temp             4999
TroponinI          13
TroponinT         112
Urine            8079
WBC               624
Weight           9838
pH               1552
BMI              9838
Classificacao    9838
dtype: int64

In [223]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         9820
level_1          9820
Time             9820
ALP               174
ALT               179
AST               177
Age              9820
Albumin           129
BUN               668
Bilirubin         181
Cholesterol        17
Creatinine        670
DiasABP          6813
FiO2             1968
GCS              2891
Gender            279
Glucose           616
HCO3              648
HCT               856
HR               9685
Height           9820
ICUType           279
K                 687
Lactate           449
MAP              6785
MechVent         1900
Mg                686
NIDiasABP        3391
NIMAP            3354
NISysABP         3397
Na                653
PaCO2            1412
PaO2             1417
Platelets         657
RespRate         1360
SaO2              614
SysABP           6814
Temp             4676
TroponinI          18
TroponinT          86
Urine            7793
WBC               588
Weight           9820
pH               1476
BMI              9820
Classificacao    9820
dtype: int64

In [224]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [225]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
level_1,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
Time,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
ALP,143,209,80,15,165,92,1618,1658,49,467,564,318,140,174
ALT,148,212,83,16,168,93,1655,1689,49,479,571,324,141,179
AST,146,215,83,16,169,93,1654,1687,49,477,573,321,142,177
Age,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
Albumin,127,183,72,14,148,76,1602,1548,30,359,394,233,103,129
BUN,407,517,176,78,348,323,4157,3404,203,1889,2220,1436,668,668
Bilirubin,144,207,79,15,166,91,1669,1673,50,488,586,324,143,181
Cholesterol,15,22,30,2,4,1,367,253,7,46,58,25,15,17
Creatinine,407,518,176,79,349,322,4157,3404,204,1889,2231,1438,666,670
DiasABP,631,808,276,298,231,636,2989,2426,1592,15068,21153,15367,7180,6813
FiO2,641,787,150,200,499,580,2854,2338,455,4144,4985,3667,1792,1968
GCS,1251,1459,482,255,1073,903,4153,3407,817,8111,9656,6314,2967,2891
Gender,3384,4279,1137,1631,2714,2189,4208,3455,119,1209,1316,716,299,279
Glucose,366,448,169,53,344,249,4113,3379,196,1769,2056,1305,627,616
HCO3,376,466,172,74,343,254,4147,3397,200,1831,2154,1389,637,648
HCT,447,564,177,142,334,359,4150,3406,240,2471,3056,1946,900,856
HR,1768,2063,654,411,1511,1259,4154,3407,2445,24111,30438,20744,9680,9685
Height,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
ICUType,3384,4279,1137,1631,2714,2189,4208,3455,119,1209,1316,716,299,279
K,376,461,176,54,353,255,4127,3390,208,1980,2267,1497,692,687
Lactate,403,502,58,100,344,404,2280,1960,137,1166,1213,902,477,449
MAP,608,782,272,295,212,613,2985,2418,1608,14920,21102,15341,7195,6785
MechVent,620,759,136,241,451,552,2645,2242,451,4016,4873,3515,1669,1900
Mg,291,352,102,47,279,216,4126,3365,192,1856,2293,1532,700,686
NIDiasABP,1340,1519,464,153,1375,869,3699,3034,1053,10902,11864,7193,3492,3391
NIMAP,1327,1511,463,154,1361,862,3689,3027,1043,10802,11702,7131,3428,3354
NISysABP,1343,1519,465,153,1377,869,3707,3041,1054,10908,11877,7196,3494,3397
Na,371,456,173,52,348,255,4145,3398,196,1835,2115,1364,631,653
PaCO2,678,1073,137,947,250,419,3199,2611,317,3090,4009,3029,1440,1412
PaO2,669,1052,136,930,245,412,3198,2610,318,3088,4002,3025,1438,1417
Platelets,446,585,174,162,322,374,4149,3399,193,1908,2310,1464,674,657
RespRate,535,584,271,50,471,328,1166,925,521,5060,5301,2754,1104,1360
SaO2,103,155,91,52,32,83,2033,1401,102,1230,1966,1438,681,614
SysABP,631,810,276,298,233,636,2989,2426,1593,15068,21156,15367,7181,6814
Temp,1315,1569,452,326,1080,1029,4153,3407,928,10374,14896,10794,4999,4676
TroponinI,12,12,7,2,11,4,251,106,8,63,66,61,13,18
TroponinT,74,119,77,7,72,37,1180,532,31,266,326,212,112,86
Urine,1128,1249,344,301,849,883,4107,3369,1763,17769,24267,17093,8079,7793
WBC,412,524,170,119,317,331,4140,3397,179,1741,2091,1345,624,588
Weight,3384,4279,1137,1631,2714,2189,4208,3455,2500,24778,31151,21137,9838,9820
pH,684,1084,139,949,261,421,3217,2630,327,3260,4380,3244,1552,1476

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [226]:
validation_X = physionet2012_dataset['val_X']

In [227]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       825
level_1        825
Time           825
ALP             38
ALT             41
AST             41
Age            825
Albumin         32
BUN            100
Bilirubin       38
Cholesterol      7
Creatinine     100
DiasABP        129
FiO2           151
GCS            306
Gender         825
Glucose         89
HCO3            91
HCT            107
HR             425
Height         825
ICUType        825
K               91
Lactate         95
MAP            126
MechVent       142
Mg              68
NIDiasABP      327
NIMAP          326
NISysABP       327
Na              90
PaCO2          160
PaO2           154
Platelets      102
RespRate       147
SaO2            30
SysABP         129
Temp           308
TroponinI        2
TroponinT       19
Urine          253
WBC             97
Weight         825
pH             160
dtype: int64

In [228]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1091
level_1        1091
Time           1091
ALP              47
ALT              49
AST              49
Age            1091
Albumin          47
BUN             119
Bilirubin        50
Cholesterol       4
Creatinine      119
DiasABP         223
FiO2            183
GCS             395
Gender         1091
Glucose         103
HCO3            106
HCT             144
HR              546
Height         1091
ICUType        1091
K               108
Lactate         120
MAP             217
MechVent        175
Mg               88
NIDiasABP       405
NIMAP           401
NISysABP        405
Na              107
PaCO2           270
PaO2            268
Platelets       146
RespRate        150
SaO2             42
SysABP          223
Temp            419
TroponinI         6
TroponinT        28
Urine           335
WBC             134
Weight         1091
pH              271
dtype: int64

In [229]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       281
level_1        281
Time           281
ALP             11
ALT             12
AST             12
Age            281
Albumin         10
BUN             26
Bilirubin       10
Cholesterol      5
Creatinine      26
DiasABP         66
FiO2            35
GCS            132
Gender         281
Glucose         26
HCO3            26
HCT             25
HR             170
Height         281
ICUType        281
K               29
Lactate          8
MAP             64
MechVent        28
Mg              15
NIDiasABP      129
NIMAP          128
NISysABP       129
Na              27
PaCO2           20
PaO2            20
Platelets       25
RespRate        72
SaO2            14
SysABP          66
Temp           112
TroponinI        3
TroponinT       10
Urine           84
WBC             23
Weight         281
pH              21
dtype: int64

In [230]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       377
level_1        377
Time           377
ALP              8
ALT              8
AST              8
Age            377
Albumin          6
BUN             21
Bilirubin        8
Cholesterol      2
Creatinine      21
DiasABP         71
FiO2            44
GCS             62
Gender         377
Glucose         15
HCO3            16
HCT             44
HR              89
Height         377
ICUType        377
K               15
Lactate         23
MAP             71
MechVent        50
Mg              15
NIDiasABP       24
NIMAP           24
NISysABP        24
Na              15
PaCO2          234
PaO2           231
Platelets       48
RespRate         8
SaO2            23
SysABP          71
Temp            75
TroponinI        1
TroponinT        4
Urine           71
WBC             36
Weight         377
pH             234
dtype: int64

In [231]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       712
level_1        712
Time           712
ALP             47
ALT             50
AST             50
Age            712
Albumin         45
BUN             89
Bilirubin       50
Cholesterol      2
Creatinine      89
DiasABP         48
FiO2           119
GCS            262
Gender         712
Glucose         87
HCO3            89
HCT             94
HR             386
Height         712
ICUType        712
K               88
Lactate        100
MAP             43
MechVent       109
Mg              73
NIDiasABP      358
NIMAP          355
NISysABP       358
Na              89
PaCO2           74
PaO2            72
Platelets       85
RespRate       128
SaO2            13
SysABP          48
Temp           275
TroponinI        4
TroponinT       22
Urine          210
WBC             86
Weight         712
pH              74
dtype: int64

In [232]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       548
level_1        548
Time           548
ALP             19
ALT             20
AST             20
Age            548
Albumin         18
BUN             83
Bilirubin       20
Cholesterol      2
Creatinine      83
DiasABP        167
FiO2           137
GCS            246
Gender         548
Glucose         64
HCO3            66
HCT             88
HR             327
Height         548
ICUType        548
K               67
Lactate         84
MAP            165
MechVent       131
Mg              53
NIDiasABP      222
NIMAP          221
NISysABP       222
Na              66
PaCO2          102
PaO2            99
Platelets       90
RespRate        89
SaO2            22
SysABP         167
Temp           265
TroponinI        0
TroponinT       11
Urine          224
WBC             86
Weight         548
pH             102
dtype: int64

In [233]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation[more_than_or_equal_to_65_validation['Gender'] != -1.0]
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation.count()
more_than_or_equal_to_65_validation

RecordID       1049
level_1        1049
Time           1049
ALP             400
ALT             410
AST             412
Age            1049
Albumin         399
BUN            1033
Bilirubin       422
Cholesterol      99
Creatinine     1033
DiasABP         731
FiO2            707
GCS            1037
Gender         1049
Glucose        1019
HCO3           1032
HCT            1033
HR             1037
Height         1049
ICUType        1049
K              1025
Lactate         568
MAP             731
MechVent        635
Mg             1024
NIDiasABP       893
NIMAP           892
NISysABP        897
Na             1031
PaCO2           781
PaO2            782
Platelets      1033
RespRate        314
SaO2            488
SysABP          731
Temp           1037
TroponinI        55
TroponinT       298
Urine          1025
WBC            1032
Weight         1049
pH              784
dtype: int64

In [234]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation[less_than_or_equal_to_65_validation['Gender'] != -1.0]
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation.count()
less_than_or_equal_to_65_validation

RecordID       867
level_1        867
Time           867
ALP            400
ALT            414
AST            415
Age            867
Albumin        363
BUN            854
Bilirubin      408
Cholesterol     50
Creatinine     854
DiasABP        602
FiO2           572
GCS            848
Gender         867
Glucose        847
HCO3           853
HCT            854
HR             848
Height         867
ICUType        867
K              852
Lactate        501
MAP            595
MechVent       543
Mg             848
NIDiasABP      768
NIMAP          768
NISysABP       768
Na             852
PaCO2          656
PaO2           656
Platelets      854
RespRate       252
SaO2           356
SysABP         602
Temp           848
TroponinI       34
TroponinT      124
Urine          839
WBC            853
Weight         867
pH             660
dtype: int64

In [235]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [236]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574939    1.702
574940    1.702
574941    1.702
574942    1.702
574943    1.702
Name: Height, Length: 25199, dtype: float64

In [237]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [238]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         517
level_1          517
Time             517
ALP                8
ALT                7
AST                7
Age              517
Albumin            6
BUN               35
Bilirubin          8
Cholesterol        1
Creatinine        35
DiasABP          340
FiO2             103
GCS              202
Gender            24
Glucose           34
HCO3              34
HCT               51
HR               502
Height           517
ICUType           24
K                 37
Lactate           47
MAP              339
MechVent         108
Mg                36
NIDiasABP        215
NIMAP            207
NISysABP         215
Na                39
PaCO2             73
PaO2              73
Platelets         37
RespRate          90
SaO2              14
SysABP           340
Temp             210
TroponinI          1
TroponinT          8
Urine            394
WBC               32
Weight           517
pH                76
BMI              517
Classificacao    517
dtype: int64

In [239]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         5581
level_1          5581
Time             5581
ALP                89
ALT                91
AST                92
Age              5581
Albumin            83
BUN               411
Bilirubin          91
Cholesterol         6
Creatinine        415
DiasABP          3331
FiO2              888
GCS              1913
Gender            280
Glucose           388
HCO3              394
HCT               515
HR               5450
Height           5581
ICUType           280
K                 440
Lactate           231
MAP              3297
MechVent          877
Mg                404
NIDiasABP        2472
NIMAP            2459
NISysABP         2477
Na                398
PaCO2             636
PaO2              634
Platelets         415
RespRate         1120
SaO2              212
SysABP           3331
Temp             2502
TroponinI          16
TroponinT          56
Urine            4149
WBC               379
Weight           5581
pH                686
BMI              5581
Classificacao    5581
dtype: int64

In [240]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         7755
level_1          7755
Time             7755
ALP               111
ALT               117
AST               117
Age              7755
Albumin            83
BUN               539
Bilirubin         118
Cholesterol        15
Creatinine        542
DiasABP          5226
FiO2             1247
GCS              2449
Gender            324
Glucose           503
HCO3              522
HCT               721
HR               7574
Height           7755
ICUType           324
K                 567
Lactate           334
MAP              5223
MechVent         1189
Mg                541
NIDiasABP        2997
NIMAP            2947
NISysABP         2998
Na                521
PaCO2             993
PaO2              993
Platelets         552
RespRate         1434
SaO2              501
SysABP           5226
Temp             3614
TroponinI          10
TroponinT          81
Urine            5931
WBC               507
Weight           7755
pH               1074
BMI              7755
Classificacao    7755
dtype: int64

In [241]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         6003
level_1          6003
Time             6003
ALP                83
ALT                81
AST                82
Age              6003
Albumin            63
BUN               409
Bilirubin          84
Cholesterol         9
Creatinine        409
DiasABP          4231
FiO2              968
GCS              1911
Gender            191
Glucose           373
HCO3              389
HCT               553
HR               5910
Height           6003
ICUType           191
K                 427
Lactate           194
MAP              4231
MechVent          930
Mg                430
NIDiasABP        2146
NIMAP            2114
NISysABP         2147
Na                398
PaCO2             728
PaO2              727
Platelets         405
RespRate         1218
SaO2              376
SysABP           4231
Temp             2834
TroponinI          11
TroponinT          53
Urine            4858
WBC               365
Weight           6003
pH                799
BMI              6003
Classificacao    6003
dtype: int64

In [242]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         2637
level_1          2637
Time             2637
ALP                51
ALT                51
AST                50
Age              2637
Albumin            42
BUN               188
Bilirubin          51
Cholesterol         3
Creatinine        191
DiasABP          1912
FiO2              485
GCS               788
Gender             86
Glucose           171
HCO3              182
HCT               245
HR               2588
Height           2637
ICUType            86
K                 196
Lactate           132
MAP              1899
MechVent          472
Mg                189
NIDiasABP         775
NIMAP             749
NISysABP          775
Na                178
PaCO2             374
PaO2              374
Platelets         197
RespRate          430
SaO2              170
SysABP           1912
Temp             1397
TroponinI           5
TroponinT          22
Urine            2121
WBC               174
Weight           2637
pH                393
BMI              2637
Classificacao    2637
dtype: int64

In [243]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         2293
level_1          2293
Time             2293
ALP                38
ALT                38
AST                38
Age              2293
Albumin            19
BUN               141
Bilirubin          44
Cholesterol         1
Creatinine        141
DiasABP          1563
FiO2              412
GCS               602
Gender             66
Glucose           132
HCO3              138
HCT               212
HR               2260
Height           2293
ICUType            66
K                 148
Lactate           114
MAP              1584
MechVent          380
Mg                155
NIDiasABP         768
NIMAP             755
NISysABP          769
Na                137
PaCO2             367
PaO2              367
Platelets         142
RespRate          341
SaO2              208
SysABP           1563
Temp             1209
TroponinI           5
TroponinT          19
Urine            1918
WBC               131
Weight           2293
pH                399
BMI              2293
Classificacao    2293
dtype: int64

In [244]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [245]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
level_1,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
Time,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
ALP,38,47,11,8,47,19,400,400,8,89,111,83,51,38
ALT,41,49,12,8,50,20,410,414,7,91,117,81,51,38
AST,41,49,12,8,50,20,412,415,7,92,117,82,50,38
Age,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
Albumin,32,47,10,6,45,18,399,363,6,83,83,63,42,19
BUN,100,119,26,21,89,83,1033,854,35,411,539,409,188,141
Bilirubin,38,50,10,8,50,20,422,408,8,91,118,84,51,44
Cholesterol,7,4,5,2,2,2,99,50,1,6,15,9,3,1
Creatinine,100,119,26,21,89,83,1033,854,35,415,542,409,191,141
DiasABP,129,223,66,71,48,167,731,602,340,3331,5226,4231,1912,1563
FiO2,151,183,35,44,119,137,707,572,103,888,1247,968,485,412
GCS,306,395,132,62,262,246,1037,848,202,1913,2449,1911,788,602
Gender,825,1091,281,377,712,548,1049,867,24,280,324,191,86,66
Glucose,89,103,26,15,87,64,1019,847,34,388,503,373,171,132
HCO3,91,106,26,16,89,66,1032,853,34,394,522,389,182,138
HCT,107,144,25,44,94,88,1033,854,51,515,721,553,245,212
HR,425,546,170,89,386,327,1037,848,502,5450,7574,5910,2588,2260
Height,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
ICUType,825,1091,281,377,712,548,1049,867,24,280,324,191,86,66
K,91,108,29,15,88,67,1025,852,37,440,567,427,196,148
Lactate,95,120,8,23,100,84,568,501,47,231,334,194,132,114
MAP,126,217,64,71,43,165,731,595,339,3297,5223,4231,1899,1584
MechVent,142,175,28,50,109,131,635,543,108,877,1189,930,472,380
Mg,68,88,15,15,73,53,1024,848,36,404,541,430,189,155
NIDiasABP,327,405,129,24,358,222,893,768,215,2472,2997,2146,775,768
NIMAP,326,401,128,24,355,221,892,768,207,2459,2947,2114,749,755
NISysABP,327,405,129,24,358,222,897,768,215,2477,2998,2147,775,769
Na,90,107,27,15,89,66,1031,852,39,398,521,398,178,137
PaCO2,160,270,20,234,74,102,781,656,73,636,993,728,374,367
PaO2,154,268,20,231,72,99,782,656,73,634,993,727,374,367
Platelets,102,146,25,48,85,90,1033,854,37,415,552,405,197,142
RespRate,147,150,72,8,128,89,314,252,90,1120,1434,1218,430,341
SaO2,30,42,14,23,13,22,488,356,14,212,501,376,170,208
SysABP,129,223,66,71,48,167,731,602,340,3331,5226,4231,1912,1563
Temp,308,419,112,75,275,265,1037,848,210,2502,3614,2834,1397,1209
TroponinI,2,6,3,1,4,0,55,34,1,16,10,11,5,5
TroponinT,19,28,10,4,22,11,298,124,8,56,81,53,22,19
Urine,253,335,84,71,210,224,1025,839,394,4149,5931,4858,2121,1918
WBC,97,134,23,36,86,86,1032,853,32,379,507,365,174,131
Weight,825,1091,281,377,712,548,1049,867,517,5581,7755,6003,2637,2293
pH,160,271,21,234,74,102,784,660,76,686,1074,799,393,399

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [246]:
test_X = physionet2012_dataset['test_X']

In [247]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1050
level_1        1050
Time           1050
ALP              45
ALT              47
AST              46
Age            1050
Albumin          35
BUN             138
Bilirubin        43
Cholesterol       5
Creatinine      138
DiasABP         162
FiO2            210
GCS             365
Gender         1050
Glucose         123
HCO3            126
HCT             148
HR              535
Height         1050
ICUType        1050
K               123
Lactate         120
MAP             157
MechVent        187
Mg               95
NIDiasABP       410
NIMAP           406
NISysABP        410
Na              121
PaCO2           218
PaO2            213
Platelets       153
RespRate        179
SaO2             36
SysABP          162
Temp            412
TroponinI         6
TroponinT        20
Urine           344
WBC             141
Weight         1050
pH              221
dtype: int64

In [248]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1347
level_1        1347
Time           1347
ALP              54
ALT              56
AST              56
Age            1347
Albumin          44
BUN             148
Bilirubin        53
Cholesterol       8
Creatinine      148
DiasABP         257
FiO2            258
GCS             457
Gender         1347
Glucose         129
HCO3            129
HCT             175
HR              667
Height         1347
ICUType        1347
K               129
Lactate         150
MAP             248
MechVent        240
Mg               96
NIDiasABP       500
NIMAP           498
NISysABP        501
Na              129
PaCO2           328
PaO2            326
Platelets       173
RespRate        198
SaO2             44
SysABP          257
Temp            502
TroponinI         6
TroponinT        35
Urine           415
WBC             163
Weight         1347
pH              333
dtype: int64

In [249]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       347
level_1        347
Time           347
ALP             22
ALT             22
AST             22
Age            347
Albumin         17
BUN             51
Bilirubin       20
Cholesterol      8
Creatinine      51
DiasABP         88
FiO2            42
GCS            145
Gender         347
Glucose         48
HCO3            48
HCT             53
HR             198
Height         347
ICUType        347
K               48
Lactate         24
MAP             88
MechVent        36
Mg              32
NIDiasABP      139
NIMAP          140
NISysABP       139
Na              48
PaCO2           38
PaO2            38
Platelets       54
RespRate        85
SaO2            26
SysABP          88
Temp           145
TroponinI        4
TroponinT       16
Urine          124
WBC             53
Weight         347
pH              38
dtype: int64

In [250]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       520
level_1        520
Time           520
ALP              8
ALT              9
AST              9
Age            520
Albumin          6
BUN             25
Bilirubin        9
Cholesterol      2
Creatinine      25
DiasABP         85
FiO2            70
GCS             86
Gender         520
Glucose         20
HCO3            24
HCT             43
HR             128
Height         520
ICUType        520
K               20
Lactate         35
MAP             84
MechVent        74
Mg              15
NIDiasABP       53
NIMAP           53
NISysABP        53
Na              18
PaCO2          308
PaO2           304
Platelets       54
RespRate        20
SaO2            19
SysABP          85
Temp           103
TroponinI        1
TroponinT        5
Urine           98
WBC             38
Weight         520
pH             311
dtype: int64

In [251]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       861
level_1        861
Time           861
ALP             43
ALT             45
AST             44
Age            861
Albumin         35
BUN             95
Bilirubin       42
Cholesterol      1
Creatinine      95
DiasABP         59
FiO2           164
GCS            314
Gender         861
Glucose         96
HCO3            94
HCT            102
HR             476
Height         861
ICUType        861
K               95
Lactate         97
MAP             53
MechVent       137
Mg              74
NIDiasABP      444
NIMAP          438
NISysABP       445
Na              94
PaCO2           76
PaO2            75
Platelets       94
RespRate       158
SaO2             9
SysABP          59
Temp           334
TroponinI        5
TroponinT       25
Urine          268
WBC             95
Weight         861
pH              79
dtype: int64

In [252]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       671
level_1        671
Time           671
ALP             26
ALT             27
AST             27
Age            671
Albumin         21
BUN            116
Bilirubin       25
Cholesterol      2
Creatinine     116
DiasABP        187
FiO2           192
GCS            278
Gender         671
Glucose         89
HCO3            90
HCT            125
HR             402
Height         671
ICUType        671
K               90
Lactate        114
MAP            180
MechVent       180
Mg              71
NIDiasABP      276
NIMAP          275
NISysABP       276
Na              91
PaCO2          124
PaO2           122
Platelets      124
RespRate       116
SaO2            26
SysABP         187
Temp           332
TroponinI        2
TroponinT       10
Urine          270
WBC            118
Weight         671
pH             126
dtype: int64

In [253]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test[more_than_or_equal_to_65_test['Gender'] != -1.0]
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test.count()
more_than_or_equal_to_65_test

RecordID       1293
level_1        1293
Time           1293
ALP             520
ALT             527
AST             529
Age            1293
Albumin         503
BUN            1277
Bilirubin       530
Cholesterol     102
Creatinine     1277
DiasABP         912
FiO2            906
GCS            1274
Gender         1293
Glucose        1263
HCO3           1276
HCT            1275
HR             1274
Height         1293
ICUType        1293
K              1270
Lactate         689
MAP             912
MechVent        822
Mg             1268
NIDiasABP      1121
NIMAP          1118
NISysABP       1123
Na             1275
PaCO2           984
PaO2            983
Platelets      1275
RespRate        353
SaO2            605
SysABP          912
Temp           1274
TroponinI        84
TroponinT       352
Urine          1265
WBC            1274
Weight         1293
pH              991
dtype: int64

In [254]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test[less_than_or_equal_to_65_test['Gender'] != -1.0]
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test.count()
less_than_or_equal_to_65_test

RecordID       1104
level_1        1104
Time           1104
ALP             498
ALT             514
AST             513
Age            1104
Albumin         452
BUN            1081
Bilirubin       509
Cholesterol      77
Creatinine     1081
DiasABP         760
FiO2            732
GCS            1087
Gender         1104
Glucose        1074
HCO3           1077
HCT            1081
HR             1087
Height         1104
ICUType        1104
K              1076
Lactate         574
MAP             760
MechVent        689
Mg             1066
NIDiasABP       962
NIMAP           961
NISysABP        967
Na             1076
PaCO2           815
PaO2            816
Platelets      1081
RespRate        315
SaO2            482
SysABP          760
Temp           1087
TroponinI        34
TroponinT       148
Urine          1076
WBC            1080
Weight         1104
pH              818
dtype: int64

In [255]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [256]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

624       1.702
628       1.702
629       1.702
630       1.702
631       1.702
          ...
574987    1.524
574988    1.524
574989    1.524
574990    1.524
574991    1.524
Name: Height, Length: 32421, dtype: float64

In [257]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
624,132570,0,0.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
628,132570,4,4.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,36.6,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
629,132570,5,5.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,NaN,NaN,NaN,NaN,8.8,102.6,NaN,35.418344,Obesidade grau 2
630,132570,6,6.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
631,132570,7,7.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,600.0,NaN,102.6,NaN,35.418344,Obesidade grau 2

In [258]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         750
level_1          750
Time             750
ALP                9
ALT                9
AST                9
Age              750
Albumin            9
BUN               62
Bilirubin          9
Cholesterol        2
Creatinine        63
DiasABP          447
FiO2             149
GCS              243
Gender            39
Glucose           60
HCO3              61
HCT               59
HR               728
Height           750
ICUType           39
K                 62
Lactate           38
MAP              444
MechVent         147
Mg                57
NIDiasABP        320
NIMAP            299
NISysABP         320
Na                61
PaCO2             94
PaO2              94
Platelets         52
RespRate         208
SaO2              25
SysABP           447
Temp             250
TroponinI          7
TroponinT          8
Urine            486
WBC               48
Weight           750
pH                95
BMI              750
Classificacao    750
dtype: int64

In [259]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         6131
level_1          6131
Time             6131
ALP               101
ALT               102
AST               103
Age              6131
Albumin            89
BUN               453
Bilirubin         108
Cholesterol        11
Creatinine        454
DiasABP          3810
FiO2             1061
GCS              2066
Gender            333
Glucose           430
HCO3              444
HCT               578
HR               5957
Height           6131
ICUType           333
K                 484
Lactate           253
MAP              3798
MechVent         1017
Mg                456
NIDiasABP        2625
NIMAP            2606
NISysABP         2626
Na                445
PaCO2             760
PaO2              759
Platelets         459
RespRate         1368
SaO2              252
SysABP           3810
Temp             2500
TroponinI          18
TroponinT          91
Urine            4609
WBC               418
Weight           6131
pH                802
BMI              6131
Classificacao    6131
dtype: int64

In [260]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         11983
level_1          11983
Time             11983
ALP                170
ALT                177
AST                177
Age              11983
Albumin            121
BUN                822
Bilirubin          184
Cholesterol         22
Creatinine         829
DiasABP           8483
FiO2              2008
GCS               3839
Gender             475
Glucose            765
HCO3               792
HCT               1133
HR               11726
Height           11983
ICUType            475
K                  860
Lactate            386
MAP               8468
MechVent          1924
Mg                 858
NIDiasABP         4394
NIMAP             4366
NISysABP          4403
Na                 768
PaCO2             1543
PaO2              1541
Platelets          880
RespRate          1986
SaO2               727
SysABP            8483
Temp              5636
TroponinI           34
TroponinT           80
Urine             9219
WBC                805
Weight           11983
pH                1677
BMI              11983
Classificacao    11983
dtype: int64

In [261]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         6942
level_1          6942
Time             6942
ALP               127
ALT               128
AST               128
Age              6942
Albumin           103
BUN               485
Bilirubin         135
Cholesterol        11
Creatinine        491
DiasABP          5085
FiO2             1245
GCS              2100
Gender            213
Glucose           417
HCO3              456
HCT               648
HR               6827
Height           6942
ICUType           213
K                 471
Lactate           270
MAP              5025
MechVent         1221
Mg                495
NIDiasABP        2417
NIMAP            2391
NISysABP         2419
Na                452
PaCO2            1036
PaO2             1036
Platelets         491
RespRate          561
SaO2              507
SysABP           5086
Temp             3627
TroponinI          16
TroponinT          62
Urine            5691
WBC               441
Weight           6942
pH               1126
BMI              6942
Classificacao    6942
dtype: int64

In [262]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         3451
level_1          3451
Time             3451
ALP                60
ALT                59
AST                59
Age              3451
Albumin            38
BUN               273
Bilirubin          60
Cholesterol         7
Creatinine        274
DiasABP          2435
FiO2              539
GCS              1059
Gender             91
Glucose           237
HCO3              253
HCT               340
HR               3398
Height           3451
ICUType            91
K                 261
Lactate           177
MAP              2428
MechVent          510
Mg                253
NIDiasABP        1179
NIMAP            1171
NISysABP         1180
Na                246
PaCO2             463
PaO2              463
Platelets         255
RespRate          680
SaO2              266
SysABP           2435
Temp             1779
TroponinI           7
TroponinT          38
Urine            2735
WBC               241
Weight           3451
pH                492
BMI              3451
Classificacao    3451
dtype: int64

In [263]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         2799
level_1          2799
Time             2799
ALP                45
ALT                49
AST                49
Age              2799
Albumin            37
BUN               210
Bilirubin          48
Cholesterol         4
Creatinine        209
DiasABP          2026
FiO2              548
GCS               865
Gender             85
Glucose           186
HCO3              201
HCT               243
HR               2750
Height           2799
ICUType            85
K                 211
Lactate           167
MAP              2028
MechVent          531
Mg                221
NIDiasABP         880
NIMAP             871
NISysABP          882
Na                194
PaCO2             449
PaO2              450
Platelets         180
RespRate          471
SaO2              205
SysABP           2026
Temp             1354
TroponinI           1
TroponinT          39
Urine            2164
WBC               172
Weight           2799
pH                467
BMI              2799
Classificacao    2799
dtype: int64

In [264]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [265]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
level_1,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
Time,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
ALP,45,54,22,8,43,26,520,498,9,101,170,127,60,45
ALT,47,56,22,9,45,27,527,514,9,102,177,128,59,49
AST,46,56,22,9,44,27,529,513,9,103,177,128,59,49
Age,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
Albumin,35,44,17,6,35,21,503,452,9,89,121,103,38,37
BUN,138,148,51,25,95,116,1277,1081,62,453,822,485,273,210
Bilirubin,43,53,20,9,42,25,530,509,9,108,184,135,60,48
Cholesterol,5,8,8,2,1,2,102,77,2,11,22,11,7,4
Creatinine,138,148,51,25,95,116,1277,1081,63,454,829,491,274,209
DiasABP,162,257,88,85,59,187,912,760,447,3810,8483,5085,2435,2026
FiO2,210,258,42,70,164,192,906,732,149,1061,2008,1245,539,548
GCS,365,457,145,86,314,278,1274,1087,243,2066,3839,2100,1059,865
Gender,1050,1347,347,520,861,671,1293,1104,39,333,475,213,91,85
Glucose,123,129,48,20,96,89,1263,1074,60,430,765,417,237,186
HCO3,126,129,48,24,94,90,1276,1077,61,444,792,456,253,201
HCT,148,175,53,43,102,125,1275,1081,59,578,1133,648,340,243
HR,535,667,198,128,476,402,1274,1087,728,5957,11726,6827,3398,2750
Height,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
ICUType,1050,1347,347,520,861,671,1293,1104,39,333,475,213,91,85
K,123,129,48,20,95,90,1270,1076,62,484,860,471,261,211
Lactate,120,150,24,35,97,114,689,574,38,253,386,270,177,167
MAP,157,248,88,84,53,180,912,760,444,3798,8468,5025,2428,2028
MechVent,187,240,36,74,137,180,822,689,147,1017,1924,1221,510,531
Mg,95,96,32,15,74,71,1268,1066,57,456,858,495,253,221
NIDiasABP,410,500,139,53,444,276,1121,962,320,2625,4394,2417,1179,880
NIMAP,406,498,140,53,438,275,1118,961,299,2606,4366,2391,1171,871
NISysABP,410,501,139,53,445,276,1123,967,320,2626,4403,2419,1180,882
Na,121,129,48,18,94,91,1275,1076,61,445,768,452,246,194
PaCO2,218,328,38,308,76,124,984,815,94,760,1543,1036,463,449
PaO2,213,326,38,304,75,122,983,816,94,759,1541,1036,463,450
Platelets,153,173,54,54,94,124,1275,1081,52,459,880,491,255,180
RespRate,179,198,85,20,158,116,353,315,208,1368,1986,561,680,471
SaO2,36,44,26,19,9,26,605,482,25,252,727,507,266,205
SysABP,162,257,88,85,59,187,912,760,447,3810,8483,5086,2435,2026
Temp,412,502,145,103,334,332,1274,1087,250,2500,5636,3627,1779,1354
TroponinI,6,6,4,1,5,2,84,34,7,18,34,16,7,1
TroponinT,20,35,16,5,25,10,352,148,8,91,80,62,38,39
Urine,344,415,124,98,268,270,1265,1076,486,4609,9219,5691,2735,2164
WBC,141,163,53,38,95,118,1274,1080,48,418,805,441,241,172
Weight,1050,1347,347,520,861,671,1293,1104,750,6131,11983,6942,3451,2799
pH,221,333,38,311,79,126,991,818,95,802,1677,1126,492,467