In [2]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [3]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-02 09:42:49 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-02 09:42:49 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-02 09:42:49 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-02 09:42:49 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [4]:
train_X = physionet2012_dataset['train_X']

In [67]:
# teste = train_X[train_X['Gender'] == 0.0]
# teste["RecordID"].value_counts()

RecordID
132548    1
152763    1
152774    1
152792    1
152804    1
         ..
142676    1
142690    1
142692    1
142704    1
163037    1
Name: count, Length: 3398, dtype: int64

In [6]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3398
level_1        3398
Time           3398
ALP             144
ALT             153
AST             151
Age            3398
Albumin         122
BUN             427
Bilirubin       143
Cholesterol      18
Creatinine      427
DiasABP         571
FiO2            642
GCS            1231
Gender         3398
Glucose         381
HCO3            396
HCT             466
HR             1733
Height         3398
ICUType        3398
K               391
Lactate         413
MAP             551
MechVent        605
Mg              295
NIDiasABP      1327
NIMAP          1320
NISysABP       1329
Na              385
PaCO2           699
PaO2            690
Platelets       467
RespRate        551
SaO2            115
SysABP          571
Temp           1287
TroponinI        16
TroponinT        72
Urine          1103
WBC             431
Weight         3398
pH              703
dtype: int64

In [7]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4268
level_1        4268
Time           4268
ALP             196
ALT             203
AST             204
Age            4268
Albumin         180
BUN             487
Bilirubin       196
Cholesterol      24
Creatinine      487
DiasABP         780
FiO2            782
GCS            1440
Gender         4268
Glucose         421
HCO3            437
HCT             549
HR             2047
Height         4268
ICUType        4268
K               434
Lactate         481
MAP             755
MechVent        758
Mg              336
NIDiasABP      1527
NIMAP          1521
NISysABP       1527
Na              431
PaCO2          1034
PaO2           1022
Platelets       567
RespRate        558
SaO2            150
SysABP          781
Temp           1572
TroponinI        11
TroponinT       121
Urine          1219
WBC             508
Weight         4268
pH             1045
dtype: int64

In [8]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1109
level_1        1109
Time           1109
ALP              70
ALT              74
AST              74
Age            1109
Albumin          60
BUN             160
Bilirubin        66
Cholesterol      31
Creatinine      160
DiasABP         245
FiO2            141
GCS             454
Gender         1109
Glucose         155
HCO3            157
HCT             162
HR              603
Height         1109
ICUType        1109
K               161
Lactate          59
MAP             244
MechVent        126
Mg               93
NIDiasABP       431
NIMAP           432
NISysABP        432
Na              158
PaCO2           108
PaO2            107
Platelets       162
RespRate        257
SaO2             78
SysABP          245
Temp            426
TroponinI         7
TroponinT        70
Urine           338
WBC             158
Weight         1109
pH              110
dtype: int64

In [9]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1649
level_1        1649
Time           1649
ALP              19
ALT              20
AST              20
Age            1649
Albumin          16
BUN              83
Bilirubin        19
Cholesterol       4
Creatinine       83
DiasABP         295
FiO2            207
GCS             281
Gender         1649
Glucose          54
HCO3             75
HCT             157
HR              414
Height         1649
ICUType        1649
K                55
Lactate         105
MAP             292
MechVent        242
Mg               50
NIDiasABP       153
NIMAP           154
NISysABP        153
Na               53
PaCO2           985
PaO2            970
Platelets       180
RespRate         48
SaO2             72
SysABP          295
Temp            341
TroponinI         3
TroponinT        12
Urine           309
WBC             129
Weight         1649
pH              987
dtype: int64

In [10]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2734
level_1        2734
Time           2734
ALP             169
ALT             177
AST             176
Age            2734
Albumin         156
BUN             348
Bilirubin       172
Cholesterol       5
Creatinine      349
DiasABP         212
FiO2            514
GCS            1058
Gender         2734
Glucose         342
HCO3            344
HCT             346
HR             1519
Height         2734
ICUType        2734
K               350
Lactate         357
MAP             194
MechVent        456
Mg              280
NIDiasABP      1400
NIMAP          1390
NISysABP       1401
Na              347
PaCO2           247
PaO2            248
Platelets       327
RespRate        462
SaO2             33
SysABP          213
Temp           1073
TroponinI        13
TroponinT        78
Urine           824
WBC             324
Weight         2734
pH              256
dtype: int64

In [11]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2179
level_1        2179
Time           2179
ALP              82
ALT              85
AST              85
Age            2179
Albumin          70
BUN             325
Bilirubin        82
Cholesterol       2
Creatinine      324
DiasABP         600
FiO2            563
GCS             879
Gender         2179
Glucose         253
HCO3            259
HCT             351
HR             1247
Height         2179
ICUType        2179
K               261
Lactate         374
MAP             577
MechVent        540
Mg              210
NIDiasABP       872
NIMAP           867
NISysABP        872
Na              260
PaCO2           394
PaO2            388
Platelets       366
RespRate        344
SaO2             82
SysABP          600
Temp           1020
TroponinI         4
TroponinT        34
Urine           852
WBC             329
Weight         2179
pH              396
dtype: int64

In [12]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training

RecordID       191192
level_1        191192
Time           191192
ALP              2703
ALT              2771
AST              2771
Age            191192
Albumin          2227
BUN             14255
Bilirubin        2817
Cholesterol       372
Creatinine      14331
DiasABP        112004
FiO2            31851
GCS             62687
Gender           4210
Glucose         13191
HCO3            13920
HCT             19103
HR             183661
Height         191192
ICUType          4210
K               14829
Lactate          7958
MAP            111523
MechVent        30214
Mg              14015
NIDiasABP       84224
NIMAP           83239
NISysABP        84292
Na              13750
PaCO2           23965
PaO2            23931
Platelets       14666
RespRate        48148
SaO2             9367
SysABP         112012
Temp            78682
TroponinI         523
TroponinT        2764
Urine          144254
WBC             13302
Weight         107913
pH              25112
dtype: int64

In [68]:
# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

RecordID
132540    48
142158    48
142133    48
153060    48
153081    48
          ..
144249     3
148471     3
136022     3
136278     3
158238     2
Name: count, Length: 4210, dtype: int64

In [13]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].count()
less_than_or_equal_to_65_training

RecordID       155484
level_1        155484
Time           155484
ALP              3290
ALT              3414
AST              3408
Age            155484
Albumin          2411
BUN             12428
Bilirubin        3418
Cholesterol       257
Creatinine      12475
DiasABP         87976
FiO2            25876
GCS             55049
Gender           3461
Glucose         11876
HCO3            12193
HCT             15940
HR             148479
Height         155484
ICUType          3461
K               13099
Lactate          7216
MAP             87355
MechVent        25178
Mg              12108
NIDiasABP       69700
NIMAP           68439
NISysABP        69764
Na              12360
PaCO2           18657
PaO2            18611
Platelets       12603
RespRate        39203
SaO2             5550
SysABP          87984
Temp            58578
TroponinI         211
TroponinT        1161
Urine          111129
WBC             11508
Weight          85243
pH              19467
dtype: int64

In [14]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [15]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [16]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101110, dtype: float64

In [17]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [18]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         2471
level_1          2471
Time             2471
ALP                41
ALT                41
AST                41
Age              2471
Albumin            30
BUN               195
Bilirubin          42
Cholesterol         9
Creatinine        197
DiasABP          1636
FiO2              506
GCS               900
Gender            130
Glucose           187
HCO3              192
HCT               224
HR               2403
Height           2471
ICUType           130
K                 197
Lactate           161
MAP              1647
MechVent          490
Mg                187
NIDiasABP         955
NIMAP             934
NISysABP          955
Na                193
PaCO2             324
PaO2              324
Platelets         184
RespRate          444
SaO2              116
SysABP           1636
Temp              906
TroponinI          10
TroponinT          34
Urine            1757
WBC               167
Weight           2471
pH                330
BMI              2471
Classificacao    2471
dtype: int64

In [19]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         23523
level_1          23523
Time             23523
ALP                406
ALT                416
AST                414
Age              23523
Albumin            337
BUN               1745
Bilirubin          423
Cholesterol         41
Creatinine        1748
DiasABP          14359
FiO2              3926
GCS               7715
Gender            1179
Glucose           1617
HCO3              1684
HCT               2262
HR               22878
Height           23523
ICUType           1179
K                 1827
Lactate            999
MAP              14243
MechVent          3769
Mg                1699
NIDiasABP        10174
NIMAP            10104
NISysABP         10180
Na                1673
PaCO2             2833
PaO2              2829
Platelets         1750
RespRate          4939
SaO2              1088
SysABP           14359
Temp              9843
TroponinI           66
TroponinT          274
Urine            17056
WBC               1587
Weight           23523
pH                2999
BMI              23523
Classificacao    23523
dtype: int64

In [20]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         32477
level_1          32477
Time             32477
ALP                507
ALT                519
AST                521
Age              32477
Albumin            377
BUN               2286
Bilirubin          536
Cholesterol         53
Creatinine        2297
DiasABP          22187
FiO2              5265
GCS              10017
Gender            1352
Glucose           2110
HCO3              2217
HCT               3205
HR               31733
Height           32477
ICUType           1352
K                 2363
Lactate           1204
MAP              22189
MechVent          5195
Mg                2367
NIDiasABP        12256
NIMAP            12095
NISysABP         12272
Na                2182
PaCO2             4243
PaO2              4238
Platelets         2438
RespRate          5352
SaO2              2087
SysABP           22190
Temp             15652
TroponinI           62
TroponinT          293
Urine            25285
WBC               2191
Weight           32477
pH                4641
BMI              32477
Classificacao    32477
dtype: int64

In [21]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         21605
level_1          21605
Time             21605
ALP                323
ALT                328
AST                326
Age              21605
Albumin            245
BUN               1505
Bilirubin          328
Cholesterol         22
Creatinine        1507
DiasABP          15903
FiO2              3917
GCS               6463
Gender             727
Glucose           1348
HCO3              1452
HCT               2030
HR               21215
Height           21605
ICUType            727
K                 1543
Lactate            891
MAP              15845
MechVent          3767
Mg                1568
NIDiasABP         7187
NIMAP             7121
NISysABP          7191
Na                1441
PaCO2             3124
PaO2              3119
Platelets         1510
RespRate          2471
SaO2              1502
SysABP           15904
Temp             10945
TroponinI           61
TroponinT          203
Urine            17557
WBC               1380
Weight           21605
pH                3342
BMI              21605
Classificacao    21605
dtype: int64

In [22]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         9809
level_1          9809
Time             9809
ALP               152
ALT               152
AST               151
Age              9809
Albumin            96
BUN               686
Bilirubin         152
Cholesterol        13
Creatinine        688
DiasABP          7327
FiO2             1798
GCS              2900
Gender            291
Glucose           627
HCO3              648
HCT               904
HR               9639
Height           9809
ICUType           291
K                 691
Lactate           505
MAP              7338
MechVent         1684
Mg                701
NIDiasABP        3104
NIMAP            3056
NISysABP         3106
Na                632
PaCO2            1496
PaO2             1494
Platelets         678
RespRate         1241
SaO2              728
SysABP           7328
Temp             5247
TroponinI          11
TroponinT          96
Urine            8035
WBC               621
Weight           9809
pH               1609
BMI              9809
Classificacao    9809
dtype: int64

In [23]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         9469
level_1          9469
Time             9469
ALP               159
ALT               165
AST               164
Age              9469
Albumin           121
BUN               644
Bilirubin         169
Cholesterol        15
Creatinine        644
DiasABP          6537
FiO2             1713
GCS              2724
Gender            268
Glucose           583
HCO3              621
HCT               841
HR               9327
Height           9469
ICUType           268
K                 661
Lactate           447
MAP              6557
MechVent         1697
Mg                669
NIDiasABP        3190
NIMAP            3146
NISysABP         3197
Na                622
PaCO2            1341
PaO2             1343
Platelets         643
RespRate         1556
SaO2              615
SysABP           6538
Temp             4614
TroponinI          16
TroponinT         103
Urine            7577
WBC               581
Weight           9469
pH               1416
BMI              9469
Classificacao    9469
dtype: int64

In [24]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [25]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,3398,4268,1109,1649,2734,2179,191192,155484,2471,23523,32477,21605,9809,9469
level_1,3398,4268,1109,1649,2734,2179,191192,155484,2471,23523,32477,21605,9809,9469
Time,3398,4268,1109,1649,2734,2179,191192,155484,2471,23523,32477,21605,9809,9469
ALP,144,196,70,19,169,82,2703,3290,41,406,507,323,152,159
ALT,153,203,74,20,177,85,2771,3414,41,416,519,328,152,165
AST,151,204,74,20,176,85,2771,3408,41,414,521,326,151,164
Age,3398,4268,1109,1649,2734,2179,191192,155484,2471,23523,32477,21605,9809,9469
Albumin,122,180,60,16,156,70,2227,2411,30,337,377,245,96,121
BUN,427,487,160,83,348,325,14255,12428,195,1745,2286,1505,686,644
Bilirubin,143,196,66,19,172,82,2817,3418,42,423,536,328,152,169
Cholesterol,18,24,31,4,5,2,372,257,9,41,53,22,13,15
Creatinine,427,487,160,83,349,324,14331,12475,197,1748,2297,1507,688,644
DiasABP,571,780,245,295,212,600,112004,87976,1636,14359,22187,15903,7327,6537
FiO2,642,782,141,207,514,563,31851,25876,506,3926,5265,3917,1798,1713
GCS,1231,1440,454,281,1058,879,62687,55049,900,7715,10017,6463,2900,2724
Gender,3398,4268,1109,1649,2734,2179,4210,3461,130,1179,1352,727,291,268
Glucose,381,421,155,54,342,253,13191,11876,187,1617,2110,1348,627,583
HCO3,396,437,157,75,344,259,13920,12193,192,1684,2217,1452,648,621
HCT,466,549,162,157,346,351,19103,15940,224,2262,3205,2030,904,841
HR,1733,2047,603,414,1519,1247,183661,148479,2403,22878,31733,21215,9639,9327
Height,3398,4268,1109,1649,2734,2179,191192,155484,2471,23523,32477,21605,9809,9469
ICUType,3398,4268,1109,1649,2734,2179,4210,3461,130,1179,1352,727,291,268
K,391,434,161,55,350,261,14829,13099,197,1827,2363,1543,691,661
Lactate,413,481,59,105,357,374,7958,7216,161,999,1204,891,505,447
MAP,551,755,244,292,194,577,111523,87355,1647,14243,22189,15845,7338,6557
MechVent,605,758,126,242,456,540,30214,25178,490,3769,5195,3767,1684,1697
Mg,295,336,93,50,280,210,14015,12108,187,1699,2367,1568,701,669
NIDiasABP,1327,1527,431,153,1400,872,84224,69700,955,10174,12256,7187,3104,3190
NIMAP,1320,1521,432,154,1390,867,83239,68439,934,10104,12095,7121,3056,3146
NISysABP,1329,1527,432,153,1401,872,84292,69764,955,10180,12272,7191,3106,3197
Na,385,431,158,53,347,260,13750,12360,193,1673,2182,1441,632,622
PaCO2,699,1034,108,985,247,394,23965,18657,324,2833,4243,3124,1496,1341
PaO2,690,1022,107,970,248,388,23931,18611,324,2829,4238,3119,1494,1343
Platelets,467,567,162,180,327,366,14666,12603,184,1750,2438,1510,678,643
RespRate,551,558,257,48,462,344,48148,39203,444,4939,5352,2471,1241,1556
SaO2,115,150,78,72,33,82,9367,5550,116,1088,2087,1502,728,615
SysABP,571,781,245,295,213,600,112012,87984,1636,14359,22190,15904,7328,6538
Temp,1287,1572,426,341,1073,1020,78682,58578,906,9843,15652,10945,5247,4614
TroponinI,16,11,7,3,13,4,523,211,10,66,62,61,11,16
TroponinT,72,121,70,12,78,34,2764,1161,34,274,293,203,96,103
Urine,1103,1219,338,309,824,852,144254,111129,1757,17056,25285,17557,8035,7577
WBC,431,508,158,129,324,329,13302,11508,167,1587,2191,1380,621,581
Weight,3398,4268,1109,1649,2734,2179,107913,85243,2471,23523,32477,21605,9809,9469
pH,703,1045,110,987,256,396,25112,19467,330,2999,4641,3342,1609,1416

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [26]:
validation_X = physionet2012_dataset['val_X']

In [27]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       828
level_1        828
Time           828
ALP             34
ALT             34
AST             34
Age            828
Albumin         32
BUN            100
Bilirubin       34
Cholesterol      5
Creatinine     100
DiasABP        172
FiO2           167
GCS            308
Gender         828
Glucose         91
HCO3            93
HCT            108
HR             451
Height         828
ICUType        828
K               93
Lactate         89
MAP            163
MechVent       162
Mg              75
NIDiasABP      336
NIMAP          332
NISysABP       337
Na              93
PaCO2          147
PaO2           140
Platelets      107
RespRate       135
SaO2            20
SysABP         172
Temp           342
TroponinI        2
TroponinT       16
Urine          282
WBC             97
Weight         828
pH             148
dtype: int64

In [28]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1087
level_1        1087
Time           1087
ALP              55
ALT              57
AST              58
Age            1087
Albumin          47
BUN             131
Bilirubin        56
Cholesterol       3
Creatinine      131
DiasABP         214
FiO2            205
GCS             381
Gender         1087
Glucose         114
HCO3            116
HCT             154
HR              541
Height         1087
ICUType        1087
K               114
Lactate         133
MAP             211
MechVent        190
Mg               91
NIDiasABP       399
NIMAP           396
NISysABP        399
Na              113
PaCO2           288
PaO2            279
Platelets       153
RespRate        162
SaO2             33
SysABP          214
Temp            401
TroponinI         6
TroponinT        23
Urine           353
WBC             142
Weight         1087
pH              291
dtype: int64

In [29]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       277
level_1        277
Time           277
ALP             16
ALT             16
AST             17
Age            277
Albumin         14
BUN             32
Bilirubin       16
Cholesterol      4
Creatinine      32
DiasABP         80
FiO2            38
GCS            124
Gender         277
Glucose         31
HCO3            31
HCT             33
HR             175
Height         277
ICUType        277
K               32
Lactate         10
MAP             78
MechVent        31
Mg              22
NIDiasABP      123
NIMAP          123
NISysABP       123
Na              32
PaCO2           34
PaO2            34
Platelets       31
RespRate        64
SaO2            18
SysABP          80
Temp           114
TroponinI        2
TroponinT       10
Urine           92
WBC             30
Weight         277
pH              34
dtype: int64

In [30]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       388
level_1        388
Time           388
ALP              6
ALT              7
AST              7
Age            388
Albumin          5
BUN             23
Bilirubin        7
Cholesterol      2
Creatinine      23
DiasABP         75
FiO2            53
GCS             58
Gender         388
Glucose         17
HCO3            22
HCT             43
HR              97
Height         388
ICUType        388
K               17
Lactate         23
MAP             74
MechVent        58
Mg              15
NIDiasABP       32
NIMAP           32
NISysABP        32
Na              17
PaCO2          211
PaO2           205
Platelets       48
RespRate         9
SaO2             6
SysABP          75
Temp            76
TroponinI        1
TroponinT        3
Urine           70
WBC             38
Weight         388
pH             213
dtype: int64

In [31]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       694
level_1        694
Time           694
ALP             40
ALT             41
AST             41
Age            694
Albumin         36
BUN             85
Bilirubin       40
Cholesterol      1
Creatinine      85
DiasABP         63
FiO2           127
GCS            276
Gender         694
Glucose         88
HCO3            86
HCT             84
HR             396
Height         694
ICUType        694
K               88
Lactate         83
MAP             57
MechVent       117
Mg              67
NIDiasABP      356
NIMAP          351
NISysABP       357
Na              87
PaCO2           79
PaO2            73
Platelets       78
RespRate       140
SaO2            10
SysABP          63
Temp           291
TroponinI        4
TroponinT       16
Urine          247
WBC             78
Weight         694
pH              80
dtype: int64

In [32]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       559
level_1        559
Time           559
ALP             27
ALT             27
AST             27
Age            559
Albumin         24
BUN             91
Bilirubin       27
Cholesterol      1
Creatinine      91
DiasABP        168
FiO2           154
GCS            233
Gender         559
Glucose         69
HCO3            70
HCT            102
HR             325
Height         559
ICUType        559
K               70
Lactate        106
MAP            165
MechVent       146
Mg              62
NIDiasABP      225
NIMAP          223
NISysABP       225
Na              70
PaCO2          111
PaO2           107
Platelets      103
RespRate        84
SaO2            19
SysABP         168
Temp           263
TroponinI        1
TroponinT       10
Urine          226
WBC             93
Weight         559
pH             112
dtype: int64

In [33]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].count()
more_than_or_equal_to_65_validation

RecordID       46364
level_1        46364
Time           46364
ALP              656
ALT              672
AST              678
Age            46364
Albumin          544
BUN             3476
Bilirubin        693
Cholesterol      108
Creatinine      3497
DiasABP        25838
FiO2            7618
GCS            15409
Gender          1028
Glucose         3248
HCO3            3407
HCT             4690
HR             44336
Height         46364
ICUType         1028
K               3638
Lactate         1892
MAP            25663
MechVent        6978
Mg              3461
NIDiasABP      21813
NIMAP          21607
NISysABP       21831
Na              3390
PaCO2           5596
PaO2            5579
Platelets       3546
RespRate       12964
SaO2            2212
SysABP         25839
Temp           18956
TroponinI        118
TroponinT        722
Urine          34397
WBC             3263
Weight         26842
pH              5840
dtype: int64

In [34]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].count()
less_than_or_equal_to_65_validation

RecordID       40355
level_1        40355
Time           40355
ALP              939
ALT              969
AST              968
Age            40355
Albumin          658
BUN             3211
Bilirubin        969
Cholesterol       69
Creatinine      3226
DiasABP        23541
FiO2            6898
GCS            14593
Gender           890
Glucose         3084
HCO3            3149
HCT             4108
HR             38686
Height         40355
ICUType          890
K               3384
Lactate         1889
MAP            23432
MechVent        6901
Mg              3133
NIDiasABP      17771
NIMAP          17510
NISysABP       17787
Na              3181
PaCO2           4975
PaO2            4965
Platelets       3248
RespRate        9865
SaO2            1485
SysABP         23542
Temp           15395
TroponinI         57
TroponinT        272
Urine          29329
WBC             2986
Weight         23081
pH              5184
dtype: int64

In [35]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [36]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

912       1.651
958       1.651
959       1.651
1584      1.626
2304      1.575
          ...
574315    1.600
574316    1.600
574317    1.600
574318    1.600
574319    1.600
Name: Height, Length: 25401, dtype: float64

In [37]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
912,132585,0,0.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.7,NaN,31.073435,Obesidade grau 1
958,132585,46,46.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,90.5,NaN,NaN,NaN,320.0,NaN,90.7,NaN,33.274623,Obesidade grau 1
959,132585,47,47.0,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,95.0,NaN,NaN,NaN,380.0,NaN,90.7,NaN,33.274623,Obesidade grau 1
1584,132614,0,0.0,NaN,NaN,NaN,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,22.315721,Peso normal
2304,132648,0,0.0,NaN,NaN,NaN,87.0,NaN,NaN,NaN,...,144.0,37.8,NaN,NaN,1112.5,NaN,66.0,NaN,26.606198,Sobrepeso

In [38]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         525
level_1          525
Time             525
ALP               11
ALT               11
AST               11
Age              525
Albumin            7
BUN               43
Bilirubin         11
Cholesterol        0
Creatinine        43
DiasABP          267
FiO2              78
GCS              154
Gender            20
Glucose           42
HCO3              43
HCT               53
HR               516
Height           525
ICUType           20
K                 45
Lactate           25
MAP              267
MechVent          98
Mg                38
NIDiasABP        262
NIMAP            245
NISysABP         262
Na                45
PaCO2             80
PaO2              80
Platelets         43
RespRate         105
SaO2              10
SysABP           267
Temp             196
TroponinI          4
TroponinT          5
Urine            360
WBC               39
Weight           525
pH                80
BMI              525
Classificacao    525
dtype: int64

In [39]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         5216
level_1          5216
Time             5216
ALP               110
ALT               110
AST               110
Age              5216
Albumin            82
BUN               413
Bilirubin         116
Cholesterol        11
Creatinine        414
DiasABP          3303
FiO2              968
GCS              1792
Gender            274
Glucose           385
HCO3              404
HCT               548
HR               5065
Height           5216
ICUType           274
K                 432
Lactate           291
MAP              3254
MechVent          894
Mg                407
NIDiasABP        2157
NIMAP            2141
NISysABP         2159
Na                404
PaCO2             732
PaO2              735
Platelets         423
RespRate         1049
SaO2              289
SysABP           3303
Temp             2375
TroponinI          15
TroponinT          55
Urine            3993
WBC               393
Weight           5216
pH                769
BMI              5216
Classificacao    5216
dtype: int64

In [40]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         8133
level_1          8133
Time             8133
ALP               155
ALT               159
AST               160
Age              8133
Albumin            99
BUN               576
Bilirubin         163
Cholesterol        15
Creatinine        580
DiasABP          5756
FiO2             1284
GCS              2567
Gender            317
Glucose           552
HCO3              561
HCT               742
HR               7965
Height           8133
ICUType           317
K                 602
Lactate           268
MAP              5710
MechVent         1218
Mg                602
NIDiasABP        3000
NIMAP            2972
NISysABP         3005
Na                551
PaCO2             991
PaO2              985
Platelets         581
RespRate         1458
SaO2              453
SysABP           5756
Temp             3769
TroponinI          13
TroponinT          97
Urine            6289
WBC               534
Weight           8133
pH               1067
BMI              8133
Classificacao    8133
dtype: int64

In [41]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         5883
level_1          5883
Time             5883
ALP                94
ALT                92
AST                94
Age              5883
Albumin            72
BUN               411
Bilirubin          98
Cholesterol        16
Creatinine        414
DiasABP          3941
FiO2              920
GCS              1808
Gender            196
Glucose           371
HCO3              381
HCT               556
HR               5773
Height           5883
ICUType           196
K                 408
Lactate           207
MAP              3954
MechVent          896
Mg                427
NIDiasABP        2335
NIMAP            2308
NISysABP         2337
Na                375
PaCO2             760
PaO2              760
Platelets         411
RespRate          970
SaO2              403
SysABP           3941
Temp             2995
TroponinI          14
TroponinT          69
Urine            4619
WBC               373
Weight           5883
pH                839
BMI              5883
Classificacao    5883
dtype: int64

In [42]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         2931
level_1          2931
Time             2931
ALP                35
ALT                36
AST                36
Age              2931
Albumin            38
BUN               212
Bilirubin          38
Cholesterol         6
Creatinine        213
DiasABP          2036
FiO2              525
GCS               896
Gender             90
Glucose           194
HCO3              202
HCT               281
HR               2889
Height           2931
ICUType            90
K                 221
Lactate           149
MAP              2032
MechVent          493
Mg                213
NIDiasABP        1146
NIMAP            1131
NISysABP         1147
Na                201
PaCO2             418
PaO2              418
Platelets         216
RespRate          432
SaO2              205
SysABP           2036
Temp             1440
TroponinI           3
TroponinT          44
Urine            2303
WBC               204
Weight           2931
pH                437
BMI              2931
Classificacao    2931
dtype: int64

In [43]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         2279
level_1          2279
Time             2279
ALP                50
ALT                51
AST                51
Age              2279
Albumin            39
BUN               169
Bilirubin          53
Cholesterol         2
Creatinine        170
DiasABP          1736
FiO2              567
GCS               691
Gender             67
Glucose           154
HCO3              165
HCT               211
HR               2247
Height           2279
ICUType            67
K                 163
Lactate           139
MAP              1733
MechVent          497
Mg                186
NIDiasABP         657
NIMAP             654
NISysABP          657
Na                160
PaCO2             401
PaO2              403
Platelets         153
RespRate          262
SaO2              186
SysABP           1736
Temp             1218
TroponinI           2
TroponinT          14
Urine            1956
WBC               141
Weight           2279
pH                419
BMI              2279
Classificacao    2279
dtype: int64

In [44]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [45]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,828,1087,277,388,694,559,46364,40355,525,5216,8133,5883,2931,2279
level_1,828,1087,277,388,694,559,46364,40355,525,5216,8133,5883,2931,2279
Time,828,1087,277,388,694,559,46364,40355,525,5216,8133,5883,2931,2279
ALP,34,55,16,6,40,27,656,939,11,110,155,94,35,50
ALT,34,57,16,7,41,27,672,969,11,110,159,92,36,51
AST,34,58,17,7,41,27,678,968,11,110,160,94,36,51
Age,828,1087,277,388,694,559,46364,40355,525,5216,8133,5883,2931,2279
Albumin,32,47,14,5,36,24,544,658,7,82,99,72,38,39
BUN,100,131,32,23,85,91,3476,3211,43,413,576,411,212,169
Bilirubin,34,56,16,7,40,27,693,969,11,116,163,98,38,53
Cholesterol,5,3,4,2,1,1,108,69,0,11,15,16,6,2
Creatinine,100,131,32,23,85,91,3497,3226,43,414,580,414,213,170
DiasABP,172,214,80,75,63,168,25838,23541,267,3303,5756,3941,2036,1736
FiO2,167,205,38,53,127,154,7618,6898,78,968,1284,920,525,567
GCS,308,381,124,58,276,233,15409,14593,154,1792,2567,1808,896,691
Gender,828,1087,277,388,694,559,1028,890,20,274,317,196,90,67
Glucose,91,114,31,17,88,69,3248,3084,42,385,552,371,194,154
HCO3,93,116,31,22,86,70,3407,3149,43,404,561,381,202,165
HCT,108,154,33,43,84,102,4690,4108,53,548,742,556,281,211
HR,451,541,175,97,396,325,44336,38686,516,5065,7965,5773,2889,2247
Height,828,1087,277,388,694,559,46364,40355,525,5216,8133,5883,2931,2279
ICUType,828,1087,277,388,694,559,1028,890,20,274,317,196,90,67
K,93,114,32,17,88,70,3638,3384,45,432,602,408,221,163
Lactate,89,133,10,23,83,106,1892,1889,25,291,268,207,149,139
MAP,163,211,78,74,57,165,25663,23432,267,3254,5710,3954,2032,1733
MechVent,162,190,31,58,117,146,6978,6901,98,894,1218,896,493,497
Mg,75,91,22,15,67,62,3461,3133,38,407,602,427,213,186
NIDiasABP,336,399,123,32,356,225,21813,17771,262,2157,3000,2335,1146,657
NIMAP,332,396,123,32,351,223,21607,17510,245,2141,2972,2308,1131,654
NISysABP,337,399,123,32,357,225,21831,17787,262,2159,3005,2337,1147,657
Na,93,113,32,17,87,70,3390,3181,45,404,551,375,201,160
PaCO2,147,288,34,211,79,111,5596,4975,80,732,991,760,418,401
PaO2,140,279,34,205,73,107,5579,4965,80,735,985,760,418,403
Platelets,107,153,31,48,78,103,3546,3248,43,423,581,411,216,153
RespRate,135,162,64,9,140,84,12964,9865,105,1049,1458,970,432,262
SaO2,20,33,18,6,10,19,2212,1485,10,289,453,403,205,186
SysABP,172,214,80,75,63,168,25839,23542,267,3303,5756,3941,2036,1736
Temp,342,401,114,76,291,263,18956,15395,196,2375,3769,2995,1440,1218
TroponinI,2,6,2,1,4,1,118,57,4,15,13,14,3,2
TroponinT,16,23,10,3,16,10,722,272,5,55,97,69,44,14
Urine,282,353,92,70,247,226,34397,29329,360,3993,6289,4619,2303,1956
WBC,97,142,30,38,78,93,3263,2986,39,393,534,373,204,141
Weight,828,1087,277,388,694,559,26842,23081,525,5216,8133,5883,2931,2279
pH,148,291,34,213,80,112,5840,5184,80,769,1067,839,437,419

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [46]:
test_X = physionet2012_dataset['test_X']

In [47]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1033
level_1        1033
Time           1033
ALP              48
ALT              49
AST              48
Age            1033
Albumin          40
BUN             118
Bilirubin        48
Cholesterol       4
Creatinine      118
DiasABP         179
FiO2            193
GCS             383
Gender         1033
Glucose         106
HCO3            104
HCT             128
HR              544
Height         1033
ICUType        1033
K               106
Lactate         116
MAP             177
MechVent        182
Mg               84
NIDiasABP       414
NIMAP           407
NISysABP        414
Na              104
PaCO2           210
PaO2            206
Platelets       127
RespRate        175
SaO2             34
SysABP          179
Temp            406
TroponinI         2
TroponinT        25
Urine           340
WBC             122
Weight         1033
pH              214
dtype: int64

In [48]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1362
level_1        1362
Time           1362
ALP              59
ALT              57
AST              58
Age            1362
Albumin          47
BUN             166
Bilirubin        58
Cholesterol       7
Creatinine      167
DiasABP         294
FiO2            241
GCS             490
Gender         1362
Glucose         145
HCO3            148
HCT             180
HR              688
Height         1362
ICUType        1362
K               150
Lactate         158
MAP             281
MechVent        226
Mg              109
NIDiasABP       498
NIMAP           493
NISysABP        499
Na              148
PaCO2           349
PaO2            345
Platelets       184
RespRate        212
SaO2             58
SysABP          295
Temp            517
TroponinI         7
TroponinT        38
Urine           427
WBC             171
Weight         1362
pH              352
dtype: int64

In [49]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       379
level_1        379
Time           379
ALP             27
ALT             27
AST             26
Age            379
Albumin         25
BUN             61
Bilirubin       27
Cholesterol      8
Creatinine      61
DiasABP        105
FiO2            48
GCS            181
Gender         379
Glucose         57
HCO3            58
HCT             60
HR             244
Height         379
ICUType        379
K               60
Lactate         21
MAP            102
MechVent        43
Mg              34
NIDiasABP      178
NIMAP          176
NISysABP       178
Na              58
PaCO2           53
PaO2            53
Platelets       60
RespRate       107
SaO2            35
SysABP         105
Temp           169
TroponinI        5
TroponinT       23
Urine          122
WBC             58
Weight         379
pH              54
dtype: int64

In [50]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       491
level_1        491
Time           491
ALP              6
ALT              6
AST              6
Age            491
Albumin          5
BUN             18
Bilirubin        6
Cholesterol      0
Creatinine      19
DiasABP         84
FiO2            54
GCS             64
Gender         491
Glucose         17
HCO3            17
HCT             29
HR             117
Height         491
ICUType        491
K               17
Lactate         30
MAP             84
MechVent        65
Mg              12
NIDiasABP       45
NIMAP           45
NISysABP        45
Na              15
PaCO2          293
PaO2           290
Platelets       36
RespRate        21
SaO2            16
SysABP          84
Temp            87
TroponinI        0
TroponinT        1
Urine           91
WBC             26
Weight         491
pH             294
dtype: int64

In [51]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       859
level_1        859
Time           859
ALP             46
ALT             45
AST             46
Age            859
Albumin         36
BUN             99
Bilirubin       46
Cholesterol      1
Creatinine      99
DiasABP         63
FiO2           141
GCS            315
Gender         859
Glucose         97
HCO3            96
HCT            100
HR             458
Height         859
ICUType        859
K               98
Lactate        101
MAP             57
MechVent       124
Mg              79
NIDiasABP      421
NIMAP          413
NISysABP       422
Na              97
PaCO2           74
PaO2            71
Platelets       96
RespRate       155
SaO2            11
SysABP          64
Temp           325
TroponinI        3
TroponinT       25
Urine          256
WBC             96
Weight         859
pH              78
dtype: int64

In [52]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       670
level_1        670
Time           670
ALP             28
ALT             28
AST             28
Age            670
Albumin         21
BUN            106
Bilirubin       27
Cholesterol      2
Creatinine     106
DiasABP        222
FiO2           192
GCS            315
Gender         670
Glucose         80
HCO3            81
HCT            119
HR             416
Height         670
ICUType        670
K               81
Lactate        122
MAP            216
MechVent       177
Mg              68
NIDiasABP      270
NIMAP          268
NISysABP       270
Na              82
PaCO2          140
PaO2           138
Platelets      119
RespRate       105
SaO2            30
SysABP         222
Temp           343
TroponinI        1
TroponinT       14
Urine          299
WBC            113
Weight         670
pH             141
dtype: int64

In [53]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].count()
more_than_or_equal_to_65_test

RecordID       59707
level_1        59707
Time           59707
ALP              824
ALT              839
AST              841
Age            59707
Albumin          719
BUN             4471
Bilirubin        852
Cholesterol      110
Creatinine      4484
DiasABP        34682
FiO2            9896
GCS            19839
Gender          1317
Glucose         4186
HCO3            4364
HCT             5879
HR             57346
Height         59707
ICUType         1317
K               4661
Lactate         2452
MAP            34511
MechVent        9233
Mg              4391
NIDiasABP      26675
NIMAP          26326
NISysABP       26704
Na              4346
PaCO2           7193
PaO2            7181
Platelets       4500
RespRate       16121
SaO2            2738
SysABP         34684
Temp           23778
TroponinI        176
TroponinT        872
Urine          44716
WBC             4149
Weight         33234
pH              7544
dtype: int64

In [54]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].count()
less_than_or_equal_to_65_test

RecordID       48654
level_1        48654
Time           48654
ALP             1013
ALT             1030
AST             1030
Age            48654
Albumin          680
BUN             3829
Bilirubin       1044
Cholesterol       78
Creatinine      3846
DiasABP        27757
FiO2            8191
GCS            16854
Gender          1082
Glucose         3684
HCO3            3752
HCT             4959
HR             46508
Height         48654
ICUType         1082
K               4051
Lactate         2287
MAP            27535
MechVent        8217
Mg              3727
NIDiasABP      21888
NIMAP          21616
NISysABP       21909
Na              3850
PaCO2           6033
PaO2            6032
Platelets       3842
RespRate       12141
SaO2            1771
SysABP         27760
Temp           18244
TroponinI         89
TroponinT        456
Urine          34753
WBC             3534
Weight         27755
pH              6300
dtype: int64

In [55]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [56]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

528       1.575
549       1.575
550       1.575
551       1.575
552       1.575
          ...
575034    1.600
575035    1.600
575037    1.600
575038    1.600
575039    1.600
Name: Height, Length: 32288, dtype: float64

In [57]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
528,132567,0,0.0,NaN,NaN,NaN,71.0,NaN,NaN,NaN,...,111.5,35.6,NaN,NaN,NaN,NaN,56.0,7.44,22.574956,Peso normal
549,132567,21,21.0,NaN,NaN,NaN,71.0,NaN,NaN,NaN,...,110.0,37.5,NaN,NaN,15.0,NaN,55.8,NaN,22.494331,Peso normal
550,132567,22,22.0,NaN,NaN,NaN,71.0,NaN,NaN,NaN,...,106.0,37.6,NaN,NaN,20.0,NaN,55.8,NaN,22.494331,Peso normal
551,132567,23,23.0,NaN,NaN,NaN,71.0,NaN,NaN,NaN,...,129.0,37.7,NaN,NaN,30.0,NaN,55.8,NaN,22.494331,Peso normal
552,132567,24,24.0,NaN,NaN,NaN,71.0,NaN,NaN,NaN,...,94.0,37.8,NaN,NaN,20.0,NaN,55.8,NaN,22.494331,Peso normal

In [58]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         771
level_1          771
Time             771
ALP               14
ALT               13
AST               13
Age              771
Albumin            8
BUN               62
Bilirubin         14
Cholesterol        1
Creatinine        62
DiasABP          476
FiO2             123
GCS              208
Gender            32
Glucose           61
HCO3              60
HCT               73
HR               756
Height           771
ICUType           32
K                 65
Lactate           36
MAP              477
MechVent         118
Mg                60
NIDiasABP        371
NIMAP            370
NISysABP         372
Na                58
PaCO2             80
PaO2              81
Platelets         55
RespRate         270
SaO2              15
SysABP           477
Temp             286
TroponinI          2
TroponinT          8
Urine            526
WBC               53
Weight           771
pH                88
BMI              771
Classificacao    771
dtype: int64

In [59]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         7751
level_1          7751
Time             7751
ALP               141
ALT               146
AST               148
Age              7751
Albumin           112
BUN               595
Bilirubin         148
Cholesterol        11
Creatinine        596
DiasABP          4547
FiO2             1199
GCS              2583
Gender            369
Glucose           585
HCO3              581
HCT               754
HR               7575
Height           7751
ICUType           369
K                 645
Lactate           360
MAP              4518
MechVent         1247
Mg                610
NIDiasABP        3668
NIMAP            3622
NISysABP         3672
Na                601
PaCO2             921
PaO2              917
Platelets         609
RespRate         1560
SaO2              317
SysABP           4547
Temp             3158
TroponinI          16
TroponinT          84
Urine            5478
WBC               558
Weight           7751
pH                980
BMI              7751
Classificacao    7751
dtype: int64

In [60]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         10279
level_1          10279
Time             10279
ALP                183
ALT                187
AST                186
Age              10279
Albumin            122
BUN                719
Bilirubin          189
Cholesterol         27
Creatinine         725
DiasABP           6919
FiO2              1691
GCS               3360
Gender             446
Glucose            662
HCO3               690
HCT                963
HR               10040
Height           10279
ICUType            446
K                  729
Lactate            461
MAP               6894
MechVent          1573
Mg                 723
NIDiasABP         3999
NIMAP             3948
NISysABP          4001
Na                 671
PaCO2             1311
PaO2              1313
Platelets          723
RespRate          1911
SaO2               654
SysABP            6919
Temp              4725
TroponinI           35
TroponinT           97
Urine             7843
WBC                678
Weight           10279
pH                1423
BMI              10279
Classificacao    10279
dtype: int64

In [61]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         6594
level_1          6594
Time             6594
ALP               111
ALT               113
AST               111
Age              6594
Albumin            82
BUN               414
Bilirubin         117
Cholesterol         7
Creatinine        417
DiasABP          4839
FiO2             1043
GCS              2054
Gender            197
Glucose           376
HCO3              401
HCT               561
HR               6493
Height           6594
ICUType           197
K                 444
Lactate           268
MAP              4798
MechVent         1003
Mg                462
NIDiasABP        2234
NIMAP            2207
NISysABP         2234
Na                398
PaCO2             909
PaO2              909
Platelets         439
RespRate         1092
SaO2              416
SysABP           4839
Temp             3315
TroponinI          13
TroponinT          55
Urine            5466
WBC               398
Weight           6594
pH                988
BMI              6594
Classificacao    6594
dtype: int64

In [62]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         3186
level_1          3186
Time             3186
ALP                64
ALT                63
AST                64
Age              3186
Albumin            49
BUN               231
Bilirubin          64
Cholesterol         6
Creatinine        230
DiasABP          2164
FiO2              493
GCS              1018
Gender             95
Glucose           214
HCO3              222
HCT               300
HR               3138
Height           3186
ICUType            95
K                 237
Lactate           132
MAP              2152
MechVent          474
Mg                228
NIDiasABP        1196
NIMAP            1161
NISysABP         1196
Na                222
PaCO2             363
PaO2              363
Platelets         232
RespRate          541
SaO2              184
SysABP           2164
Temp             1488
TroponinI          11
TroponinT          32
Urine            2597
WBC               214
Weight           3186
pH                391
BMI              3186
Classificacao    3186
dtype: int64

In [63]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         3164
level_1          3164
Time             3164
ALP                48
ALT                50
AST                49
Age              3164
Albumin            25
BUN               206
Bilirubin          51
Cholesterol         5
Creatinine        206
DiasABP          2129
FiO2              648
GCS               943
Gender             95
Glucose           197
HCO3              201
HCT               259
HR               3121
Height           3164
ICUType            95
K                 222
Lactate           144
MAP              2107
MechVent          617
Mg                207
NIDiasABP        1192
NIMAP            1180
NISysABP         1194
Na                202
PaCO2             486
PaO2              488
Platelets         183
RespRate          354
SaO2              226
SysABP           2129
Temp             1407
TroponinI           6
TroponinT          27
Urine            2342
WBC               169
Weight           3164
pH                507
BMI              3164
Classificacao    3164
dtype: int64

In [64]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [65]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1033,1362,379,491,859,670,59707,48654,771,7751,10279,6594,3186,3164
level_1,1033,1362,379,491,859,670,59707,48654,771,7751,10279,6594,3186,3164
Time,1033,1362,379,491,859,670,59707,48654,771,7751,10279,6594,3186,3164
ALP,48,59,27,6,46,28,824,1013,14,141,183,111,64,48
ALT,49,57,27,6,45,28,839,1030,13,146,187,113,63,50
AST,48,58,26,6,46,28,841,1030,13,148,186,111,64,49
Age,1033,1362,379,491,859,670,59707,48654,771,7751,10279,6594,3186,3164
Albumin,40,47,25,5,36,21,719,680,8,112,122,82,49,25
BUN,118,166,61,18,99,106,4471,3829,62,595,719,414,231,206
Bilirubin,48,58,27,6,46,27,852,1044,14,148,189,117,64,51
Cholesterol,4,7,8,0,1,2,110,78,1,11,27,7,6,5
Creatinine,118,167,61,19,99,106,4484,3846,62,596,725,417,230,206
DiasABP,179,294,105,84,63,222,34682,27757,476,4547,6919,4839,2164,2129
FiO2,193,241,48,54,141,192,9896,8191,123,1199,1691,1043,493,648
GCS,383,490,181,64,315,315,19839,16854,208,2583,3360,2054,1018,943
Gender,1033,1362,379,491,859,670,1317,1082,32,369,446,197,95,95
Glucose,106,145,57,17,97,80,4186,3684,61,585,662,376,214,197
HCO3,104,148,58,17,96,81,4364,3752,60,581,690,401,222,201
HCT,128,180,60,29,100,119,5879,4959,73,754,963,561,300,259
HR,544,688,244,117,458,416,57346,46508,756,7575,10040,6493,3138,3121
Height,1033,1362,379,491,859,670,59707,48654,771,7751,10279,6594,3186,3164
ICUType,1033,1362,379,491,859,670,1317,1082,32,369,446,197,95,95
K,106,150,60,17,98,81,4661,4051,65,645,729,444,237,222
Lactate,116,158,21,30,101,122,2452,2287,36,360,461,268,132,144
MAP,177,281,102,84,57,216,34511,27535,477,4518,6894,4798,2152,2107
MechVent,182,226,43,65,124,177,9233,8217,118,1247,1573,1003,474,617
Mg,84,109,34,12,79,68,4391,3727,60,610,723,462,228,207
NIDiasABP,414,498,178,45,421,270,26675,21888,371,3668,3999,2234,1196,1192
NIMAP,407,493,176,45,413,268,26326,21616,370,3622,3948,2207,1161,1180
NISysABP,414,499,178,45,422,270,26704,21909,372,3672,4001,2234,1196,1194
Na,104,148,58,15,97,82,4346,3850,58,601,671,398,222,202
PaCO2,210,349,53,293,74,140,7193,6033,80,921,1311,909,363,486
PaO2,206,345,53,290,71,138,7181,6032,81,917,1313,909,363,488
Platelets,127,184,60,36,96,119,4500,3842,55,609,723,439,232,183
RespRate,175,212,107,21,155,105,16121,12141,270,1560,1911,1092,541,354
SaO2,34,58,35,16,11,30,2738,1771,15,317,654,416,184,226
SysABP,179,295,105,84,64,222,34684,27760,477,4547,6919,4839,2164,2129
Temp,406,517,169,87,325,343,23778,18244,286,3158,4725,3315,1488,1407
TroponinI,2,7,5,0,3,1,176,89,2,16,35,13,11,6
TroponinT,25,38,23,1,25,14,872,456,8,84,97,55,32,27
Urine,340,427,122,91,256,299,44716,34753,526,5478,7843,5466,2597,2342
WBC,122,171,58,26,96,113,4149,3534,53,558,678,398,214,169
Weight,1033,1362,379,491,859,670,33234,27755,771,7751,10279,6594,3186,3164
pH,214,352,54,294,78,141,7544,6300,88,980,1423,988,391,507