In [2]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [3]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-05 18:50:39 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-05 18:50:39 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-05 18:50:39 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-05 18:50:40 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [4]:
train_X = physionet2012_dataset['train_X']

In [5]:
female_gender_training = train_X[train_X["Gender"] == 0.0]
female_gender_training = female_gender_training["RecordID"]
female_gender_distribution_training = train_X[train_X["RecordID"].isin(female_gender_training)]
female_gender_distribution_training.count()

RecordID       160512
level_1        160512
Time           160512
ALP              2594
ALT              2671
AST              2669
Age            151091
Albumin          2055
BUN             11586
Bilirubin        2700
Cholesterol       271
Creatinine      11626
DiasABP         82778
FiO2            24833
GCS             51794
Gender           3344
Glucose         11052
HCO3            11383
HCT             14900
HR             145052
Height         151091
ICUType          3344
K               12245
Lactate          6388
MAP             82266
MechVent        24184
Mg              11338
NIDiasABP       70993
NIMAP           70034
NISysABP        71058
Na              11484
PaCO2           17206
PaO2            17161
Platelets       11568
RespRate        43056
SaO2             6078
SysABP          82785
Temp            57183
TroponinI         364
TroponinT        1669
Urine          111546
WBC             10686
Weight          85322
pH              17838
dtype: int64

In [6]:
male_gender_training = train_X[train_X['Gender'] == 1.0]
male_gender_training = male_gender_training["RecordID"]
male_gender_distribution_training = train_X[train_X["RecordID"].isin(male_gender_training)]
male_gender_distribution_training.count()

RecordID       207312
level_1        207312
Time           207312
ALP              3379
ALT              3484
AST              3488
Age            195350
Albumin          2558
BUN             14918
Bilirubin        3513
Cholesterol       364
Creatinine      14989
DiasABP        116078
FiO2            32657
GCS             66087
Gender           4319
Glucose         13940
HCO3            14555
HCT             20102
HR             186828
Height         195350
ICUType          4319
K               15597
Lactate          8611
MAP            115325
MechVent        31104
Mg              14656
NIDiasABP       84613
NIMAP           83399
NISysABP        84694
Na              14561
PaCO2           24992
PaO2            24927
Platelets       15483
RespRate        47054
SaO2             8771
SysABP         116086
Temp            79698
TroponinI         451
TroponinT        2289
Urine          142873
WBC             14013
Weight         106819
pH              26281
dtype: int64

In [7]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training = ICUType_1_training[ICUType_1_training["Gender"] != -1.0]
ICUType_1_training = ICUType_1_training[ICUType_1_training["Time"] == 0.0]
ICUType_1_training= ICUType_1_training["RecordID"]
ICUType_1_distribution_training = train_X[train_X["RecordID"].isin(ICUType_1_training)]
ICUType_1_distribution_training.count()

RecordID       55200
level_1        55200
Time           55200
ALP              797
ALT              852
AST              853
Age            50660
Albumin          610
BUN             3938
Bilirubin        840
Cholesterol      351
Creatinine      3991
DiasABP        22552
FiO2            6021
GCS            14459
Gender          1150
Glucose         3769
HCO3            3802
HCT             4812
HR             48271
Height         50660
ICUType         1150
K               4599
Lactate         1206
MAP            22436
MechVent        5562
Mg              3908
NIDiasABP      26810
NIMAP          26678
NISysABP       26827
Na              3796
PaCO2           4442
PaO2            4442
Platelets       3917
RespRate       20186
SaO2            2752
SysABP         22554
Temp           16460
TroponinI        175
TroponinT       1160
Urine          31176
WBC             3536
Weight         24560
pH              4518
dtype: int64

In [8]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training = ICUType_2_training[ICUType_2_training["Gender"] != -1.0]
ICUType_2_training = ICUType_2_training[ICUType_2_training["Time"] == 0.0]
ICUType_2_training= ICUType_2_training["RecordID"]
ICUType_2_distribution_training = train_X[train_X["RecordID"].isin(ICUType_2_training)]
ICUType_2_distribution_training.count()

RecordID       77904
level_1        77904
Time           77904
ALP              559
ALT              577
AST              575
Age            75247
Albumin          373
BUN             5068
Bilirubin        566
Cholesterol       20
Creatinine      5076
DiasABP        61310
FiO2           13261
GCS            20656
Gender          1623
Glucose         3678
HCO3            4685
HCT             8486
HR             71359
Height         75247
ICUType         1623
K               4171
Lactate         2764
MAP            61318
MechVent       13043
Mg              4914
NIDiasABP      16840
NIMAP          16679
NISysABP       16877
Na              3942
PaCO2          15743
PaO2           15683
Platelets       6343
RespRate        3418
SaO2            8351
SysABP         61312
Temp           45276
TroponinI        117
TroponinT        198
Urine          65478
WBC             5265
Weight         39891
pH             17272
dtype: int64

In [9]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training = ICUType_3_training[ICUType_3_training["Gender"] != -1.0]
ICUType_3_training = ICUType_3_training[ICUType_3_training["Time"] == 0.0]
ICUType_3_training= ICUType_3_training["RecordID"]
ICUType_3_distribution_training = train_X[train_X["RecordID"].isin(ICUType_3_training)]
ICUType_3_distribution_training.count()

RecordID       129744
level_1        129744
Time           129744
ALP              2768
ALT              2843
AST              2848
Age            120516
Albumin          2150
BUN              9650
Bilirubin        2956
Cholesterol       130
Creatinine       9692
DiasABP         45293
FiO2            18825
GCS             34616
Gender           2703
Glucose          9648
HCO3             9681
HCT             11555
HR             116048
Height         120516
ICUType          2703
K               10461
Lactate          4929
MAP             44686
MechVent        17504
Mg               9097
NIDiasABP       74494
NIMAP           73103
NISysABP        74538
Na               9901
PaCO2            9655
PaO2             9651
Platelets        8848
RespRate        41005
SaO2             1557
SysABP          45299
Temp            37017
TroponinI         345
TroponinT        1810
Urine           78334
WBC              8441
Weight          83550
pH               9794
dtype: int64

In [10]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training = ICUType_4_training[ICUType_4_training["Gender"] != -1.0]
ICUType_4_training = ICUType_4_training[ICUType_4_training["Time"] == 0.0]
ICUType_4_training= ICUType_4_training["RecordID"]
ICUType_4_distribution_training = train_X[train_X["RecordID"].isin(ICUType_4_training)]
ICUType_4_distribution_training.count()

RecordID       104976
level_1        104976
Time           104976
ALP              1849
ALT              1883
AST              1881
Age            100018
Albumin          1480
BUN              7848
Bilirubin        1851
Cholesterol       134
Creatinine       7856
DiasABP         69701
FiO2            19383
GCS             48150
Gender           2187
Glucose          7897
HCO3             7770
HCT             10149
HR              96202
Height         100018
ICUType          2187
K                8611
Lactate          6100
MAP             69151
MechVent        19179
Mg               8075
NIDiasABP       37462
NIMAP           36973
NISysABP        37510
Na               8406
PaCO2           12358
PaO2            12312
Platelets        7943
RespRate        25501
SaO2             2189
SysABP          69706
Temp            38128
TroponinI         178
TroponinT         790
Urine           79431
WBC              7457
Weight          44140
pH              12535
dtype: int64

In [26]:
more_than_or_equal_to_65_training = train_X[train_X["Age"] >= 65]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training["Gender"] != -1.0]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training["Time"] == 0.0]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training["RecordID"]
more_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(more_than_or_equal_to_65_training)]
more_than_or_equal_to_65_training.count()

RecordID       201216
level_1        201216
Time           201216
ALP              2622
ALT              2704
AST              2705
Age            190117
Albumin          2211
BUN             14092
Bilirubin        2748
Cholesterol       381
Creatinine      14162
DiasABP        109585
FiO2            31458
GCS             62708
Gender           4192
Glucose         13113
HCO3            13776
HCT             18963
HR             182450
Height         190117
ICUType          4192
K               14718
Lactate          7736
MAP            109014
MechVent        29414
Mg              13898
NIDiasABP       85238
NIMAP           84268
NISysABP        85312
Na              13671
PaCO2           23315
PaO2            23262
Platelets       14451
RespRate        50327
SaO2             9092
SysABP         109595
Temp            77948
TroponinI         591
TroponinT        2741
Urine          142883
WBC             13183
Weight         105839
pH              24421
dtype: int64

In [12]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [27]:
less_than_or_equal_to_65_training = train_X[train_X["Age"] >= 65]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training["Gender"] != -1.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training["Time"] == 0.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training["RecordID"]
less_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(less_than_or_equal_to_65_training)]
less_than_or_equal_to_65_training.count()

RecordID       201216
level_1        201216
Time           201216
ALP              2622
ALT              2704
AST              2705
Age            190117
Albumin          2211
BUN             14092
Bilirubin        2748
Cholesterol       381
Creatinine      14162
DiasABP        109585
FiO2            31458
GCS             62708
Gender           4192
Glucose         13113
HCO3            13776
HCT             18963
HR             182450
Height         190117
ICUType          4192
K               14718
Lactate          7736
MAP            109014
MechVent        29414
Mg              13898
NIDiasABP       85238
NIMAP           84268
NISysABP        85312
Na              13671
PaCO2           23315
PaO2            23262
Platelets       14451
RespRate        50327
SaO2             9092
SysABP         109595
Temp            77948
TroponinI         591
TroponinT        2741
Urine          142883
WBC             13183
Weight         105839
pH              24421
dtype: int64

In [14]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [15]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [16]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101256, dtype: float64

In [17]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [18]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_train = classification_low_weight_train[classification_low_weight_train['Gender'] != -1.0]
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         126
level_1          126
Time             126
ALP               29
ALT               28
AST               28
Age              126
Albumin           23
BUN               65
Bilirubin         29
Cholesterol        8
Creatinine        65
DiasABP           66
FiO2              59
GCS               86
Gender           117
Glucose           63
HCO3              65
HCT               68
HR                91
Height           126
ICUType          117
K                 63
Lactate           44
MAP               66
MechVent          56
Mg                63
NIDiasABP         71
NIMAP             71
NISysABP          71
Na                64
PaCO2             73
PaO2              73
Platelets         68
RespRate          18
SaO2              36
SysABP            66
Temp              90
TroponinI          5
TroponinT         12
Urine             80
WBC               66
Weight           126
pH                74
BMI              126
Classificacao    126
dtype: int64

In [19]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_train = classification_normal_weight_train[classification_normal_weight_train['Gender'] != -1.0]
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         1190
level_1          1190
Time             1190
ALP               245
ALT               250
AST               249
Age              1190
Albumin           246
BUN               651
Bilirubin         249
Cholesterol        43
Creatinine        651
DiasABP           658
FiO2              535
GCS               819
Gender           1133
Glucose           615
HCO3              635
HCT               673
HR                891
Height           1190
ICUType          1133
K                 628
Lactate           361
MAP               654
MechVent          526
Mg                604
NIDiasABP         644
NIMAP             644
NISysABP          645
Na                626
PaCO2             687
PaO2              683
Platelets         675
RespRate          166
SaO2              325
SysABP            658
Temp              832
TroponinI          33
TroponinT         131
Urine             802
WBC               654
Weight           1190
pH                701
BMI              1190
Classificacao    1190
dtype: int64

In [20]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_train = classification_overweight_train[classification_overweight_train['Gender'] != -1.0]
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         1674
level_1          1674
Time             1674
ALP               330
ALT               337
AST               338
Age              1674
Albumin           276
BUN               976
Bilirubin         342
Cholesterol        61
Creatinine        979
DiasABP          1049
FiO2              771
GCS              1221
Gender           1394
Glucose           920
HCO3              961
HCT              1013
HR               1300
Height           1674
ICUType          1394
K                 937
Lactate           478
MAP              1041
MechVent          790
Mg                937
NIDiasABP         901
NIMAP             900
NISysABP          904
Na                948
PaCO2            1050
PaO2             1041
Platelets        1003
RespRate          219
SaO2              617
SysABP           1049
Temp             1242
TroponinI          46
TroponinT         153
Urine            1201
WBC               971
Weight           1674
pH               1082
BMI              1674
Classificacao    1674
dtype: int64

In [21]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_train = classification_obesity_grade1_train[classification_obesity_grade1_train['Gender'] != -1.0]
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         1085
level_1          1085
Time             1085
ALP               204
ALT               207
AST               204
Age              1085
Albumin           178
BUN               656
Bilirubin         209
Cholesterol        26
Creatinine        657
DiasABP           742
FiO2              550
GCS               822
Gender            715
Glucose           600
HCO3              645
HCT               683
HR                888
Height           1085
ICUType           715
K                 621
Lactate           315
MAP               741
MechVent          554
Mg                644
NIDiasABP         582
NIMAP             577
NISysABP          583
Na                639
PaCO2             711
PaO2              709
Platelets         669
RespRate          102
SaO2              398
SysABP            742
Temp              846
TroponinI          32
TroponinT          93
Urine             842
WBC               652
Weight           1085
pH                753
BMI              1085
Classificacao    1085
dtype: int64

In [22]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_train = classification_obesity_grade2_train[classification_obesity_grade2_train['Gender'] != -1.0]
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         476
level_1          476
Time             476
ALP               98
ALT               99
AST               99
Age              476
Albumin           77
BUN              301
Bilirubin         98
Cholesterol       16
Creatinine       300
DiasABP          330
FiO2             256
GCS              384
Gender           313
Glucose          281
HCO3             299
HCT              317
HR               406
Height           476
ICUType          313
K                291
Lactate          165
MAP              330
MechVent         250
Mg               286
NIDiasABP        284
NIMAP            282
NISysABP         286
Na               293
PaCO2            314
PaO2             312
Platelets        308
RespRate          59
SaO2             194
SysABP           330
Temp             390
TroponinI         10
TroponinT         48
Urine            382
WBC              302
Weight           476
pH               326
BMI              476
Classificacao    476
dtype: int64

In [23]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_train = classification_obesity_grade3_train[classification_obesity_grade3_train['Gender'] != -1.0]
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         369
level_1          369
Time             369
ALP              104
ALT              106
AST              106
Age              369
Albumin           91
BUN              263
Bilirubin        106
Cholesterol       15
Creatinine       264
DiasABP          273
FiO2             234
GCS              324
Gender           275
Glucose          244
HCO3             260
HCT              272
HR               337
Height           369
ICUType          275
K                251
Lactate          151
MAP              272
MechVent         232
Mg               258
NIDiasABP        229
NIMAP            228
NISysABP         230
Na               258
PaCO2            261
PaO2             261
Platelets        268
RespRate          43
SaO2             169
SysABP           273
Temp             330
TroponinI          6
TroponinT         53
Urine            317
WBC              263
Weight           369
pH               265
BMI              369
Classificacao    369
dtype: int64

In [24]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [25]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

ValueError: Cannot set a DataFrame with multiple columns to the single column Female

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [ ]:
validation_X = physionet2012_dataset['val_X']

In [ ]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       851
level_1        851
Time           851
ALP             36
ALT             38
AST             36
Age            851
Albumin         31
BUN             93
Bilirubin       36
Cholesterol      3
Creatinine      93
DiasABP        147
FiO2           158
GCS            339
Gender         851
Glucose         85
HCO3            88
HCT            102
HR             441
Height         851
ICUType        851
K               85
Lactate         88
MAP            140
MechVent       151
Mg              58
NIDiasABP      338
NIMAP          334
NISysABP       339
Na              85
PaCO2          144
PaO2           140
Platelets      106
RespRate       155
SaO2            25
SysABP         147
Temp           341
TroponinI        2
TroponinT       17
Urine          292
WBC             93
Weight         851
pH             144
dtype: int64

In [ ]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1065
level_1        1065
Time           1065
ALP              57
ALT              60
AST              60
Age            1065
Albumin          55
BUN             135
Bilirubin        59
Cholesterol       6
Creatinine      135
DiasABP         208
FiO2            197
GCS             374
Gender         1065
Glucose         120
HCO3            124
HCT             142
HR              531
Height         1065
ICUType        1065
K               122
Lactate         120
MAP             202
MechVent        181
Mg               97
NIDiasABP       383
NIMAP           380
NISysABP        384
Na              121
PaCO2           266
PaO2            264
Platelets       150
RespRate        144
SaO2             37
SysABP          208
Temp            399
TroponinI         4
TroponinT        27
Urine           305
WBC             133
Weight         1065
pH              272
dtype: int64

In [ ]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       274
level_1        274
Time           274
ALP             20
ALT             21
AST             20
Age            274
Albumin         17
BUN             37
Bilirubin       19
Cholesterol      7
Creatinine      37
DiasABP         68
FiO2            27
GCS            123
Gender         274
Glucose         37
HCO3            37
HCT             38
HR             157
Height         274
ICUType        274
K               37
Lactate         13
MAP             67
MechVent        27
Mg              16
NIDiasABP      109
NIMAP          108
NISysABP       109
Na              37
PaCO2           22
PaO2            22
Platelets       37
RespRate        74
SaO2            12
SysABP          68
Temp           116
TroponinI        3
TroponinT       13
Urine           82
WBC             37
Weight         274
pH              22
dtype: int64

In [ ]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       382
level_1        382
Time           382
ALP              1
ALT              2
AST              2
Age            382
Albumin          3
BUN             20
Bilirubin        2
Cholesterol      1
Creatinine      20
DiasABP         68
FiO2            47
GCS             66
Gender         382
Glucose         12
HCO3            18
HCT             32
HR              91
Height         382
ICUType        382
K               12
Lactate         23
MAP             67
MechVent        54
Mg              13
NIDiasABP       30
NIMAP           30
NISysABP        30
Na              12
PaCO2          229
PaO2           227
Platelets       43
RespRate         8
SaO2            15
SysABP          68
Temp            75
TroponinI        1
TroponinT        2
Urine           70
WBC             24
Weight         382
pH             230
dtype: int64

In [ ]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       701
level_1        701
Time           701
ALP             45
ALT             47
AST             46
Age            701
Albumin         42
BUN             84
Bilirubin       46
Cholesterol      1
Creatinine      84
DiasABP         42
FiO2           115
GCS            270
Gender         701
Glucose         82
HCO3            82
HCT             79
HR             378
Height         701
ICUType        701
K               83
Lactate         74
MAP             38
MechVent       100
Mg              61
NIDiasABP      351
NIMAP          346
NISysABP       353
Na              82
PaCO2           48
PaO2            49
Platelets       76
RespRate       126
SaO2             7
SysABP          42
Temp           269
TroponinI        0
TroponinT       18
Urine          222
WBC             77
Weight         701
pH              53
dtype: int64

In [ ]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       561
level_1        561
Time           561
ALP             27
ALT             28
AST             28
Age            561
Albumin         24
BUN             87
Bilirubin       28
Cholesterol      0
Creatinine      87
DiasABP        177
FiO2           166
GCS            255
Gender         561
Glucose         74
HCO3            75
HCT             95
HR             347
Height         561
ICUType        561
K               75
Lactate         98
MAP            170
MechVent       151
Mg              65
NIDiasABP      231
NIMAP          230
NISysABP       231
Na              75
PaCO2          111
PaO2           106
Platelets      100
RespRate        92
SaO2            28
SysABP         177
Temp           280
TroponinI        2
TroponinT       11
Urine          223
WBC             88
Weight         561
pH             111
dtype: int64

In [ ]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation[more_than_or_equal_to_65_validation['Gender'] != -1.0]
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation.count()
more_than_or_equal_to_65_validation

RecordID       1057
level_1        1057
Time           1057
ALP             419
ALT             428
AST             428
Age            1057
Albumin         388
BUN            1048
Bilirubin       436
Cholesterol      91
Creatinine     1048
DiasABP         733
FiO2            707
GCS            1044
Gender         1057
Glucose        1036
HCO3           1045
HCT            1046
HR             1044
Height         1057
ICUType        1057
K              1041
Lactate         554
MAP             730
MechVent        641
Mg             1041
NIDiasABP       931
NIMAP           927
NISysABP        933
Na             1046
PaCO2           777
PaO2            778
Platelets      1047
RespRate        308
SaO2            477
SysABP          733
Temp           1044
TroponinI        64
TroponinT       261
Urine          1033
WBC            1046
Weight         1057
pH              787
dtype: int64

In [ ]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation[less_than_or_equal_to_65_validation['Gender'] != -1.0]
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation.count()
less_than_or_equal_to_65_validation

RecordID       859
level_1        859
Time           859
ALP            405
ALT            410
AST            412
Age            859
Albumin        395
BUN            849
Bilirubin      412
Cholesterol     53
Creatinine     849
DiasABP        581
FiO2           558
GCS            840
Gender         859
Glucose        845
HCO3           849
HCT            849
HR             840
Height         859
ICUType        859
K              848
Lactate        471
MAP            578
MechVent       526
Mg             837
NIDiasABP      755
NIMAP          753
NISysABP       756
Na             849
PaCO2          625
PaO2           624
Platelets      848
RespRate       245
SaO2           316
SysABP         581
Temp           840
TroponinI       21
TroponinT      120
Urine          834
WBC            848
Weight         859
pH             630
dtype: int64

In [ ]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [ ]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

624       1.702
628       1.702
629       1.702
630       1.702
631       1.702
          ...
575034    1.600
575035    1.600
575037    1.600
575038    1.600
575039    1.600
Name: Height, Length: 24697, dtype: float64

In [ ]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
624,132570,0,0.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
628,132570,4,4.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,36.6,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
629,132570,5,5.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,NaN,NaN,NaN,NaN,8.8,102.6,NaN,35.418344,Obesidade grau 2
630,132570,6,6.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
631,132570,7,7.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,600.0,NaN,102.6,NaN,35.418344,Obesidade grau 2

In [ ]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_validation = classification_low_weight_validation[classification_low_weight_validation['Gender'] != -1.0]
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         37
level_1          37
Time             37
ALP              12
ALT              12
AST              12
Age              37
Albumin           8
BUN              19
Bilirubin        12
Cholesterol       2
Creatinine       19
DiasABP          16
FiO2             17
GCS              26
Gender           35
Glucose          18
HCO3             19
HCT              21
HR               29
Height           37
ICUType          35
K                18
Lactate           9
MAP              17
MechVent         14
Mg               19
NIDiasABP        22
NIMAP            22
NISysABP         22
Na               18
PaCO2            16
PaO2             16
Platelets        20
RespRate          4
SaO2              4
SysABP           16
Temp             25
TroponinI         0
TroponinT         6
Urine            26
WBC              19
Weight           37
pH               16
BMI              37
Classificacao    37
dtype: int64

In [ ]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_validation = classification_normal_weight_validation[classification_normal_weight_validation['Gender'] != -1.0]
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         299
level_1          299
Time             299
ALP               64
ALT               63
AST               63
Age              299
Albumin           57
BUN              156
Bilirubin         63
Cholesterol        8
Creatinine       156
DiasABP          163
FiO2             131
GCS              206
Gender           284
Glucose          147
HCO3             152
HCT              161
HR               223
Height           299
ICUType          284
K                150
Lactate           85
MAP              161
MechVent         124
Mg               147
NIDiasABP        162
NIMAP            162
NISysABP         162
Na               149
PaCO2            172
PaO2             171
Platelets        165
RespRate          41
SaO2              71
SysABP           163
Temp             214
TroponinI          7
TroponinT         25
Urine            196
WBC              154
Weight           299
pH               178
BMI              299
Classificacao    299
dtype: int64

In [ ]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_validation = classification_overweight_validation[classification_overweight_validation['Gender'] != -1.0]
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         374
level_1          374
Time             374
ALP               83
ALT               87
AST               86
Age              374
Albumin           85
BUN              221
Bilirubin         87
Cholesterol       14
Creatinine       221
DiasABP          231
FiO2             177
GCS              283
Gender           310
Glucose          203
HCO3             217
HCT              228
HR               299
Height           374
ICUType          310
K                210
Lactate          111
MAP              229
MechVent         182
Mg               206
NIDiasABP        200
NIMAP            200
NISysABP         200
Na               215
PaCO2            231
PaO2             230
Platelets        229
RespRate          48
SaO2             121
SysABP           231
Temp             287
TroponinI          8
TroponinT         34
Urine            270
WBC              221
Weight           374
pH               234
BMI              374
Classificacao    374
dtype: int64

In [ ]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_validation = classification_obesity_grade1_validation[classification_obesity_grade1_validation['Gender'] != -1.0]
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         289
level_1          289
Time             289
ALP               65
ALT               66
AST               66
Age              289
Albumin           54
BUN              181
Bilirubin         66
Cholesterol       12
Creatinine       181
DiasABP          214
FiO2             147
GCS              235
Gender           194
Glucose          165
HCO3             177
HCT              190
HR               249
Height           289
ICUType          194
K                171
Lactate           92
MAP              212
MechVent         142
Mg               181
NIDiasABP        162
NIMAP            162
NISysABP         162
Na               178
PaCO2            186
PaO2             185
Platelets        182
RespRate          37
SaO2             112
SysABP           214
Temp             242
TroponinI         10
TroponinT         31
Urine            240
WBC              176
Weight           289
pH               196
BMI              289
Classificacao    289
dtype: int64

In [ ]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_validation = classification_obesity_grade2_validation[classification_obesity_grade2_validation != -1.0]
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         118
level_1          118
Time             118
ALP               27
ALT               26
AST               26
Age              118
Albumin           23
BUN               74
Bilirubin         27
Cholesterol        3
Creatinine        74
DiasABP           77
FiO2              63
GCS               95
Gender            79
Glucose           68
HCO3              73
HCT               78
HR                97
Height           118
ICUType           79
K                 70
Lactate           42
MAP               77
MechVent          60
Mg                68
NIDiasABP         72
NIMAP             71
NISysABP          74
Na                71
PaCO2             84
PaO2              84
Platelets         79
RespRate          16
SaO2              47
SysABP            77
Temp              92
TroponinI          3
TroponinT          8
Urine             92
WBC               76
Weight           118
pH                85
BMI              118
Classificacao    118
dtype: int64

In [ ]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_validation = classification_obesity_grade3_validation[classification_obesity_grade3_validation['Gender'] != -1.0]
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         83
level_1          83
Time             83
ALP              21
ALT              21
AST              21
Age              83
Albumin          21
BUN              52
Bilirubin        22
Cholesterol       1
Creatinine       52
DiasABP          58
FiO2             52
GCS              67
Gender           59
Glucose          49
HCO3             51
HCT              53
HR               74
Height           83
ICUType          59
K                51
Lactate          30
MAP              58
MechVent         55
Mg               51
NIDiasABP        47
NIMAP            46
NISysABP         47
Na               50
PaCO2            56
PaO2             56
Platelets        52
RespRate          9
SaO2             37
SysABP           58
Temp             73
TroponinI         2
TroponinT         3
Urine            69
WBC              51
Weight           83
pH               56
BMI              83
Classificacao    83
dtype: int64

In [ ]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
level_1,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
Time,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
ALP,36,57,20,1,45,27,419,405,12,64,83,65,27,21
ALT,38,60,21,2,47,28,428,410,12,63,87,66,26,21
AST,36,60,20,2,46,28,428,412,12,63,86,66,26,21
Age,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
Albumin,31,55,17,3,42,24,388,395,8,57,85,54,23,21
BUN,93,135,37,20,84,87,1048,849,19,156,221,181,74,52
Bilirubin,36,59,19,2,46,28,436,412,12,63,87,66,27,22
Cholesterol,3,6,7,1,1,0,91,53,2,8,14,12,3,1
Creatinine,93,135,37,20,84,87,1048,849,19,156,221,181,74,52
DiasABP,147,208,68,68,42,177,733,581,16,163,231,214,77,58
FiO2,158,197,27,47,115,166,707,558,17,131,177,147,63,52
GCS,339,374,123,66,270,255,1044,840,26,206,283,235,95,67
Gender,851,1065,274,382,701,561,1057,859,35,284,310,194,79,59
Glucose,85,120,37,12,82,74,1036,845,18,147,203,165,68,49
HCO3,88,124,37,18,82,75,1045,849,19,152,217,177,73,51
HCT,102,142,38,32,79,95,1046,849,21,161,228,190,78,53
HR,441,531,157,91,378,347,1044,840,29,223,299,249,97,74
Height,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
ICUType,851,1065,274,382,701,561,1057,859,35,284,310,194,79,59
K,85,122,37,12,83,75,1041,848,18,150,210,171,70,51
Lactate,88,120,13,23,74,98,554,471,9,85,111,92,42,30
MAP,140,202,67,67,38,170,730,578,17,161,229,212,77,58
MechVent,151,181,27,54,100,151,641,526,14,124,182,142,60,55
Mg,58,97,16,13,61,65,1041,837,19,147,206,181,68,51
NIDiasABP,338,383,109,30,351,231,931,755,22,162,200,162,72,47
NIMAP,334,380,108,30,346,230,927,753,22,162,200,162,71,46
NISysABP,339,384,109,30,353,231,933,756,22,162,200,162,74,47
Na,85,121,37,12,82,75,1046,849,18,149,215,178,71,50
PaCO2,144,266,22,229,48,111,777,625,16,172,231,186,84,56
PaO2,140,264,22,227,49,106,778,624,16,171,230,185,84,56
Platelets,106,150,37,43,76,100,1047,848,20,165,229,182,79,52
RespRate,155,144,74,8,126,92,308,245,4,41,48,37,16,9
SaO2,25,37,12,15,7,28,477,316,4,71,121,112,47,37
SysABP,147,208,68,68,42,177,733,581,16,163,231,214,77,58
Temp,341,399,116,75,269,280,1044,840,25,214,287,242,92,73
TroponinI,2,4,3,1,0,2,64,21,0,7,8,10,3,2
TroponinT,17,27,13,2,18,11,261,120,6,25,34,31,8,3
Urine,292,305,82,70,222,223,1033,834,26,196,270,240,92,69
WBC,93,133,37,24,77,88,1046,848,19,154,221,176,76,51
Weight,851,1065,274,382,701,561,1057,859,37,299,374,289,118,83
pH,144,272,22,230,53,111,787,630,16,178,234,196,85,56

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [ ]:
test_X = physionet2012_dataset['test_X']

In [ ]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1033
level_1        1033
Time           1033
ALP              42
ALT              46
AST              45
Age            1033
Albumin          35
BUN             125
Bilirubin        40
Cholesterol       9
Creatinine      125
DiasABP         177
FiO2            204
GCS             370
Gender         1033
Glucose         117
HCO3            120
HCT             141
HR              523
Height         1033
ICUType        1033
K               119
Lactate         125
MAP             173
MechVent        183
Mg               90
NIDiasABP       400
NIMAP           395
NISysABP        401
Na              118
PaCO2           220
PaO2            216
Platelets       141
RespRate        165
SaO2             25
SysABP          177
Temp            374
TroponinI         6
TroponinT        21
Urine           323
WBC             130
Weight         1033
pH              223
dtype: int64

In [ ]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1362
level_1        1362
Time           1362
ALP              66
ALT              68
AST              68
Age            1362
Albumin          57
BUN             165
Bilirubin        63
Cholesterol       9
Creatinine      165
DiasABP         246
FiO2            238
GCS             448
Gender         1362
Glucose         143
HCO3            149
HCT             182
HR              644
Height         1362
ICUType        1362
K               148
Lactate         152
MAP             241
MechVent        228
Mg              112
NIDiasABP       478
NIMAP           478
NISysABP        478
Na              146
PaCO2           331
PaO2            325
Platelets       187
RespRate        180
SaO2             43
SysABP          246
Temp            489
TroponinI         7
TroponinT        35
Urine           412
WBC             170
Weight         1362
pH              336
dtype: int64

In [ ]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       354
level_1        354
Time           354
ALP             25
ALT             25
AST             25
Age            354
Albumin         20
BUN             51
Bilirubin       22
Cholesterol     11
Creatinine      51
DiasABP         76
FiO2            50
GCS            153
Gender         354
Glucose         48
HCO3            50
HCT             51
HR             199
Height         354
ICUType        354
K               50
Lactate         20
MAP             76
MechVent        38
Mg              32
NIDiasABP      147
NIMAP          148
NISysABP       148
Na              50
PaCO2           36
PaO2            35
Platelets       51
RespRate        78
SaO2            24
SysABP          76
Temp           146
TroponinI        2
TroponinT       20
Urine          118
WBC             49
Weight         354
pH              37
dtype: int64

In [ ]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       516
level_1        516
Time           516
ALP             11
ALT             11
AST             11
Age            516
Albumin          8
BUN             25
Bilirubin       10
Cholesterol      4
Creatinine      25
DiasABP         85
FiO2            56
GCS             75
Gender         516
Glucose         18
HCO3            24
HCT             46
HR             118
Height         516
ICUType        516
K               18
Lactate         37
MAP             85
MechVent        64
Mg              14
NIDiasABP       50
NIMAP           50
NISysABP        50
Na              18
PaCO2          292
PaO2           286
Platelets       52
RespRate        17
SaO2            13
SysABP          85
Temp            96
TroponinI        1
TroponinT        8
Urine           94
WBC             37
Weight         516
pH             294
dtype: int64

In [ ]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       874
level_1        874
Time           874
ALP             49
ALT             55
AST             54
Age            874
Albumin         47
BUN            123
Bilirubin       49
Cholesterol      2
Creatinine     123
DiasABP         74
FiO2           156
GCS            324
Gender         874
Glucose        121
HCO3           122
HCT            125
HR             478
Height         874
ICUType        874
K              125
Lactate        112
MAP             71
MechVent       139
Mg             100
NIDiasABP      429
NIMAP          424
NISysABP       429
Na             123
PaCO2           97
PaO2            94
Platelets      121
RespRate       147
SaO2            11
SysABP          74
Temp           336
TroponinI        9
TroponinT       18
Urine          260
WBC            119
Weight         874
pH             100
dtype: int64

In [ ]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       655
level_1        655
Time           655
ALP             23
ALT             23
AST             23
Age            655
Albumin         17
BUN             92
Bilirubin       22
Cholesterol      1
Creatinine      92
DiasABP        189
FiO2           182
GCS            267
Gender         655
Glucose         74
HCO3            74
HCT            102
HR             375
Height         655
ICUType        655
K               75
Lactate        109
MAP            183
MechVent       172
Mg              57
NIDiasABP      254
NIMAP          253
NISysABP       254
Na              74
PaCO2          127
PaO2           127
Platelets      105
RespRate       103
SaO2            20
SysABP         189
Temp           287
TroponinI        1
TroponinT       10
Urine          264
WBC             96
Weight         655
pH             129
dtype: int64

In [ ]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test[more_than_or_equal_to_65_test['Gender'] != -1.0]
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test.count()
more_than_or_equal_to_65_test

RecordID       1313
level_1        1313
Time           1313
ALP             500
ALT             512
AST             512
Age            1313
Albumin         504
BUN            1294
Bilirubin       513
Cholesterol     121
Creatinine     1294
DiasABP         962
FiO2            918
GCS            1297
Gender         1313
Glucose        1280
HCO3           1290
HCT            1294
HR             1297
Height         1313
ICUType        1313
K              1286
Lactate         729
MAP             962
MechVent        847
Mg             1286
NIDiasABP      1122
NIMAP          1119
NISysABP       1127
Na             1289
PaCO2          1022
PaO2           1022
Platelets      1293
RespRate        352
SaO2            642
SysABP          962
Temp           1297
TroponinI        77
TroponinT       362
Urine          1280
WBC            1290
Weight         1313
pH             1029
dtype: int64

In [ ]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test[less_than_or_equal_to_65_test['Gender'] != -1.0]
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test.count()
less_than_or_equal_to_65_test

RecordID       1082
level_1        1082
Time           1082
ALP             517
ALT             528
AST             525
Age            1082
Albumin         473
BUN            1061
Bilirubin       521
Cholesterol      73
Creatinine     1061
DiasABP         744
FiO2            715
GCS            1057
Gender         1082
Glucose        1052
HCO3           1061
HCT            1061
HR             1057
Height         1082
ICUType        1082
K              1056
Lactate         604
MAP             743
MechVent        685
Mg             1048
NIDiasABP       926
NIMAP           925
NISysABP        931
Na             1061
PaCO2           791
PaO2            791
Platelets      1059
RespRate        301
SaO2            446
SysABP          744
Temp           1057
TroponinI        41
TroponinT       145
Urine          1047
WBC            1058
Weight         1082
pH              798
dtype: int64

In [ ]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [ ]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 30806, dtype: float64

In [ ]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [ ]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_test = classification_low_weight_test[classification_low_weight_test != -1.0]
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         45
level_1          45
Time             45
ALP              11
ALT              11
AST              11
Age              45
Albumin          11
BUN              26
Bilirubin        10
Cholesterol       4
Creatinine       26
DiasABP          22
FiO2             22
GCS              29
Gender           42
Glucose          25
HCO3             26
HCT              26
HR               30
Height           45
ICUType          42
K                25
Lactate          16
MAP              22
MechVent         20
Mg               25
NIDiasABP        26
NIMAP            26
NISysABP         26
Na               25
PaCO2            28
PaO2             28
Platelets        26
RespRate          4
SaO2             14
SysABP           22
Temp             30
TroponinI         5
TroponinT         5
Urine            27
WBC              26
Weight           45
pH               28
BMI              45
Classificacao    45
dtype: int64

In [ ]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_test = classification_normal_weight_test[classification_normal_weight_test != -1.0]
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         393
level_1          393
Time             393
ALP               82
ALT               85
AST               85
Age              393
Albumin           75
BUN              215
Bilirubin         84
Cholesterol        7
Creatinine       214
DiasABP          216
FiO2             185
GCS              271
Gender           369
Glucose          202
HCO3             209
HCT              224
HR               294
Height           393
ICUType          370
K                204
Lactate          120
MAP              216
MechVent         179
Mg               205
NIDiasABP        215
NIMAP            215
NISysABP         216
Na               208
PaCO2            231
PaO2             230
Platelets        222
RespRate          50
SaO2             106
SysABP           216
Temp             277
TroponinI         18
TroponinT         45
Urine            266
WBC              217
Weight           393
pH               233
BMI              393
Classificacao    393
dtype: int64

In [ ]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_test = classification_overweight_test[classification_overweight_test['Gender'] != -1.0]
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         490
level_1          490
Time             490
ALP               74
ALT               74
AST               74
Age              490
Albumin           54
BUN              270
Bilirubin         74
Cholesterol       12
Creatinine       272
DiasABP          313
FiO2             222
GCS              340
Gender           395
Glucose          251
HCO3             266
HCT              279
HR               373
Height           490
ICUType          395
K                259
Lactate          132
MAP              313
MechVent         236
Mg               258
NIDiasABP        243
NIMAP            244
NISysABP         245
Na               261
PaCO2            322
PaO2             321
Platelets        273
RespRate          42
SaO2             177
SysABP           313
Temp             348
TroponinI          6
TroponinT         40
Urine            341
WBC              267
Weight           490
pH               338
BMI              490
Classificacao    490
dtype: int64

In [ ]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_test = classification_obesity_grade1_test[classification_obesity_grade1_test['Gender'] != -1.0]
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         327
level_1          327
Time             327
ALP               65
ALT               66
AST               66
Age              327
Albumin           55
BUN              200
Bilirubin         63
Cholesterol        5
Creatinine       201
DiasABP          237
FiO2             176
GCS              251
Gender           216
Glucose          181
HCO3             195
HCT              211
HR               270
Height           327
ICUType          216
K                188
Lactate          111
MAP              236
MechVent         176
Mg               201
NIDiasABP        177
NIMAP            175
NISysABP         177
Na               193
PaCO2            217
PaO2             217
Platelets        198
RespRate          26
SaO2             130
SysABP           237
Temp             261
TroponinI         11
TroponinT         24
Urine            256
WBC              193
Weight           327
pH               228
BMI              327
Classificacao    327
dtype: int64

In [ ]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_test = classification_obesity_grade2_test[classification_obesity_grade2_test != -1.0]
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         163
level_1          163
Time             163
ALP               32
ALT               32
AST               32
Age              163
Albumin           31
BUN              101
Bilirubin         33
Cholesterol        6
Creatinine       100
DiasABP          117
FiO2              85
GCS              135
Gender           103
Glucose           97
HCO3             100
HCT              109
HR               144
Height           163
ICUType          104
K                 98
Lactate           54
MAP              117
MechVent          85
Mg                98
NIDiasABP         92
NIMAP             92
NISysABP          92
Na                98
PaCO2            107
PaO2             107
Platelets        106
RespRate          20
SaO2              65
SysABP           117
Temp             138
TroponinI          4
TroponinT         19
Urine            135
WBC              100
Weight           163
pH               110
BMI              163
Classificacao    163
dtype: int64

In [ ]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_test = classification_obesity_grade3_test[classification_obesity_grade3_test['Gender'] != -1.0]
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         111
level_1          111
Time             111
ALP               31
ALT               31
AST               31
Age              111
Albumin           20
BUN               82
Bilirubin         35
Cholesterol        3
Creatinine        82
DiasABP           80
FiO2              67
GCS               99
Gender            88
Glucose           76
HCO3              82
HCT               82
HR               101
Height           111
ICUType           88
K                 79
Lactate           45
MAP               79
MechVent          64
Mg                80
NIDiasABP         69
NIMAP             69
NISysABP          70
Na                81
PaCO2             78
PaO2              78
Platelets         82
RespRate          21
SaO2              51
SysABP            80
Temp              97
TroponinI          1
TroponinT         13
Urine             97
WBC               82
Weight           111
pH                79
BMI              111
Classificacao    111
dtype: int64

In [ ]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
level_1,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
Time,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
ALP,42,66,25,11,49,23,500,517,11,82,74,65,32,31
ALT,46,68,25,11,55,23,512,528,11,85,74,66,32,31
AST,45,68,25,11,54,23,512,525,11,85,74,66,32,31
Age,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
Albumin,35,57,20,8,47,17,504,473,11,75,54,55,31,20
BUN,125,165,51,25,123,92,1294,1061,26,215,270,200,101,82
Bilirubin,40,63,22,10,49,22,513,521,10,84,74,63,33,35
Cholesterol,9,9,11,4,2,1,121,73,4,7,12,5,6,3
Creatinine,125,165,51,25,123,92,1294,1061,26,214,272,201,100,82
DiasABP,177,246,76,85,74,189,962,744,22,216,313,237,117,80
FiO2,204,238,50,56,156,182,918,715,22,185,222,176,85,67
GCS,370,448,153,75,324,267,1297,1057,29,271,340,251,135,99
Gender,1033,1362,354,516,874,655,1313,1082,42,369,395,216,103,88
Glucose,117,143,48,18,121,74,1280,1052,25,202,251,181,97,76
HCO3,120,149,50,24,122,74,1290,1061,26,209,266,195,100,82
HCT,141,182,51,46,125,102,1294,1061,26,224,279,211,109,82
HR,523,644,199,118,478,375,1297,1057,30,294,373,270,144,101
Height,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
ICUType,1033,1362,354,516,874,655,1313,1082,42,370,395,216,104,88
K,119,148,50,18,125,75,1286,1056,25,204,259,188,98,79
Lactate,125,152,20,37,112,109,729,604,16,120,132,111,54,45
MAP,173,241,76,85,71,183,962,743,22,216,313,236,117,79
MechVent,183,228,38,64,139,172,847,685,20,179,236,176,85,64
Mg,90,112,32,14,100,57,1286,1048,25,205,258,201,98,80
NIDiasABP,400,478,147,50,429,254,1122,926,26,215,243,177,92,69
NIMAP,395,478,148,50,424,253,1119,925,26,215,244,175,92,69
NISysABP,401,478,148,50,429,254,1127,931,26,216,245,177,92,70
Na,118,146,50,18,123,74,1289,1061,25,208,261,193,98,81
PaCO2,220,331,36,292,97,127,1022,791,28,231,322,217,107,78
PaO2,216,325,35,286,94,127,1022,791,28,230,321,217,107,78
Platelets,141,187,51,52,121,105,1293,1059,26,222,273,198,106,82
RespRate,165,180,78,17,147,103,352,301,4,50,42,26,20,21
SaO2,25,43,24,13,11,20,642,446,14,106,177,130,65,51
SysABP,177,246,76,85,74,189,962,744,22,216,313,237,117,80
Temp,374,489,146,96,336,287,1297,1057,30,277,348,261,138,97
TroponinI,6,7,2,1,9,1,77,41,5,18,6,11,4,1
TroponinT,21,35,20,8,18,10,362,145,5,45,40,24,19,13
Urine,323,412,118,94,260,264,1280,1047,27,266,341,256,135,97
WBC,130,170,49,37,119,96,1290,1058,26,217,267,193,100,82
Weight,1033,1362,354,516,874,655,1313,1082,45,393,490,327,163,111
pH,223,336,37,294,100,129,1029,798,28,233,338,228,110,79