In [45]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [46]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-10-31 10:07:03 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-10-31 10:07:03 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-10-31 10:07:03 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-10-31 10:07:03 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [47]:
train_X = physionet2012_dataset['train_X']

In [48]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3377
level_1        3377
Time           3377
ALP             141
ALT             145
AST             144
Age            3377
Albumin         119
BUN             408
Bilirubin       139
Cholesterol      16
Creatinine      407
DiasABP         582
FiO2            628
GCS            1234
Gender         3377
Glucose         369
HCO3            378
HCT             450
HR             1736
Height         3377
ICUType        3377
K               379
Lactate         396
MAP             561
MechVent        600
Mg              274
NIDiasABP      1324
NIMAP          1316
NISysABP       1326
Na              372
PaCO2           684
PaO2            672
Platelets       443
RespRate        553
SaO2            112
SysABP          582
Temp           1315
TroponinI        10
TroponinT        64
Urine          1112
WBC             411
Weight         3377
pH              692
dtype: int64

In [49]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4285
level_1        4285
Time           4285
ALP             185
ALT             188
AST             190
Age            4285
Albumin         160
BUN             485
Bilirubin       186
Cholesterol      18
Creatinine      486
DiasABP         831
FiO2            795
GCS            1495
Gender         4285
Glucose         415
HCO3            432
HCT             552
HR             2091
Height         4285
ICUType        4285
K               426
Lactate         476
MAP             802
MechVent        755
Mg              332
NIDiasABP      1543
NIMAP          1533
NISysABP       1543
Na              424
PaCO2          1044
PaO2           1032
Platelets       560
RespRate        598
SaO2            147
SysABP          832
Temp           1601
TroponinI        18
TroponinT       113
Urine          1299
WBC             509
Weight         4285
pH             1057
dtype: int64

In [50]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1122
level_1        1122
Time           1122
ALP              74
ALT              75
AST              74
Age            1122
Albumin          64
BUN             159
Bilirubin        70
Cholesterol      27
Creatinine      159
DiasABP         272
FiO2            133
GCS             495
Gender         1122
Glucose         153
HCO3            154
HCT             160
HR              660
Height         1122
ICUType        1122
K               158
Lactate          54
MAP             268
MechVent        116
Mg               90
NIDiasABP       476
NIMAP           477
NISysABP        476
Na              155
PaCO2           112
PaO2            113
Platelets       159
RespRate        289
SaO2             77
SysABP          272
Temp            473
TroponinI        10
TroponinT        64
Urine           373
WBC             152
Weight         1122
pH              115
dtype: int64

In [51]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1617
level_1        1617
Time           1617
ALP              17
ALT              17
AST              17
Age            1617
Albumin          13
BUN              75
Bilirubin        16
Cholesterol       3
Creatinine       76
DiasABP         291
FiO2            207
GCS             267
Gender         1617
Glucose          53
HCO3             72
HCT             141
HR              400
Height         1617
ICUType        1617
K                54
Lactate          96
MAP             286
MechVent        240
Mg               43
NIDiasABP       154
NIMAP           155
NISysABP        154
Na               51
PaCO2           945
PaO2            928
Platelets       158
RespRate         47
SaO2             60
SysABP          291
Temp            327
TroponinI         2
TroponinT        10
Urine           295
WBC             121
Weight         1617
pH              950
dtype: int64

In [52]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2745
level_1        2745
Time           2745
ALP             150
ALT             153
AST             155
Age            2745
Albumin         129
BUN             321
Bilirubin       153
Cholesterol       3
Creatinine      321
DiasABP         224
FiO2            499
GCS            1060
Gender         2745
Glucose         318
HCO3            318
HCT             324
HR             1517
Height         2745
ICUType        2745
K               327
Lactate         336
MAP             201
MechVent        445
Mg              254
NIDiasABP      1391
NIMAP          1377
NISysABP       1393
Na              322
PaCO2           267
PaO2            266
Platelets       303
RespRate        481
SaO2             33
SysABP          225
Temp           1082
TroponinI        13
TroponinT        72
Urine           864
WBC             301
Weight         2745
pH              277
dtype: int64

In [53]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2187
level_1        2187
Time           2187
ALP              85
ALT              88
AST              88
Age            2187
Albumin          73
BUN             340
Bilirubin        86
Cholesterol       1
Creatinine      339
DiasABP         628
FiO2            586
GCS             911
Gender         2187
Glucose         262
HCO3            268
HCT             378
HR             1256
Height         2187
ICUType        2187
K               268
Lactate         387
MAP             610
MechVent        556
Mg              221
NIDiasABP       850
NIMAP           844
NISysABP        850
Na              270
PaCO2           405
PaO2            398
Platelets       384
RespRate        337
SaO2             89
SysABP          628
Temp           1036
TroponinI         3
TroponinT        32
Urine           881
WBC             347
Weight         2187
pH              408
dtype: int64

In [54]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training

RecordID       189432
level_1        189432
Time           189432
ALP              2681
ALT              2740
AST              2747
Age            189432
Albumin          2267
BUN             14214
Bilirubin        2790
Cholesterol       379
Creatinine      14293
DiasABP        110489
FiO2            31504
GCS             62799
Gender           4187
Glucose         13183
HCO3            13877
HCT             18954
HR             181765
Height         189432
ICUType          4187
K               14763
Lactate          7687
MAP            109959
MechVent        29531
Mg              13979
NIDiasABP       83812
NIMAP           82849
NISysABP        83887
Na              13735
PaCO2           23288
PaO2            23252
Platelets       14547
RespRate        48847
SaO2             9074
SysABP         110497
Temp            77146
TroponinI         552
TroponinT        2843
Urine          142418
WBC             13273
Weight         107445
pH              24417
dtype: int64

In [55]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].count()
less_than_or_equal_to_65_training

RecordID       156700
level_1        156700
Time           156700
ALP              3328
ALT              3442
AST              3437
Age            156700
Albumin          2431
BUN             12429
Bilirubin        3449
Cholesterol       237
Creatinine      12464
DiasABP         88494
FiO2            26131
GCS             55688
Gender           3484
Glucose         11936
HCO3            12209
HCT             15849
HR             149801
Height         156700
ICUType          3484
K               13095
Lactate          7047
MAP             87949
MechVent        25663
Mg              12112
NIDiasABP       70542
NIMAP           69467
NISysABP        70607
Na              12418
PaCO2           18698
PaO2            18638
Platelets       12544
RespRate        39705
SaO2             5548
SysABP          88501
Temp            58465
TroponinI         209
TroponinT        1185
Urine          112747
WBC             11480
Weight          87433
pH              19501
dtype: int64

In [56]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [57]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [58]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101118, dtype: float64

In [59]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [60]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         1983
level_1          1983
Time             1983
ALP                30
ALT                30
AST                30
Age              1983
Albumin            24
BUN               150
Bilirubin          31
Cholesterol         6
Creatinine        152
DiasABP          1319
FiO2              376
GCS               658
Gender            113
Glucose           149
HCO3              148
HCT               184
HR               1923
Height           1983
ICUType           113
K                 156
Lactate           103
MAP              1332
MechVent          349
Mg                148
NIDiasABP         843
NIMAP             822
NISysABP          843
Na                154
PaCO2             261
PaO2              261
Platelets         146
RespRate          505
SaO2               60
SysABP           1320
Temp              683
TroponinI          11
TroponinT          21
Urine            1422
WBC               137
Weight           1983
pH                268
BMI              1983
Classificacao    1983
dtype: int64

In [61]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         23197
level_1          23197
Time             23197
ALP                436
ALT                444
AST                444
Age              23197
Albumin            354
BUN               1759
Bilirubin          452
Cholesterol         43
Creatinine        1767
DiasABP          14123
FiO2              3803
GCS               7674
Gender            1158
Glucose           1657
HCO3              1706
HCT               2231
HR               22573
Height           23197
ICUType           1158
K                 1854
Lactate           1027
MAP              14007
MechVent          3665
Mg                1706
NIDiasABP        10093
NIMAP            10002
NISysABP         10101
Na                1711
PaCO2             2760
PaO2              2752
Platelets         1748
RespRate          4748
SaO2              1078
SysABP           14123
Temp              9574
TroponinI           62
TroponinT          288
Urine            16721
WBC               1608
Weight           23197
pH                2923
BMI              23197
Classificacao    23197
dtype: int64

In [62]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         32718
level_1          32718
Time             32718
ALP                546
ALT                560
AST                560
Age              32718
Albumin            387
BUN               2308
Bilirubin          571
Cholesterol         61
Creatinine        2323
DiasABP          22372
FiO2              5448
GCS              10307
Gender            1355
Glucose           2166
HCO3              2236
HCT               3156
HR               31995
Height           32718
ICUType           1355
K                 2382
Lactate           1203
MAP              22272
MechVent          5193
Mg                2361
NIDiasABP        12500
NIMAP            12364
NISysABP         12513
Na                2191
PaCO2             4133
PaO2              4133
Platelets         2408
RespRate          5507
SaO2              1984
SysABP           22373
Temp             15306
TroponinI           65
TroponinT          300
Urine            25240
WBC               2174
Weight           32718
pH                4501
BMI              32718
Classificacao    32718
dtype: int64

In [63]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         21838
level_1          21838
Time             21838
ALP                330
ALT                332
AST                332
Age              21838
Albumin            251
BUN               1477
Bilirubin          336
Cholesterol         31
Creatinine        1480
DiasABP          15688
FiO2              3664
GCS               6575
Gender             704
Glucose           1315
HCO3              1417
HCT               1998
HR               21452
Height           21838
ICUType            704
K                 1478
Lactate            807
MAP              15628
MechVent          3499
Mg                1553
NIDiasABP         7636
NIMAP             7566
NISysABP          7641
Na                1392
PaCO2             3027
PaO2              3023
Platelets         1497
RespRate          3196
SaO2              1501
SysABP           15688
Temp             11069
TroponinI           65
TroponinT          180
Urine            17576
WBC               1350
Weight           21838
pH                3290
BMI              21838
Classificacao    21838
dtype: int64

In [64]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         10540
level_1          10540
Time             10540
ALP                166
ALT                166
AST                166
Age              10540
Albumin            126
BUN                751
Bilirubin          169
Cholesterol         17
Creatinine         753
DiasABP           7572
FiO2              1821
GCS               3233
Gender             318
Glucose            688
HCO3               709
HCT                973
HR               10365
Height           10540
ICUType            318
K                  765
Lactate            497
MAP               7579
MechVent          1765
Mg                 759
NIDiasABP         3621
NIMAP             3588
NISysABP          3624
Na                 701
PaCO2             1473
PaO2              1471
Platelets          750
RespRate          1564
SaO2               731
SysABP            7573
Temp              5179
TroponinI           18
TroponinT          124
Urine             8446
WBC                690
Weight           10540
pH                1573
BMI              10540
Classificacao    10540
dtype: int64

In [65]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         9253
level_1          9253
Time             9253
ALP               170
ALT               177
AST               175
Age              9253
Albumin           120
BUN               647
Bilirubin         179
Cholesterol        11
Creatinine        646
DiasABP          6481
FiO2             1824
GCS              2675
Gender            267
Glucose           595
HCO3              630
HCT               855
HR               9113
Height           9253
ICUType           267
K                 661
Lactate           501
MAP              6506
MechVent         1794
Mg                692
NIDiasABP        2996
NIMAP            2958
NISysABP         2997
Na                621
PaCO2            1419
PaO2             1421
Platelets         629
RespRate         1283
SaO2              649
SysABP           6482
Temp             4716
TroponinI          15
TroponinT          90
Urine            7535
WBC               571
Weight           9253
pH               1487
BMI              9253
Classificacao    9253
dtype: int64

In [66]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [67]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per variable by demographics</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,3377,4285,1122,1617,2745,2187,189432,156700,1983,23197,32718,21838,10540,9253
level_1,3377,4285,1122,1617,2745,2187,189432,156700,1983,23197,32718,21838,10540,9253
Time,3377,4285,1122,1617,2745,2187,189432,156700,1983,23197,32718,21838,10540,9253
ALP,141,185,74,17,150,85,2681,3328,30,436,546,330,166,170
ALT,145,188,75,17,153,88,2740,3442,30,444,560,332,166,177
AST,144,190,74,17,155,88,2747,3437,30,444,560,332,166,175
Age,3377,4285,1122,1617,2745,2187,189432,156700,1983,23197,32718,21838,10540,9253
Albumin,119,160,64,13,129,73,2267,2431,24,354,387,251,126,120
BUN,408,485,159,75,321,340,14214,12429,150,1759,2308,1477,751,647
Bilirubin,139,186,70,16,153,86,2790,3449,31,452,571,336,169,179
Cholesterol,16,18,27,3,3,1,379,237,6,43,61,31,17,11
Creatinine,407,486,159,76,321,339,14293,12464,152,1767,2323,1480,753,646
DiasABP,582,831,272,291,224,628,110489,88494,1319,14123,22372,15688,7572,6481
FiO2,628,795,133,207,499,586,31504,26131,376,3803,5448,3664,1821,1824
GCS,1234,1495,495,267,1060,911,62799,55688,658,7674,10307,6575,3233,2675
Gender,3377,4285,1122,1617,2745,2187,4187,3484,113,1158,1355,704,318,267
Glucose,369,415,153,53,318,262,13183,11936,149,1657,2166,1315,688,595
HCO3,378,432,154,72,318,268,13877,12209,148,1706,2236,1417,709,630
HCT,450,552,160,141,324,378,18954,15849,184,2231,3156,1998,973,855
HR,1736,2091,660,400,1517,1256,181765,149801,1923,22573,31995,21452,10365,9113
Height,3377,4285,1122,1617,2745,2187,189432,156700,1983,23197,32718,21838,10540,9253
ICUType,3377,4285,1122,1617,2745,2187,4187,3484,113,1158,1355,704,318,267
K,379,426,158,54,327,268,14763,13095,156,1854,2382,1478,765,661
Lactate,396,476,54,96,336,387,7687,7047,103,1027,1203,807,497,501
MAP,561,802,268,286,201,610,109959,87949,1332,14007,22272,15628,7579,6506
MechVent,600,755,116,240,445,556,29531,25663,349,3665,5193,3499,1765,1794
Mg,274,332,90,43,254,221,13979,12112,148,1706,2361,1553,759,692
NIDiasABP,1324,1543,476,154,1391,850,83812,70542,843,10093,12500,7636,3621,2996
NIMAP,1316,1533,477,155,1377,844,82849,69467,822,10002,12364,7566,3588,2958
NISysABP,1326,1543,476,154,1393,850,83887,70607,843,10101,12513,7641,3624,2997
Na,372,424,155,51,322,270,13735,12418,154,1711,2191,1392,701,621
PaCO2,684,1044,112,945,267,405,23288,18698,261,2760,4133,3027,1473,1419
PaO2,672,1032,113,928,266,398,23252,18638,261,2752,4133,3023,1471,1421
Platelets,443,560,159,158,303,384,14547,12544,146,1748,2408,1497,750,629
RespRate,553,598,289,47,481,337,48847,39705,505,4748,5507,3196,1564,1283
SaO2,112,147,77,60,33,89,9074,5548,60,1078,1984,1501,731,649
SysABP,582,832,272,291,225,628,110497,88501,1320,14123,22373,15688,7573,6482
Temp,1315,1601,473,327,1082,1036,77146,58465,683,9574,15306,11069,5179,4716
TroponinI,10,18,10,2,13,3,552,209,11,62,65,65,18,15
TroponinT,64,113,64,10,72,32,2843,1185,21,288,300,180,124,90
Urine,1112,1299,373,295,864,881,142418,112747,1422,16721,25240,17576,8446,7535
WBC,411,509,152,121,301,347,13273,11480,137,1608,2174,1350,690,571
Weight,3377,4285,1122,1617,2745,2187,107445,87433,1983,23197,32718,21838,10540,9253
pH,692,1057,115,950,277,408,24417,19501,268,2923,4501,3290,1573,1487