In [30]:
import os
import sys
import pandas as pd
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [31]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-10-31 08:41:22 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-10-31 08:41:22 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-10-31 08:41:22 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-10-31 08:41:22 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [32]:
train_X = physionet2012_dataset['train_X']

In [33]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3311
level_1        3311
Time           3311
ALP             139
ALT             146
AST             146
Age            3311
Albumin         121
BUN             405
Bilirubin       140
Cholesterol      23
Creatinine      405
DiasABP         595
FiO2            616
GCS            1230
Gender         3311
Glucose         356
HCO3            370
HCT             444
HR             1728
Height         3311
ICUType        3311
K               365
Lactate         367
MAP             578
MechVent        601
Mg              279
NIDiasABP      1306
NIMAP          1298
NISysABP       1309
Na              359
PaCO2           688
PaO2            676
Platelets       443
RespRate        548
SaO2            106
SysABP          595
Temp           1295
TroponinI        10
TroponinT        72
Urine          1095
WBC             406
Weight         3311
pH              695
dtype: int64

In [34]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4350
level_1        4350
Time           4350
ALP             212
ALT             218
AST             220
Age            4350
Albumin         183
BUN             515
Bilirubin       212
Cholesterol      21
Creatinine      516
DiasABP         825
FiO2            805
GCS            1500
Gender         4350
Glucose         459
HCO3            471
HCT             592
HR             2106
Height         4350
ICUType        4350
K               472
Lactate         511
MAP             797
MechVent        766
Mg              364
NIDiasABP      1571
NIMAP          1562
NISysABP       1572
Na              466
PaCO2          1094
PaO2           1079
Platelets       605
RespRate        590
SaO2            157
SysABP          827
Temp           1601
TroponinI        17
TroponinT       121
Urine          1277
WBC             559
Weight         4350
pH             1104
dtype: int64

In [35]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1100
level_1        1100
Time           1100
ALP              70
ALT              72
AST              73
Age            1100
Albumin          61
BUN             152
Bilirubin        69
Cholesterol      29
Creatinine      152
DiasABP         275
FiO2            136
GCS             477
Gender         1100
Glucose         149
HCO3            150
HCT             162
HR              641
Height         1100
ICUType        1100
K               156
Lactate          51
MAP             273
MechVent        121
Mg               95
NIDiasABP       454
NIMAP           454
NISysABP        455
Na              152
PaCO2           123
PaO2            123
Platelets       160
RespRate        273
SaO2             91
SysABP          275
Temp            437
TroponinI        10
TroponinT        63
Urine           347
WBC             156
Weight         1100
pH              126
dtype: int64

In [36]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1649
level_1        1649
Time           1649
ALP              19
ALT              21
AST              21
Age            1649
Albumin          19
BUN              82
Bilirubin        20
Cholesterol       4
Creatinine       83
DiasABP         291
FiO2            203
GCS             261
Gender         1649
Glucose          56
HCO3             77
HCT             152
HR              409
Height         1649
ICUType        1649
K                57
Lactate          97
MAP             289
MechVent        243
Mg               45
NIDiasABP       152
NIMAP           153
NISysABP        152
Na               55
PaCO2           980
PaO2            966
Platelets       176
RespRate         52
SaO2             63
SysABP          291
Temp            325
TroponinI         1
TroponinT         9
Urine           299
WBC             131
Weight         1649
pH              983
dtype: int64

In [37]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2747
level_1        2747
Time           2747
ALP             176
ALT             182
AST             183
Age            2747
Albumin         155
BUN             361
Bilirubin       178
Cholesterol       6
Creatinine      362
DiasABP         208
FiO2            506
GCS            1064
Gender         2747
Glucose         360
HCO3            359
HCT             358
HR             1521
Height         2747
ICUType        2747
K               367
Lactate         347
MAP             192
MechVent        450
Mg              292
NIDiasABP      1399
NIMAP          1385
NISysABP       1402
Na              362
PaCO2           251
PaO2            248
Platelets       338
RespRate        480
SaO2             29
SysABP          210
Temp           1087
TroponinI        11
TroponinT        82
Urine           845
WBC             337
Weight         2747
pH              259
dtype: int64

In [38]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2175
level_1        2175
Time           2175
ALP              86
ALT              89
AST              89
Age            2175
Albumin          69
BUN             327
Bilirubin        85
Cholesterol       5
Creatinine      326
DiasABP         648
FiO2            578
GCS             932
Gender         2175
Glucose         252
HCO3            257
HCT             365
HR             1269
Height         2175
ICUType        2175
K               259
Lactate         384
MAP             623
MechVent        555
Mg              213
NIDiasABP       876
NIMAP           872
NISysABP        876
Na              258
PaCO2           430
PaO2            420
Platelets       375
RespRate        336
SaO2             80
SysABP          648
Temp           1049
TroponinI         5
TroponinT        40
Urine           883
WBC             342
Weight         2175
pH              433
dtype: int64

In [39]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training

RecordID       189644
level_1        189644
Time           189644
ALP              2621
ALT              2676
AST              2678
Age            189644
Albumin          2222
BUN             14161
Bilirubin        2713
Cholesterol       380
Creatinine      14238
DiasABP        110407
FiO2            31491
GCS             62180
Gender           4176
Glucose         13159
HCO3            13845
HCT             18829
HR             182170
Height         189644
ICUType          4176
K               14724
Lactate          7827
MAP            109846
MechVent        29612
Mg              13947
NIDiasABP       84774
NIMAP           83751
NISysABP        84850
Na              13717
PaCO2           23608
PaO2            23581
Platelets       14545
RespRate        48382
SaO2             9152
SysABP         110415
Temp            77311
TroponinI         529
TroponinT        2709
Urine          142939
WBC             13237
Weight         106446
pH              24728
dtype: int64

In [40]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].count()
less_than_or_equal_to_65_training

RecordID       157367
level_1        157367
Time           157367
ALP              3395
ALT              3514
AST              3509
Age            157367
Albumin          2407
BUN             12417
Bilirubin        3519
Cholesterol       249
Creatinine      12456
DiasABP         89430
FiO2            26396
GCS             55470
Gender           3495
Glucose         11862
HCO3            12163
HCT             16025
HR             150443
Height         157367
ICUType          3495
K               13085
Lactate          7332
MAP             88860
MechVent        26096
Mg              12057
NIDiasABP       70736
NIMAP           69481
NISysABP        70802
Na              12359
PaCO2           19043
PaO2            19000
Platelets       12599
RespRate        38517
SaO2             5641
SysABP          89440
Temp            59475
TroponinI         210
TroponinT        1168
Urine          112975
WBC             11539
Weight          87187
pH              19880
dtype: int64

In [41]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [42]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [46]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

0       0.01803
1       0.01626
2       0.01753
3       0.01575
4       0.01702
         ...
4047    0.01702
4048    0.01524
4049    0.01600
4050    0.01727
4051    0.01727
Name: Height, Length: 4052, dtype: float64

In [47]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,600.0,11.5,84.6,NaN,260242.911841,Obesidade grau 3
1,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.0,36.3,0.7,NaN,120.0,6.2,87.0,NaN,329062.331214,Obesidade grau 3
2,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,98.0,34.8,NaN,NaN,35.0,9.0,66.1,7.39,215098.621579,Obesidade grau 3
3,132567,0,0.0,NaN,NaN,NaN,71.0,NaN,9.0,NaN,...,111.5,35.6,NaN,NaN,15.0,9.0,56.0,7.44,225749.559083,Obesidade grau 3
4,132570,0,0.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,36.6,NaN,NaN,600.0,8.8,102.6,NaN,354183.438023,Obesidade grau 3

In [20]:
less_than_or_equal_to_65_training = filtered_train_X.count()
less_than_or_equal_to_65_training

RecordID       100744
level_1        100744
Time           100744
ALP              1648
ALT              1673
AST              1672
Age            100744
Albumin          1232
BUN              7063
Bilirubin        1695
Cholesterol       162
Creatinine       7086
DiasABP         69387
FiO2            17132
GCS             31557
Gender           3994
Glucose          6539
HCO3             6809
HCT              9445
HR              98585
Height         100744
ICUType          3994
K                7295
Lactate          4292
MAP             69165
MechVent        16599
Mg               7265
NIDiasABP       37228
NIMAP           36816
NISysABP        37258
Na               6762
PaCO2           13537
PaO2            13535
Platelets        7230
RespRate        17023
SaO2             6206
SysABP          69389
Temp            47252
TroponinI         219
TroponinT         992
Urine           78038
WBC              6581
Weight         100744
pH              14532
dtype: int64

In [17]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [18]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training

df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-
RecordID,3381,4282,1106,1634,2755,2176,190078,156817
level_1,3381,4282,1106,1634,2755,2176,190078,156817
Time,3381,4282,1106,1634,2755,2176,190078,156817
ALP,143,193,66,20,161,89,2657,3309
ALT,150,197,69,21,167,90,2719,3411
AST,150,198,68,21,169,90,2720,3406
Age,3381,4282,1106,1634,2755,2176,190078,156817
Albumin,118,164,53,15,142,72,2224,2354
BUN,412,482,160,85,323,327,14080,12451
Bilirubin,142,191,62,20,163,88,2756,3422
Cholesterol,16,20,22,5,5,4,375,254
Creatinine,412,482,160,85,324,326,14146,12515
DiasABP,602,817,279,287,230,625,110372,90664
FiO2,626,783,147,205,473,586,31538,26113
GCS,1222,1461,479,258,1050,899,62681,55688
Gender,3381,4282,1106,1634,2755,2176,4191,3480
Glucose,367,415,155,60,322,246,13065,11886
HCO3,376,429,157,78,320,251,13768,12185
HCT,450,537,161,147,326,354,18893,16015
HR,1742,2071,651,396,1520,1250,182422,149845
Height,3381,4282,1106,1634,2755,2176,190078,156817
ICUType,3381,4282,1106,1634,2755,2176,4191,3480
K,374,425,161,61,324,254,14629,13119
Lactate,387,502,54,102,339,395,7767,7299
MAP,587,788,275,285,212,605,109779,90104
MechVent,592,751,133,234,428,550,29827,25694
Mg,282,332,93,52,258,212,13903,12184
NIDiasABP,1317,1534,461,147,1387,858,84389,69075
NIMAP,1302,1525,459,148,1370,852,83379,67926
NISysABP,1318,1535,461,147,1389,858,84458,69140
Na,368,422,158,58,322,253,13660,12382
PaCO2,685,1101,125,979,257,427,23532,19272
PaO2,676,1080,123,960,255,420,23490,19233
Platelets,453,552,158,170,308,370,14537,12562
RespRate,555,605,259,46,516,340,49097,39750
SaO2,115,169,89,71,34,90,9084,5821
SysABP,602,819,279,287,232,625,110379,90669
Temp,1314,1572,454,319,1094,1021,77418,59110
TroponinI,14,11,7,2,13,3,527,230
TroponinT,75,110,67,8,72,38,2826,1194
Urine,1095,1241,346,294,834,863,142850,112830
WBC,423,497,157,124,305,335,13249,11492
Weight,3381,4282,1106,1634,2755,2176,106603,87256
pH,693,1111,127,982,267,430,24682,20105