In [418]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [419]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-02 12:03:18 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-02 12:03:18 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-02 12:03:18 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-02 12:03:18 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [420]:
train_X = physionet2012_dataset['train_X']

In [421]:
# teste = train_X[train_X['Gender'] == 0.0]
# teste["RecordID"].value_counts()

In [422]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3412
level_1        3412
Time           3412
ALP             149
ALT             158
AST             157
Age            3412
Albumin         134
BUN             435
Bilirubin       150
Cholesterol      14
Creatinine      435
DiasABP         583
FiO2            657
GCS            1263
Gender         3412
Glucose         396
HCO3            407
HCT             470
HR             1769
Height         3412
ICUType        3412
K               403
Lactate         403
MAP             567
MechVent        627
Mg              302
NIDiasABP      1353
NIMAP          1341
NISysABP       1354
Na              398
PaCO2           695
PaO2            685
Platelets       465
RespRate        562
SaO2            107
SysABP          583
Temp           1332
TroponinI        12
TroponinT        71
Urine          1127
WBC             436
Weight         3412
pH              701
dtype: int64

In [423]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4254
level_1        4254
Time           4254
ALP             210
ALT             213
AST             215
Age            4254
Albumin         178
BUN             512
Bilirubin       212
Cholesterol      21
Creatinine      513
DiasABP         827
FiO2            779
GCS            1450
Gender         4254
Glucose         440
HCO3            454
HCT             571
HR             2078
Height         4254
ICUType        4254
K               452
Lactate         495
MAP             801
MechVent        744
Mg              342
NIDiasABP      1534
NIMAP          1526
NISysABP       1534
Na              447
PaCO2          1071
PaO2           1051
Platelets       590
RespRate        587
SaO2            160
SysABP          829
Temp           1584
TroponinI        16
TroponinT       121
Urine          1262
WBC             533
Weight         4254
pH             1084
dtype: int64

In [424]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1113
level_1        1113
Time           1113
ALP              76
ALT              79
AST              79
Age            1113
Albumin          70
BUN             166
Bilirubin        73
Cholesterol      27
Creatinine      166
DiasABP         261
FiO2            145
GCS             458
Gender         1113
Glucose         164
HCO3            165
HCT             165
HR              631
Height         1113
ICUType        1113
K               167
Lactate          52
MAP             254
MechVent        126
Mg               97
NIDiasABP       454
NIMAP           453
NISysABP        454
Na              166
PaCO2           137
PaO2            137
Platelets       162
RespRate        254
SaO2             92
SysABP          261
Temp            427
TroponinI         9
TroponinT        67
Urine           351
WBC             158
Weight         1113
pH              139
dtype: int64

In [425]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1623
level_1        1623
Time           1623
ALP              23
ALT              24
AST              24
Age            1623
Albumin          21
BUN              85
Bilirubin        24
Cholesterol       4
Creatinine       86
DiasABP         307
FiO2            207
GCS             268
Gender         1623
Glucose          63
HCO3             81
HCT             159
HR              421
Height         1623
ICUType        1623
K                64
Lactate         100
MAP             305
MechVent        246
Mg               52
NIDiasABP       157
NIMAP           158
NISysABP        157
Na               60
PaCO2           952
PaO2            935
Platelets       177
RespRate         55
SaO2             59
SysABP          307
Temp            337
TroponinI         4
TroponinT        10
Urine           310
WBC             134
Weight         1623
pH              956
dtype: int64

In [426]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2761
level_1        2761
Time           2761
ALP             170
ALT             176
AST             177
Age            2761
Albumin         146
BUN             360
Bilirubin       173
Cholesterol       2
Creatinine      360
DiasABP         218
FiO2            499
GCS            1073
Gender         2761
Glucose         356
HCO3            356
HCT             348
HR             1519
Height         2761
ICUType        2761
K               364
Lactate         341
MAP             203
MechVent        444
Mg              284
NIDiasABP      1393
NIMAP          1380
NISysABP       1394
Na              359
PaCO2           247
PaO2            241
Platelets       334
RespRate        489
SaO2             32
SysABP          220
Temp           1099
TroponinI        12
TroponinT        78
Urine           851
WBC             332
Weight         2761
pH              256
dtype: int64

In [427]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2174
level_1        2174
Time           2174
ALP              90
ALT              92
AST              92
Age            2174
Albumin          75
BUN             337
Bilirubin        92
Cholesterol       2
Creatinine      337
DiasABP         625
FiO2            585
GCS             916
Gender         2174
Glucose         254
HCO3            260
HCT             369
HR             1278
Height         2174
ICUType        2174
K               261
Lactate         405
MAP             607
MechVent        555
Mg              212
NIDiasABP       885
NIMAP           878
NISysABP        885
Na              261
PaCO2           430
PaO2            423
Platelets       382
RespRate        352
SaO2             84
SysABP          625
Temp           1054
TroponinI         3
TroponinT        38
Urine           878
WBC             345
Weight         2174
pH              434
dtype: int64

In [428]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training['Gender'] != -1.0]
#more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training.count()
more_than_or_equal_to_65_training

RecordID       4225
level_1        4225
Time           4225
ALP            1635
ALT            1672
AST            1674
Age            4225
Albumin        1597
BUN            4178
Bilirubin      1683
Cholesterol     367
Creatinine     4178
DiasABP        2973
FiO2           2853
GCS            4165
Gender         4225
Glucose        4122
HCO3           4168
HCT            4170
HR             4166
Height         4225
ICUType        4225
K              4143
Lactate        2294
MAP            2970
MechVent       2612
Mg             4146
NIDiasABP      3691
NIMAP          3679
NISysABP       3700
Na             4164
PaCO2          3178
PaO2           3176
Platelets      4169
RespRate       1202
SaO2           2016
SysABP         2973
Temp           4165
TroponinI       229
TroponinT      1165
Urine          4120
WBC            4162
Weight         4225
pH             3197
dtype: int64

In [429]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [430]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training['Gender'] != -1.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training.count()
less_than_or_equal_to_65_training

RecordID       3441
level_1        3441
Time           3441
ALP            1621
ALT            1652
AST            1651
Age            3441
Albumin        1504
BUN            3385
Bilirubin      1636
Cholesterol     220
Creatinine     3385
DiasABP        2398
FiO2           2306
GCS            3386
Gender         3441
Glucose        3363
HCO3           3380
HCT            3386
HR             3386
Height         3441
ICUType        3441
K              3372
Lactate        1930
MAP            2391
MechVent       2196
Mg             3351
NIDiasABP      3020
NIMAP          3015
NISysABP       3026
Na             3379
PaCO2          2580
PaO2           2579
Platelets      3381
RespRate        952
SaO2           1425
SysABP         2398
Temp           3386
TroponinI       111
TroponinT       511
Urine          3345
WBC            3378
Weight         3441
pH             2597
dtype: int64

In [431]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [432]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [433]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101165, dtype: float64

In [434]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [435]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_train = classification_low_weight_train[classification_low_weight_train['Gender'] != -1.0]
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         126
level_1          126
Time             126
ALP               25
ALT               24
AST               24
Age              126
Albumin           18
BUN               64
Bilirubin         25
Cholesterol        6
Creatinine        64
DiasABP           64
FiO2              56
GCS               77
Gender           116
Glucose           59
HCO3              64
HCT               68
HR                87
Height           126
ICUType          116
K                 59
Lactate           44
MAP               64
MechVent          53
Mg                62
NIDiasABP         66
NIMAP             65
NISysABP          66
Na                59
PaCO2             77
PaO2              77
Platelets         69
RespRate          17
SaO2              30
SysABP            64
Temp              82
TroponinI          6
TroponinT         11
Urine             76
WBC               65
Weight           126
pH                77
BMI              126
Classificacao    126
dtype: int64

In [436]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_train = classification_normal_weight_train[classification_normal_weight_train['Gender'] != -1.0]
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         1193
level_1          1193
Time             1193
ALP               240
ALT               246
AST               246
Age              1193
Albumin           239
BUN               651
Bilirubin         239
Cholesterol        39
Creatinine        650
DiasABP           647
FiO2              530
GCS               824
Gender           1138
Glucose           612
HCO3              633
HCT               667
HR                895
Height           1193
ICUType          1138
K                 622
Lactate           376
MAP               644
MechVent          519
Mg                617
NIDiasABP         658
NIMAP             658
NISysABP          659
Na                627
PaCO2             679
PaO2              676
Platelets         670
RespRate          183
SaO2              312
SysABP            647
Temp              833
TroponinI          30
TroponinT         131
Urine             791
WBC               649
Weight           1193
pH                693
BMI              1193
Classificacao    1193
dtype: int64

In [437]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_train = classification_overweight_train[classification_overweight_train['Gender'] != -1.0]
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         1655
level_1          1655
Time             1655
ALP               331
ALT               336
AST               336
Age              1655
Albumin           284
BUN               974
Bilirubin         337
Cholesterol        51
Creatinine        975
DiasABP          1022
FiO2              763
GCS              1197
Gender           1384
Glucose           917
HCO3              959
HCT              1008
HR               1289
Height           1655
ICUType          1384
K                 937
Lactate           476
MAP              1015
MechVent          797
Mg                931
NIDiasABP         922
NIMAP             920
NISysABP          925
Na                950
PaCO2            1042
PaO2             1035
Platelets         990
RespRate          213
SaO2              597
SysABP           1022
Temp             1220
TroponinI          34
TroponinT         140
Urine            1185
WBC               963
Weight           1655
pH               1077
BMI              1655
Classificacao    1655
dtype: int64

In [438]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_train = classification_obesity_grade1_train[classification_obesity_grade1_train['Gender'] != -1.0]
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         1047
level_1          1047
Time             1047
ALP               194
ALT               197
AST               196
Age              1047
Albumin           178
BUN               645
Bilirubin         200
Cholesterol        23
Creatinine        646
DiasABP           733
FiO2              559
GCS               806
Gender            695
Glucose           582
HCO3              633
HCT               675
HR                865
Height           1047
ICUType           695
K                 607
Lactate           320
MAP               732
MechVent          546
Mg                633
NIDiasABP         561
NIMAP             556
NISysABP          562
Na                628
PaCO2             697
PaO2              697
Platelets         661
RespRate           95
SaO2              398
SysABP            733
Temp              832
TroponinI          25
TroponinT          90
Urine             819
WBC               643
Weight           1047
pH                734
BMI              1047
Classificacao    1047
dtype: int64

In [439]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_train = classification_obesity_grade2_train[classification_obesity_grade2_train['Gender'] != -1.0]
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         490
level_1          490
Time             490
ALP              106
ALT              106
AST              106
Age              490
Albumin           81
BUN              314
Bilirubin        106
Cholesterol       13
Creatinine       313
DiasABP          340
FiO2             265
GCS              390
Gender           315
Glucose          291
HCO3             310
HCT              329
HR               413
Height           490
ICUType          315
K                300
Lactate          166
MAP              340
MechVent         261
Mg               297
NIDiasABP        286
NIMAP            283
NISysABP         287
Na               305
PaCO2            328
PaO2             326
Platelets        323
RespRate          50
SaO2             203
SysABP           340
Temp             401
TroponinI         13
TroponinT         51
Urine            390
WBC              314
Weight           490
pH               337
BMI              490
Classificacao    490
dtype: int64

In [440]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_train = classification_obesity_grade3_train[classification_obesity_grade3_train['Gender'] != -1.0]
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         372
level_1          372
Time             372
ALP              106
ALT              108
AST              108
Age              372
Albumin           88
BUN              268
Bilirubin        107
Cholesterol       11
Creatinine       268
DiasABP          282
FiO2             229
GCS              331
Gender           272
Glucose          243
HCO3             265
HCT              277
HR               347
Height           372
ICUType          272
K                251
Lactate          143
MAP              280
MechVent         229
Mg               257
NIDiasABP        232
NIMAP            231
NISysABP         233
Na               264
PaCO2            263
PaO2             263
Platelets        273
RespRate          46
SaO2             173
SysABP           282
Temp             334
TroponinI         10
TroponinT         48
Urine            328
WBC              268
Weight           372
pH               267
BMI              372
Classificacao    372
dtype: int64

In [441]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [442]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
level_1,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
Time,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
ALP,149,210,76,23,170,90,1635,1621,25,240,331,194,106,106
ALT,158,213,79,24,176,92,1672,1652,24,246,336,197,106,108
AST,157,215,79,24,177,92,1674,1651,24,246,336,196,106,108
Age,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
Albumin,134,178,70,21,146,75,1597,1504,18,239,284,178,81,88
BUN,435,512,166,85,360,337,4178,3385,64,651,974,645,314,268
Bilirubin,150,212,73,24,173,92,1683,1636,25,239,337,200,106,107
Cholesterol,14,21,27,4,2,2,367,220,6,39,51,23,13,11
Creatinine,435,513,166,86,360,337,4178,3385,64,650,975,646,313,268
DiasABP,583,827,261,307,218,625,2973,2398,64,647,1022,733,340,282
FiO2,657,779,145,207,499,585,2853,2306,56,530,763,559,265,229
GCS,1263,1450,458,268,1073,916,4165,3386,77,824,1197,806,390,331
Gender,3412,4254,1113,1623,2761,2174,4225,3441,116,1138,1384,695,315,272
Glucose,396,440,164,63,356,254,4122,3363,59,612,917,582,291,243
HCO3,407,454,165,81,356,260,4168,3380,64,633,959,633,310,265
HCT,470,571,165,159,348,369,4170,3386,68,667,1008,675,329,277
HR,1769,2078,631,421,1519,1278,4166,3386,87,895,1289,865,413,347
Height,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
ICUType,3412,4254,1113,1623,2761,2174,4225,3441,116,1138,1384,695,315,272
K,403,452,167,64,364,261,4143,3372,59,622,937,607,300,251
Lactate,403,495,52,100,341,405,2294,1930,44,376,476,320,166,143
MAP,567,801,254,305,203,607,2970,2391,64,644,1015,732,340,280
MechVent,627,744,126,246,444,555,2612,2196,53,519,797,546,261,229
Mg,302,342,97,52,284,212,4146,3351,62,617,931,633,297,257
NIDiasABP,1353,1534,454,157,1393,885,3691,3020,66,658,922,561,286,232
NIMAP,1341,1526,453,158,1380,878,3679,3015,65,658,920,556,283,231
NISysABP,1354,1534,454,157,1394,885,3700,3026,66,659,925,562,287,233
Na,398,447,166,60,359,261,4164,3379,59,627,950,628,305,264
PaCO2,695,1071,137,952,247,430,3178,2580,77,679,1042,697,328,263
PaO2,685,1051,137,935,241,423,3176,2579,77,676,1035,697,326,263
Platelets,465,590,162,177,334,382,4169,3381,69,670,990,661,323,273
RespRate,562,587,254,55,489,352,1202,952,17,183,213,95,50,46
SaO2,107,160,92,59,32,84,2016,1425,30,312,597,398,203,173
SysABP,583,829,261,307,220,625,2973,2398,64,647,1022,733,340,282
Temp,1332,1584,427,337,1099,1054,4165,3386,82,833,1220,832,401,334
TroponinI,12,16,9,4,12,3,229,111,6,30,34,25,13,10
TroponinT,71,121,67,10,78,38,1165,511,11,131,140,90,51,48
Urine,1127,1262,351,310,851,878,4120,3345,76,791,1185,819,390,328
WBC,436,533,158,134,332,345,4162,3378,65,649,963,643,314,268
Weight,3412,4254,1113,1623,2761,2174,4225,3441,126,1193,1655,1047,490,372
pH,701,1084,139,956,256,434,3197,2597,77,693,1077,734,337,267

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [443]:
validation_X = physionet2012_dataset['val_X']

In [444]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       831
level_1        831
Time           831
ALP             35
ALT             36
AST             35
Age            831
Albumin         24
BUN             89
Bilirubin       34
Cholesterol      6
Creatinine      89
DiasABP        159
FiO2           181
GCS            292
Gender         831
Glucose         78
HCO3            81
HCT            103
HR             435
Height         831
ICUType        831
K               81
Lactate         98
MAP            149
MechVent       168
Mg              69
NIDiasABP      327
NIMAP          325
NISysABP       328
Na              80
PaCO2          154
PaO2           152
Platelets      108
RespRate       123
SaO2            26
SysABP         159
Temp           320
TroponinI        2
TroponinT       17
Urine          262
WBC             95
Weight         831
pH             157
dtype: int64

In [445]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1085
level_1        1085
Time           1085
ALP              49
ALT              52
AST              52
Age            1085
Albumin          49
BUN             135
Bilirubin        47
Cholesterol       8
Creatinine      135
DiasABP         202
FiO2            189
GCS             399
Gender         1085
Glucose         123
HCO3            127
HCT             149
HR              540
Height         1085
ICUType        1085
K               128
Lactate         129
MAP             195
MechVent        180
Mg              101
NIDiasABP       407
NIMAP           403
NISysABP        407
Na              125
PaCO2           269
PaO2            265
Platelets       147
RespRate        154
SaO2             33
SysABP          202
Temp            411
TroponinI         6
TroponinT        29
Urine           324
WBC             137
Weight         1085
pH              270
dtype: int64

In [446]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       284
level_1        284
Time           284
ALP             15
ALT             16
AST             16
Age            284
Albumin         11
BUN             41
Bilirubin       15
Cholesterol      8
Creatinine      41
DiasABP         73
FiO2            37
GCS            128
Gender         284
Glucose         38
HCO3            39
HCT             44
HR             167
Height         284
ICUType        284
K               42
Lactate         20
MAP             72
MechVent        33
Mg              32
NIDiasABP      123
NIMAP          123
NISysABP       123
Na              39
PaCO2           27
PaO2            27
Platelets       43
RespRate        74
SaO2            15
SysABP          73
Temp           116
TroponinI        2
TroponinT       17
Urine           75
WBC             42
Weight         284
pH              27
dtype: int64

In [447]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       412
level_1        412
Time           412
ALP              7
ALT              7
AST              7
Age            412
Albumin          5
BUN             20
Bilirubin        6
Cholesterol      2
Creatinine      20
DiasABP         69
FiO2            48
GCS             62
Gender         412
Glucose         15
HCO3            19
HCT             34
HR              95
Height         412
ICUType        412
K               15
Lactate         21
MAP             67
MechVent        53
Mg              13
NIDiasABP       32
NIMAP           32
NISysABP        32
Na              15
PaCO2          244
PaO2           241
Platelets       40
RespRate        11
SaO2            16
SysABP          69
Temp            78
TroponinI        0
TroponinT        4
Urine           70
WBC             28
Weight         412
pH             245
dtype: int64

In [448]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       681
level_1        681
Time           681
ALP             38
ALT             40
AST             39
Age            681
Albumin         37
BUN             80
Bilirubin       37
Cholesterol      2
Creatinine      80
DiasABP         56
FiO2           134
GCS            277
Gender         681
Glucose         79
HCO3            80
HCT             79
HR             396
Height         681
ICUType        681
K               82
Lactate         96
MAP             49
MechVent       121
Mg              66
NIDiasABP      359
NIMAP          353
NISysABP       360
Na              81
PaCO2           62
PaO2            61
Platelets       74
RespRate       117
SaO2             8
SysABP          56
Temp           281
TroponinI        4
TroponinT       18
Urine          211
WBC             73
Weight         681
pH              65
dtype: int64

In [449]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       541
level_1        541
Time           541
ALP             24
ALT             25
AST             25
Age            541
Albumin         20
BUN             83
Bilirubin       23
Cholesterol      2
Creatinine      83
DiasABP        163
FiO2           151
GCS            225
Gender         541
Glucose         69
HCO3            70
HCT             95
HR             318
Height         541
ICUType        541
K               70
Lactate         90
MAP            156
MechVent       141
Mg              59
NIDiasABP      221
NIMAP          221
NISysABP       221
Na              70
PaCO2           91
PaO2            89
Platelets       98
RespRate        75
SaO2            20
SysABP         163
Temp           257
TroponinI        2
TroponinT        7
Urine          230
WBC             89
Weight         541
pH              91
dtype: int64

In [450]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation[more_than_or_equal_to_65_validation['Gender'] != -1.0]
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation.count()
more_than_or_equal_to_65_validation

RecordID       1039
level_1        1039
Time           1039
ALP             409
ALT             418
AST             420
Age            1039
Albumin         388
BUN            1014
Bilirubin       423
Cholesterol      98
Creatinine     1014
DiasABP         760
FiO2            733
GCS            1025
Gender         1039
Glucose        1009
HCO3           1013
HCT            1014
HR             1025
Height         1039
ICUType        1039
K              1010
Lactate         549
MAP             760
MechVent        680
Mg             1009
NIDiasABP       904
NIMAP           904
NISysABP        906
Na             1012
PaCO2           811
PaO2            812
Platelets      1014
RespRate        272
SaO2            513
SysABP          760
Temp           1025
TroponinI        78
TroponinT       297
Urine          1016
WBC            1013
Weight         1039
pH              814
dtype: int64

In [451]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation[less_than_or_equal_to_65_validation['Gender'] != -1.0]
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation.count()
less_than_or_equal_to_65_validation

RecordID       877
level_1        877
Time           877
ALP            428
ALT            440
AST            440
Age            877
Albumin        371
BUN            867
Bilirubin      433
Cholesterol     74
Creatinine     867
DiasABP        618
FiO2           585
GCS            863
Gender         877
Glucose        861
HCO3           865
HCT            867
HR             863
Height         877
ICUType        877
K              862
Lactate        489
MAP            614
MechVent       569
Mg             860
NIDiasABP      777
NIMAP          776
NISysABP       779
Na             865
PaCO2          672
PaO2           673
Platelets      865
RespRate       234
SaO2           344
SysABP         618
Temp           863
TroponinI       28
TroponinT      107
Urine          855
WBC            865
Weight         877
pH             676
dtype: int64

In [452]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [453]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

288       1.626
289       1.626
290       1.626
291       1.626
293       1.626
          ...
575035    1.600
575037    1.600
575038    1.600
575039    1.600
575184    1.727
Name: Height, Length: 26496, dtype: float64

In [454]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
288,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.3,NaN,NaN,NaN,NaN,87.0,NaN,32.906233,Obesidade grau 1
289,132548,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,205.000000,35.8,NaN,NaN,120.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
290,132548,2,2.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,212.142857,NaN,NaN,NaN,60.0,6.2,87.0,NaN,32.906233,Obesidade grau 1
291,132548,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,201.250000,NaN,NaN,NaN,140.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
293,132548,5,5.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,175.000000,36.6,NaN,NaN,190.0,NaN,87.0,NaN,32.906233,Obesidade grau 1

In [455]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_validation = classification_low_weight_validation[classification_low_weight_validation['Gender'] != -1.0]
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         36
level_1          36
Time             36
ALP               9
ALT               9
AST               9
Age              36
Albumin           7
BUN              17
Bilirubin         9
Cholesterol       1
Creatinine       17
DiasABP          19
FiO2             19
GCS              26
Gender           34
Glucose          17
HCO3             17
HCT              17
HR               28
Height           36
ICUType          34
K                17
Lactate          11
MAP              20
MechVent         19
Mg               15
NIDiasABP        22
NIMAP            22
NISysABP         22
Na               18
PaCO2            19
PaO2             19
Platelets        17
RespRate          1
SaO2             12
SysABP           19
Temp             27
TroponinI         1
TroponinT         6
Urine            22
WBC              17
Weight           36
pH               19
BMI              36
Classificacao    36
dtype: int64

In [456]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_validation = classification_normal_weight_validation[classification_normal_weight_validation['Gender'] != -1.0]
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         333
level_1          333
Time             333
ALP               74
ALT               75
AST               76
Age              333
Albumin           58
BUN              182
Bilirubin         75
Cholesterol        8
Creatinine       182
DiasABP          189
FiO2             150
GCS              235
Gender           311
Glucose          174
HCO3             176
HCT              193
HR               252
Height           333
ICUType          311
K                176
Lactate          102
MAP              187
MechVent         148
Mg               174
NIDiasABP        181
NIMAP            180
NISysABP         181
Na               175
PaCO2            201
PaO2             202
Platelets        191
RespRate          51
SaO2             103
SysABP           189
Temp             237
TroponinI         16
TroponinT         34
Urine            226
WBC              183
Weight           333
pH               204
BMI              333
Classificacao    333
dtype: int64

In [457]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_validation = classification_overweight_validation[classification_overweight_validation['Gender'] != -1.0]
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         428
level_1          428
Time             428
ALP               70
ALT               73
AST               73
Age              428
Albumin           62
BUN              243
Bilirubin         75
Cholesterol       23
Creatinine       245
DiasABP          267
FiO2             196
GCS              312
Gender           354
Glucose          231
HCO3             239
HCT              256
HR               334
Height           428
ICUType          354
K                238
Lactate          118
MAP              266
MechVent         195
Mg               234
NIDiasABP        241
NIMAP            241
NISysABP         241
Na               238
PaCO2            270
PaO2             268
Platelets        254
RespRate          52
SaO2             150
SysABP           267
Temp             318
TroponinI         14
TroponinT         41
Urine            306
WBC              246
Weight           428
pH               281
BMI              428
Classificacao    428
dtype: int64

In [458]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_validation = classification_obesity_grade1_validation[classification_obesity_grade1_validation['Gender'] != -1.0]
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         283
level_1          283
Time             283
ALP               64
ALT               64
AST               63
Age              283
Albumin           55
BUN              179
Bilirubin         61
Cholesterol       13
Creatinine       179
DiasABP          198
FiO2             136
GCS              217
Gender           191
Glucose          166
HCO3             176
HCT              186
HR               239
Height           283
ICUType          191
K                171
Lactate           93
MAP              197
MechVent         141
Mg               178
NIDiasABP        166
NIMAP            166
NISysABP         166
Na               174
PaCO2            180
PaO2             180
Platelets        180
RespRate          36
SaO2             112
SysABP           198
Temp             226
TroponinI         12
TroponinT         30
Urine            224
WBC              177
Weight           283
pH               186
BMI              283
Classificacao    283
dtype: int64

In [459]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_validation = classification_obesity_grade2_validation[classification_obesity_grade2_validation != -1.0]
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         114
level_1          114
Time             114
ALP               26
ALT               26
AST               26
Age              114
Albumin           19
BUN               76
Bilirubin         28
Cholesterol        7
Creatinine        76
DiasABP           83
FiO2              68
GCS               93
Gender            79
Glucose           68
HCO3              73
HCT               79
HR               100
Height           114
ICUType           79
K                 72
Lactate           48
MAP               83
MechVent          61
Mg                74
NIDiasABP         69
NIMAP             69
NISysABP          69
Na                72
PaCO2             77
PaO2              77
Platelets         77
RespRate          13
SaO2              45
SysABP            83
Temp              95
TroponinI          0
TroponinT         11
Urine             91
WBC               76
Weight           114
pH                79
BMI              114
Classificacao    114
dtype: int64

In [460]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_validation = classification_obesity_grade3_validation[classification_obesity_grade3_validation['Gender'] != -1.0]
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         80
level_1          80
Time             80
ALP              21
ALT              23
AST              23
Age              80
Albumin          19
BUN              54
Bilirubin        24
Cholesterol       6
Creatinine       54
DiasABP          55
FiO2             54
GCS              68
Gender           67
Glucose          49
HCO3             54
HCT              57
HR               72
Height           80
ICUType          67
K                50
Lactate          30
MAP              55
MechVent         50
Mg               55
NIDiasABP        52
NIMAP            52
NISysABP         52
Na               52
PaCO2            55
PaO2             55
Platelets        55
RespRate         12
SaO2             32
SysABP           55
Temp             72
TroponinI         1
TroponinT         6
Urine            68
WBC              55
Weight           80
pH               55
BMI              80
Classificacao    80
dtype: int64

In [461]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [462]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
level_1,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
Time,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
ALP,35,49,15,7,38,24,409,428,9,74,70,64,26,21
ALT,36,52,16,7,40,25,418,440,9,75,73,64,26,23
AST,35,52,16,7,39,25,420,440,9,76,73,63,26,23
Age,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
Albumin,24,49,11,5,37,20,388,371,7,58,62,55,19,19
BUN,89,135,41,20,80,83,1014,867,17,182,243,179,76,54
Bilirubin,34,47,15,6,37,23,423,433,9,75,75,61,28,24
Cholesterol,6,8,8,2,2,2,98,74,1,8,23,13,7,6
Creatinine,89,135,41,20,80,83,1014,867,17,182,245,179,76,54
DiasABP,159,202,73,69,56,163,760,618,19,189,267,198,83,55
FiO2,181,189,37,48,134,151,733,585,19,150,196,136,68,54
GCS,292,399,128,62,277,225,1025,863,26,235,312,217,93,68
Gender,831,1085,284,412,681,541,1039,877,34,311,354,191,79,67
Glucose,78,123,38,15,79,69,1009,861,17,174,231,166,68,49
HCO3,81,127,39,19,80,70,1013,865,17,176,239,176,73,54
HCT,103,149,44,34,79,95,1014,867,17,193,256,186,79,57
HR,435,540,167,95,396,318,1025,863,28,252,334,239,100,72
Height,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
ICUType,831,1085,284,412,681,541,1039,877,34,311,354,191,79,67
K,81,128,42,15,82,70,1010,862,17,176,238,171,72,50
Lactate,98,129,20,21,96,90,549,489,11,102,118,93,48,30
MAP,149,195,72,67,49,156,760,614,20,187,266,197,83,55
MechVent,168,180,33,53,121,141,680,569,19,148,195,141,61,50
Mg,69,101,32,13,66,59,1009,860,15,174,234,178,74,55
NIDiasABP,327,407,123,32,359,221,904,777,22,181,241,166,69,52
NIMAP,325,403,123,32,353,221,904,776,22,180,241,166,69,52
NISysABP,328,407,123,32,360,221,906,779,22,181,241,166,69,52
Na,80,125,39,15,81,70,1012,865,18,175,238,174,72,52
PaCO2,154,269,27,244,62,91,811,672,19,201,270,180,77,55
PaO2,152,265,27,241,61,89,812,673,19,202,268,180,77,55
Platelets,108,147,43,40,74,98,1014,865,17,191,254,180,77,55
RespRate,123,154,74,11,117,75,272,234,1,51,52,36,13,12
SaO2,26,33,15,16,8,20,513,344,12,103,150,112,45,32
SysABP,159,202,73,69,56,163,760,618,19,189,267,198,83,55
Temp,320,411,116,78,281,257,1025,863,27,237,318,226,95,72
TroponinI,2,6,2,0,4,2,78,28,1,16,14,12,0,1
TroponinT,17,29,17,4,18,7,297,107,6,34,41,30,11,6
Urine,262,324,75,70,211,230,1016,855,22,226,306,224,91,68
WBC,95,137,42,28,73,89,1013,865,17,183,246,177,76,55
Weight,831,1085,284,412,681,541,1039,877,36,333,428,283,114,80
pH,157,270,27,245,65,91,814,676,19,204,281,186,79,55

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [463]:
test_X = physionet2012_dataset['test_X']

In [464]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1016
level_1        1016
Time           1016
ALP              42
ALT              42
AST              41
Age            1016
Albumin          36
BUN             121
Bilirubin        41
Cholesterol       7
Creatinine      121
DiasABP         180
FiO2            164
GCS             367
Gender         1016
Glucose         104
HCO3            105
HCT             129
HR              524
Height         1016
ICUType        1016
K               106
Lactate         117
MAP             175
MechVent        154
Mg               83
NIDiasABP       397
NIMAP           393
NISysABP        398
Na              104
PaCO2           207
PaO2            199
Platelets       128
RespRate        176
SaO2             36
SysABP          180
Temp            383
TroponinI         6
TroponinT        25
Urine           336
WBC             119
Weight         1016
pH              207
dtype: int64

In [465]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1378
level_1        1378
Time           1378
ALP              51
ALT              52
AST              53
Age            1378
Albumin          47
BUN             137
Bilirubin        51
Cholesterol       5
Creatinine      137
DiasABP         259
FiO2            260
GCS             462
Gender         1378
Glucose         117
HCO3            120
HCT             163
HR              658
Height         1378
ICUType        1378
K               118
Lactate         148
MAP             251
MechVent        250
Mg               93
NIDiasABP       483
NIMAP           481
NISysABP        484
Na              120
PaCO2           331
PaO2            330
Platelets       167
RespRate        191
SaO2             48
SysABP          259
Temp            495
TroponinI         2
TroponinT        32
Urine           413
WBC             151
Weight         1378
pH              334
dtype: int64

In [466]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       368
level_1        368
Time           368
ALP             22
ALT             22
AST             22
Age            368
Albumin         18
BUN             46
Bilirubin       21
Cholesterol      8
Creatinine      46
DiasABP         96
FiO2            45
GCS            173
Gender         368
Glucose         41
HCO3            42
HCT             46
HR             224
Height         368
ICUType        368
K               44
Lactate         18
MAP             98
MechVent        41
Mg              20
NIDiasABP      155
NIMAP          155
NISysABP       156
Na              43
PaCO2           31
PaO2            30
Platelets       48
RespRate       100
SaO2            24
SysABP          96
Temp           166
TroponinI        3
TroponinT       19
Urine          126
WBC             46
Weight         368
pH              32
dtype: int64

In [467]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       493
level_1        493
Time           493
ALP              1
ALT              2
AST              2
Age            493
Albumin          0
BUN             19
Bilirubin        2
Cholesterol      0
Creatinine      19
DiasABP         78
FiO2            59
GCS             73
Gender         493
Glucose         10
HCO3            14
HCT             36
HR             112
Height         493
ICUType        493
K               10
Lactate         37
MAP             78
MechVent        66
Mg              12
NIDiasABP       41
NIMAP           41
NISysABP        41
Na              10
PaCO2          293
PaO2           289
Platelets       47
RespRate        12
SaO2            19
SysABP          78
Temp            89
TroponinI        0
TroponinT        2
Urine           90
WBC             31
Weight         493
pH             293
dtype: int64

In [468]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       845
level_1        845
Time           845
ALP             47
ALT             47
AST             47
Age            845
Albumin         45
BUN             92
Bilirubin       48
Cholesterol      3
Creatinine      93
DiasABP         64
FiO2           149
GCS            299
Gender         845
Glucose         92
HCO3            90
HCT            103
HR             458
Height         845
ICUType        845
K               90
Lactate        104
MAP             56
MechVent       132
Mg              76
NIDiasABP      425
NIMAP          421
NISysABP       426
Na              91
PaCO2           91
PaO2            90
Platelets       93
RespRate       151
SaO2            14
SysABP          64
Temp           309
TroponinI        4
TroponinT       23
Urine          265
WBC             93
Weight         845
pH              93
dtype: int64

In [469]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       693
level_1        693
Time           693
ALP             23
ALT             23
AST             23
Age            693
Albumin         20
BUN            102
Bilirubin       21
Cholesterol      1
Creatinine     101
DiasABP        202
FiO2           173
GCS            286
Gender         693
Glucose         79
HCO3            80
HCT            108
HR             392
Height         693
ICUType        693
K               81
Lactate        107
MAP            195
MechVent       167
Mg              69
NIDiasABP      261
NIMAP          259
NISysABP       261
Na              81
PaCO2          124
PaO2           121
Platelets      108
RespRate       106
SaO2            27
SysABP         202
Temp           315
TroponinI        1
TroponinT       13
Urine          269
WBC            101
Weight         693
pH             124
dtype: int64

In [470]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test[more_than_or_equal_to_65_test['Gender'] != -1.0]
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test.count()
more_than_or_equal_to_65_test

RecordID       1286
level_1        1286
Time           1286
ALP             494
ALT             502
AST             501
Age            1286
Albumin         519
BUN            1275
Bilirubin       515
Cholesterol     103
Creatinine     1275
DiasABP         899
FiO2            881
GCS            1274
Gender         1286
Glucose        1264
HCO3           1274
HCT            1274
HR             1274
Height         1286
ICUType        1286
K              1269
Lactate         694
MAP             898
MechVent        810
Mg             1263
NIDiasABP      1118
NIMAP          1116
NISysABP       1121
Na             1275
PaCO2           975
PaO2            975
Platelets      1274
RespRate        359
SaO2            597
SysABP          899
Temp           1274
TroponinI        83
TroponinT       368
Urine          1261
WBC            1271
Weight         1286
pH              981
dtype: int64

In [471]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test[less_than_or_equal_to_65_test['Gender'] != -1.0]
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test.count()
less_than_or_equal_to_65_test

RecordID       1108
level_1        1108
Time           1108
ALP             507
ALT             525
AST             524
Age            1108
Albumin         488
BUN            1087
Bilirubin       521
Cholesterol      86
Creatinine     1087
DiasABP         772
FiO2            751
GCS            1093
Gender         1108
Glucose        1076
HCO3           1082
HCT            1088
HR             1093
Height         1108
ICUType        1108
K              1084
Lactate         616
MAP             768
MechVent        709
Mg             1068
NIDiasABP       967
NIMAP           965
NISysABP        971
Na             1082
PaCO2           830
PaO2            830
Platelets      1088
RespRate        306
SaO2            470
SysABP          772
Temp           1093
TroponinI        35
TroponinT       186
Urine          1084
WBC            1087
Weight         1108
pH              835
dtype: int64

In [472]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [473]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
574939    1.702
574940    1.702
574941    1.702
574942    1.702
574943    1.702
Name: Height, Length: 31138, dtype: float64

In [474]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [475]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_test = classification_low_weight_test[classification_low_weight_test != -1.0]
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         33
level_1          33
Time             33
ALP               8
ALT               8
AST               8
Age              33
Albumin          11
BUN              20
Bilirubin         8
Cholesterol       3
Creatinine       20
DiasABP          17
FiO2             13
GCS              24
Gender           32
Glucose          20
HCO3             20
HCT              21
HR               25
Height           33
ICUType          32
K                20
Lactate          12
MAP              17
MechVent         12
Mg               19
NIDiasABP        21
NIMAP            21
NISysABP         21
Na               20
PaCO2            16
PaO2             16
Platelets        20
RespRate          7
SaO2              6
SysABP           17
Temp             25
TroponinI         2
TroponinT         5
Urine            22
WBC              20
Weight           33
pH               17
BMI              33
Classificacao    33
dtype: int64

In [476]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_test = classification_normal_weight_test[classification_normal_weight_test != -1.0]
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         385
level_1          385
Time             385
ALP               78
ALT               79
AST               79
Age              385
Albumin           80
BUN              219
Bilirubin         80
Cholesterol       13
Creatinine       219
DiasABP          222
FiO2             176
GCS              260
Gender           372
Glucose          204
HCO3             216
HCT              224
HR               280
Height           385
ICUType          372
K                210
Lactate          114
MAP              221
MechVent         175
Mg               201
NIDiasABP        196
NIMAP            196
NISysABP         197
Na               207
PaCO2            234
PaO2             232
Platelets        227
RespRate          48
SaO2             111
SysABP           222
Temp             272
TroponinI          8
TroponinT         48
Urine            259
WBC              219
Weight           385
pH               239
BMI              385
Classificacao    385
dtype: int64

In [477]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_test = classification_overweight_test[classification_overweight_test['Gender'] != -1.0]
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         474
level_1          474
Time             474
ALP               92
ALT               96
AST               96
Age              474
Albumin           76
BUN              282
Bilirubin         98
Cholesterol       18
Creatinine       282
DiasABP          312
FiO2             234
GCS              359
Gender           376
Glucose          257
HCO3             275
HCT              296
HR               380
Height           474
ICUType          376
K                261
Lactate          150
MAP              310
MechVent         232
Mg               269
NIDiasABP        259
NIMAP            259
NISysABP         261
Na               269
PaCO2            298
PaO2             297
Platelets        300
RespRate          60
SaO2             172
SysABP           312
Temp             368
TroponinI         12
TroponinT         44
Urine            352
WBC              289
Weight           474
pH               310
BMI              474
Classificacao    474
dtype: int64

In [478]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_test = classification_obesity_grade1_test[classification_obesity_grade1_test['Gender'] != -1.0]
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         340
level_1          340
Time             340
ALP               62
ALT               63
AST               62
Age              340
Albumin           49
BUN              202
Bilirubin         63
Cholesterol        8
Creatinine       204
DiasABP          250
FiO2             170
GCS              267
Gender           234
Glucose          181
HCO3             196
HCT              213
HR               286
Height           340
ICUType          234
K                187
Lactate          103
MAP              249
MechVent         171
Mg               198
NIDiasABP        184
NIMAP            182
NISysABP         185
Na               189
PaCO2            227
PaO2             225
Platelets        204
RespRate          36
SaO2             140
SysABP           250
Temp             275
TroponinI          9
TroponinT         34
Urine            276
WBC              198
Weight           340
pH               240
BMI              340
Classificacao    340
dtype: int64

In [479]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_test = classification_obesity_grade2_test[classification_obesity_grade2_test != -1.0]
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         130
level_1          130
Time             130
ALP               29
ALT               29
AST               29
Age              130
Albumin           27
BUN               80
Bilirubin         27
Cholesterol        4
Creatinine        80
DiasABP           91
FiO2              73
GCS              110
Gender            81
Glucose           72
HCO3              78
HCT               88
HR               114
Height           130
ICUType           82
K                 74
Lactate           52
MAP               91
MechVent          73
Mg                75
NIDiasABP         75
NIMAP             75
NISysABP          76
Na                77
PaCO2             85
PaO2              85
Platelets         84
RespRate          17
SaO2              49
SysABP            91
Temp             106
TroponinI          3
TroponinT         12
Urine            107
WBC               81
Weight           130
pH                87
BMI              130
Classificacao    130
dtype: int64

In [480]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_test = classification_obesity_grade3_test[classification_obesity_grade3_test['Gender'] != -1.0]
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         119
level_1          119
Time             119
ALP               31
ALT               32
AST               32
Age              119
Albumin           29
BUN               79
Bilirubin         35
Cholesterol        5
Creatinine        79
DiasABP           85
FiO2              75
GCS              102
Gender            91
Glucose           75
HCO3              78
HCT               83
HR               105
Height           119
ICUType           91
K                 76
Lactate           56
MAP               85
MechVent          74
Mg                79
NIDiasABP         66
NIMAP             66
NISysABP          67
Na                77
PaCO2             87
PaO2              87
Platelets         81
RespRate          11
SaO2              50
SysABP            85
Temp             102
TroponinI          3
TroponinT         14
Urine             98
WBC               80
Weight           119
pH                88
BMI              119
Classificacao    119
dtype: int64

In [481]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [482]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
level_1,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
Time,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
ALP,42,51,22,1,47,23,494,507,8,78,92,62,29,31
ALT,42,52,22,2,47,23,502,525,8,79,96,63,29,32
AST,41,53,22,2,47,23,501,524,8,79,96,62,29,32
Age,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
Albumin,36,47,18,0,45,20,519,488,11,80,76,49,27,29
BUN,121,137,46,19,92,102,1275,1087,20,219,282,202,80,79
Bilirubin,41,51,21,2,48,21,515,521,8,80,98,63,27,35
Cholesterol,7,5,8,0,3,1,103,86,3,13,18,8,4,5
Creatinine,121,137,46,19,93,101,1275,1087,20,219,282,204,80,79
DiasABP,180,259,96,78,64,202,899,772,17,222,312,250,91,85
FiO2,164,260,45,59,149,173,881,751,13,176,234,170,73,75
GCS,367,462,173,73,299,286,1274,1093,24,260,359,267,110,102
Gender,1016,1378,368,493,845,693,1286,1108,32,372,376,234,81,91
Glucose,104,117,41,10,92,79,1264,1076,20,204,257,181,72,75
HCO3,105,120,42,14,90,80,1274,1082,20,216,275,196,78,78
HCT,129,163,46,36,103,108,1274,1088,21,224,296,213,88,83
HR,524,658,224,112,458,392,1274,1093,25,280,380,286,114,105
Height,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
ICUType,1016,1378,368,493,845,693,1286,1108,32,372,376,234,82,91
K,106,118,44,10,90,81,1269,1084,20,210,261,187,74,76
Lactate,117,148,18,37,104,107,694,616,12,114,150,103,52,56
MAP,175,251,98,78,56,195,898,768,17,221,310,249,91,85
MechVent,154,250,41,66,132,167,810,709,12,175,232,171,73,74
Mg,83,93,20,12,76,69,1263,1068,19,201,269,198,75,79
NIDiasABP,397,483,155,41,425,261,1118,967,21,196,259,184,75,66
NIMAP,393,481,155,41,421,259,1116,965,21,196,259,182,75,66
NISysABP,398,484,156,41,426,261,1121,971,21,197,261,185,76,67
Na,104,120,43,10,91,81,1275,1082,20,207,269,189,77,77
PaCO2,207,331,31,293,91,124,975,830,16,234,298,227,85,87
PaO2,199,330,30,289,90,121,975,830,16,232,297,225,85,87
Platelets,128,167,48,47,93,108,1274,1088,20,227,300,204,84,81
RespRate,176,191,100,12,151,106,359,306,7,48,60,36,17,11
SaO2,36,48,24,19,14,27,597,470,6,111,172,140,49,50
SysABP,180,259,96,78,64,202,899,772,17,222,312,250,91,85
Temp,383,495,166,89,309,315,1274,1093,25,272,368,275,106,102
TroponinI,6,2,3,0,4,1,83,35,2,8,12,9,3,3
TroponinT,25,32,19,2,23,13,368,186,5,48,44,34,12,14
Urine,336,413,126,90,265,269,1261,1084,22,259,352,276,107,98
WBC,119,151,46,31,93,101,1271,1087,20,219,289,198,81,80
Weight,1016,1378,368,493,845,693,1286,1108,33,385,474,340,130,119
pH,207,334,32,293,93,124,981,835,17,239,310,240,87,88