In [2]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [3]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-10-31 11:21:49 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-10-31 11:21:49 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-10-31 11:21:49 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-10-31 11:21:49 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [4]:
train_X = physionet2012_dataset['train_X']

In [5]:
female_gender_distribution_training = train_X[train_X['Gender'] == 0.0].count()
female_gender_distribution_training

RecordID       3358
level_1        3358
Time           3358
ALP             144
ALT             147
AST             147
Age            3358
Albumin         112
BUN             412
Bilirubin       145
Cholesterol      12
Creatinine      413
DiasABP         585
FiO2            643
GCS            1224
Gender         3358
Glucose         368
HCO3            378
HCT             444
HR             1723
Height         3358
ICUType        3358
K               374
Lactate         396
MAP             562
MechVent        615
Mg              291
NIDiasABP      1312
NIMAP          1300
NISysABP       1315
Na              370
PaCO2           692
PaO2            679
Platelets       446
RespRate        518
SaO2            111
SysABP          585
Temp           1282
TroponinI        16
TroponinT        74
Urine          1100
WBC             409
Weight         3358
pH              699
dtype: int64

In [6]:
male_gender_distribution_training = train_X[train_X['Gender'] == 1.0].count()
male_gender_distribution_training

RecordID       4305
level_1        4305
Time           4305
ALP             202
ALT             207
AST             208
Age            4305
Albumin         183
BUN             493
Bilirubin       203
Cholesterol      17
Creatinine      494
DiasABP         826
FiO2            774
GCS            1475
Gender         4305
Glucose         434
HCO3            447
HCT             560
HR             2087
Height         4305
ICUType        4305
K               447
Lactate         498
MAP             805
MechVent        755
Mg              349
NIDiasABP      1554
NIMAP          1548
NISysABP       1555
Na              442
PaCO2          1077
PaO2           1060
Platelets       576
RespRate        582
SaO2            148
SysABP          828
Temp           1597
TroponinI        16
TroponinT       121
Urine          1258
WBC             520
Weight         4305
pH             1087
dtype: int64

In [7]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0].count() 
ICUType_1_training

RecordID       1120
level_1        1120
Time           1120
ALP              75
ALT              75
AST              75
Age            1120
Albumin          61
BUN             160
Bilirubin        73
Cholesterol      21
Creatinine      160
DiasABP         271
FiO2            148
GCS             488
Gender         1120
Glucose         156
HCO3            157
HCT             167
HR              660
Height         1120
ICUType        1120
K               162
Lactate          63
MAP             266
MechVent        133
Mg              104
NIDiasABP       474
NIMAP           474
NISysABP        475
Na              159
PaCO2           132
PaO2            132
Platelets       166
RespRate        273
SaO2             83
SysABP          271
Temp            451
TroponinI         7
TroponinT        72
Urine           351
WBC             161
Weight         1120
pH              133
dtype: int64

In [8]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0].count() 
ICUType_2_training

RecordID       1611
level_1        1611
Time           1611
ALP              19
ALT              20
AST              20
Age            1611
Albumin          13
BUN              78
Bilirubin        20
Cholesterol       3
Creatinine       79
DiasABP         296
FiO2            193
GCS             262
Gender         1611
Glucose          55
HCO3             75
HCT             136
HR              410
Height         1611
ICUType        1611
K                56
Lactate          91
MAP             294
MechVent        233
Mg               50
NIDiasABP       157
NIMAP           158
NISysABP        157
Na               54
PaCO2           945
PaO2            929
Platelets       160
RespRate         56
SaO2             55
SysABP          296
Temp            335
TroponinI         4
TroponinT         9
Urine           319
WBC             109
Weight         1611
pH              948
dtype: int64

In [9]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0].count() 
ICUType_3_training

RecordID       2746
level_1        2746
Time           2746
ALP             164
ALT             168
AST             169
Age            2746
Albumin         145
BUN             335
Bilirubin       167
Cholesterol       3
Creatinine      336
DiasABP         216
FiO2            503
GCS            1048
Gender         2746
Glucose         331
HCO3            328
HCT             338
HR             1491
Height         2746
ICUType        2746
K               337
Lactate         352
MAP             198
MechVent        454
Mg              268
NIDiasABP      1373
NIMAP          1357
NISysABP       1376
Na              333
PaCO2           274
PaO2            268
Platelets       316
RespRate        446
SaO2             30
SysABP          218
Temp           1078
TroponinI        16
TroponinT        71
Urine           834
WBC             316
Weight         2746
pH              285
dtype: int64

In [10]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0].count() 
ICUType_4_training

RecordID       2194
level_1        2194
Time           2194
ALP              88
ALT              91
AST              91
Age            2194
Albumin          76
BUN             332
Bilirubin        88
Cholesterol       2
Creatinine      332
DiasABP         629
FiO2            573
GCS             906
Gender         2194
Glucose         260
HCO3            265
HCT             363
HR             1253
Height         2194
ICUType        2194
K               266
Lactate         388
MAP             610
MechVent        550
Mg              218
NIDiasABP       865
NIMAP           862
NISysABP        865
Na              266
PaCO2           418
PaO2            410
Platelets       380
RespRate        327
SaO2             91
SysABP          629
Temp           1017
TroponinI         5
TroponinT        43
Urine           854
WBC             343
Weight         2194
pH              420
dtype: int64

In [11]:
more_than_or_equal_to_65_training = train_X[train_X['Age'] >= 65].count()
more_than_or_equal_to_65_training

RecordID       190483
level_1        190483
Time           190483
ALP              2727
ALT              2786
AST              2796
Age            190483
Albumin          2281
BUN             14259
Bilirubin        2855
Cholesterol       376
Creatinine      14342
DiasABP        110530
FiO2            32072
GCS             62742
Gender           4199
Glucose         13249
HCO3            13952
HCT             18859
HR             182820
Height         190483
ICUType          4199
K               14829
Lactate          8014
MAP            109877
MechVent        30426
Mg              14012
NIDiasABP       85270
NIMAP           84338
NISysABP        85340
Na              13822
PaCO2           23849
PaO2            23816
Platelets       14537
RespRate        48022
SaO2             9301
SysABP         110535
Temp            77710
TroponinI         547
TroponinT        2835
Urine          143339
WBC             13255
Weight         108410
pH              24933
dtype: int64

In [12]:
less_than_or_equal_to_65_training = train_X[train_X['Age'] < 65].count()
less_than_or_equal_to_65_training

RecordID       156630
level_1        156630
Time           156630
ALP              3368
ALT              3483
AST              3475
Age            156630
Albumin          2411
BUN             12463
Bilirubin        3517
Cholesterol       257
Creatinine      12506
DiasABP         90238
FiO2            26347
GCS             55305
Gender           3472
Glucose         11956
HCO3            12219
HCT             16120
HR             149664
Height         156630
ICUType          3472
K               13167
Lactate          7322
MAP             89681
MechVent        26043
Mg              12147
NIDiasABP       69329
NIMAP           68109
NISysABP        69398
Na              12444
PaCO2           19210
PaO2            19171
Platelets       12658
RespRate        38304
SaO2             5653
SysABP          90246
Temp            59654
TroponinI         246
TroponinT        1234
Urine          112125
WBC             11590
Weight          86789
pH              20005
dtype: int64

In [13]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [14]:
def classify_BMI(BMI):
    if BMI < 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [15]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 101297, dtype: float64

In [16]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [17]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

RecordID         2332
level_1          2332
Time             2332
ALP                40
ALT                40
AST                40
Age              2332
Albumin            26
BUN               187
Bilirubin          41
Cholesterol         8
Creatinine        189
DiasABP          1520
FiO2              454
GCS               827
Gender            116
Glucose           182
HCO3              186
HCT               209
HR               2272
Height           2332
ICUType           116
K                 191
Lactate           147
MAP              1530
MechVent          433
Mg                173
NIDiasABP         993
NIMAP             987
NISysABP          994
Na                184
PaCO2             295
PaO2              297
Platelets         174
RespRate          458
SaO2               79
SysABP           1520
Temp              856
TroponinI          15
TroponinT          33
Urine            1661
WBC               160
Weight           2332
pH                301
BMI              2332
Classificacao    2332
dtype: int64

In [18]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

RecordID         23136
level_1          23136
Time             23136
ALP                429
ALT                436
AST                437
Age              23136
Albumin            336
BUN               1764
Bilirubin          445
Cholesterol         39
Creatinine        1769
DiasABP          14231
FiO2              3919
GCS               7663
Gender            1151
Glucose           1663
HCO3              1709
HCT               2266
HR               22507
Height           23136
ICUType           1151
K                 1864
Lactate           1076
MAP              14089
MechVent          3839
Mg                1757
NIDiasABP        10073
NIMAP             9994
NISysABP         10080
Na                1720
PaCO2             2917
PaO2              2916
Platelets         1788
RespRate          4651
SaO2              1077
SysABP           14231
Temp              9756
TroponinI           70
TroponinT          270
Urine            16821
WBC               1642
Weight           23136
pH                3056
BMI              23136
Classificacao    23136
dtype: int64

In [19]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

RecordID         32498
level_1          32498
Time             32498
ALP                538
ALT                549
AST                550
Age              32498
Albumin            379
BUN               2271
Bilirubin          574
Cholesterol         52
Creatinine        2288
DiasABP          22788
FiO2              5273
GCS               9931
Gender            1354
Glucose           2120
HCO3              2223
HCT               3121
HR               31755
Height           32498
ICUType           1354
K                 2339
Lactate           1255
MAP              22727
MechVent          5243
Mg                2358
NIDiasABP        11851
NIMAP            11674
NISysABP         11867
Na                2167
PaCO2             4297
PaO2              4290
Platelets         2362
RespRate          5206
SaO2              2054
SysABP           22790
Temp             15670
TroponinI           77
TroponinT          298
Urine            25117
WBC               2157
Weight           32498
pH                4662
BMI              32498
Classificacao    32498
dtype: int64

In [20]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

RecordID         22133
level_1          22133
Time             22133
ALP                331
ALT                334
AST                333
Age              22133
Albumin            241
BUN               1508
Bilirubin          343
Cholesterol         34
Creatinine        1514
DiasABP          16062
FiO2              3868
GCS               6782
Gender             742
Glucose           1348
HCO3              1442
HCT               2073
HR               21741
Height           22133
ICUType            742
K                 1559
Lactate            860
MAP              16007
MechVent          3728
Mg                1602
NIDiasABP         7565
NIMAP             7513
NISysABP          7570
Na                1434
PaCO2             3100
PaO2              3096
Platelets         1552
RespRate          3277
SaO2              1562
SysABP           16063
Temp             11357
TroponinI           56
TroponinT          226
Urine            17930
WBC               1409
Weight           22133
pH                3339
BMI              22133
Classificacao    22133
dtype: int64

In [21]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

RecordID         10209
level_1          10209
Time             10209
ALP                155
ALT                156
AST                155
Age              10209
Albumin            115
BUN                726
Bilirubin          157
Cholesterol         14
Creatinine         725
DiasABP           7425
FiO2              1799
GCS               3056
Gender             300
Glucose            667
HCO3               686
HCT                935
HR               10042
Height           10209
ICUType            300
K                  739
Lactate            495
MAP               7417
MechVent          1756
Mg                 732
NIDiasABP         3503
NIMAP             3433
NISysABP          3504
Na                 676
PaCO2             1482
PaO2              1479
Platelets          711
RespRate          1230
SaO2               756
SysABP            7425
Temp              5309
TroponinI           16
TroponinT          112
Urine             8268
WBC                655
Weight           10209
pH                1578
BMI              10209
Classificacao    10209
dtype: int64

In [22]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

RecordID         9218
level_1          9218
Time             9218
ALP               173
ALT               179
AST               178
Age              9218
Albumin           127
BUN               652
Bilirubin         184
Cholesterol        13
Creatinine        653
DiasABP          6520
FiO2             1821
GCS              2731
Gender            272
Glucose           595
HCO3              625
HCT               851
HR               9086
Height           9218
ICUType           272
K                 670
Lactate           472
MAP              6532
MechVent         1769
Mg                667
NIDiasABP        3019
NIMAP            2985
NISysABP         3025
Na                625
PaCO2            1393
PaO2             1396
Platelets         633
RespRate         1242
SaO2              645
SysABP           6521
Temp             4444
TroponinI           6
TroponinT          93
Urine            7422
WBC               570
Weight           9218
pH               1464
BMI              9218
Classificacao    9218
dtype: int64

In [23]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [46]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,3358,4305,1120,1611,2746,2194,190483,156630,2332,23136,32498,22133,10209,9218
level_1,3358,4305,1120,1611,2746,2194,190483,156630,2332,23136,32498,22133,10209,9218
Time,3358,4305,1120,1611,2746,2194,190483,156630,2332,23136,32498,22133,10209,9218
ALP,144,202,75,19,164,88,2727,3368,40,429,538,331,155,173
ALT,147,207,75,20,168,91,2786,3483,40,436,549,334,156,179
AST,147,208,75,20,169,91,2796,3475,40,437,550,333,155,178
Age,3358,4305,1120,1611,2746,2194,190483,156630,2332,23136,32498,22133,10209,9218
Albumin,112,183,61,13,145,76,2281,2411,26,336,379,241,115,127
BUN,412,493,160,78,335,332,14259,12463,187,1764,2271,1508,726,652
Bilirubin,145,203,73,20,167,88,2855,3517,41,445,574,343,157,184
Cholesterol,12,17,21,3,3,2,376,257,8,39,52,34,14,13
Creatinine,413,494,160,79,336,332,14342,12506,189,1769,2288,1514,725,653
DiasABP,585,826,271,296,216,629,110530,90238,1520,14231,22788,16062,7425,6520
FiO2,643,774,148,193,503,573,32072,26347,454,3919,5273,3868,1799,1821
GCS,1224,1475,488,262,1048,906,62742,55305,827,7663,9931,6782,3056,2731
Gender,3358,4305,1120,1611,2746,2194,4199,3472,116,1151,1354,742,300,272
Glucose,368,434,156,55,331,260,13249,11956,182,1663,2120,1348,667,595
HCO3,378,447,157,75,328,265,13952,12219,186,1709,2223,1442,686,625
HCT,444,560,167,136,338,363,18859,16120,209,2266,3121,2073,935,851
HR,1723,2087,660,410,1491,1253,182820,149664,2272,22507,31755,21741,10042,9086
Height,3358,4305,1120,1611,2746,2194,190483,156630,2332,23136,32498,22133,10209,9218
ICUType,3358,4305,1120,1611,2746,2194,4199,3472,116,1151,1354,742,300,272
K,374,447,162,56,337,266,14829,13167,191,1864,2339,1559,739,670
Lactate,396,498,63,91,352,388,8014,7322,147,1076,1255,860,495,472
MAP,562,805,266,294,198,610,109877,89681,1530,14089,22727,16007,7417,6532
MechVent,615,755,133,233,454,550,30426,26043,433,3839,5243,3728,1756,1769
Mg,291,349,104,50,268,218,14012,12147,173,1757,2358,1602,732,667
NIDiasABP,1312,1554,474,157,1373,865,85270,69329,993,10073,11851,7565,3503,3019
NIMAP,1300,1548,474,158,1357,862,84338,68109,987,9994,11674,7513,3433,2985
NISysABP,1315,1555,475,157,1376,865,85340,69398,994,10080,11867,7570,3504,3025
Na,370,442,159,54,333,266,13822,12444,184,1720,2167,1434,676,625
PaCO2,692,1077,132,945,274,418,23849,19210,295,2917,4297,3100,1482,1393
PaO2,679,1060,132,929,268,410,23816,19171,297,2916,4290,3096,1479,1396
Platelets,446,576,166,160,316,380,14537,12658,174,1788,2362,1552,711,633
RespRate,518,582,273,56,446,327,48022,38304,458,4651,5206,3277,1230,1242
SaO2,111,148,83,55,30,91,9301,5653,79,1077,2054,1562,756,645
SysABP,585,828,271,296,218,629,110535,90246,1520,14231,22790,16063,7425,6521
Temp,1282,1597,451,335,1078,1017,77710,59654,856,9756,15670,11357,5309,4444
TroponinI,16,16,7,4,16,5,547,246,15,70,77,56,16,6
TroponinT,74,121,72,9,71,43,2835,1234,33,270,298,226,112,93
Urine,1100,1258,351,319,834,854,143339,112125,1661,16821,25117,17930,8268,7422
WBC,409,520,161,109,316,343,13255,11590,160,1642,2157,1409,655,570
Weight,3358,4305,1120,1611,2746,2194,108410,86789,2332,23136,32498,22133,10209,9218
pH,699,1087,133,948,285,420,24933,20005,301,3056,4662,3339,1578,1464

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [25]:
validation_X = physionet2012_dataset['val_X']

In [26]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       864
level_1        864
Time           864
ALP             43
ALT             46
AST             44
Age            864
Albumin         37
BUN            110
Bilirubin       44
Cholesterol      7
Creatinine     109
DiasABP        150
FiO2           152
GCS            323
Gender         864
Glucose         99
HCO3           102
HCT            117
HR             468
Height         864
ICUType        864
K              102
Lactate         96
MAP            146
MechVent       142
Mg              73
NIDiasABP      362
NIMAP          362
NISysABP       362
Na             100
PaCO2          151
PaO2           149
Platelets      117
RespRate       161
SaO2            24
SysABP         150
Temp           345
TroponinI        3
TroponinT       20
Urine          283
WBC            110
Weight         864
pH             153
dtype: int64

In [27]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1053
level_1        1053
Time           1053
ALP              51
ALT              52
AST              54
Age            1053
Albumin          47
BUN             134
Bilirubin        53
Cholesterol      12
Creatinine      134
DiasABP         218
FiO2            191
GCS             358
Gender         1053
Glucose         118
HCO3            120
HCT             146
HR              513
Height         1053
ICUType        1053
K               120
Lactate         112
MAP             208
MechVent        182
Mg               83
NIDiasABP       363
NIMAP           359
NISysABP        363
Na              119
PaCO2           267
PaO2            263
Platelets       149
RespRate        142
SaO2             41
SysABP          218
Temp            391
TroponinI         3
TroponinT        27
Urine           330
WBC             137
Weight         1053
pH              270
dtype: int64

In [28]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       301
level_1        301
Time           301
ALP             23
ALT             25
AST             25
Age            301
Albumin         23
BUN             50
Bilirubin       25
Cholesterol     13
Creatinine      50
DiasABP         84
FiO2            35
GCS            127
Gender         301
Glucose         46
HCO3            47
HCT             46
HR             167
Height         301
ICUType        301
K               48
Lactate         10
MAP             83
MechVent        34
Mg              22
NIDiasABP      109
NIMAP          109
NISysABP       109
Na              47
PaCO2           29
PaO2            28
Platelets       47
RespRate        71
SaO2            22
SysABP          84
Temp           116
TroponinI        3
TroponinT       16
Urine           92
WBC             46
Weight         301
pH              29
dtype: int64

In [29]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       392
level_1        392
Time           392
ALP              6
ALT              7
AST              7
Age            392
Albumin          7
BUN             16
Bilirubin        6
Cholesterol      3
Creatinine      16
DiasABP         68
FiO2            49
GCS             57
Gender         392
Glucose         12
HCO3            13
HCT             38
HR              88
Height         392
ICUType        392
K               12
Lactate         26
MAP             69
MechVent        56
Mg               7
NIDiasABP       28
NIMAP           28
NISysABP        28
Na              10
PaCO2          233
PaO2           231
Platelets       46
RespRate         8
SaO2            16
SysABP          68
Temp            71
TroponinI        0
TroponinT        2
Urine           60
WBC             32
Weight         392
pH             235
dtype: int64

In [30]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       693
level_1        693
Time           693
ALP             43
ALT             44
AST             44
Age            693
Albumin         38
BUN             92
Bilirubin       44
Cholesterol      2
Creatinine      92
DiasABP         55
FiO2           114
GCS            269
Gender         693
Glucose         92
HCO3            93
HCT             87
HR             396
Height         693
ICUType        693
K               94
Lactate         78
MAP             49
MechVent        95
Mg              70
NIDiasABP      365
NIMAP          363
NISysABP       365
Na              93
PaCO2           56
PaO2            55
Platelets       83
RespRate       138
SaO2             9
SysABP          55
Temp           271
TroponinI        3
TroponinT       21
Urine          223
WBC             82
Weight         693
pH              57
dtype: int64

In [31]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       532
level_1        532
Time           532
ALP             22
ALT             22
AST             22
Age            532
Albumin         16
BUN             86
Bilirubin       22
Cholesterol      1
Creatinine      85
DiasABP        161
FiO2           145
GCS            228
Gender         532
Glucose         67
HCO3            69
HCT             92
HR             330
Height         532
ICUType        532
K               68
Lactate         94
MAP            153
MechVent       139
Mg              57
NIDiasABP      223
NIMAP          221
NISysABP       223
Na              69
PaCO2          101
PaO2            99
Platelets       90
RespRate        86
SaO2            18
SysABP         161
Temp           278
TroponinI        0
TroponinT        8
Urine          238
WBC             87
Weight         532
pH             103
dtype: int64

In [32]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].count()
more_than_or_equal_to_65_validation

RecordID       46512
level_1        46512
Time           46512
ALP              612
ALT              636
AST              632
Age            46512
Albumin          524
BUN             3444
Bilirubin        645
Cholesterol      105
Creatinine      3452
DiasABP        26372
FiO2            7472
GCS            15480
Gender          1028
Glucose         3199
HCO3            3361
HCT             4813
HR             44732
Height         46512
ICUType         1028
K               3624
Lactate         1803
MAP            26266
MechVent        6973
Mg              3393
NIDiasABP      21087
NIMAP          20807
NISysABP       21103
Na              3311
PaCO2           5558
PaO2            5556
Platelets       3561
RespRate       12419
SaO2            2276
SysABP         26374
Temp           19113
TroponinI        130
TroponinT        609
Urine          34756
WBC             3252
Weight         25181
pH              5823
dtype: int64

In [33]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].count()
less_than_or_equal_to_65_validation

RecordID       40049
level_1        40049
Time           40049
ALP              782
ALT              806
AST              811
Age            40049
Albumin          596
BUN             3181
Bilirubin        800
Cholesterol       61
Creatinine      3203
DiasABP        22162
FiO2            6422
GCS            14110
Gender           890
Glucose         3048
HCO3            3129
HCT             4008
HR             38307
Height         40049
ICUType          890
K               3341
Lactate         1840
MAP            22026
MechVent        6228
Mg              3080
NIDiasABP      18414
NIMAP          18164
NISysABP       18429
Na              3163
PaCO2           4634
PaO2            4623
Platelets       3207
RespRate       10316
SaO2            1355
SysABP         22164
Temp           14558
TroponinI         39
TroponinT        307
Urine          28653
WBC             2948
Weight         22423
pH              4885
dtype: int64

In [34]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [35]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

624       1.702
628       1.702
629       1.702
630       1.702
631       1.702
          ...
573883    1.600
573884    1.600
573885    1.600
573886    1.600
573887    1.600
Name: Height, Length: 25390, dtype: float64

In [36]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
624,132570,0,0.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
628,132570,4,4.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,36.6,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
629,132570,5,5.0,19.0,15.0,20.0,84.0,NaN,83.0,0.1,...,NaN,NaN,NaN,NaN,NaN,8.8,102.6,NaN,35.418344,Obesidade grau 2
630,132570,6,6.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,102.6,NaN,35.418344,Obesidade grau 2
631,132570,7,7.0,NaN,NaN,NaN,84.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,600.0,NaN,102.6,NaN,35.418344,Obesidade grau 2

In [37]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         800
level_1          800
Time             800
ALP               10
ALT                9
AST                9
Age              800
Albumin            8
BUN               63
Bilirubin         10
Cholesterol        1
Creatinine        63
DiasABP          618
FiO2             196
GCS              238
Gender            33
Glucose           62
HCO3              61
HCT               78
HR               786
Height           800
ICUType           33
K                 63
Lactate           52
MAP              620
MechVent         192
Mg                58
NIDiasABP        261
NIMAP            250
NISysABP         261
Na                66
PaCO2            127
PaO2             127
Platelets         56
RespRate         117
SaO2              39
SysABP           619
Temp             302
TroponinI          1
TroponinT          9
Urine            625
WBC               54
Weight           800
pH               131
BMI              800
Classificacao    800
dtype: int64

In [38]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         5624
level_1          5624
Time             5624
ALP                91
ALT                94
AST                94
Age              5624
Albumin            87
BUN               404
Bilirubin         100
Cholesterol        14
Creatinine        404
DiasABP          3330
FiO2              860
GCS              1777
Gender            287
Glucose           372
HCO3              398
HCT               557
HR               5478
Height           5624
ICUType           287
K                 424
Lactate           266
MAP              3317
MechVent          790
Mg                394
NIDiasABP        2469
NIMAP            2451
NISysABP         2471
Na                386
PaCO2             667
PaO2              666
Platelets         440
RespRate         1297
SaO2              248
SysABP           3330
Temp             2367
TroponinI          17
TroponinT          55
Urine            4035
WBC               376
Weight           5624
pH                723
BMI              5624
Classificacao    5624
dtype: int64

In [39]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         8184
level_1          8184
Time             8184
ALP               139
ALT               143
AST               144
Age              8184
Albumin           103
BUN               584
Bilirubin         143
Cholesterol        23
Creatinine        583
DiasABP          5421
FiO2             1268
GCS              2644
Gender            348
Glucose           538
HCO3              551
HCT               817
HR               8005
Height           8184
ICUType           348
K                 600
Lactate           324
MAP              5395
MechVent         1255
Mg                602
NIDiasABP        3267
NIMAP            3241
NISysABP         3271
Na                546
PaCO2            1020
PaO2             1020
Platelets         636
RespRate         1354
SaO2              516
SysABP           5421
Temp             3886
TroponinI          11
TroponinT          78
Urine            6341
WBC               578
Weight           8184
pH               1124
BMI              8184
Classificacao    8184
dtype: int64

In [40]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         5299
level_1          5299
Time             5299
ALP               105
ALT               107
AST               106
Age              5299
Albumin            83
BUN               377
Bilirubin         105
Cholesterol         7
Creatinine        378
DiasABP          3620
FiO2              893
GCS              1622
Gender            171
Glucose           344
HCO3              367
HCT               480
HR               5205
Height           5299
ICUType           171
K                 382
Lactate           231
MAP              3594
MechVent          818
Mg                391
NIDiasABP        2057
NIMAP            2020
NISysABP         2058
Na                360
PaCO2             710
PaO2              710
Platelets         362
RespRate          722
SaO2              323
SysABP           3620
Temp             2345
TroponinI           9
TroponinT          46
Urine            4271
WBC               340
Weight           5299
pH                765
BMI              5299
Classificacao    5299
dtype: int64

In [41]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         2657
level_1          2657
Time             2657
ALP                44
ALT                43
AST                45
Age              2657
Albumin            28
BUN               183
Bilirubin          44
Cholesterol         2
Creatinine        184
DiasABP          2006
FiO2              460
GCS               813
Gender             73
Glucose           171
HCO3              180
HCT               259
HR               2618
Height           2657
ICUType            73
K                 186
Lactate           130
MAP              2000
MechVent          402
Mg                184
NIDiasABP         843
NIMAP             833
NISysABP          844
Na                173
PaCO2             383
PaO2              384
Platelets         194
RespRate          383
SaO2              191
SysABP           2007
Temp             1333
TroponinI           5
TroponinT          27
Urine            2228
WBC               181
Weight           2657
pH                422
BMI              2657
Classificacao    2657
dtype: int64

In [42]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         2484
level_1          2484
Time             2484
ALP                38
ALT                38
AST                38
Age              2484
Albumin            25
BUN               156
Bilirubin          40
Cholesterol         1
Creatinine        155
DiasABP          1527
FiO2              458
GCS               690
Gender             70
Glucose           150
HCO3              152
HCT               214
HR               2448
Height           2484
ICUType            70
K                 168
Lactate            92
MAP              1511
MechVent          438
Mg                167
NIDiasABP         987
NIMAP             966
NISysABP          988
Na                151
PaCO2             342
PaO2              344
Platelets         153
RespRate          387
SaO2              166
SysABP           1527
Temp             1136
TroponinI           6
TroponinT          24
Urine            1803
WBC               139
Weight           2484
pH                359
BMI              2484
Classificacao    2484
dtype: int64

In [43]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [45]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,864,1053,301,392,693,532,46512,40049,800,5624,8184,5299,2657,2484
level_1,864,1053,301,392,693,532,46512,40049,800,5624,8184,5299,2657,2484
Time,864,1053,301,392,693,532,46512,40049,800,5624,8184,5299,2657,2484
ALP,43,51,23,6,43,22,612,782,10,91,139,105,44,38
ALT,46,52,25,7,44,22,636,806,9,94,143,107,43,38
AST,44,54,25,7,44,22,632,811,9,94,144,106,45,38
Age,864,1053,301,392,693,532,46512,40049,800,5624,8184,5299,2657,2484
Albumin,37,47,23,7,38,16,524,596,8,87,103,83,28,25
BUN,110,134,50,16,92,86,3444,3181,63,404,584,377,183,156
Bilirubin,44,53,25,6,44,22,645,800,10,100,143,105,44,40
Cholesterol,7,12,13,3,2,1,105,61,1,14,23,7,2,1
Creatinine,109,134,50,16,92,85,3452,3203,63,404,583,378,184,155
DiasABP,150,218,84,68,55,161,26372,22162,618,3330,5421,3620,2006,1527
FiO2,152,191,35,49,114,145,7472,6422,196,860,1268,893,460,458
GCS,323,358,127,57,269,228,15480,14110,238,1777,2644,1622,813,690
Gender,864,1053,301,392,693,532,1028,890,33,287,348,171,73,70
Glucose,99,118,46,12,92,67,3199,3048,62,372,538,344,171,150
HCO3,102,120,47,13,93,69,3361,3129,61,398,551,367,180,152
HCT,117,146,46,38,87,92,4813,4008,78,557,817,480,259,214
HR,468,513,167,88,396,330,44732,38307,786,5478,8005,5205,2618,2448
Height,864,1053,301,392,693,532,46512,40049,800,5624,8184,5299,2657,2484
ICUType,864,1053,301,392,693,532,1028,890,33,287,348,171,73,70
K,102,120,48,12,94,68,3624,3341,63,424,600,382,186,168
Lactate,96,112,10,26,78,94,1803,1840,52,266,324,231,130,92
MAP,146,208,83,69,49,153,26266,22026,620,3317,5395,3594,2000,1511
MechVent,142,182,34,56,95,139,6973,6228,192,790,1255,818,402,438
Mg,73,83,22,7,70,57,3393,3080,58,394,602,391,184,167
NIDiasABP,362,363,109,28,365,223,21087,18414,261,2469,3267,2057,843,987
NIMAP,362,359,109,28,363,221,20807,18164,250,2451,3241,2020,833,966
NISysABP,362,363,109,28,365,223,21103,18429,261,2471,3271,2058,844,988
Na,100,119,47,10,93,69,3311,3163,66,386,546,360,173,151
PaCO2,151,267,29,233,56,101,5558,4634,127,667,1020,710,383,342
PaO2,149,263,28,231,55,99,5556,4623,127,666,1020,710,384,344
Platelets,117,149,47,46,83,90,3561,3207,56,440,636,362,194,153
RespRate,161,142,71,8,138,86,12419,10316,117,1297,1354,722,383,387
SaO2,24,41,22,16,9,18,2276,1355,39,248,516,323,191,166
SysABP,150,218,84,68,55,161,26374,22164,619,3330,5421,3620,2007,1527
Temp,345,391,116,71,271,278,19113,14558,302,2367,3886,2345,1333,1136
TroponinI,3,3,3,0,3,0,130,39,1,17,11,9,5,6
TroponinT,20,27,16,2,21,8,609,307,9,55,78,46,27,24
Urine,283,330,92,60,223,238,34756,28653,625,4035,6341,4271,2228,1803
WBC,110,137,46,32,82,87,3252,2948,54,376,578,340,181,139
Weight,864,1053,301,392,693,532,25181,22423,800,5624,8184,5299,2657,2484
pH,153,270,29,235,57,103,5823,4885,131,723,1124,765,422,359

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [47]:
test_X = physionet2012_dataset['test_X']

In [48]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1037
level_1        1037
Time           1037
ALP              39
ALT              43
AST              42
Age            1037
Albumin          45
BUN             123
Bilirubin        36
Cholesterol       8
Creatinine      123
DiasABP         187
FiO2            207
GCS             375
Gender         1037
Glucose         111
HCO3            113
HCT             141
HR              537
Height         1037
ICUType        1037
K               114
Lactate         126
MAP             183
MechVent        192
Mg               90
NIDiasABP       403
NIMAP           397
NISysABP        403
Na              112
PaCO2           213
PaO2            208
Platelets       138
RespRate        182
SaO2             34
SysABP          187
Temp            408
TroponinI         1
TroponinT        19
Urine           342
WBC             131
Weight         1037
pH              213
dtype: int64

In [49]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1359
level_1        1359
Time           1359
ALP              57
ALT              58
AST              58
Age            1359
Albumin          44
BUN             157
Bilirubin        54
Cholesterol       5
Creatinine      157
DiasABP         244
FiO2            263
GCS             478
Gender         1359
Glucose         128
HCO3            134
HCT             177
HR              676
Height         1359
ICUType        1359
K               131
Lactate         162
MAP             234
MechVent        237
Mg              104
NIDiasABP       507
NIMAP           503
NISysABP        507
Na              131
PaCO2           327
PaO2            323
Platelets       179
RespRate        208
SaO2             52
SysABP          244
Temp            502
TroponinI         5
TroponinT        34
Urine           411
WBC             164
Weight         1359
pH              331
dtype: int64

In [50]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       344
level_1        344
Time           344
ALP             15
ALT             17
AST             17
Age            344
Albumin         15
BUN             43
Bilirubin       11
Cholesterol      9
Creatinine      43
DiasABP         75
FiO2            44
GCS            144
Gender         344
Glucose         41
HCO3            42
HCT             42
HR             195
Height         344
ICUType        344
K               43
Lactate         17
MAP             75
MechVent        33
Mg              23
NIDiasABP      149
NIMAP          148
NISysABP       149
Na              42
PaCO2           34
PaO2            34
Platelets       40
RespRate        84
SaO2            26
SysABP          75
Temp           142
TroponinI        4
TroponinT       15
Urine          109
WBC             39
Weight         344
pH              36
dtype: int64

In [51]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       525
level_1        525
Time           525
ALP              6
ALT              6
AST              6
Age            525
Albumin          6
BUN             30
Bilirubin        6
Cholesterol      0
Creatinine      30
DiasABP         90
FiO2            72
GCS             84
Gender         525
Glucose         21
HCO3            26
HCT             55
HR             130
Height         525
ICUType        525
K               21
Lactate         41
MAP             87
MechVent        76
Mg              20
NIDiasABP       45
NIMAP           45
NISysABP        45
Na              21
PaCO2          311
PaO2           305
Platelets       58
RespRate        14
SaO2            23
SysABP          90
Temp            98
TroponinI        0
TroponinT        5
Urine           91
WBC             52
Weight         525
pH             311
dtype: int64

In [52]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       848
level_1        848
Time           848
ALP             48
ALT             51
AST             50
Age            848
Albumin         45
BUN            105
Bilirubin       47
Cholesterol      2
Creatinine     105
DiasABP         67
FiO2           165
GCS            332
Gender         848
Glucose        104
HCO3           105
HCT            105
HR             486
Height         848
ICUType        848
K              105
Lactate        111
MAP             61
MechVent       148
Mg              88
NIDiasABP      439
NIMAP          434
NISysABP       439
Na             105
PaCO2           70
PaO2            69
Platelets      102
RespRate       173
SaO2            15
SysABP          67
Temp           340
TroponinI        1
TroponinT       27
Urine          270
WBC            100
Weight         848
pH              72
dtype: int64

In [53]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       682
level_1        682
Time           682
ALP             27
ALT             27
AST             27
Age            682
Albumin         23
BUN            104
Bilirubin       26
Cholesterol      2
Creatinine     104
DiasABP        200
FiO2           191
GCS            293
Gender         682
Glucose         75
HCO3            76
HCT            117
HR             405
Height         682
ICUType        682
K               78
Lactate        120
MAP            195
MechVent       174
Mg              65
NIDiasABP      279
NIMAP          275
NISysABP       279
Na              77
PaCO2          126
PaO2           124
Platelets      118
RespRate       120
SaO2            22
SysABP         200
Temp           331
TroponinI        1
TroponinT        7
Urine          285
WBC            105
Weight         682
pH             126
dtype: int64

In [54]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].count()
more_than_or_equal_to_65_test

RecordID       60268
level_1        60268
Time           60268
ALP              844
ALT              860
AST              862
Age            60268
Albumin          685
BUN             4499
Bilirubin        862
Cholesterol      109
Creatinine      4518
DiasABP        35622
FiO2            9821
GCS            19713
Gender          1328
Glucose         4177
HCO3            4378
HCT             6000
HR             57791
Height         60268
ICUType         1328
K               4675
Lactate         2485
MAP            35554
MechVent        9026
Mg              4462
NIDiasABP      26355
NIMAP          26027
NISysABP       26384
Na              4353
PaCO2           7347
PaO2            7319
Platelets       4614
RespRate       16792
SaO2            2740
SysABP         35626
Temp           24593
TroponinI        140
TroponinT        914
Urine          45272
WBC             4207
Weight         34398
pH              7740
dtype: int64

In [55]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].count()
less_than_or_equal_to_65_test

RecordID       47814
level_1        47814
Time           47814
ALP             1092
ALT             1124
AST             1120
Age            47814
Albumin          742
BUN             3824
Bilirubin       1114
Cholesterol       86
Creatinine      3838
DiasABP        26874
FiO2            8196
GCS            17081
Gender          1071
Glucose         3640
HCO3            3746
HCT             4879
HR             45702
Height         47814
ICUType         1071
K               4026
Lactate         2230
MAP            26615
MechVent        8025
Mg              3741
NIDiasABP      21616
NIMAP          21292
NISysABP       21633
Na              3784
PaCO2           5821
PaO2            5814
Platelets       3828
RespRate       12589
SaO2            1798
SysABP         26876
Temp           18005
TroponinI         72
TroponinT        348
Urine          34433
WBC             3490
Weight         26867
pH              6061
dtype: int64

In [57]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [58]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574412    1.702
574413    1.702
574414    1.702
574415    1.702
574560    1.689
Name: Height, Length: 32112, dtype: float64

In [59]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [60]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         635
level_1          635
Time             635
ALP               16
ALT               16
AST               16
Age              635
Albumin           11
BUN               50
Bilirubin         16
Cholesterol        1
Creatinine        50
DiasABP          241
FiO2              57
GCS              197
Gender            33
Glucose           46
HCO3              48
HCT               63
HR               617
Height           635
ICUType           33
K                 53
Lactate           23
MAP              241
MechVent          81
Mg                54
NIDiasABP        334
NIMAP            312
NISysABP         334
Na                46
PaCO2             62
PaO2              61
Platelets         52
RespRate         244
SaO2              23
SysABP           241
Temp             230
TroponinI          0
TroponinT          5
Urine            357
WBC               45
Weight           635
pH                66
BMI              635
Classificacao    635
dtype: int64

In [61]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         7730
level_1          7730
Time             7730
ALP               137
ALT               142
AST               141
Age              7730
Albumin           108
BUN               585
Bilirubin         142
Cholesterol        10
Creatinine        585
DiasABP          4648
FiO2             1314
GCS              2650
Gender            384
Glucose           552
HCO3              562
HCT               741
HR               7533
Height           7730
ICUType           384
K                 616
Lactate           308
MAP              4609
MechVent         1281
Mg                565
NIDiasABP        3457
NIMAP            3422
NISysABP         3460
Na                572
PaCO2             902
PaO2              899
Platelets         554
RespRate         1600
SaO2              369
SysABP           4648
Temp             3253
TroponinI          10
TroponinT          88
Urine            5671
WBC               520
Weight           7730
pH                969
BMI              7730
Classificacao    7730
dtype: int64

In [62]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         10207
level_1          10207
Time             10207
ALP                168
ALT                173
AST                173
Age              10207
Albumin            116
BUN                726
Bilirubin          171
Cholesterol         20
Creatinine         731
DiasABP           6653
FiO2              1699
GCS               3369
Gender             413
Glucose            666
HCO3               694
HCT                972
HR                9978
Height           10207
ICUType            413
K                  755
Lactate            354
MAP               6671
MechVent          1488
Mg                 732
NIDiasABP         4137
NIMAP             4100
NISysABP          4140
Na                 691
PaCO2             1228
PaO2              1226
Platelets          744
RespRate          2161
SaO2               624
SysABP            6654
Temp              4590
TroponinI           22
TroponinT          111
Urine             7959
WBC                668
Weight           10207
pH                1345
BMI              10207
Classificacao    10207
dtype: int64

In [63]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         6650
level_1          6650
Time             6650
ALP                92
ALT                92
AST                92
Age              6650
Albumin            75
BUN               445
Bilirubin          95
Cholesterol         4
Creatinine        446
DiasABP          5001
FiO2             1119
GCS              1921
Gender            207
Glucose           403
HCO3              425
HCT               594
HR               6535
Height           6650
ICUType           207
K                 454
Lactate           275
MAP              4996
MechVent         1120
Mg                464
NIDiasABP        2134
NIMAP            2103
NISysABP         2134
Na                420
PaCO2             983
PaO2              982
Platelets         446
RespRate          534
SaO2              436
SysABP           5001
Temp             3553
TroponinI          23
TroponinT          55
Urine            5441
WBC               402
Weight           6650
pH               1065
BMI              6650
Classificacao    6650
dtype: int64

In [64]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         3060
level_1          3060
Time             3060
ALP                52
ALT                52
AST                51
Age              3060
Albumin            40
BUN               220
Bilirubin          53
Cholesterol         9
Creatinine        222
DiasABP          2096
FiO2              557
GCS               945
Gender            103
Glucose           197
HCO3              206
HCT               291
HR               3006
Height           3060
ICUType           103
K                 224
Lactate           161
MAP              2105
MechVent          493
Mg                226
NIDiasABP        1100
NIMAP            1082
NISysABP         1101
Na                206
PaCO2             412
PaO2              412
Platelets         221
RespRate          601
SaO2              170
SysABP           2096
Temp             1533
TroponinI           4
TroponinT          33
Urine            2439
WBC               203
Weight           3060
pH                437
BMI              3060
Classificacao    3060
dtype: int64

In [65]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         3210
level_1          3210
Time             3210
ALP                46
ALT                49
AST                48
Age              3210
Albumin            33
BUN               211
Bilirubin          49
Cholesterol         8
Creatinine        212
DiasABP          2355
FiO2              649
GCS               937
Gender             88
Glucose           189
HCO3              210
HCT               246
HR               3161
Height           3210
ICUType            88
K                 208
Lactate           166
MAP              2354
MechVent          604
Mg                228
NIDiasABP        1033
NIMAP            1029
NISysABP         1035
Na                208
PaCO2             493
PaO2              494
Platelets         193
RespRate          543
SaO2              216
SysABP           2355
Temp             1659
TroponinI          12
TroponinT          27
Urine            2650
WBC               182
Weight           3210
pH                519
BMI              3210
Classificacao    3210
dtype: int64

In [66]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [67]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1037,1359,344,525,848,682,60268,47814,635,7730,10207,6650,3060,3210
level_1,1037,1359,344,525,848,682,60268,47814,635,7730,10207,6650,3060,3210
Time,1037,1359,344,525,848,682,60268,47814,635,7730,10207,6650,3060,3210
ALP,39,57,15,6,48,27,844,1092,16,137,168,92,52,46
ALT,43,58,17,6,51,27,860,1124,16,142,173,92,52,49
AST,42,58,17,6,50,27,862,1120,16,141,173,92,51,48
Age,1037,1359,344,525,848,682,60268,47814,635,7730,10207,6650,3060,3210
Albumin,45,44,15,6,45,23,685,742,11,108,116,75,40,33
BUN,123,157,43,30,105,104,4499,3824,50,585,726,445,220,211
Bilirubin,36,54,11,6,47,26,862,1114,16,142,171,95,53,49
Cholesterol,8,5,9,0,2,2,109,86,1,10,20,4,9,8
Creatinine,123,157,43,30,105,104,4518,3838,50,585,731,446,222,212
DiasABP,187,244,75,90,67,200,35622,26874,241,4648,6653,5001,2096,2355
FiO2,207,263,44,72,165,191,9821,8196,57,1314,1699,1119,557,649
GCS,375,478,144,84,332,293,19713,17081,197,2650,3369,1921,945,937
Gender,1037,1359,344,525,848,682,1328,1071,33,384,413,207,103,88
Glucose,111,128,41,21,104,75,4177,3640,46,552,666,403,197,189
HCO3,113,134,42,26,105,76,4378,3746,48,562,694,425,206,210
HCT,141,177,42,55,105,117,6000,4879,63,741,972,594,291,246
HR,537,676,195,130,486,405,57791,45702,617,7533,9978,6535,3006,3161
Height,1037,1359,344,525,848,682,60268,47814,635,7730,10207,6650,3060,3210
ICUType,1037,1359,344,525,848,682,1328,1071,33,384,413,207,103,88
K,114,131,43,21,105,78,4675,4026,53,616,755,454,224,208
Lactate,126,162,17,41,111,120,2485,2230,23,308,354,275,161,166
MAP,183,234,75,87,61,195,35554,26615,241,4609,6671,4996,2105,2354
MechVent,192,237,33,76,148,174,9026,8025,81,1281,1488,1120,493,604
Mg,90,104,23,20,88,65,4462,3741,54,565,732,464,226,228
NIDiasABP,403,507,149,45,439,279,26355,21616,334,3457,4137,2134,1100,1033
NIMAP,397,503,148,45,434,275,26027,21292,312,3422,4100,2103,1082,1029
NISysABP,403,507,149,45,439,279,26384,21633,334,3460,4140,2134,1101,1035
Na,112,131,42,21,105,77,4353,3784,46,572,691,420,206,208
PaCO2,213,327,34,311,70,126,7347,5821,62,902,1228,983,412,493
PaO2,208,323,34,305,69,124,7319,5814,61,899,1226,982,412,494
Platelets,138,179,40,58,102,118,4614,3828,52,554,744,446,221,193
RespRate,182,208,84,14,173,120,16792,12589,244,1600,2161,534,601,543
SaO2,34,52,26,23,15,22,2740,1798,23,369,624,436,170,216
SysABP,187,244,75,90,67,200,35626,26876,241,4648,6654,5001,2096,2355
Temp,408,502,142,98,340,331,24593,18005,230,3253,4590,3553,1533,1659
TroponinI,1,5,4,0,1,1,140,72,0,10,22,23,4,12
TroponinT,19,34,15,5,27,7,914,348,5,88,111,55,33,27
Urine,342,411,109,91,270,285,45272,34433,357,5671,7959,5441,2439,2650
WBC,131,164,39,52,100,105,4207,3490,45,520,668,402,203,182
Weight,1037,1359,344,525,848,682,34398,26867,635,7730,10207,6650,3060,3210
pH,213,331,36,311,72,126,7740,6061,66,969,1345,1065,437,519