In [1]:
import os
import sys
import pandas as pd
from pypots.utils.random import set_random_seed
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

from pypotsModify.benchpots_statistic_tables.datasets import preprocess_physionet2012

2025-05-12 21:41:58.011953: E external/local_xla/xla/stream_executor/cuda/cuda_fft.cc:477] Unable to register cuFFT factory: Attempting to register factory for plugin cuFFT when one has already been registered
WARNING: All log messages before absl::InitializeLog() is called are written to STDERR
E0000 00:00:1747096918.032735  949762 cuda_dnn.cc:8310] Unable to register cuDNN factory: Attempting to register factory for plugin cuDNN when one has already been registered
E0000 00:00:1747096918.039115  949762 cuda_blas.cc:1418] Unable to register cuBLAS factory: Attempting to register factory for plugin cuBLAS when one has already been registered
2025-05-12 21:41:58.062716: I tensorflow/core/platform/cpu_feature_guard.cc:210] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
/usr/local/lib/python3.11/dist-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

████████╗██╗███╗   ███╗███████╗    ███████╗███████╗██████╗ ██╗███████╗███████╗    █████╗ ██╗
╚══██╔══╝██║████╗ ████║██╔════╝    ██╔════╝██╔════╝██╔══██╗██║██╔════╝██╔════╝   ██╔══██╗██║
   ██║   ██║██╔████╔██║█████╗█████╗███████╗█████╗  ██████╔╝██║█████╗  ███████╗   ███████║██║
   ██║   ██║██║╚██╔╝██║██╔══╝╚════╝╚════██║██╔══╝  ██╔══██╗██║██╔══╝  ╚════██║   ██╔══██║██║
   ██║   ██║██║ ╚═╝ ██║███████╗    ███████║███████╗██║  ██║██║███████╗███████║██╗██║  ██║██║
   ╚═╝   ╚═╝╚═╝     ╚═╝╚══════╝    ╚══════╝╚══════╝╚═╝  ╚═╝╚═╝╚══════╝╚══════╝╚═╝╚═╝  ╚═╝╚═╝
ai4ts v0.0.3 - building AI for unified time-series analysis, https://time-series.ai

<h2>Loading dataset</h2>

In [2]:
set_random_seed()
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)
print(physionet2012_dataset.keys())

2025-05-12 21:42:13 [INFO]: Have set the random seed as 2022 for numpy and pytorch.
2025-05-12 21:42:13 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2025-05-12 21:42:13 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2025-05-12 21:42:13 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2025-05-12 21:42:13 [INFO]: Loaded successfully!

dict_keys(['n_classes', 'n_steps', 'n_features', 'train_X', 'train_ICUType', 'val_X', 'val_ICUType', 'test_X', 'test_ICUType'])

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [3]:
train_X = physionet2012_dataset['train_X']

In [4]:
training_female_gender = train_X[train_X["Gender"] == 0.0]
training_female_gender_ids = training_female_gender["RecordID"]
female_gender_measurements_training = train_X[train_X["RecordID"].isin(training_female_gender_ids)]
female_gender_measurements_training = female_gender_measurements_training.count()
female_gender_measurements_training

RecordID       163344
level_1        163344
Time           163344
ALP              2635
ALT              2704
AST              2701
Age            153781
Albumin          2016
BUN             11823
Bilirubin        2753
Cholesterol       256
Creatinine      11861
DiasABP         84815
FiO2            25353
GCS             52262
Gender           3403
Glucose         11262
HCO3            11598
HCT             15080
HR             147684
Height         153781
ICUType          3403
K               12417
Lactate          6636
MAP             84347
MechVent        24599
Mg              11542
NIDiasABP       71493
NIMAP           70391
NISysABP        71558
Na              11689
PaCO2           17748
PaO2            17720
Platelets       11678
RespRate        44120
SaO2             6327
SysABP          84820
Temp            58924
TroponinI         374
TroponinT        1675
Urine          114448
WBC             10847
Weight          87086
pH              18401
dtype: int64

In [5]:
training_male_gender = train_X[train_X['Gender'] == 1.0]
training_male_gender_ids = training_male_gender["RecordID"]
male_gender_measurements_training = train_X[train_X["RecordID"].isin(training_male_gender_ids)]
male_gender_measurements_training  = male_gender_measurements_training.count()
male_gender_measurements_training

RecordID       204480
level_1        204480
Time           204480
ALP              3364
ALT              3452
AST              3455
Age            192539
Albumin          2578
BUN             14907
Bilirubin        3501
Cholesterol       378
Creatinine      14983
DiasABP        113999
FiO2            32700
GCS             65086
Gender           4260
Glucose         13907
HCO3            14534
HCT             19856
HR             184149
Height         192539
ICUType          4260
K               15530
Lactate          8479
MAP            113417
MechVent        30912
Mg              14583
NIDiasABP       83392
NIMAP           82297
NISysABP        83453
Na              14463
PaCO2           24809
PaO2            24770
Platelets       15501
RespRate        45947
SaO2             8631
SysABP         114008
Temp            78242
TroponinI         401
TroponinT        2244
Urine          140652
WBC             13981
Weight         107007
pH              26089
dtype: int64

In [6]:
training_undefined_gender = train_X[train_X['Gender'] == -1.0]
undefined_gender_training_ids = training_undefined_gender['RecordID']
undefined_gender_measurements_training = train_X[train_X["RecordID"].isin(undefined_gender_training_ids)]
undefined_gender_measurements_training = undefined_gender_measurements_training.count()
undefined_gender_measurements_training

RecordID       384
level_1        384
Time           384
ALP              4
ALT              5
AST              5
Age            289
Albumin          5
BUN             25
Bilirubin        4
Cholesterol      0
Creatinine      25
DiasABP        162
FiO2            41
GCS             74
Gender           8
Glucose         26
HCO3            25
HCT             24
HR             278
Height         289
ICUType          8
K               27
Lactate         27
MAP            159
MechVent        44
Mg              22
NIDiasABP      127
NIMAP          127
NISysABP       127
Na              25
PaCO2           45
PaO2            45
Platelets       24
RespRate        93
SaO2             2
SysABP         162
Temp           113
TroponinI        1
TroponinT        6
Urine          204
WBC             23
Weight         227
pH              49
dtype: int64

In [7]:
training_ICUType_1 = train_X[train_X['ICUType'] == 1.0]
training_ICUType_1 = training_ICUType_1[training_ICUType_1["Time"] == 0.0]
training_ICUType_1_ids = training_ICUType_1["RecordID"]
ICUType_1_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_1_ids)]
ICUType_1_measurements_training = ICUType_1_measurements_training.count() 
ICUType_1_measurements_training

RecordID       54576
level_1        54576
Time           54576
ALP              827
ALT              873
AST              872
Age            50045
Albumin          650
BUN             3906
Bilirubin        859
Cholesterol      347
Creatinine      3962
DiasABP        22206
FiO2            5985
GCS            14084
Gender          1137
Glucose         3740
HCO3            3772
HCT             4758
HR             47629
Height         50045
ICUType         1137
K               4560
Lactate         1257
MAP            22111
MechVent        5478
Mg              3887
NIDiasABP      26436
NIMAP          26300
NISysABP       26450
Na              3761
PaCO2           4503
PaO2            4508
Platelets       3928
RespRate       19487
SaO2            2744
SysABP         22208
Temp           16420
TroponinI        169
TroponinT       1163
Urine          31153
WBC             3529
Weight         25019
pH              4591
dtype: int64

In [8]:
training_ICUType_2 = train_X[train_X['ICUType'] == 2.0]
training_ICUType_2 = training_ICUType_2[training_ICUType_2["Time"] == 0.0]
training_ICUType2_ids = training_ICUType_2["RecordID"]
ICUType_2_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType2_ids)]
ICUType_2_measurements_training = ICUType_2_measurements_training.count() 
ICUType_2_measurements_training

RecordID       77712
level_1        77712
Time           77712
ALP              514
ALT              529
AST              529
Age            75213
Albumin          345
BUN             5025
Bilirubin        520
Cholesterol       21
Creatinine      5042
DiasABP        61257
FiO2           13371
GCS            20553
Gender          1619
Glucose         3627
HCO3            4655
HCT             8454
HR             71478
Height         75213
ICUType         1619
K               4100
Lactate         2643
MAP            61348
MechVent       13137
Mg              4864
NIDiasABP      17057
NIMAP          16923
NISysABP       17093
Na              3890
PaCO2          15740
PaO2           15689
Platelets       6264
RespRate        3790
SaO2            8487
SysABP         61258
Temp           45281
TroponinI         90
TroponinT        192
Urine          65672
WBC             5202
Weight         40035
pH             17252
dtype: int64

In [9]:
training_ICUType_3 = train_X[train_X['ICUType'] == 3.0]
training_ICUType_3 = training_ICUType_3[training_ICUType_3["Time"] == 0.0]
training_ICUType_3_ids = training_ICUType_3["RecordID"]
ICUType_3_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_3_ids)]
ICUType_3_measurements_training = ICUType_3_measurements_training.count() 
ICUType_3_measurements_training

RecordID       131808
level_1        131808
Time           131808
ALP              2778
ALT              2849
AST              2852
Age            121908
Albumin          2175
BUN              9986
Bilirubin        2987
Cholesterol       127
Creatinine      10022
DiasABP         46666
FiO2            19328
GCS             34801
Gender           2746
Glucose          9947
HCO3             9993
HCT             11715
HR             117292
Height         121908
ICUType          2746
K               10761
Lactate          5129
MAP             46068
MechVent        17773
Mg               9361
NIDiasABP       74254
NIMAP           72805
NISysABP        74294
Na              10230
PaCO2           10061
PaO2            10068
Platelets        9058
RespRate        41726
SaO2             1551
SysABP          46671
Temp            37987
TroponinI         349
TroponinT        1781
Urine           79568
WBC              8684
Weight          85483
pH              10213
dtype: int64

In [10]:
training_ICUType_4 = train_X[train_X['ICUType'] == 4.0]
training_ICUType_4 = training_ICUType_4[training_ICUType_4["Time"] == 0.0]
training_ICUType_4_ids = training_ICUType_4["RecordID"]
ICUType_4_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_4_ids)]
ICUType_4_measurements_training = ICUType_4_measurements_training.count() 
ICUType_4_measurements_training

RecordID       104112
level_1        104112
Time           104112
ALP              1884
ALT              1910
AST              1908
Age             99443
Albumin          1429
BUN              7838
Bilirubin        1892
Cholesterol       139
Creatinine       7843
DiasABP         68847
FiO2            19410
GCS             47984
Gender           2169
Glucose          7881
HCO3             7737
HCT             10033
HR              95712
Height          99443
ICUType          2169
K                8553
Lactate          6113
MAP             68396
MechVent        19167
Mg               8035
NIDiasABP       37265
NIMAP           36787
NISysABP        37301
Na               8296
PaCO2           12298
PaO2            12270
Platelets        7953
RespRate        25157
SaO2             2178
SysABP          68853
Temp            37591
TroponinI         168
TroponinT         789
Urine           78911
WBC              7436
Weight          43783
pH              12483
dtype: int64

In [11]:
age_65_and_above_training = train_X[train_X["Age"] >= 65]
age_65_and_above_training = age_65_and_above_training[age_65_and_above_training ["Time"] == 0.0]
age_65_and_above_training_ids = age_65_and_above_training ["RecordID"]
age_65_and_above_measurements_training = train_X[train_X["RecordID"].isin(age_65_and_above_training_ids)]
age_65_and_above_measurements_training = age_65_and_above_measurements_training.count()
age_65_and_above_measurements_training

RecordID       204432
level_1        204432
Time           204432
ALP              2722
ALT              2781
AST              2788
Age            193106
Albumin          2270
BUN             14497
Bilirubin        2859
Cholesterol       373
Creatinine      14562
DiasABP        112767
FiO2            32490
GCS             63500
Gender           4259
Glucose         13473
HCO3            14147
HCT             19219
HR             185387
Height         193106
ICUType          4259
K               15072
Lactate          8084
MAP            112200
MechVent        30428
Mg              14283
NIDiasABP       85390
NIMAP           84357
NISysABP        85460
Na              14021
PaCO2           24112
PaO2            24079
Platelets       14776
RespRate        51110
SaO2             9413
SysABP         112773
Temp            79383
TroponinI         536
TroponinT        2796
Urine          145387
WBC             13476
Weight         108434
pH              25237
dtype: int64

In [88]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor para cada recordID.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [12]:
age_under_65_training  = train_X[train_X["Age"] < 65]
age_under_65_training  = age_under_65_training[age_under_65_training["Time"] == 0.0]
age_under_65_training_ids = age_under_65_training["RecordID"]
age_under_65_measurements_training = train_X[train_X["RecordID"].isin(age_under_65_training_ids)]
age_under_65_measurements_training  = age_under_65_measurements_training .count()
age_under_65_measurements_training

RecordID       163776
level_1        163776
Time           163776
ALP              3281
ALT              3380
AST              3373
Age            153503
Albumin          2329
BUN             12258
Bilirubin        3399
Cholesterol       261
Creatinine      12307
DiasABP         86209
FiO2            25604
GCS             53922
Gender           3412
Glucose         11722
HCO3            12010
HCT             15741
HR             146724
Height         153503
ICUType          3412
K               12902
Lactate          7058
MAP             85723
MechVent        25127
Mg              11864
NIDiasABP       69622
NIMAP           68458
NISysABP        69678
Na              12156
PaCO2           18490
PaO2            18456
Platelets       12427
RespRate        39050
SaO2             5547
SysABP          86217
Temp            57896
TroponinI         240
TroponinT        1129
Urine          109917
WBC             11375
Weight          85886
pH              19302
dtype: int64

In [13]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [14]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [15]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574989    1.524
574990    1.524
574991    1.524
575088    1.727
575184    1.727
Name: Height, Length: 101785, dtype: float64

In [16]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = round(filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.7,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.2,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.2,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.2,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.2,Sobrepeso

In [17]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.50,NaN,NaN,50.0,13.3,76.0,7.45,24.7,Peso normal
1,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.30,NaN,NaN,600.0,11.5,84.6,NaN,26.0,Sobrepeso
2,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.1,Obesidade grau 2
3,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.00,36.30,0.7,NaN,120.0,6.2,87.0,NaN,32.9,Obesidade grau 1
4,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.00,3.5,NaN,120.0,16.1,48.4,7.40,18.3,Baixo peso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4025,163007,0,0.0,42.0,30.0,40.0,19.0,2.8,16.0,0.6,...,0.00,40.55,NaN,1.00,150.0,14.1,114.3,7.36,34.2,Obesidade grau 1
4026,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.00,37.60,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
4027,163013,0,0.0,82.0,11.0,30.0,74.0,2.5,30.0,1.2,...,118.00,36.50,NaN,0.03,40.0,9.6,68.6,7.35,29.5,Sobrepeso
4028,163021,0,0.0,NaN,NaN,NaN,72.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.6,62.0,NaN,20.8,Peso normal
4029,163029,0,0.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,28.5,Sobrepeso

In [18]:
bmi_data_train["Classificacao"].value_counts()

Classificacao
Sobrepeso           1405
Peso normal         1178
Obesidade grau 1     747
Obesidade grau 2     318
Obesidade grau 3     266
Baixo peso           116
Name: count, dtype: int64

In [19]:
classification_undefined_training_ids = bmi_data_train["RecordID"]
classification_undefined_measurements_training = train_X[~train_X["RecordID"].isin(classification_undefined_training_ids)]
classification_undefined_measurements_training = classification_undefined_measurements_training.count()
classification_undefined_measurements_training

RecordID       174768
level_1        174768
Time           174768
ALP              2833
ALT              2923
AST              2925
Age            161022
Albumin          2276
BUN             12309
Bilirubin        2983
Cholesterol       285
Creatinine      12365
DiasABP         68375
FiO2            23862
GCS             57532
Gender           3641
Glucose         12276
HCO3            12230
HCT             14793
HR             154701
Height         161022
ICUType          3641
K               13496
Lactate          5811
MAP             67666
MechVent        21777
Mg              11927
NIDiasABP       93353
NIMAP           91848
NISysABP        93412
Na              12770
PaCO2           12237
PaO2            12214
Platelets       11373
RespRate        60953
SaO2             1914
SysABP          68383
Temp            46819
TroponinI         303
TroponinT        2080
Urine          110511
WBC             10906
Weight          92535
pH              12452
dtype: int64

In [20]:
classification_low_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_low_weight_training_ids = classification_low_weight_training["RecordID"]
classification_measurements_l_w_t = train_X[train_X["RecordID"].isin(classification_low_weight_training_ids)]
classification_measurements_l_w_t = classification_measurements_l_w_t.count() 
classification_measurements_l_w_t

RecordID       5568
level_1        5568
Time           5568
ALP              82
ALT              84
AST              84
Age            5326
Albumin          62
BUN             406
Bilirubin        85
Cholesterol       9
Creatinine      407
DiasABP        3591
FiO2            924
GCS            1733
Gender          116
Glucose         391
HCO3            397
HCT             537
HR             5140
Height         5326
ICUType         116
K               428
Lactate         302
MAP            3605
MechVent        975
Mg              403
NIDiasABP      2011
NIMAP          1954
NISysABP       2016
Na              397
PaCO2           740
PaO2            745
Platelets       404
RespRate        867
SaO2            309
SysABP         3591
Temp           2239
TroponinI        26
TroponinT        67
Urine          3967
WBC             378
Weight         2868
pH              778
dtype: int64

In [21]:
classification_normal_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_normal_weight_training_ids = classification_normal_weight_training["RecordID"]
classification_measurements_n_w_t = train_X[train_X["RecordID"].isin(classification_normal_weight_training_ids)]
classification_measurements_n_w_t = classification_measurements_n_w_t.count() 
classification_measurements_n_w_t

RecordID       56544
level_1        56544
Time           56544
ALP              868
ALT              892
AST              890
Age            54327
Albumin          695
BUN             4153
Bilirubin        893
Cholesterol      110
Creatinine      4170
DiasABP        37482
FiO2            9571
GCS            18380
Gender          1178
Glucose         3814
HCO3            4032
HCT             5796
HR             52028
Height         54327
ICUType         1178
K               4315
Lactate         2620
MAP            37332
MechVent        9510
Mg              4169
NIDiasABP      19130
NIMAP          18951
NISysABP       19147
Na              3942
PaCO2           8181
PaO2            8159
Platelets       4542
RespRate        9192
SaO2            3419
SysABP         37482
Temp           25816
TroponinI        132
TroponinT        534
Urine          41761
WBC             4000
Weight         28727
pH              8686
dtype: int64

In [22]:
classification_overweight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_overweight_training_ids = classification_overweight_training['RecordID']
classification_measurements_o_w_t = train_X[train_X["RecordID"].isin(classification_overweight_training_ids)]
classification_measurements_o_w_t = classification_measurements_o_w_t.count() 
classification_measurements_o_w_t

RecordID       67440
level_1        67440
Time           67440
ALP             1146
ALT             1164
AST             1165
Age            64543
Albumin          791
BUN             5008
Bilirubin       1179
Cholesterol      130
Creatinine      5030
DiasABP        45674
FiO2           11565
GCS            20632
Gender          1405
Glucose         4413
HCO3            4811
HCT             7138
HR             61492
Height         64543
ICUType         1405
K               4924
Lactate         3052
MAP            45590
MechVent       11462
Mg              4945
NIDiasABP      21269
NIMAP          21051
NISysABP       21295
Na              4577
PaCO2          10556
PaO2           10532
Platelets       5620
RespRate       10487
SaO2            4664
SysABP         45678
Temp           31885
TroponinI        163
TroponinT        607
Urine          50356
WBC             4911
Weight         34997
pH             11238
dtype: int64

In [23]:
classification_obesity_grade1_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_training_ids = classification_obesity_grade1_training["RecordID"]
classification_measurements_ob1_t = train_X[train_X["RecordID"].isin(classification_obesity_grade1_training_ids)]
classification_measurements_ob1_t  = classification_measurements_ob1_t .count() 
classification_measurements_ob1_t

RecordID       35856
level_1        35856
Time           35856
ALP              592
ALT              609
AST              610
Age            34503
Albumin          432
BUN             2719
Bilirubin        617
Cholesterol       55
Creatinine      2729
DiasABP        24873
FiO2            6668
GCS            10952
Gender           747
Glucose         2396
HCO3            2608
HCT             3822
HR             33020
Height         34503
ICUType          747
K               2695
Lactate         1789
MAP            24722
MechVent        6525
Mg              2619
NIDiasABP      10918
NIMAP          10807
NISysABP       10929
Na              2507
PaCO2           6046
PaO2            6041
Platelets       2984
RespRate        4781
SaO2            2513
SysABP         24873
Temp           17470
TroponinI        108
TroponinT        355
Urine          27624
WBC             2612
Weight         19072
pH              6360
dtype: int64

In [24]:
classification_obesity_grade2_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_training_ids = classification_obesity_grade2_training["RecordID"]
classification_measurements_ob2_t = train_X[train_X["RecordID"].isin(classification_obesity_grade2_training_ids)]
classification_measurements_ob2_t = classification_measurements_ob2_t.count() 
classification_measurements_ob2_t

RecordID       15264
level_1        15264
Time           15264
ALP              239
ALT              243
AST              242
Age            14597
Albumin          165
BUN             1183
Bilirubin        251
Cholesterol       25
Creatinine      1193
DiasABP        10620
FiO2            2935
GCS             4518
Gender           318
Glucose         1035
HCO3            1134
HCT             1627
HR             13952
Height         14597
ICUType          318
K               1152
Lactate          820
MAP            10617
MechVent        2771
Mg              1127
NIDiasABP       4370
NIMAP           4295
NISysABP        4371
Na              1086
PaCO2           2654
PaO2            2652
Platelets       1294
RespRate        2314
SaO2            1199
SysABP         10622
Temp            7447
TroponinI         26
TroponinT        156
Urine          11486
WBC             1140
Weight          8603
pH              2761
dtype: int64

In [25]:
classification_obesity_grade3_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_training_ids = classification_obesity_grade3_training["RecordID"]
classification_measurements_ob3_t = train_X[train_X["RecordID"].isin(classification_obesity_grade3_training_ids)]
classification_measurements_ob3_t = classification_measurements_ob3_t.count() 
classification_measurements_ob3_t

RecordID       12768
level_1        12768
Time           12768
ALP              243
ALT              246
AST              245
Age            12291
Albumin          178
BUN              977
Bilirubin        250
Cholesterol       20
Creatinine       975
DiasABP         8361
FiO2            2569
GCS             3675
Gender           266
Glucose          870
HCO3             945
HCT             1247
HR             11778
Height         12291
ICUType          266
K                964
Lactate          748
MAP             8391
MechVent        2535
Mg               957
NIDiasABP       3961
NIMAP           3909
NISysABP        3968
Na               898
PaCO2           2188
PaO2            2192
Platelets        986
RespRate        1566
SaO2             942
SysABP          8361
Temp            5603
TroponinI         18
TroponinT        126
Urine           9599
WBC              904
Weight          7518
pH              2264
dtype: int64

In [26]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [27]:
df_train = pd.DataFrame(columns=df_columns)
df_train_transpose = df_train.T
df_train_transpose["Female"] = female_gender_measurements_training
df_train_transpose["Male"] = male_gender_measurements_training
df_train_transpose["Undefined Gender"] = undefined_gender_measurements_training
df_train_transpose["ICUType 1"] = ICUType_1_measurements_training 
df_train_transpose["ICUType 2"] = ICUType_2_measurements_training 
df_train_transpose["ICUType 3"] = ICUType_3_measurements_training 
df_train_transpose["ICUType 4"] = ICUType_4_measurements_training 
df_train_transpose["Age 65+"] = age_65_and_above_measurements_training
df_train_transpose["Age 65-"] = age_under_65_measurements_training 
df_train_transpose['Undefined Classification'] = classification_undefined_measurements_training
df_train_transpose['Low Weight'] = classification_measurements_l_w_t 
df_train_transpose['Normal Weight'] = classification_measurements_n_w_t 
df_train_transpose['Overweight'] = classification_measurements_o_w_t 
df_train_transpose['Obesity Grade 1'] = classification_measurements_ob1_t 
df_train_transpose['Obesity Grade 2'] = classification_measurements_ob2_t 
df_train_transpose['Obesity Grade 3'] = classification_measurements_ob3_t 
df_train_transpose = df_train_transpose.drop('RecordID',axis=0)
df_train_transpose = df_train_transpose.drop('level_1',axis=0)
df_train_transpose = df_train_transpose.drop('Time',axis=0)
df_train_transpose = df_train_transpose.drop('Age',axis=0)
df_train_transpose = df_train_transpose.drop('Gender',axis=0)
df_train_transpose = df_train_transpose.drop('Height',axis=0)
df_train_transpose = df_train_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_train_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,2635,3364,4,827,514,2778,1884,2722,3281,2833,82,868,1146,592,239,243
ALT,2704,3452,5,873,529,2849,1910,2781,3380,2923,84,892,1164,609,243,246
AST,2701,3455,5,872,529,2852,1908,2788,3373,2925,84,890,1165,610,242,245
Albumin,2016,2578,5,650,345,2175,1429,2270,2329,2276,62,695,791,432,165,178
BUN,11823,14907,25,3906,5025,9986,7838,14497,12258,12309,406,4153,5008,2719,1183,977
Bilirubin,2753,3501,4,859,520,2987,1892,2859,3399,2983,85,893,1179,617,251,250
Cholesterol,256,378,0,347,21,127,139,373,261,285,9,110,130,55,25,20
Creatinine,11861,14983,25,3962,5042,10022,7843,14562,12307,12365,407,4170,5030,2729,1193,975
DiasABP,84815,113999,162,22206,61257,46666,68847,112767,86209,68375,3591,37482,45674,24873,10620,8361
FiO2,25353,32700,41,5985,13371,19328,19410,32490,25604,23862,924,9571,11565,6668,2935,2569
GCS,52262,65086,74,14084,20553,34801,47984,63500,53922,57532,1733,18380,20632,10952,4518,3675
Glucose,11262,13907,26,3740,3627,9947,7881,13473,11722,12276,391,3814,4413,2396,1035,870
HCO3,11598,14534,25,3772,4655,9993,7737,14147,12010,12230,397,4032,4811,2608,1134,945
HCT,15080,19856,24,4758,8454,11715,10033,19219,15741,14793,537,5796,7138,3822,1627,1247
HR,147684,184149,278,47629,71478,117292,95712,185387,146724,154701,5140,52028,61492,33020,13952,11778
K,12417,15530,27,4560,4100,10761,8553,15072,12902,13496,428,4315,4924,2695,1152,964
Lactate,6636,8479,27,1257,2643,5129,6113,8084,7058,5811,302,2620,3052,1789,820,748
MAP,84347,113417,159,22111,61348,46068,68396,112200,85723,67666,3605,37332,45590,24722,10617,8391
MechVent,24599,30912,44,5478,13137,17773,19167,30428,25127,21777,975,9510,11462,6525,2771,2535
Mg,11542,14583,22,3887,4864,9361,8035,14283,11864,11927,403,4169,4945,2619,1127,957
NIDiasABP,71493,83392,127,26436,17057,74254,37265,85390,69622,93353,2011,19130,21269,10918,4370,3961
NIMAP,70391,82297,127,26300,16923,72805,36787,84357,68458,91848,1954,18951,21051,10807,4295,3909
NISysABP,71558,83453,127,26450,17093,74294,37301,85460,69678,93412,2016,19147,21295,10929,4371,3968
Na,11689,14463,25,3761,3890,10230,8296,14021,12156,12770,397,3942,4577,2507,1086,898
PaCO2,17748,24809,45,4503,15740,10061,12298,24112,18490,12237,740,8181,10556,6046,2654,2188
PaO2,17720,24770,45,4508,15689,10068,12270,24079,18456,12214,745,8159,10532,6041,2652,2192
Platelets,11678,15501,24,3928,6264,9058,7953,14776,12427,11373,404,4542,5620,2984,1294,986
RespRate,44120,45947,93,19487,3790,41726,25157,51110,39050,60953,867,9192,10487,4781,2314,1566
SaO2,6327,8631,2,2744,8487,1551,2178,9413,5547,1914,309,3419,4664,2513,1199,942
SysABP,84820,114008,162,22208,61258,46671,68853,112773,86217,68383,3591,37482,45678,24873,10622,8361
Temp,58924,78242,113,16420,45281,37987,37591,79383,57896,46819,2239,25816,31885,17470,7447,5603
TroponinI,374,401,1,169,90,349,168,536,240,303,26,132,163,108,26,18
TroponinT,1675,2244,6,1163,192,1781,789,2796,1129,2080,67,534,607,355,156,126
Urine,114448,140652,204,31153,65672,79568,78911,145387,109917,110511,3967,41761,50356,27624,11486,9599
WBC,10847,13981,23,3529,5202,8684,7436,13476,11375,10906,378,4000,4911,2612,1140,904
Weight,87086,107007,227,25019,40035,85483,43783,108434,85886,92535,2868,28727,34997,19072,8603,7518
pH,18401,26089,49,4591,17252,10213,12483,25237,19302,12452,778,8686,11238,6360,2761,2264

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [28]:
validation_X = physionet2012_dataset['val_X']

In [29]:
validation_female_gender = validation_X[validation_X['Gender'] == 0.0]
validation_female_gender_ids = validation_female_gender["RecordID"]
female_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_female_gender_ids)]
female_gender_measurements_validation = female_gender_measurements_validation.count()
female_gender_measurements_validation

RecordID       39264
level_1        39264
Time           39264
ALP              635
ALT              651
AST              651
Age            37046
Albumin          522
BUN             2776
Bilirubin        649
Cholesterol       72
Creatinine      2790
DiasABP        19297
FiO2            5679
GCS            12932
Gender           818
Glucose         2653
HCO3            2743
HCT             3471
HR             35602
Height         37046
ICUType          818
K               3001
Lactate         1388
MAP            19176
MechVent        5688
Mg              2744
NIDiasABP      18275
NIMAP          18000
NISysABP       18294
Na              2800
PaCO2           3890
PaO2            3881
Platelets       2719
RespRate       10593
SaO2            1370
SysABP         19299
Temp           13539
TroponinI         77
TroponinT        468
Urine          27165
WBC             2546
Weight         21852
pH              4034
dtype: int64

In [30]:
validation_male_gender = validation_X[validation_X['Gender'] == 1.0]
validation_male_gender_ids = validation_male_gender["RecordID"]
male_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_male_gender_ids)]
male_gender_measurements_validation = male_gender_measurements_validation.count()
male_gender_measurements_validation

RecordID       52752
level_1        52752
Time           52752
ALP              908
ALT              937
AST              938
Age            49649
Albumin          663
BUN             3811
Bilirubin        933
Cholesterol       89
Creatinine      3834
DiasABP        29859
FiO2            8104
GCS            16885
Gender          1099
Glucose         3548
HCO3            3708
HCT             5142
HR             47497
Height         49649
ICUType         1099
K               3959
Lactate         2394
MAP            29767
MechVent        7794
Mg              3717
NIDiasABP      21357
NIMAP          21113
NISysABP       21376
Na              3691
PaCO2           6346
PaO2            6325
Platelets       3949
RespRate       12460
SaO2            2220
SysABP         29861
Temp           20109
TroponinI         81
TroponinT        593
Urine          36385
WBC             3557
Weight         27564
pH              6681
dtype: int64

In [31]:
validation_undefined_gender = validation_X[validation_X['Gender'] == -1.0]
validation_undefined_gender_ids = validation_undefined_gender["RecordID"]
undefined_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_undefined_gender_ids)]
undefined_gender_measurements_validation = undefined_gender_measurements_validation.count()
undefined_gender_measurements_validation

RecordID       48
level_1        48
Time           48
ALP             0
ALT             0
AST             0
Age            47
Albumin         0
BUN             4
Bilirubin       0
Cholesterol     0
Creatinine      4
DiasABP        46
FiO2           11
GCS            15
Gender          1
Glucose         4
HCO3            4
HCT             4
HR             45
Height         47
ICUType         1
K               4
Lactate         0
MAP            44
MechVent        7
Mg              4
NIDiasABP      10
NIMAP          10
NISysABP       10
Na              4
PaCO2           7
PaO2            7
Platelets       4
RespRate        0
SaO2            0
SysABP         46
Temp           22
TroponinI       0
TroponinT       3
Urine          40
WBC             4
Weight         35
pH              7
dtype: int64

In [32]:
validation_ICUType_1 = validation_X[validation_X['ICUType'] == 1.0]
validation_ICUType_1 = validation_ICUType_1[validation_ICUType_1['Time'] == 0.0]
validation_ICUType_1_ids = validation_ICUType_1['RecordID']
ICUType_1_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_1_ids)]
ICUType_1_measurements_validation = ICUType_1_measurements_validation.count()
ICUType_1_measurements_validation

RecordID       14160
level_1        14160
Time           14160
ALP              214
ALT              226
AST              225
Age            13118
Albumin          155
BUN             1000
Bilirubin        223
Cholesterol       88
Creatinine      1030
DiasABP         6342
FiO2            1521
GCS             3684
Gender           295
Glucose          937
HCO3             957
HCT             1255
HR             12510
Height         13118
ICUType          295
K               1170
Lactate          331
MAP             6324
MechVent        1455
Mg               986
NIDiasABP       6497
NIMAP           6464
NISysABP        6507
Na               944
PaCO2           1179
PaO2            1180
Platelets       1020
RespRate        5036
SaO2             712
SysABP          6342
Temp            4288
TroponinI         44
TroponinT        323
Urine           8092
WBC              907
Weight          6227
pH              1218
dtype: int64

In [33]:
validation_ICUType_2 = validation_X[validation_X['ICUType'] == 2.0]
validation_ICUType_2 = validation_ICUType_2[validation_ICUType_2['Time'] == 0.0]
validation_ICUType_2_ids = validation_ICUType_2['RecordID']
ICUType_2_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_2_ids)]
ICUType_2_measurements_validation = ICUType_2_measurements_validation.count()
ICUType_2_measurements_validation

RecordID       18336
level_1        18336
Time           18336
ALP              142
ALT              147
AST              147
Age            17693
Albumin           87
BUN             1184
Bilirubin        144
Cholesterol        2
Creatinine      1181
DiasABP        14311
FiO2            2997
GCS             4856
Gender           382
Glucose          837
HCO3            1100
HCT             2009
HR             16771
Height         17693
ICUType          382
K                968
Lactate          718
MAP            14381
MechVent        2998
Mg              1133
NIDiasABP       3876
NIMAP           3817
NISysABP        3881
Na               925
PaCO2           3773
PaO2            3759
Platelets       1494
RespRate         445
SaO2            1993
SysABP         14312
Temp           10898
TroponinI         22
TroponinT         48
Urine          15509
WBC             1245
Weight          9740
pH              4141
dtype: int64

In [34]:
validation_ICUType_3 = validation_X[validation_X['ICUType'] == 3.0]
validation_ICUType_3 = validation_ICUType_3[validation_ICUType_3['Time'] == 0.0]
validation_ICUType_3_ids = validation_ICUType_3['RecordID']
ICUType_3_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_3_ids)]
ICUType_3_measurements_validation = ICUType_3_measurements_validation.count()
ICUType_3_measurements_validation

RecordID       33456
level_1        33456
Time           33456
ALP              758
ALT              780
AST              779
Age            31115
Albumin          572
BUN             2494
Bilirubin        795
Cholesterol       33
Creatinine      2500
DiasABP        11263
FiO2            4643
GCS             9078
Gender           697
Glucose         2495
HCO3            2503
HCT             2900
HR             30023
Height         31115
ICUType          697
K               2714
Lactate         1270
MAP            11113
MechVent        4484
Mg              2390
NIDiasABP      19630
NIMAP          19315
NISysABP       19642
Na              2564
PaCO2           2368
PaO2            2364
Platelets       2239
RespRate       10418
SaO2             386
SysABP         11265
Temp            9482
TroponinI         66
TroponinT        468
Urine          20433
WBC             2139
Weight         21700
pH              2404
dtype: int64

In [35]:
validation_ICUType_4 = validation_X[validation_X['ICUType'] == 4.0]
validation_ICUType_4 = validation_ICUType_4[validation_ICUType_4['Time'] == 0.0]
validation_ICUType_4_ids = validation_ICUType_4['RecordID']
ICUType_4_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_4_ids)]
ICUType_4_measurements_validation = ICUType_4_measurements_validation.count()
ICUType_4_measurements_validation

RecordID       26112
level_1        26112
Time           26112
ALP              429
ALT              435
AST              438
Age            24816
Albumin          371
BUN             1913
Bilirubin        420
Cholesterol       38
Creatinine      1917
DiasABP        17286
FiO2            4633
GCS            12214
Gender           544
Glucose         1936
HCO3            1895
HCT             2453
HR             23840
Height         24816
ICUType          544
K               2112
Lactate         1463
MAP            17169
MechVent        4552
Mg              1956
NIDiasABP       9639
NIMAP           9527
NISysABP        9650
Na              2062
PaCO2           2923
PaO2            2910
Platelets       1919
RespRate        7154
SaO2             499
SysABP         17287
Temp            9002
TroponinI         26
TroponinT        225
Urine          19556
WBC             1816
Weight         11784
pH              2959
dtype: int64

In [36]:
age_65_and_above_validation = validation_X[validation_X['Age'] >= 65]
age_65_and_above_validation = age_65_and_above_validation[age_65_and_above_validation['Time'] == 0.0]
age_65_and_above_validation_ids = age_65_and_above_validation['RecordID']
age_65_and_above_measurements_validation = validation_X[validation_X['RecordID'].isin(age_65_and_above_validation_ids)]
age_65_and_above_measurements_validation = age_65_and_above_measurements_validation.count()
age_65_and_above_measurements_validation

RecordID       49728
level_1        49728
Time           49728
ALP              650
ALT              669
AST              671
Age            46969
Albumin          529
BUN             3436
Bilirubin        670
Cholesterol       98
Creatinine      3458
DiasABP        26835
FiO2            7251
GCS            15460
Gender          1036
Glucose         3179
HCO3            3359
HCT             4636
HR             45041
Height         46969
ICUType         1036
K               3613
Lactate         1901
MAP            26752
MechVent        7021
Mg              3367
NIDiasABP      21460
NIMAP          21266
NISysABP       21480
Na              3323
PaCO2           5589
PaO2            5574
Platelets       3527
RespRate       12146
SaO2            2287
SysABP         26838
Temp           18627
TroponinI        114
TroponinT        729
Urine          35027
WBC             3224
Weight         27021
pH              5861
dtype: int64

In [37]:
age_under_65_validation = validation_X[validation_X['Age'] < 65]
age_under_65_validation = age_under_65_validation[age_under_65_validation['Time'] == 0.0]
age_under_65_validation_ids = age_under_65_validation["RecordID"]
age_under_65__measurements_validation = validation_X[validation_X["RecordID"].isin(age_under_65_validation_ids)]
age_under_65__measurements_validation = age_under_65__measurements_validation.count()
age_under_65__measurements_validation

RecordID       42336
level_1        42336
Time           42336
ALP              893
ALT              919
AST              918
Age            39773
Albumin          656
BUN             3155
Bilirubin        912
Cholesterol       63
Creatinine      3170
DiasABP        22367
FiO2            6543
GCS            14372
Gender           882
Glucose         3026
HCO3            3096
HCT             3981
HR             38103
Height         39773
ICUType          882
K               3351
Lactate         1881
MAP            22235
MechVent        6468
Mg              3098
NIDiasABP      18182
NIMAP          17857
NISysABP       18200
Na              3172
PaCO2           4654
PaO2            4639
Platelets       3145
RespRate       10907
SaO2            1303
SysABP         22368
Temp           15043
TroponinI         44
TroponinT        335
Urine          28563
WBC             2883
Weight         22430
pH              4861
dtype: int64

In [38]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [39]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

576       1.575
577       1.575
578       1.575
579       1.575
580       1.575
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 25755, dtype: float64

In [40]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = round(filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2), 1)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
576,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,220.0,NaN,84.5,NaN,34.1,Obesidade grau 1
577,132568,1,1.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,45.0,NaN,84.5,NaN,34.1,Obesidade grau 1
578,132568,2,2.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,36.1,NaN,NaN,45.0,NaN,84.5,NaN,34.1,Obesidade grau 1
579,132568,3,3.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,NaN,NaN,NaN,45.0,14.8,84.5,NaN,34.1,Obesidade grau 1
580,132568,4,4.0,NaN,NaN,NaN,66.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,50.0,NaN,84.5,NaN,34.1,Obesidade grau 1

In [41]:
classification_undefined_validation_ids = bmi_data_validation["RecordID"]
classification_undefined_measurements_validation = validation_X[~validation_X["RecordID"].isin(classification_undefined_validation_ids)]
classification_undefined_measurements_validation = classification_undefined_measurements_validation.count()
classification_undefined_measurements_validation

RecordID       44304
level_1        44304
Time           44304
ALP              798
ALT              821
AST              822
Age            41156
Albumin          645
BUN             3076
Bilirubin        824
Cholesterol       78
Creatinine      3100
DiasABP        18141
FiO2            6093
GCS            15239
Gender           923
Glucose         3069
HCO3            3054
HCT             3778
HR             39605
Height         41156
ICUType          923
K               3375
Lactate         1526
MAP            17998
MechVent        5846
Mg              3047
NIDiasABP      23665
NIMAP          23312
NISysABP       23677
Na              3205
PaCO2           3064
PaO2            3052
Platelets       2877
RespRate       14513
SaO2             526
SysABP         18143
Temp           12116
TroponinI         69
TroponinT        576
Urine          28547
WBC             2767
Weight         23696
pH              3130
dtype: int64

In [42]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_low_weight_validation_ids = classification_low_weight_validation["RecordID"]
classification_measurements_l_w_v = validation_X[validation_X["RecordID"].isin(classification_low_weight_validation_ids)]
classification_measurements_l_w_v = classification_measurements_l_w_v.count() 
classification_measurements_l_w_v

RecordID       1872
level_1        1872
Time           1872
ALP              26
ALT              26
AST              27
Age            1804
Albumin          19
BUN             140
Bilirubin        25
Cholesterol       2
Creatinine      141
DiasABP        1194
FiO2            294
GCS             623
Gender           39
Glucose         127
HCO3            141
HCT             194
HR             1730
Height         1804
ICUType          39
K               147
Lactate         112
MAP            1193
MechVent        296
Mg              146
NIDiasABP       627
NIMAP           620
NISysABP        627
Na              141
PaCO2           239
PaO2            239
Platelets       143
RespRate        486
SaO2             80
SysABP         1195
Temp            835
TroponinI         8
TroponinT        17
Urine          1353
WBC             131
Weight          971
pH              255
dtype: int64

In [43]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_normal_weight_validation_ids = classification_normal_weight_validation["RecordID"]
classification_measurements_n_w_v = validation_X[validation_X["RecordID"].isin(classification_normal_weight_validation_ids)]
classification_measurements_n_w_v = classification_measurements_n_w_v.count() 
classification_measurements_n_w_v

RecordID       15072
level_1        15072
Time           15072
ALP              233
ALT              242
AST              240
Age            14417
Albumin          162
BUN             1094
Bilirubin        245
Cholesterol       21
Creatinine      1092
DiasABP         9402
FiO2            2324
GCS             4744
Gender           314
Glucose          970
HCO3            1055
HCT             1540
HR             13747
Height         14417
ICUType          314
K               1117
Lactate          705
MAP             9402
MechVent        2394
Mg              1062
NIDiasABP       5300
NIMAP           5278
NISysABP        5307
Na              1038
PaCO2           2176
PaO2            2166
Platelets       1208
RespRate        3034
SaO2             869
SysABP          9403
Temp            6664
TroponinI         36
TroponinT        137
Urine          10987
WBC             1064
Weight          8030
pH              2305
dtype: int64

In [44]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_overweight_validation_ids = classification_overweight_validation["RecordID"]
classification_measurements_o_w_v = validation_X[validation_X["RecordID"].isin(classification_overweight_validation_ids)]
classification_measurements_o_w_v = classification_measurements_o_w_v.count() 
classification_measurements_o_w_v

RecordID       18960
level_1        18960
Time           18960
ALP              266
ALT              277
AST              278
Age            18113
Albumin          211
BUN             1425
Bilirubin        271
Cholesterol       33
Creatinine      1437
DiasABP        13156
FiO2            3186
GCS             5654
Gender           395
Glucose         1223
HCO3            1369
HCT             1997
HR             17246
Height         18113
ICUType          395
K               1393
Lactate          880
MAP            13149
MechVent        3099
Mg              1356
NIDiasABP       5728
NIMAP           5671
NISysABP        5737
Na              1295
PaCO2           3124
PaO2            3112
Platelets       1587
RespRate        2395
SaO2            1396
SysABP         13157
Temp            9259
TroponinI         21
TroponinT        178
Urine          14185
WBC             1365
Weight         10291
pH              3346
dtype: int64

In [45]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_validation_ids = classification_obesity_grade1_validation["RecordID"]
classification_measurements_ob1_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade1_validation_ids)]
classification_measurements_ob1_v  = classification_measurements_ob1_v .count() 
classification_measurements_ob1_v

RecordID       12336
level_1        12336
Time           12336
ALP              193
ALT              200
AST              198
Age            11931
Albumin          141
BUN              917
Bilirubin        195
Cholesterol       18
Creatinine       921
DiasABP         8976
FiO2            2192
GCS             3646
Gender           257
Glucose          751
HCO3             871
HCT             1363
HR             11359
Height         11931
ICUType          257
K                883
Lactate          650
MAP             8964
MechVent        2150
Mg               873
NIDiasABP       3434
NIMAP           3398
NISysABP        3440
Na               793
PaCO2           2280
PaO2            2277
Platelets       1026
RespRate        1179
SaO2            1058
SysABP          8976
Temp            6350
TroponinI         10
TroponinT         85
Urine           9797
WBC              868
Weight          7407
pH              2423
dtype: int64

In [46]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_validation_ids = classification_obesity_grade2_validation["RecordID"]
classification_measurements_ob2_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade2_validation_ids)]
classification_measurements_ob2_v  = classification_measurements_ob2_v .count() 
classification_measurements_ob2_v

RecordID       5472
level_1        5472
Time           5472
ALP              98
ALT              97
AST              99
Age            5260
Albumin          69
BUN             401
Bilirubin        97
Cholesterol       6
Creatinine      400
DiasABP        3851
FiO2            882
GCS            1561
Gender          114
Glucose         344
HCO3            391
HCT             605
HR             5038
Height         5260
ICUType         114
K               385
Lactate         318
MAP            3843
MechVent        911
Mg              393
NIDiasABP      1631
NIMAP          1593
NISysABP       1637
Na              363
PaCO2           995
PaO2            992
Platelets       461
RespRate        769
SaO2            511
SysABP         3851
Temp           2968
TroponinI        10
TroponinT        64
Urine          4239
WBC             410
Weight         3318
pH             1059
dtype: int64

In [47]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_validation_ids = classification_obesity_grade3_validation["RecordID"]
classification_measurements_ob3_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade3_validation_ids)]
classification_measurements_ob3_v  = classification_measurements_ob3_v .count() 
classification_measurements_ob3_v

RecordID       4656
level_1        4656
Time           4656
ALP              59
ALT              63
AST              63
Age            4450
Albumin          34
BUN             315
Bilirubin        60
Cholesterol       8
Creatinine      314
DiasABP        2996
FiO2            836
GCS            1268
Gender           97
Glucose         277
HCO3            301
HCT             443
HR             4269
Height         4450
ICUType          97
K               313
Lactate         220
MAP            2992
MechVent        856
Mg              321
NIDiasABP      1452
NIMAP          1423
NISysABP       1456
Na              287
PaCO2           736
PaO2            735
Platelets       343
RespRate        942
SaO2            319
SysABP         2996
Temp           2073
TroponinI        10
TroponinT        55
Urine          3534
WBC             298
Weight         2815
pH              761
dtype: int64

In [48]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [49]:
df_validation = pd.DataFrame(columns=df_columns)
df_validation_transpose = df_validation.T
df_validation_transpose["Female"] = female_gender_measurements_validation
df_validation_transpose["Male"] = male_gender_measurements_validation
df_validation_transpose["Undefined Gender"] = undefined_gender_measurements_validation
df_validation_transpose["ICUType 1"] = ICUType_1_measurements_validation
df_validation_transpose["ICUType 2"] = ICUType_2_measurements_validation
df_validation_transpose["ICUType 3"] = ICUType_3_measurements_validation
df_validation_transpose["ICUType 4"] = ICUType_4_measurements_validation
df_validation_transpose["Age 65+"] = age_65_and_above_measurements_validation
df_validation_transpose["Age 65-"] = age_under_65__measurements_validation
df_validation_transpose['Undefined Classification'] = classification_undefined_measurements_validation
df_validation_transpose['Low Weight'] = classification_measurements_l_w_v
df_validation_transpose['Normal Weight'] = classification_measurements_n_w_v
df_validation_transpose['Overweight'] = classification_measurements_o_w_v
df_validation_transpose['Obesity Grade 1'] = classification_measurements_ob1_v
df_validation_transpose['Obesity Grade 2'] = classification_measurements_ob2_v
df_validation_transpose['Obesity Grade 3'] = classification_measurements_ob3_v
df_validation_transpose = df_validation_transpose.drop('RecordID',axis=0)
df_validation_transpose = df_validation_transpose.drop('level_1',axis=0)
df_validation_transpose = df_validation_transpose.drop('Time',axis=0)
df_validation_transpose = df_validation_transpose.drop('Age',axis=0)
df_validation_transpose = df_validation_transpose.drop('Gender',axis=0)
df_validation_transpose = df_validation_transpose.drop('Height',axis=0)
df_validation_transpose = df_validation_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_validation_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,635,908,0,214,142,758,429,650,893,798,26,233,266,193,98,59
ALT,651,937,0,226,147,780,435,669,919,821,26,242,277,200,97,63
AST,651,938,0,225,147,779,438,671,918,822,27,240,278,198,99,63
Albumin,522,663,0,155,87,572,371,529,656,645,19,162,211,141,69,34
BUN,2776,3811,4,1000,1184,2494,1913,3436,3155,3076,140,1094,1425,917,401,315
Bilirubin,649,933,0,223,144,795,420,670,912,824,25,245,271,195,97,60
Cholesterol,72,89,0,88,2,33,38,98,63,78,2,21,33,18,6,8
Creatinine,2790,3834,4,1030,1181,2500,1917,3458,3170,3100,141,1092,1437,921,400,314
DiasABP,19297,29859,46,6342,14311,11263,17286,26835,22367,18141,1194,9402,13156,8976,3851,2996
FiO2,5679,8104,11,1521,2997,4643,4633,7251,6543,6093,294,2324,3186,2192,882,836
GCS,12932,16885,15,3684,4856,9078,12214,15460,14372,15239,623,4744,5654,3646,1561,1268
Glucose,2653,3548,4,937,837,2495,1936,3179,3026,3069,127,970,1223,751,344,277
HCO3,2743,3708,4,957,1100,2503,1895,3359,3096,3054,141,1055,1369,871,391,301
HCT,3471,5142,4,1255,2009,2900,2453,4636,3981,3778,194,1540,1997,1363,605,443
HR,35602,47497,45,12510,16771,30023,23840,45041,38103,39605,1730,13747,17246,11359,5038,4269
K,3001,3959,4,1170,968,2714,2112,3613,3351,3375,147,1117,1393,883,385,313
Lactate,1388,2394,0,331,718,1270,1463,1901,1881,1526,112,705,880,650,318,220
MAP,19176,29767,44,6324,14381,11113,17169,26752,22235,17998,1193,9402,13149,8964,3843,2992
MechVent,5688,7794,7,1455,2998,4484,4552,7021,6468,5846,296,2394,3099,2150,911,856
Mg,2744,3717,4,986,1133,2390,1956,3367,3098,3047,146,1062,1356,873,393,321
NIDiasABP,18275,21357,10,6497,3876,19630,9639,21460,18182,23665,627,5300,5728,3434,1631,1452
NIMAP,18000,21113,10,6464,3817,19315,9527,21266,17857,23312,620,5278,5671,3398,1593,1423
NISysABP,18294,21376,10,6507,3881,19642,9650,21480,18200,23677,627,5307,5737,3440,1637,1456
Na,2800,3691,4,944,925,2564,2062,3323,3172,3205,141,1038,1295,793,363,287
PaCO2,3890,6346,7,1179,3773,2368,2923,5589,4654,3064,239,2176,3124,2280,995,736
PaO2,3881,6325,7,1180,3759,2364,2910,5574,4639,3052,239,2166,3112,2277,992,735
Platelets,2719,3949,4,1020,1494,2239,1919,3527,3145,2877,143,1208,1587,1026,461,343
RespRate,10593,12460,0,5036,445,10418,7154,12146,10907,14513,486,3034,2395,1179,769,942
SaO2,1370,2220,0,712,1993,386,499,2287,1303,526,80,869,1396,1058,511,319
SysABP,19299,29861,46,6342,14312,11265,17287,26838,22368,18143,1195,9403,13157,8976,3851,2996
Temp,13539,20109,22,4288,10898,9482,9002,18627,15043,12116,835,6664,9259,6350,2968,2073
TroponinI,77,81,0,44,22,66,26,114,44,69,8,36,21,10,10,10
TroponinT,468,593,3,323,48,468,225,729,335,576,17,137,178,85,64,55
Urine,27165,36385,40,8092,15509,20433,19556,35027,28563,28547,1353,10987,14185,9797,4239,3534
WBC,2546,3557,4,907,1245,2139,1816,3224,2883,2767,131,1064,1365,868,410,298
Weight,21852,27564,35,6227,9740,21700,11784,27021,22430,23696,971,8030,10291,7407,3318,2815
pH,4034,6681,7,1218,4141,2404,2959,5861,4861,3130,255,2305,3346,2423,1059,761

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [50]:
test_X = physionet2012_dataset['test_X']

In [51]:
var1 = test_X.count()
var1

RecordID       115152
level_1        115152
Time           115152
ALP              1879
ALT              1946
AST              1946
Age            108405
Albumin          1455
BUN              8324
Bilirubin        1953
Cholesterol       199
Creatinine       8362
DiasABP         63620
FiO2            18442
GCS             37177
Gender           2399
Glucose          7869
HCO3             8173
HCT             11102
HR             103761
Height         108405
ICUType          2399
K                8724
Lactate          4770
MAP             63109
MechVent        17677
Mg               8223
NIDiasABP       47417
NIMAP           46799
NISysABP        47469
Na               8205
PaCO2           13574
PaO2            13551
Platelets        8530
RespRate        25229
SaO2             4573
SysABP          63625
Temp            42684
TroponinI         240
TroponinT        1258
Urine           79684
WBC              7784
Weight          60297
pH              14186
dtype: int64

In [52]:
test_female_gender = test_X[test_X['Gender'] == 0.0]
test_female_gender_ids = test_female_gender["RecordID"]
female_gender_measurements_test = test_X[test_X["RecordID"].isin(test_female_gender_ids)]
female_gender_measurements_test = female_gender_measurements_test.count()
female_gender_measurements_test

RecordID       49824
level_1        49824
Time           49824
ALP              832
ALT              866
AST              864
Age            46896
Albumin          676
BUN             3622
Bilirubin        871
Cholesterol       87
Creatinine      3644
DiasABP        26345
FiO2            7922
GCS            16330
Gender          1038
Glucose         3473
HCO3            3583
HCT             4670
HR             45051
Height         46896
ICUType         1038
K               3831
Lactate         1998
MAP            26173
MechVent        7770
Mg              3582
NIDiasABP      21457
NIMAP          21161
NISysABP       21468
Na              3612
PaCO2           5417
PaO2            5403
Platelets       3635
RespRate       12380
SaO2            1666
SysABP         26347
Temp           17364
TroponinI        107
TroponinT        546
Urine          34446
WBC             3377
Weight         26740
pH              5624
dtype: int64

In [53]:
test_male_gender = test_X[test_X['Gender'] == 1.0]
test_male_gender_ids = test_male_gender["RecordID"]
male_gender_measurements_test = test_X[test_X["RecordID"].isin(test_male_gender_ids)]
male_gender_measurements_test = male_gender_measurements_test.count()
male_gender_measurements_test

RecordID       65184
level_1        65184
Time           65184
ALP             1046
ALT             1079
AST             1081
Age            61415
Albumin          779
BUN             4694
Bilirubin       1081
Cholesterol      112
Creatinine      4710
DiasABP        37193
FiO2           10520
GCS            20806
Gender          1358
Glucose         4389
HCO3            4582
HCT             6426
HR             58620
Height         61415
ICUType         1358
K               4886
Lactate         2770
MAP            36855
MechVent        9907
Mg              4633
NIDiasABP      25920
NIMAP          25598
NISysABP       25961
Na              4586
PaCO2           8153
PaO2            8144
Platelets       4889
RespRate       12807
SaO2            2906
SysABP         37196
Temp           25300
TroponinI        133
TroponinT        712
Urine          45199
WBC             4401
Weight         33519
pH              8557
dtype: int64

In [54]:
test_undefined_gender = test_X[test_X['Gender'] == -1.0]
test_undefined_gender_ids = test_undefined_gender["RecordID"]
undefined_gender_measurements_test = test_X[test_X["RecordID"].isin(test_undefined_gender_ids)]
undefined_gender_measurements_test = undefined_gender_measurements_test.count()
undefined_gender_measurements_test

RecordID       144
level_1        144
Time           144
ALP              1
ALT              1
AST              1
Age             94
Albumin          0
BUN              8
Bilirubin        1
Cholesterol      0
Creatinine       8
DiasABP         82
FiO2             0
GCS             41
Gender           3
Glucose          7
HCO3             8
HCT              6
HR              90
Height          94
ICUType          3
K                7
Lactate          2
MAP             81
MechVent         0
Mg               8
NIDiasABP       40
NIMAP           40
NISysABP        40
Na               7
PaCO2            4
PaO2             4
Platelets        6
RespRate        42
SaO2             1
SysABP          82
Temp            20
TroponinI        0
TroponinT        0
Urine           39
WBC              6
Weight          38
pH               5
dtype: int64

In [55]:
test_ICUType_1 = test_X[test_X['ICUType'] == 1.0]
test_ICUType_1 = test_ICUType_1[test_ICUType_1['Time'] == 0.0]
test_ICUType_1_ids = test_ICUType_1['RecordID']
ICUType_1_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_1_ids)]
ICUType_1_measurements_test = ICUType_1_measurements_test.count()
ICUType_1_measurements_test

RecordID       15984
level_1        15984
Time           15984
ALP              218
ALT              235
AST              235
Age            14489
Albumin          154
BUN             1147
Bilirubin        228
Cholesterol      103
Creatinine      1162
DiasABP         6453
FiO2            1732
GCS             4101
Gender           333
Glucose         1113
HCO3            1120
HCT             1395
HR             13774
Height         14489
ICUType          333
K               1314
Lactate          328
MAP             6429
MechVent        1654
Mg              1143
NIDiasABP       7774
NIMAP           7729
NISysABP        7778
Na              1117
PaCO2           1314
PaO2            1309
Platelets       1137
RespRate        5349
SaO2             724
SysABP          6453
Temp            4735
TroponinI         44
TroponinT        355
Urine           8918
WBC             1027
Weight          6707
pH              1335
dtype: int64

In [56]:
test_ICUType_2 = test_X[test_X['ICUType'] == 2.0]
test_ICUType_2 = test_ICUType_2[test_ICUType_2['Time'] == 0.0]
test_ICUType_2_ids = test_ICUType_2['RecordID']
ICUType_2_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_2_ids)]
ICUType_2_measurements_test = ICUType_2_measurements_test.count()
ICUType_2_measurements_test

RecordID       25296
level_1        25296
Time           25296
ALP              201
ALT              205
AST              204
Age            24324
Albumin          133
BUN             1664
Bilirubin        202
Cholesterol       10
Creatinine      1668
DiasABP        19632
FiO2            4215
GCS             6723
Gender           527
Glucose         1208
HCO3            1538
HCT             2768
HR             23058
Height         24324
ICUType          527
K               1362
Lactate          902
MAP            19632
MechVent        4036
Mg              1656
NIDiasABP       5444
NIMAP           5408
NISysABP        5456
Na              1299
PaCO2           5075
PaO2            5063
Platelets       2067
RespRate         910
SaO2            2676
SysABP         19633
Temp           14451
TroponinI         47
TroponinT         67
Urine          20899
WBC             1735
Weight         13139
pH              5557
dtype: int64

In [57]:
test_ICUType_3 = test_X[test_X['ICUType'] == 3.0]
test_ICUType_3 = test_ICUType_3[test_ICUType_3['Time'] == 0.0]
test_ICUType_3_ids = test_ICUType_3['RecordID']
ICUType_3_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_3_ids)]
ICUType_3_measurements_test = ICUType_3_measurements_test.count()
ICUType_3_measurements_test

RecordID       40512
level_1        40512
Time           40512
ALP              917
ALT              951
AST              951
Age            37807
Albumin          687
BUN             3032
Bilirubin        984
Cholesterol       42
Creatinine      3047
DiasABP        14906
FiO2            6257
GCS            10921
Gender           844
Glucose         3045
HCO3            3055
HCT             3620
HR             36419
Height         37807
ICUType          844
K               3315
Lactate         1605
MAP            14673
MechVent        5780
Mg              2887
NIDiasABP      22988
NIMAP          22633
NISysABP       23004
Na              3115
PaCO2           3242
PaO2            3249
Platelets       2802
RespRate       11280
SaO2             535
SysABP         14909
Temp           11482
TroponinI         85
TroponinT        575
Urine          24671
WBC             2669
Weight         26408
pH              3291
dtype: int64

In [58]:
test_ICUType_4 = test_X[test_X['ICUType'] == 4.0]
test_ICUType_4 = test_ICUType_4[test_ICUType_4['Time'] == 0.0]
test_ICUType_4_ids = test_ICUType_4['RecordID']
ICUType_4_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_4_ids)]
ICUType_4_measurements_test = ICUType_4_measurements_test.count()
ICUType_4_measurements_test

RecordID       33360
level_1        33360
Time           33360
ALP              543
ALT              555
AST              556
Age            31785
Albumin          481
BUN             2481
Bilirubin        539
Cholesterol       44
Creatinine      2485
DiasABP        22629
FiO2            6238
GCS            15432
Gender           695
Glucose         2503
HCO3            2460
HCT             3319
HR             30510
Height         31785
ICUType          695
K               2733
Lactate         1935
MAP            22375
MechVent        6207
Mg              2537
NIDiasABP      11211
NIMAP          11029
NISysABP       11231
Na              2674
PaCO2           3943
PaO2            3930
Platelets       2524
RespRate        7690
SaO2             638
SysABP         22630
Temp           12016
TroponinI         64
TroponinT        261
Urine          25196
WBC             2353
Weight         14043
pH              4003
dtype: int64

In [59]:
age_65_and_above_test= test_X[test_X['Age'] >= 65]
age_65_and_above_test = age_65_and_above_test[age_65_and_above_test['Time'] == 0.0]
age_65_and_above_test_ids = age_65_and_above_test['RecordID']
age_65_and_above_measurements_test= test_X[test_X['RecordID'].isin(age_65_and_above_test_ids)]
age_65_and_above_measurements_test = age_65_and_above_measurements_test.count()
age_65_and_above_measurements_test

RecordID       60480
level_1        60480
Time           60480
ALP              811
ALT              832
AST              831
Age            57188
Albumin          691
BUN             4269
Bilirubin        833
Cholesterol      119
Creatinine      4292
DiasABP        32922
FiO2            9624
GCS            18975
Gender          1260
Glucose         3973
HCO3            4185
HCT             5817
HR             54915
Height         57188
ICUType         1260
K               4443
Lactate         2317
MAP            32745
MechVent        8976
Mg              4217
NIDiasABP      25862
NIMAP          25549
NISysABP       25887
Na              4142
PaCO2           7053
PaO2            7038
Platelets       4409
RespRate       13977
SaO2            2617
SysABP         32924
Temp           23406
TroponinI        167
TroponinT        833
Urine          42953
WBC             4014
Weight         32534
pH              7398
dtype: int64

In [60]:
age_under_65_test = test_X[test_X['Age'] < 65]
age_under_65_test = age_under_65_test[age_under_65_test['Time'] == 0.0]
age_under_65_test_ids = age_under_65_test["RecordID"]
age_under_65_measurements_test = test_X[test_X["RecordID"].isin(age_under_65_test_ids)]
age_under_65_measurements_test = age_under_65_measurements_test.count()
age_under_65_measurements_test

RecordID       54672
level_1        54672
Time           54672
ALP             1068
ALT             1114
AST             1115
Age            51217
Albumin          764
BUN             4055
Bilirubin       1120
Cholesterol       80
Creatinine      4070
DiasABP        30698
FiO2            8818
GCS            18202
Gender          1139
Glucose         3896
HCO3            3988
HCT             5285
HR             48846
Height         51217
ICUType         1139
K               4281
Lactate         2453
MAP            30364
MechVent        8701
Mg              4006
NIDiasABP      21555
NIMAP          21250
NISysABP       21582
Na              4063
PaCO2           6521
PaO2            6513
Platelets       4121
RespRate       11252
SaO2            1956
SysABP         30701
Temp           19278
TroponinI         73
TroponinT        425
Urine          36731
WBC             3770
Weight         27763
pH              6788
dtype: int64

In [61]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [62]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

1584      1.626
1632      1.524
1633      1.524
1634      1.524
1635      1.524
          ...
574841    1.651
574842    1.651
574843    1.651
574844    1.651
574845    1.651
Name: Height, Length: 31259, dtype: float64

In [63]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = round(filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2), 1)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
1584,132614,0,0.0,NaN,NaN,NaN,77.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,59.0,NaN,22.3,Peso normal
1632,132615,0,0.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,0.0,36.4,NaN,NaN,80.0,NaN,88.6,NaN,38.1,Obesidade grau 2
1633,132615,1,1.0,NaN,NaN,NaN,46.0,NaN,22.0,NaN,...,137.0,NaN,NaN,NaN,180.0,22.1,88.6,7.34,38.1,Obesidade grau 2
1634,132615,2,2.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,118.0,NaN,NaN,NaN,110.0,NaN,88.6,NaN,38.1,Obesidade grau 2
1635,132615,3,3.0,NaN,NaN,NaN,46.0,NaN,NaN,NaN,...,132.0,NaN,NaN,NaN,75.0,NaN,88.6,NaN,38.1,Obesidade grau 2

In [64]:
classification_undefined_test_ids = bmi_data_test["RecordID"]
classification_undefined_measurements_test = test_X[~test_X["RecordID"].isin(classification_undefined_test_ids)]
classification_undefined_measurements_test = classification_undefined_measurements_test.count()
classification_undefined_measurements_test

RecordID       55488
level_1        55488
Time           55488
ALP              915
ALT              947
AST              950
Age            51241
Albumin          761
BUN             3925
Bilirubin        951
Cholesterol       92
Creatinine      3943
DiasABP        22959
FiO2            7984
GCS            18847
Gender          1156
Glucose         3937
HCO3            3907
HCT             4843
HR             49182
Height         51241
ICUType         1156
K               4320
Lactate         1976
MAP            22631
MechVent        7492
Mg              3809
NIDiasABP      28996
NIMAP          28585
NISysABP       29027
Na              4102
PaCO2           4134
PaO2            4128
Platelets       3698
RespRate       17632
SaO2             677
SysABP         22963
Temp           14987
TroponinI         79
TroponinT        684
Urine          35228
WBC             3500
Weight         29038
pH              4205
dtype: int64

In [65]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_low_weight_test_ids = classification_low_weight_test["RecordID"]
classification_measurements_l_w_test = test_X[test_X["RecordID"].isin(classification_low_weight_test_ids)]
classification_measurements_l_w_test = classification_measurements_l_w_test.count() 
classification_measurements_l_w_test

RecordID       2160
level_1        2160
Time           2160
ALP              36
ALT              36
AST              36
Age            2094
Albumin          36
BUN             172
Bilirubin        38
Cholesterol       4
Creatinine      172
DiasABP        1370
FiO2            392
GCS             638
Gender           45
Glucose         159
HCO3            171
HCT             211
HR             2006
Height         2094
ICUType          45
K               176
Lactate         100
MAP            1386
MechVent        375
Mg              172
NIDiasABP       730
NIMAP           730
NISysABP        730
Na              166
PaCO2           330
PaO2            333
Platelets       187
RespRate        254
SaO2            145
SysABP         1370
Temp           1023
TroponinI         2
TroponinT        15
Urine          1615
WBC             157
Weight         1168
pH              349
dtype: int64

In [66]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_normal_weight_test_ids = classification_normal_weight_test["RecordID"]
classification_measurements_n_w_test = test_X[test_X["RecordID"].isin(classification_normal_weight_test_ids)]
classification_measurements_n_w_test = classification_measurements_n_w_test.count() 
classification_measurements_n_w_test

RecordID       19344
level_1        19344
Time           19344
ALP              316
ALT              323
AST              325
Age            18530
Albumin          231
BUN             1431
Bilirubin        322
Cholesterol       31
Creatinine      1441
DiasABP        13089
FiO2            3381
GCS             5999
Gender           403
Glucose         1274
HCO3            1382
HCT             2030
HR             17701
Height         18530
ICUType          403
K               1405
Lactate          885
MAP            12995
MechVent        3332
Mg              1397
NIDiasABP       5985
NIMAP           5927
NISysABP        5994
Na              1332
PaCO2           2999
PaO2            2990
Platelets       1601
RespRate        2224
SaO2            1212
SysABP         13089
Temp            8669
TroponinI         56
TroponinT        166
Urine          14291
WBC             1401
Weight         10219
pH              3206
dtype: int64

In [67]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_overweight_test_ids = classification_overweight_test["RecordID"]
classification_measurements_o_w_test = test_X[test_X["RecordID"].isin(classification_overweight_test_ids)]
classification_measurements_o_w_test = classification_measurements_o_w_test.count() 
classification_measurements_o_w_test

RecordID       24528
level_1        24528
Time           24528
ALP              361
ALT              383
AST              380
Age            23606
Albumin          256
BUN             1791
Bilirubin        380
Cholesterol       35
Creatinine      1799
DiasABP        17848
FiO2            4224
GCS             7438
Gender           511
Glucose         1547
HCO3            1714
HCT             2709
HR             22536
Height         23606
ICUType          511
K               1726
Lactate         1068
MAP            17818
MechVent        4223
Mg              1816
NIDiasABP       6799
NIMAP           6708
NISysABP        6810
Na              1597
PaCO2           4156
PaO2            4146
Platelets       2055
RespRate        2797
SaO2            1943
SysABP         17849
Temp           12491
TroponinI         80
TroponinT        213
Urine          18816
WBC             1804
Weight         13500
pH              4413
dtype: int64

In [68]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_test_ids = classification_obesity_grade1_test["RecordID"]
classification_measurements_ob1_test = test_X[test_X["RecordID"].isin(classification_obesity_grade1_test_ids)]
classification_measurements_ob1_test = classification_measurements_ob1_test .count() 
classification_measurements_ob1_test

RecordID       15600
level_1        15600
Time           15600
ALP              238
ALT              242
AST              240
Age            15008
Albumin          168
BUN             1117
Bilirubin        242
Cholesterol       26
Creatinine      1119
DiasABP        11252
FiO2            2800
GCS             4626
Gender           325
Glucose          968
HCO3            1081
HCT             1680
HR             14249
Height         15008
ICUType          325
K               1093
Lactate          780
MAP            11196
MechVent        2739
Mg              1175
NIDiasABP       4374
NIMAP           4322
NISysABP        4378
Na              1031
PaCO2           2727
PaO2            2719
Platelets       1265
RespRate        1589
SaO2            1191
SysABP         11253
Temp            8089
TroponinI         49
TroponinT        147
Urine          12155
WBC             1118
Weight          8529
pH              2905
dtype: int64

In [69]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_test_ids = classification_obesity_grade2_test["RecordID"]
classification_measurements_ob2_test = test_X[test_X["RecordID"].isin(classification_obesity_grade2_test_ids)]
classification_measurements_ob2_test = classification_measurements_ob2_test .count() 
classification_measurements_ob2_test

RecordID       6288
level_1        6288
Time           6288
ALP             116
ALT             117
AST             116
Age            6063
Albumin          76
BUN             471
Bilirubin       117
Cholesterol      12
Creatinine      475
DiasABP        4526
FiO2           1188
GCS            1809
Gender          131
Glucose         401
HCO3            456
HCT             716
HR             5757
Height         6063
ICUType         131
K               461
Lactate         403
MAP            4493
MechVent       1203
Mg              467
NIDiasABP      1769
NIMAP          1754
NISysABP       1772
Na              423
PaCO2          1173
PaO2           1170
Platelets       554
RespRate        458
SaO2            415
SysABP         4526
Temp           3370
TroponinI        10
TroponinT        51
Urine          4849
WBC             492
Weight         3650
pH             1225
dtype: int64

In [70]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_test_ids = classification_obesity_grade3_test["RecordID"]
classification_measurements_ob3_test = test_X[test_X["RecordID"].isin(classification_obesity_grade3_test_ids)]
classification_measurements_ob3_test = classification_measurements_ob3_test .count() 
classification_measurements_ob3_test

RecordID       5472
level_1        5472
Time           5472
ALP              95
ALT              97
AST              97
Age            5260
Albumin          67
BUN             427
Bilirubin       100
Cholesterol       9
Creatinine      429
DiasABP        3856
FiO2           1194
GCS            1588
Gender          114
Glucose         381
HCO3            415
HCT             564
HR             5039
Height         5260
ICUType         114
K               432
Lactate         353
MAP            3836
MechVent       1099
Mg              420
NIDiasABP      1621
NIMAP          1611
NISysABP       1622
Na              400
PaCO2          1046
PaO2           1046
Platelets       443
RespRate        500
SaO2            392
SysABP         3856
Temp           2674
TroponinI        10
TroponinT        54
Urine          4120
WBC             394
Weight         2978
pH             1088
dtype: int64

In [71]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [72]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_measurements_test
df_test_transpose["Male"] = male_gender_measurements_test
df_test_transpose["Undefined Gender"] = undefined_gender_measurements_test
df_test_transpose["ICUType 1"] = ICUType_1_measurements_test
df_test_transpose["ICUType 2"] = ICUType_2_measurements_test
df_test_transpose["ICUType 3"] = ICUType_3_measurements_test
df_test_transpose["ICUType 4"] = ICUType_4_measurements_test
df_test_transpose["Age 65+"] = age_65_and_above_measurements_test
df_test_transpose["Age 65-"] = age_under_65_measurements_test
df_test_transpose['Undefined Classification'] = classification_undefined_measurements_test
df_test_transpose['Low Weight'] = classification_measurements_l_w_test 
df_test_transpose['Normal Weight'] = classification_measurements_n_w_test
df_test_transpose['Overweight'] = classification_measurements_o_w_test
df_test_transpose['Obesity Grade 1'] = classification_measurements_ob1_test 
df_test_transpose['Obesity Grade 2'] = classification_measurements_ob2_test
df_test_transpose['Obesity Grade 3'] = classification_measurements_ob3_test
df_test_transpose = df_test_transpose.drop('RecordID',axis=0)
df_test_transpose = df_test_transpose.drop('level_1',axis=0)
df_test_transpose = df_test_transpose.drop('Time',axis=0)
df_test_transpose = df_test_transpose.drop('Age',axis=0)
df_test_transpose = df_test_transpose.drop('Gender',axis=0)
df_test_transpose = df_test_transpose.drop('Height',axis=0)
df_test_transpose = df_test_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,832,1046,1,218,201,917,543,811,1068,915,36,316,361,238,116,95
ALT,866,1079,1,235,205,951,555,832,1114,947,36,323,383,242,117,97
AST,864,1081,1,235,204,951,556,831,1115,950,36,325,380,240,116,97
Albumin,676,779,0,154,133,687,481,691,764,761,36,231,256,168,76,67
BUN,3622,4694,8,1147,1664,3032,2481,4269,4055,3925,172,1431,1791,1117,471,427
Bilirubin,871,1081,1,228,202,984,539,833,1120,951,38,322,380,242,117,100
Cholesterol,87,112,0,103,10,42,44,119,80,92,4,31,35,26,12,9
Creatinine,3644,4710,8,1162,1668,3047,2485,4292,4070,3943,172,1441,1799,1119,475,429
DiasABP,26345,37193,82,6453,19632,14906,22629,32922,30698,22959,1370,13089,17848,11252,4526,3856
FiO2,7922,10520,0,1732,4215,6257,6238,9624,8818,7984,392,3381,4224,2800,1188,1194
GCS,16330,20806,41,4101,6723,10921,15432,18975,18202,18847,638,5999,7438,4626,1809,1588
Glucose,3473,4389,7,1113,1208,3045,2503,3973,3896,3937,159,1274,1547,968,401,381
HCO3,3583,4582,8,1120,1538,3055,2460,4185,3988,3907,171,1382,1714,1081,456,415
HCT,4670,6426,6,1395,2768,3620,3319,5817,5285,4843,211,2030,2709,1680,716,564
HR,45051,58620,90,13774,23058,36419,30510,54915,48846,49182,2006,17701,22536,14249,5757,5039
K,3831,4886,7,1314,1362,3315,2733,4443,4281,4320,176,1405,1726,1093,461,432
Lactate,1998,2770,2,328,902,1605,1935,2317,2453,1976,100,885,1068,780,403,353
MAP,26173,36855,81,6429,19632,14673,22375,32745,30364,22631,1386,12995,17818,11196,4493,3836
MechVent,7770,9907,0,1654,4036,5780,6207,8976,8701,7492,375,3332,4223,2739,1203,1099
Mg,3582,4633,8,1143,1656,2887,2537,4217,4006,3809,172,1397,1816,1175,467,420
NIDiasABP,21457,25920,40,7774,5444,22988,11211,25862,21555,28996,730,5985,6799,4374,1769,1621
NIMAP,21161,25598,40,7729,5408,22633,11029,25549,21250,28585,730,5927,6708,4322,1754,1611
NISysABP,21468,25961,40,7778,5456,23004,11231,25887,21582,29027,730,5994,6810,4378,1772,1622
Na,3612,4586,7,1117,1299,3115,2674,4142,4063,4102,166,1332,1597,1031,423,400
PaCO2,5417,8153,4,1314,5075,3242,3943,7053,6521,4134,330,2999,4156,2727,1173,1046
PaO2,5403,8144,4,1309,5063,3249,3930,7038,6513,4128,333,2990,4146,2719,1170,1046
Platelets,3635,4889,6,1137,2067,2802,2524,4409,4121,3698,187,1601,2055,1265,554,443
RespRate,12380,12807,42,5349,910,11280,7690,13977,11252,17632,254,2224,2797,1589,458,500
SaO2,1666,2906,1,724,2676,535,638,2617,1956,677,145,1212,1943,1191,415,392
SysABP,26347,37196,82,6453,19633,14909,22630,32924,30701,22963,1370,13089,17849,11253,4526,3856
Temp,17364,25300,20,4735,14451,11482,12016,23406,19278,14987,1023,8669,12491,8089,3370,2674
TroponinI,107,133,0,44,47,85,64,167,73,79,2,56,80,49,10,10
TroponinT,546,712,0,355,67,575,261,833,425,684,15,166,213,147,51,54
Urine,34446,45199,39,8918,20899,24671,25196,42953,36731,35228,1615,14291,18816,12155,4849,4120
WBC,3377,4401,6,1027,1735,2669,2353,4014,3770,3500,157,1401,1804,1118,492,394
Weight,26740,33519,38,6707,13139,26408,14043,32534,27763,29038,1168,10219,13500,8529,3650,2978
pH,5624,8557,5,1335,5557,3291,4003,7398,6788,4205,349,3206,4413,2905,1225,1088