In [68]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [69]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-06 22:29:25 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-06 22:29:25 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-06 22:29:25 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-06 22:29:26 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [70]:
train_X = physionet2012_dataset['train_X']

In [71]:
female_gender_training = train_X[train_X["Gender"] == 0.0]
female_gender_training = female_gender_training["RecordID"]
female_gender_distribution_training = train_X[train_X["RecordID"].isin(female_gender_training)]
female_gender_distribution_training = female_gender_distribution_training.count()

In [72]:
male_gender_training = train_X[train_X['Gender'] == 1.0]
male_gender_training = male_gender_training["RecordID"]
male_gender_distribution_training = train_X[train_X["RecordID"].isin(male_gender_training)]
male_gender_distribution_training = male_gender_distribution_training.count()

In [73]:
ICUType_1_training = train_X[train_X['ICUType'] == 1.0]
ICUType_1_training = ICUType_1_training[ICUType_1_training["Gender"] != -1.0]
ICUType_1_training = ICUType_1_training[ICUType_1_training["Time"] == 0.0]
ICUType_1_training= ICUType_1_training["RecordID"]
ICUType_1_distribution_training = train_X[train_X["RecordID"].isin(ICUType_1_training)]
ICUType_1_distribution_training = ICUType_1_distribution_training.count()

In [74]:
ICUType_2_training = train_X[train_X['ICUType'] == 2.0]
ICUType_2_training = ICUType_2_training[ICUType_2_training["Gender"] != -1.0]
ICUType_2_training = ICUType_2_training[ICUType_2_training["Time"] == 0.0]
ICUType_2_training= ICUType_2_training["RecordID"]
ICUType_2_distribution_training = train_X[train_X["RecordID"].isin(ICUType_2_training)]
ICUType_2_distribution_training = ICUType_2_distribution_training.count()

In [75]:
ICUType_3_training = train_X[train_X['ICUType'] == 3.0]
ICUType_3_training = ICUType_3_training[ICUType_3_training["Gender"] != -1.0]
ICUType_3_training = ICUType_3_training[ICUType_3_training["Time"] == 0.0]
ICUType_3_training= ICUType_3_training["RecordID"]
ICUType_3_distribution_training = train_X[train_X["RecordID"].isin(ICUType_3_training)]
ICUType_3_distribution_training = ICUType_3_distribution_training.count()

In [76]:
ICUType_4_training = train_X[train_X['ICUType'] == 4.0]
ICUType_4_training = ICUType_4_training[ICUType_4_training["Gender"] != -1.0]
ICUType_4_training = ICUType_4_training[ICUType_4_training["Time"] == 0.0]
ICUType_4_training= ICUType_4_training["RecordID"]
ICUType_4_distribution_training = train_X[train_X["RecordID"].isin(ICUType_4_training)]
ICUType_4_distribution_training = ICUType_4_distribution_training.count()

In [77]:
more_than_or_equal_to_65_training = train_X[train_X["Age"] >= 65]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training["Gender"] != -1.0]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training[more_than_or_equal_to_65_training["Time"] == 0.0]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training["RecordID"]
more_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(more_than_or_equal_to_65_training)]
more_than_or_equal_to_65_training = more_than_or_equal_to_65_training.count()

In [78]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor para cada recordID.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [79]:
less_than_or_equal_to_65_training = train_X[train_X["Age"] >= 65]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training["Gender"] != -1.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training[less_than_or_equal_to_65_training["Time"] == 0.0]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training["RecordID"]
less_than_or_equal_to_65_training = train_X[train_X["RecordID"].isin(less_than_or_equal_to_65_training)]
less_than_or_equal_to_65_training = less_than_or_equal_to_65_training.count()

In [80]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [81]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [82]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574988    1.524
574989    1.524
574990    1.524
574991    1.524
575088    1.727
Name: Height, Length: 101378, dtype: float64

In [83]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = round(filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.7,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.2,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.2,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.2,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.2,Sobrepeso

In [84]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.5,NaN,NaN,50.0,13.3,76.0,7.45,24.7,Peso normal
1,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,600.0,11.5,84.6,NaN,26.0,Sobrepeso
2,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.1,Obesidade grau 2
3,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,205.00,36.3,0.7,NaN,120.0,6.2,87.0,NaN,32.9,Obesidade grau 1
4,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.0,3.5,NaN,120.0,16.1,48.4,7.40,18.3,Baixo peso
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3988,163002,0,0.0,NaN,NaN,NaN,53.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,2.7,68.0,7.27,31.3,Obesidade grau 1
3989,163003,0,0.0,124.0,254.0,204.0,36.0,2.6,3.0,30.3,...,NaN,36.3,NaN,NaN,50.0,10.6,57.7,7.47,21.2,Peso normal
3990,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.00,37.6,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
3991,163013,0,0.0,82.0,11.0,30.0,74.0,2.5,30.0,1.2,...,118.00,36.5,NaN,0.03,40.0,9.6,68.6,7.35,29.5,Sobrepeso
3992,163021,0,0.0,NaN,NaN,NaN,72.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.6,62.0,NaN,20.8,Peso normal

In [85]:
bmi_data_train  = bmi_data_train[bmi_data_train["Gender"] != -1.0]
bmi_data_train['RecordID'].count()

3991

In [86]:
classification_low_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_low_weight_train = classification_low_weight_train["RecordID"]
classification_l_w_t = train_X[train_X["RecordID"].isin(classification_low_weight_train)]
classification_l_w_t = classification_low_weight_train.count() 
classification_l_w_t

123

In [87]:
classification_normal_weight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_normal_weight_train = classification_normal_weight_train["RecordID"]
classification_n_w_t = train_X[train_X["RecordID"].isin(classification_normal_weight_train)]
classification_n_w_t = classification_normal_weight_train.count() 
classification_n_w_t

1189

In [88]:
classification_overweight_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_overweight_train = classification_overweight_train['RecordID']
classification_n_w_t = train_X[train_X["RecordID"].isin(classification_overweight_train)]
classification_o_w_t = classification_overweight_train.count() 
classification_o_w_t

1398

In [89]:
classification_obesity_grade1_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_train = classification_obesity_grade1_train["RecordID"]
classification_ob1_t = train_X[train_X["RecordID"].isin(classification_obesity_grade1_train)]
classification_ob1_t = classification_obesity_grade1_train.count() 
classification_ob1_t

709

In [90]:
classification_obesity_grade2_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_train = classification_obesity_grade2_train["RecordID"]
classification_ob2_t = train_X[train_X["RecordID"].isin(classification_obesity_grade2_train)]
classification_ob2_t = classification_obesity_grade2_train.count() 
classification_ob2_t

301

In [91]:
classification_obesity_grade3_train = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_train = classification_obesity_grade3_train["RecordID"]
classification_ob3_t = train_X[train_X["RecordID"].isin(classification_obesity_grade3_train)]
classification_ob3_t = classification_obesity_grade3_train.count() 
classification_ob3_t

271

In [92]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [93]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_training
df_test_transpose["Male"] = male_gender_distribution_training
df_test_transpose["ICUType 1"] = ICUType_1_training
df_test_transpose["ICUType 2"] = ICUType_2_training
df_test_transpose["ICUType 3"] = ICUType_3_training
df_test_transpose["ICUType 4"] = ICUType_4_training
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_training
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_training
df_test_transpose['Low Weight'] = classification_l_w_t 
df_test_transpose['Normal Weight'] = classification_n_w_t 
df_test_transpose['Overweight'] = classification_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

ValueError: Cannot set a DataFrame with multiple columns to the single column Normal Weight

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [ ]:
validation_X = physionet2012_dataset['val_X']

In [ ]:
female_gender_distribution_validation = validation_X[validation_X['Gender'] == 0.0].count()
female_gender_distribution_validation

RecordID       820
level_1        820
Time           820
ALP             30
ALT             30
AST             30
Age            820
Albumin         26
BUN             97
Bilirubin       30
Cholesterol      5
Creatinine      97
DiasABP        167
FiO2           161
GCS            316
Gender         820
Glucose         85
HCO3            87
HCT             98
HR             439
Height         820
ICUType        820
K               87
Lactate         90
MAP            159
MechVent       147
Mg              72
NIDiasABP      326
NIMAP          325
NISysABP       326
Na              85
PaCO2          158
PaO2           155
Platelets      105
RespRate       136
SaO2            30
SysABP         167
Temp           346
TroponinI        5
TroponinT       11
Urine          270
WBC             90
Weight         820
pH             159
dtype: int64

In [ ]:
male_gender_distribution_validation= validation_X[validation_X['Gender'] == 1.0].count()
male_gender_distribution_validation

RecordID       1096
level_1        1096
Time           1096
ALP              55
ALT              55
AST              56
Age            1096
Albumin          45
BUN             123
Bilirubin        57
Cholesterol       6
Creatinine      124
DiasABP         212
FiO2            197
GCS             386
Gender         1096
Glucose         112
HCO3            111
HCT             140
HR              531
Height         1096
ICUType        1096
K               112
Lactate         122
MAP             207
MechVent        186
Mg               95
NIDiasABP       405
NIMAP           404
NISysABP        405
Na              111
PaCO2           267
PaO2            264
Platelets       145
RespRate        146
SaO2             45
SysABP          212
Temp            422
TroponinI         4
TroponinT        31
Urine           322
WBC             133
Weight         1096
pH              269
dtype: int64

In [ ]:
ICUType_1_validation = validation_X[validation_X['ICUType'] == 1.0].count() 
ICUType_1_validation

RecordID       276
level_1        276
Time           276
ALP             17
ALT             17
AST             17
Age            276
Albumin         13
BUN             40
Bilirubin       18
Cholesterol      9
Creatinine      40
DiasABP         64
FiO2            40
GCS            117
Gender         276
Glucose         39
HCO3            39
HCT             42
HR             158
Height         276
ICUType        276
K               40
Lactate         13
MAP             63
MechVent        32
Mg              28
NIDiasABP      119
NIMAP          118
NISysABP       119
Na              39
PaCO2           34
PaO2            34
Platelets       41
RespRate        62
SaO2            27
SysABP          64
Temp           116
TroponinI        2
TroponinT       17
Urine           83
WBC             39
Weight         276
pH              34
dtype: int64

In [ ]:
ICUType_2_validation = validation_X[validation_X['ICUType'] == 2.0].count() 
ICUType_2_validation

RecordID       439
level_1        439
Time           439
ALP              6
ALT              6
AST              6
Age            439
Albumin          5
BUN             25
Bilirubin        6
Cholesterol      1
Creatinine      26
DiasABP         90
FiO2            58
GCS             84
Gender         439
Glucose         15
HCO3            19
HCT             35
HR             127
Height         439
ICUType        439
K               15
Lactate         25
MAP             90
MechVent        70
Mg              16
NIDiasABP       50
NIMAP           51
NISysABP        50
Na              15
PaCO2          235
PaO2           230
Platelets       43
RespRate        16
SaO2            18
SysABP          90
Temp           103
TroponinI        2
TroponinT        2
Urine           96
WBC             28
Weight         439
pH             235
dtype: int64

In [ ]:
ICUType_3_validation = validation_X[validation_X['ICUType'] == 3.0].count() 
ICUType_3_validation

RecordID       667
level_1        667
Time           667
ALP             42
ALT             41
AST             42
Age            667
Albumin         36
BUN             79
Bilirubin       42
Cholesterol      0
Creatinine      79
DiasABP         54
FiO2           114
GCS            273
Gender         667
Glucose         82
HCO3            79
HCT             79
HR             367
Height         667
ICUType        667
K               82
Lactate         77
MAP             47
MechVent        90
Mg              68
NIDiasABP      344
NIMAP          342
NISysABP       344
Na              81
PaCO2           55
PaO2            55
Platelets       77
RespRate       118
SaO2             8
SysABP          54
Temp           280
TroponinI        4
TroponinT       17
Urine          207
WBC             76
Weight         667
pH              58
dtype: int64

In [ ]:
ICUType_4_validation = validation_X[validation_X['ICUType'] == 4.0].count() 
ICUType_4_validation

RecordID       536
level_1        536
Time           536
ALP             20
ALT             21
AST             21
Age            536
Albumin         17
BUN             76
Bilirubin       21
Cholesterol      1
Creatinine      76
DiasABP        171
FiO2           146
GCS            228
Gender         536
Glucose         61
HCO3            61
HCT             82
HR             318
Height         536
ICUType        536
K               62
Lactate         97
MAP            166
MechVent       141
Mg              55
NIDiasABP      218
NIMAP          218
NISysABP       218
Na              61
PaCO2          101
PaO2           100
Platelets       89
RespRate        86
SaO2            22
SysABP         171
Temp           269
TroponinI        1
TroponinT        6
Urine          206
WBC             80
Weight         536
pH             101
dtype: int64

In [ ]:
more_than_or_equal_to_65_validation = validation_X[validation_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation[more_than_or_equal_to_65_validation['Gender'] != -1.0]
more_than_or_equal_to_65_validation = more_than_or_equal_to_65_validation.count()
more_than_or_equal_to_65_validation

RecordID       1058
level_1        1058
Time           1058
ALP             394
ALT             404
AST             404
Age            1058
Albumin         384
BUN            1046
Bilirubin       408
Cholesterol      86
Creatinine     1046
DiasABP         751
FiO2            707
GCS            1040
Gender         1058
Glucose        1036
HCO3           1046
HCT            1044
HR             1040
Height         1058
ICUType        1058
K              1042
Lactate         579
MAP             750
MechVent        644
Mg             1041
NIDiasABP       921
NIMAP           920
NISysABP        922
Na             1046
PaCO2           809
PaO2            810
Platelets      1044
RespRate        303
SaO2            529
SysABP          751
Temp           1040
TroponinI        80
TroponinT       286
Urine          1032
WBC            1043
Weight         1058
pH              813
dtype: int64

In [ ]:
less_than_or_equal_to_65_validation = validation_X[validation_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation[less_than_or_equal_to_65_validation['Gender'] != -1.0]
less_than_or_equal_to_65_validation = less_than_or_equal_to_65_validation.count()
less_than_or_equal_to_65_validation

RecordID       858
level_1        858
Time           858
ALP            409
ALT            419
AST            418
Age            858
Albumin        378
BUN            846
Bilirubin      407
Cholesterol     71
Creatinine     846
DiasABP        600
FiO2           566
GCS            850
Gender         858
Glucose        840
HCO3           845
HCT            847
HR             850
Height         858
ICUType        858
K              844
Lactate        467
MAP            600
MechVent       541
Mg             839
NIDiasABP      750
NIMAP          749
NISysABP       750
Na             845
PaCO2          647
PaO2           647
Platelets      847
RespRate       246
SaO2           369
SysABP         600
Temp           850
TroponinI       28
TroponinT      114
Urine          847
WBC            845
Weight         858
pH             653
dtype: int64

In [ ]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [ ]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
573931    1.676
573932    1.676
573933    1.676
573934    1.676
573935    1.676
Name: Height, Length: 25346, dtype: float64

In [ ]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [ ]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_validation = classification_low_weight_validation[classification_low_weight_validation['Gender'] != -1.0]
classification_l_w_t_validation = classification_low_weight_validation.count() 
classification_l_w_t_validation

RecordID         38
level_1          38
Time             38
ALP               7
ALT               7
AST               7
Age              38
Albumin           4
BUN              18
Bilirubin         7
Cholesterol       2
Creatinine       18
DiasABP          21
FiO2             17
GCS              25
Gender           34
Glucose          17
HCO3             18
HCT              20
HR               27
Height           38
ICUType          34
K                17
Lactate          13
MAP              21
MechVent         15
Mg               17
NIDiasABP        20
NIMAP            20
NISysABP         20
Na               17
PaCO2            24
PaO2             24
Platelets        21
RespRate          6
SaO2             13
SysABP           21
Temp             26
TroponinI         4
TroponinT         4
Urine            24
WBC              18
Weight           38
pH               24
BMI              38
Classificacao    38
dtype: int64

In [ ]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_validation = classification_normal_weight_validation[classification_normal_weight_validation['Gender'] != -1.0]
classification_n_w_t_validation = classification_normal_weight_validation.count() 
classification_n_w_t_validation

RecordID         296
level_1          296
Time             296
ALP               57
ALT               58
AST               58
Age              296
Albumin           62
BUN              163
Bilirubin         55
Cholesterol        9
Creatinine       163
DiasABP          168
FiO2             141
GCS              204
Gender           280
Glucose          154
HCO3             158
HCT              169
HR               220
Height           296
ICUType          280
K                157
Lactate           92
MAP              168
MechVent         137
Mg               161
NIDiasABP        152
NIMAP            153
NISysABP         152
Na               155
PaCO2            183
PaO2             183
Platelets        169
RespRate          41
SaO2              94
SysABP           168
Temp             207
TroponinI         11
TroponinT         38
Urine            199
WBC              163
Weight           296
pH               189
BMI              296
Classificacao    296
dtype: int64

In [ ]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_validation = classification_overweight_validation[classification_overweight_validation['Gender'] != -1.0]
classification_o_w_t_validation = classification_overweight_validation.count() 
classification_o_w_t_validation

RecordID         424
level_1          424
Time             424
ALP               74
ALT               78
AST               78
Age              424
Albumin           61
BUN              234
Bilirubin         79
Cholesterol       20
Creatinine       235
DiasABP          257
FiO2             183
GCS              303
Gender           359
Glucose          217
HCO3             229
HCT              238
HR               324
Height           424
ICUType          359
K                221
Lactate          112
MAP              255
MechVent         191
Mg               222
NIDiasABP        230
NIMAP            228
NISysABP         231
Na               228
PaCO2            254
PaO2             251
Platelets        240
RespRate          52
SaO2             144
SysABP           257
Temp             312
TroponinI         15
TroponinT         38
Urine            306
WBC              235
Weight           424
pH               267
BMI              424
Classificacao    424
dtype: int64

In [ ]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_validation = classification_obesity_grade1_validation[classification_obesity_grade1_validation['Gender'] != -1.0]
classification_ob1_t_validation = classification_obesity_grade1_validation.count() 
classification_ob1_t_validation

RecordID         259
level_1          259
Time             259
ALP               51
ALT               52
AST               51
Age              259
Albumin           47
BUN              166
Bilirubin         52
Cholesterol        6
Creatinine       168
DiasABP          190
FiO2             138
GCS              206
Gender           161
Glucose          147
HCO3             164
HCT              171
HR               223
Height           259
ICUType          161
K                152
Lactate           70
MAP              190
MechVent         139
Mg               160
NIDiasABP        148
NIMAP            148
NISysABP         148
Na               158
PaCO2            169
PaO2             169
Platelets        167
RespRate          20
SaO2             109
SysABP           190
Temp             217
TroponinI          7
TroponinT         19
Urine            212
WBC              163
Weight           259
pH               180
BMI              259
Classificacao    259
dtype: int64

In [ ]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_validation = classification_obesity_grade2_validation[classification_obesity_grade2_validation != -1.0]
classification_ob2_t_validation = classification_obesity_grade2_validation.count() 
classification_ob2_t_validation

RecordID         116
level_1          116
Time             116
ALP               28
ALT               27
AST               27
Age              116
Albumin           18
BUN               73
Bilirubin         28
Cholesterol        5
Creatinine        73
DiasABP           78
FiO2              62
GCS               91
Gender            78
Glucose           69
HCO3              74
HCT               75
HR                97
Height           116
ICUType           78
K                 73
Lactate           38
MAP               78
MechVent          56
Mg                72
NIDiasABP         67
NIMAP             67
NISysABP          68
Na                73
PaCO2             77
PaO2              77
Platelets         74
RespRate          17
SaO2              51
SysABP            78
Temp              94
TroponinI          1
TroponinT          6
Urine             90
WBC               73
Weight           116
pH                77
BMI              116
Classificacao    116
dtype: int64

In [ ]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_validation = classification_obesity_grade3_validation[classification_obesity_grade3_validation['Gender'] != -1.0]
classification_ob3_t_validation = classification_obesity_grade3_validation.count() 
classification_ob3_t_validation

RecordID         103
level_1          103
Time             103
ALP               21
ALT               22
AST               22
Age              103
Albumin           20
BUN               73
Bilirubin         24
Cholesterol        3
Creatinine        73
DiasABP           76
FiO2              63
GCS               95
Gender            70
Glucose           67
HCO3              72
HCT               78
HR                99
Height           103
ICUType           70
K                 71
Lactate           29
MAP               76
MechVent          61
Mg                72
NIDiasABP         68
NIMAP             68
NISysABP          68
Na                72
PaCO2             64
PaO2              64
Platelets         77
RespRate          17
SaO2              46
SysABP            76
Temp              96
TroponinI          1
TroponinT          9
Urine             94
WBC               76
Weight           103
pH                65
BMI              103
Classificacao    103
dtype: int64

In [ ]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_validation
df_test_transpose["Male"] = male_gender_distribution_validation
df_test_transpose["ICUType 1"] = ICUType_1_validation
df_test_transpose["ICUType 2"] = ICUType_2_validation
df_test_transpose["ICUType 3"] = ICUType_3_validation
df_test_transpose["ICUType 4"] = ICUType_4_validation
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_validation
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_validation
df_test_transpose['Low Weight'] = classification_l_w_t_validation
df_test_transpose['Normal Weight'] = classification_n_w_t_validation 
df_test_transpose['Overweight'] = classification_o_w_t_validation 
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_validation
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_validation 
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_validation 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
level_1,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
Time,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
ALP,30,55,17,6,42,20,394,409,7,57,74,51,28,21
ALT,30,55,17,6,41,21,404,419,7,58,78,52,27,22
AST,30,56,17,6,42,21,404,418,7,58,78,51,27,22
Age,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
Albumin,26,45,13,5,36,17,384,378,4,62,61,47,18,20
BUN,97,123,40,25,79,76,1046,846,18,163,234,166,73,73
Bilirubin,30,57,18,6,42,21,408,407,7,55,79,52,28,24
Cholesterol,5,6,9,1,0,1,86,71,2,9,20,6,5,3
Creatinine,97,124,40,26,79,76,1046,846,18,163,235,168,73,73
DiasABP,167,212,64,90,54,171,751,600,21,168,257,190,78,76
FiO2,161,197,40,58,114,146,707,566,17,141,183,138,62,63
GCS,316,386,117,84,273,228,1040,850,25,204,303,206,91,95
Gender,820,1096,276,439,667,536,1058,858,34,280,359,161,78,70
Glucose,85,112,39,15,82,61,1036,840,17,154,217,147,69,67
HCO3,87,111,39,19,79,61,1046,845,18,158,229,164,74,72
HCT,98,140,42,35,79,82,1044,847,20,169,238,171,75,78
HR,439,531,158,127,367,318,1040,850,27,220,324,223,97,99
Height,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
ICUType,820,1096,276,439,667,536,1058,858,34,280,359,161,78,70
K,87,112,40,15,82,62,1042,844,17,157,221,152,73,71
Lactate,90,122,13,25,77,97,579,467,13,92,112,70,38,29
MAP,159,207,63,90,47,166,750,600,21,168,255,190,78,76
MechVent,147,186,32,70,90,141,644,541,15,137,191,139,56,61
Mg,72,95,28,16,68,55,1041,839,17,161,222,160,72,72
NIDiasABP,326,405,119,50,344,218,921,750,20,152,230,148,67,68
NIMAP,325,404,118,51,342,218,920,749,20,153,228,148,67,68
NISysABP,326,405,119,50,344,218,922,750,20,152,231,148,68,68
Na,85,111,39,15,81,61,1046,845,17,155,228,158,73,72
PaCO2,158,267,34,235,55,101,809,647,24,183,254,169,77,64
PaO2,155,264,34,230,55,100,810,647,24,183,251,169,77,64
Platelets,105,145,41,43,77,89,1044,847,21,169,240,167,74,77
RespRate,136,146,62,16,118,86,303,246,6,41,52,20,17,17
SaO2,30,45,27,18,8,22,529,369,13,94,144,109,51,46
SysABP,167,212,64,90,54,171,751,600,21,168,257,190,78,76
Temp,346,422,116,103,280,269,1040,850,26,207,312,217,94,96
TroponinI,5,4,2,2,4,1,80,28,4,11,15,7,1,1
TroponinT,11,31,17,2,17,6,286,114,4,38,38,19,6,9
Urine,270,322,83,96,207,206,1032,847,24,199,306,212,90,94
WBC,90,133,39,28,76,80,1043,845,18,163,235,163,73,76
Weight,820,1096,276,439,667,536,1058,858,38,296,424,259,116,103
pH,159,269,34,235,58,101,813,653,24,189,267,180,77,65

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [ ]:
test_X = physionet2012_dataset['test_X']

In [ ]:
female_gender_distribution_test = test_X[test_X['Gender'] == 0.0].count()
female_gender_distribution_test

RecordID       1047
level_1        1047
Time           1047
ALP              46
ALT              49
AST              49
Age            1047
Albumin          38
BUN             125
Bilirubin        44
Cholesterol       8
Creatinine      125
DiasABP         178
FiO2            209
GCS             389
Gender         1047
Glucose         115
HCO3            113
HCT             150
HR              546
Height         1047
ICUType        1047
K               116
Lactate         136
MAP             176
MechVent        208
Mg               82
NIDiasABP       420
NIMAP           417
NISysABP        420
Na              114
PaCO2           220
PaO2            217
Platelets       146
RespRate        175
SaO2             36
SysABP          178
Temp            417
TroponinI         2
TroponinT        18
Urine           351
WBC             138
Weight         1047
pH              222
dtype: int64

In [ ]:
male_gender_distribution_test = test_X[test_X['Gender'] == 1.0].count()
male_gender_distribution_test

RecordID       1351
level_1        1351
Time           1351
ALP              69
ALT              71
AST              72
Age            1351
Albumin          69
BUN             163
Bilirubin        67
Cholesterol       5
Creatinine      163
DiasABP         257
FiO2            259
GCS             461
Gender         1351
Glucose         140
HCO3            144
HCT             182
HR              651
Height         1351
ICUType        1351
K               145
Lactate         166
MAP             249
MechVent        253
Mg               95
NIDiasABP       488
NIMAP           483
NISysABP        488
Na              143
PaCO2           332
PaO2            323
Platelets       188
RespRate        196
SaO2             47
SysABP          259
Temp            492
TroponinI         6
TroponinT        31
Urine           400
WBC             172
Weight         1351
pH              332
dtype: int64

In [ ]:
ICUType_1_test = test_X[test_X['ICUType'] == 1.0].count() 
ICUType_1_test

RecordID       344
level_1        344
Time           344
ALP             27
ALT             28
AST             27
Age            344
Albumin         27
BUN             50
Bilirubin       23
Cholesterol     10
Creatinine      50
DiasABP         84
FiO2            43
GCS            147
Gender         344
Glucose         50
HCO3            50
HCT             53
HR             190
Height         344
ICUType        344
K               50
Lactate         17
MAP             85
MechVent        39
Mg              21
NIDiasABP      133
NIMAP          132
NISysABP       133
Na              50
PaCO2           39
PaO2            38
Platelets       54
RespRate        83
SaO2            28
SysABP          84
Temp           133
TroponinI        4
TroponinT       17
Urine          105
WBC             51
Weight         344
pH              39
dtype: int64

In [ ]:
ICUType_2_test = test_X[test_X['ICUType'] == 2.0].count() 
ICUType_2_test

RecordID       490
level_1        490
Time           490
ALP              4
ALT              6
AST              6
Age            490
Albumin          5
BUN             17
Bilirubin        6
Cholesterol      1
Creatinine      17
DiasABP         91
FiO2            62
GCS             76
Gender         490
Glucose         16
HCO3            17
HCT             41
HR             119
Height         490
ICUType        490
K               16
Lactate         30
MAP             90
MechVent        72
Mg               9
NIDiasABP       39
NIMAP           39
NISysABP        39
Na              14
PaCO2          290
PaO2           283
Platelets       49
RespRate        19
SaO2            19
SysABP          91
Temp            95
TroponinI        0
TroponinT        3
Urine           84
WBC             36
Weight         490
pH             290
dtype: int64

In [ ]:
ICUType_3_test = test_X[test_X['ICUType'] == 3.0].count() 
ICUType_3_test

RecordID       877
level_1        877
Time           877
ALP             49
ALT             50
AST             52
Age            877
Albumin         43
BUN            107
Bilirubin       49
Cholesterol      0
Creatinine     107
DiasABP         71
FiO2           165
GCS            335
Gender         877
Glucose        107
HCO3           106
HCT            114
HR             481
Height         877
ICUType        877
K              111
Lactate        117
MAP             66
MechVent       156
Mg              81
NIDiasABP      440
NIMAP          434
NISysABP       440
Na             108
PaCO2           95
PaO2            93
Platelets      103
RespRate       164
SaO2            14
SysABP          73
Temp           339
TroponinI        4
TroponinT       19
Urine          277
WBC            104
Weight         877
pH              97
dtype: int64

In [ ]:
ICUType_4_test = test_X[test_X['ICUType'] == 4.0].count() 
ICUType_4_test

RecordID       688
level_1        688
Time           688
ALP             35
ALT             36
AST             36
Age            688
Albumin         32
BUN            115
Bilirubin       33
Cholesterol      2
Creatinine     115
DiasABP        190
FiO2           199
GCS            292
Gender         688
Glucose         83
HCO3            85
HCT            125
HR             408
Height         688
ICUType        688
K               85
Lactate        139
MAP            185
MechVent       195
Mg              67
NIDiasABP      296
NIMAP          295
NISysABP       296
Na              86
PaCO2          129
PaO2           127
Platelets      129
RespRate       105
SaO2            22
SysABP         190
Temp           343
TroponinI        0
TroponinT       10
Urine          285
WBC            120
Weight         688
pH             129
dtype: int64

In [ ]:
more_than_or_equal_to_65_test = test_X[test_X['Age'] >= 65].groupby('RecordID').first().reset_index()
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test[more_than_or_equal_to_65_test['Gender'] != -1.0]
more_than_or_equal_to_65_test = more_than_or_equal_to_65_test.count()
more_than_or_equal_to_65_test

RecordID       1300
level_1        1300
Time           1300
ALP             544
ALT             552
AST             552
Age            1300
Albumin         525
BUN            1284
Bilirubin       559
Cholesterol     113
Creatinine     1284
DiasABP         909
FiO2            868
GCS            1277
Gender         1300
Glucose        1271
HCO3           1281
HCT            1282
HR             1277
Height         1300
ICUType        1300
K              1274
Lactate         735
MAP             911
MechVent        805
Mg             1273
NIDiasABP      1135
NIMAP          1132
NISysABP       1138
Na             1278
PaCO2           992
PaO2            993
Platelets      1282
RespRate        373
SaO2            588
SysABP          909
Temp           1277
TroponinI        88
TroponinT       365
Urine          1269
WBC            1277
Weight         1300
pH              995
dtype: int64

In [ ]:
less_than_or_equal_to_65_test = test_X[test_X['Age'] < 65].groupby('RecordID').first().reset_index()
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test[less_than_or_equal_to_65_test['Gender'] != -1.0]
less_than_or_equal_to_65_test = less_than_or_equal_to_65_test.count()
less_than_or_equal_to_65_test

RecordID       1098
level_1        1098
Time           1098
ALP             511
ALT             521
AST             521
Age            1098
Albumin         487
BUN            1084
Bilirubin       517
Cholesterol      78
Creatinine     1084
DiasABP         770
FiO2            754
GCS            1076
Gender         1098
Glucose        1075
HCO3           1083
HCT            1085
HR             1076
Height         1098
ICUType        1098
K              1081
Lactate         625
MAP             767
MechVent        725
Mg             1074
NIDiasABP       960
NIMAP           957
NISysABP        963
Na             1082
PaCO2           827
PaO2            828
Platelets      1082
RespRate        277
SaO2            441
SysABP          770
Temp           1076
TroponinI        34
TroponinT       152
Urine          1060
WBC            1081
Weight         1098
pH              831
dtype: int64

In [ ]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [ ]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
574940    1.702
574941    1.702
574942    1.702
574943    1.702
575088    1.727
Name: Height, Length: 32856, dtype: float64

In [ ]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.731460,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.228364,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.228364,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.228364,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.228364,Sobrepeso

In [ ]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso'].groupby('RecordID').first().reset_index()
classification_low_weight_test = classification_low_weight_test[classification_low_weight_test != -1.0]
classification_l_w_t_test = classification_low_weight_test.count() 
classification_l_w_t_test

RecordID         32
level_1          32
Time             32
ALP              12
ALT              12
AST              12
Age              32
Albumin           9
BUN              19
Bilirubin        11
Cholesterol       5
Creatinine       19
DiasABP          22
FiO2             18
GCS              26
Gender           31
Glucose          18
HCO3             19
HCT              20
HR               27
Height           32
ICUType          31
K                18
Lactate          11
MAP              22
MechVent         19
Mg               18
NIDiasABP        22
NIMAP            22
NISysABP         22
Na               18
PaCO2            21
PaO2             21
Platelets        20
RespRate          3
SaO2             11
SysABP           22
Temp             26
TroponinI         3
TroponinT         5
Urine            23
WBC              20
Weight           32
pH               21
BMI              32
Classificacao    32
dtype: int64

In [ ]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal'].groupby('RecordID').first().reset_index()
classification_normal_weight_test = classification_normal_weight_test[classification_normal_weight_test != -1.0]
classification_n_w_t_test = classification_normal_weight_test.count() 
classification_n_w_t_test

RecordID         396
level_1          396
Time             396
ALP               82
ALT               85
AST               85
Age              396
Albumin           83
BUN              213
Bilirubin         82
Cholesterol       10
Creatinine       212
DiasABP          211
FiO2             171
GCS              264
Gender           373
Glucose          196
HCO3             204
HCT              221
HR               288
Height           396
ICUType          373
K                200
Lactate          129
MAP              208
MechVent         162
Mg               196
NIDiasABP        210
NIMAP            209
NISysABP         210
Na               204
PaCO2            218
PaO2             219
Platelets        222
RespRate          62
SaO2             104
SysABP           211
Temp             267
TroponinI         12
TroponinT         43
Urine            255
WBC              215
Weight           396
pH               221
BMI              396
Classificacao    396
dtype: int64

In [ ]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso'].groupby('RecordID').first().reset_index()
classification_overweight_test = classification_overweight_test[classification_overweight_test['Gender'] != -1.0]
classification_o_w_t_test = classification_overweight_test.count() 
classification_o_w_t_test

RecordID         503
level_1          503
Time             503
ALP               97
ALT               99
AST               98
Age              503
Albumin           83
BUN              286
Bilirubin         96
Cholesterol       13
Creatinine       287
DiasABP          302
FiO2             221
GCS              358
Gender           422
Glucose          266
HCO3             278
HCT              291
HR               381
Height           503
ICUType          422
K                269
Lactate          139
MAP              301
MechVent         230
Mg               265
NIDiasABP        279
NIMAP            279
NISysABP         279
Na               273
PaCO2            310
PaO2             308
Platelets        292
RespRate          61
SaO2             175
SysABP           302
Temp             367
TroponinI         11
TroponinT         33
Urine            346
WBC              282
Weight           503
pH               320
BMI              503
Classificacao    503
dtype: int64

In [ ]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1'].groupby('RecordID').first().reset_index()
classification_obesity_grade1_test = classification_obesity_grade1_test[classification_obesity_grade1_test['Gender'] != -1.0]
classification_ob1_t_test = classification_obesity_grade1_test.count() 
classification_ob1_t_test

RecordID         345
level_1          345
Time             345
ALP               74
ALT               75
AST               74
Age              345
Albumin           67
BUN              229
Bilirubin         77
Cholesterol       11
Creatinine       230
DiasABP          240
FiO2             182
GCS              273
Gender           240
Glucose          201
HCO3             221
HCT              236
HR               291
Height           345
ICUType          240
K                211
Lactate          130
MAP              240
MechVent         184
Mg               224
NIDiasABP        205
NIMAP            202
NISysABP         205
Na               218
PaCO2            233
PaO2             233
Platelets        226
RespRate          40
SaO2             145
SysABP           240
Temp             278
TroponinI         14
TroponinT         43
Urine            279
WBC              224
Weight           345
pH               244
BMI              345
Classificacao    345
dtype: int64

In [ ]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2'].groupby('RecordID').first().reset_index()
classification_obesity_grade2_test = classification_obesity_grade2_test[classification_obesity_grade2_test != -1.0]
classification_ob2_t_test = classification_obesity_grade2_test.count() 
classification_ob2_t_test

RecordID         165
level_1          165
Time             165
ALP               49
ALT               49
AST               49
Age              165
Albumin           38
BUN              114
Bilirubin         49
Cholesterol        8
Creatinine       113
DiasABP          122
FiO2             101
GCS              138
Gender           103
Glucose          105
HCO3             113
HCT              124
HR               149
Height           165
ICUType          104
K                109
Lactate           66
MAP              121
MechVent         101
Mg               107
NIDiasABP        103
NIMAP            102
NISysABP         103
Na               111
PaCO2            118
PaO2             117
Platelets        120
RespRate          15
SaO2              70
SysABP           122
Temp             143
TroponinI          5
TroponinT         24
Urine            145
WBC              115
Weight           165
pH               121
BMI              165
Classificacao    165
dtype: int64

In [ ]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3'].groupby('RecordID').first().reset_index()
classification_obesity_grade3_test = classification_obesity_grade3_test[classification_obesity_grade3_test['Gender'] != -1.0]
classification_ob3_t_test = classification_obesity_grade3_test.count() 
classification_ob3_t_test

RecordID         112
level_1          112
Time             112
ALP               39
ALT               39
AST               39
Age              112
Albumin           28
BUN               78
Bilirubin         39
Cholesterol        4
Creatinine        78
DiasABP           79
FiO2              70
GCS               98
Gender            80
Glucose           74
HCO3              77
HCT               83
HR               101
Height           112
ICUType           80
K                 75
Lactate           60
MAP               79
MechVent          64
Mg                74
NIDiasABP         66
NIMAP             65
NISysABP          67
Na                75
PaCO2             82
PaO2              82
Platelets         82
RespRate          17
SaO2              46
SysABP            79
Temp              99
TroponinI          4
TroponinT         12
Urine             95
WBC               80
Weight           112
pH                83
BMI              112
Classificacao    112
dtype: int64

In [ ]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [ ]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_distribution_test
df_test_transpose["Male"] = male_gender_distribution_test
df_test_transpose["ICUType 1"] = ICUType_1_test
df_test_transpose["ICUType 2"] = ICUType_2_test
df_test_transpose["ICUType 3"] = ICUType_3_test
df_test_transpose["ICUType 4"] = ICUType_4_test
df_test_transpose["Age 65+"] = more_than_or_equal_to_65_test
df_test_transpose["Age 65-"] = less_than_or_equal_to_65_test
df_test_transpose['Low Weight'] = classification_l_w_t_test 
df_test_transpose['Normal Weight'] = classification_n_w_t_test
df_test_transpose['Overweight'] = classification_o_w_t_test
df_test_transpose['Obesity Grade 1'] = classification_ob1_t_test 
df_test_transpose['Obesity Grade 2'] = classification_ob2_t_test
df_test_transpose['Obesity Grade 3'] = classification_ob3_t_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
level_1,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
Time,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
ALP,46,69,27,4,49,35,544,511,12,82,97,74,49,39
ALT,49,71,28,6,50,36,552,521,12,85,99,75,49,39
AST,49,72,27,6,52,36,552,521,12,85,98,74,49,39
Age,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
Albumin,38,69,27,5,43,32,525,487,9,83,83,67,38,28
BUN,125,163,50,17,107,115,1284,1084,19,213,286,229,114,78
Bilirubin,44,67,23,6,49,33,559,517,11,82,96,77,49,39
Cholesterol,8,5,10,1,0,2,113,78,5,10,13,11,8,4
Creatinine,125,163,50,17,107,115,1284,1084,19,212,287,230,113,78
DiasABP,178,257,84,91,71,190,909,770,22,211,302,240,122,79
FiO2,209,259,43,62,165,199,868,754,18,171,221,182,101,70
GCS,389,461,147,76,335,292,1277,1076,26,264,358,273,138,98
Gender,1047,1351,344,490,877,688,1300,1098,31,373,422,240,103,80
Glucose,115,140,50,16,107,83,1271,1075,18,196,266,201,105,74
HCO3,113,144,50,17,106,85,1281,1083,19,204,278,221,113,77
HCT,150,182,53,41,114,125,1282,1085,20,221,291,236,124,83
HR,546,651,190,119,481,408,1277,1076,27,288,381,291,149,101
Height,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
ICUType,1047,1351,344,490,877,688,1300,1098,31,373,422,240,104,80
K,116,145,50,16,111,85,1274,1081,18,200,269,211,109,75
Lactate,136,166,17,30,117,139,735,625,11,129,139,130,66,60
MAP,176,249,85,90,66,185,911,767,22,208,301,240,121,79
MechVent,208,253,39,72,156,195,805,725,19,162,230,184,101,64
Mg,82,95,21,9,81,67,1273,1074,18,196,265,224,107,74
NIDiasABP,420,488,133,39,440,296,1135,960,22,210,279,205,103,66
NIMAP,417,483,132,39,434,295,1132,957,22,209,279,202,102,65
NISysABP,420,488,133,39,440,296,1138,963,22,210,279,205,103,67
Na,114,143,50,14,108,86,1278,1082,18,204,273,218,111,75
PaCO2,220,332,39,290,95,129,992,827,21,218,310,233,118,82
PaO2,217,323,38,283,93,127,993,828,21,219,308,233,117,82
Platelets,146,188,54,49,103,129,1282,1082,20,222,292,226,120,82
RespRate,175,196,83,19,164,105,373,277,3,62,61,40,15,17
SaO2,36,47,28,19,14,22,588,441,11,104,175,145,70,46
SysABP,178,259,84,91,73,190,909,770,22,211,302,240,122,79
Temp,417,492,133,95,339,343,1277,1076,26,267,367,278,143,99
TroponinI,2,6,4,0,4,0,88,34,3,12,11,14,5,4
TroponinT,18,31,17,3,19,10,365,152,5,43,33,43,24,12
Urine,351,400,105,84,277,285,1269,1060,23,255,346,279,145,95
WBC,138,172,51,36,104,120,1277,1081,20,215,282,224,115,80
Weight,1047,1351,344,490,877,688,1300,1098,32,396,503,345,165,112
pH,222,332,39,290,97,129,995,831,21,221,320,244,121,83