In [84]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [85]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-10 21:06:18 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-10 21:06:18 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-10 21:06:18 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-10 21:06:18 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [86]:
train_X = physionet2012_dataset['train_X']

In [87]:
training_female_gender = train_X[train_X["Gender"] == 0.0]
training_female_gender_ids = training_female_gender["RecordID"]
female_gender_measurements_training = train_X[train_X["RecordID"].isin(training_female_gender_ids)]
female_gender_measurements_training = female_gender_measurements_training.count()
female_gender_measurements_training

RecordID       161520
level_1        161520
Time           161520
ALP              2647
ALT              2728
AST              2720
Age            152010
Albumin          2098
BUN             11752
Bilirubin        2764
Cholesterol       257
Creatinine      11792
DiasABP         83086
FiO2            24516
GCS             52040
Gender           3365
Glucose         11213
HCO3            11545
HCT             14836
HR             145984
Height         152010
ICUType          3365
K               12412
Lactate          6322
MAP             82604
MechVent        23856
Mg              11483
NIDiasABP       71296
NIMAP           70166
NISysABP        71360
Na              11659
PaCO2           17076
PaO2            17035
Platelets       11589
RespRate        43422
SaO2             5869
SysABP          83093
Temp            57198
TroponinI         335
TroponinT        1665
Urine          112240
WBC             10782
Weight          85985
pH              17712
dtype: int64

In [88]:
training_male_gender = train_X[train_X['Gender'] == 1.0]
training_male_gender_ids = training_male_gender["RecordID"]
male_gender_measurements_training = train_X[train_X["RecordID"].isin(training_male_gender_ids)]
male_gender_measurements_training  = male_gender_measurements_training.count()
male_gender_measurements_training

RecordID       206304
level_1        206304
Time           206304
ALP              3486
ALT              3582
AST              3586
Age            194192
Albumin          2595
BUN             14976
Bilirubin        3623
Cholesterol       376
Creatinine      15060
DiasABP        116528
FiO2            33041
GCS             65829
Gender           4298
Glucose         13935
HCO3            14580
HCT             20190
HR             185635
Height         194192
ICUType          4298
K               15595
Lactate          8831
MAP            115831
MechVent        31360
Mg              14639
NIDiasABP       83028
NIMAP           81949
NISysABP        83116
Na              14510
PaCO2           25311
PaO2            25277
Platelets       15684
RespRate        45595
SaO2             8895
SysABP         116540
Temp            79401
TroponinI         411
TroponinT        2241
Urine          143127
WBC             14145
Weight         106537
pH              26579
dtype: int64

In [89]:
training_undefined_gender = train_X[train_X['Gender'] == -1.0]
undefined_gender_training_ids = training_undefined_gender['RecordID']
undefined_gender_measurements_training = train_X[train_X["RecordID"].isin(undefined_gender_training_ids)]
undefined_gender_measurements_training = undefined_gender_measurements_training.count()
undefined_gender_measurements_training

RecordID       384
level_1        384
Time           384
ALP              2
ALT              3
AST              3
Age            285
Albumin          2
BUN             18
Bilirubin        2
Cholesterol      0
Creatinine      18
DiasABP        155
FiO2            22
GCS             92
Gender           8
Glucose         19
HCO3            18
HCT             18
HR             273
Height         285
ICUType          8
K               20
Lactate          1
MAP            152
MechVent        28
Mg              16
NIDiasABP      150
NIMAP          150
NISysABP       150
Na              18
PaCO2           15
PaO2            15
Platelets       17
RespRate       135
SaO2             0
SysABP         155
Temp            96
TroponinI        1
TroponinT        4
Urine          207
WBC             17
Weight         182
pH              20
dtype: int64

In [90]:
training_ICUType_1 = train_X[train_X['ICUType'] == 1.0]
training_ICUType_1 = training_ICUType_1[training_ICUType_1["Time"] == 0.0]
training_ICUType_1_ids = training_ICUType_1["RecordID"]
ICUType_1_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_1_ids)]
ICUType_1_measurements_training = ICUType_1_measurements_training.count() 
ICUType_1_measurements_training

RecordID       53856
level_1        53856
Time           53856
ALP              819
ALT              870
AST              870
Age            49328
Albumin          591
BUN             3839
Bilirubin        855
Cholesterol      339
Creatinine      3917
DiasABP        22671
FiO2            5907
GCS            13948
Gender          1122
Glucose         3652
HCO3            3705
HCT             4727
HR             46889
Height         49328
ICUType         1122
K               4506
Lactate         1175
MAP            22576
MechVent        5402
Mg              3824
NIDiasABP      25342
NIMAP          25211
NISysABP       25358
Na              3667
PaCO2           4501
PaO2            4499
Platelets       3885
RespRate       18645
SaO2            2701
SysABP         22673
Temp           16176
TroponinI        154
TroponinT       1161
Urine          30708
WBC             3490
Weight         23507
pH              4596
dtype: int64

In [91]:
training_ICUType_2 = train_X[train_X['ICUType'] == 2.0]
training_ICUType_2 = training_ICUType_2[training_ICUType_2["Time"] == 0.0]
training_ICUType2_ids = training_ICUType_2["RecordID"]
ICUType_2_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType2_ids)]
ICUType_2_measurements_training = ICUType_2_measurements_training.count() 
ICUType_2_measurements_training

RecordID       77232
level_1        77232
Time           77232
ALP              542
ALT              562
AST              559
Age            74487
Albumin          372
BUN             5027
Bilirubin        551
Cholesterol       22
Creatinine      5036
DiasABP        60512
FiO2           12944
GCS            20392
Gender          1609
Glucose         3604
HCO3            4658
HCT             8503
HR             70714
Height         74487
ICUType         1609
K               4079
Lactate         2679
MAP            60703
MechVent       12755
Mg              4860
NIDiasABP      16650
NIMAP          16488
NISysABP       16693
Na              3878
PaCO2          15738
PaO2           15694
Platelets       6314
RespRate        3408
SaO2            8382
SysABP         60513
Temp           45279
TroponinI         91
TroponinT        177
Urine          64937
WBC             5261
Weight         40200
pH             17229
dtype: int64

In [92]:
training_ICUType_3 = train_X[train_X['ICUType'] == 3.0]
training_ICUType_3 = training_ICUType_3[training_ICUType_3["Time"] == 0.0]
training_ICUType_3_ids = training_ICUType_3["RecordID"]
ICUType_3_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_3_ids)]
ICUType_3_measurements_training = ICUType_3_measurements_training.count() 
ICUType_3_measurements_training

RecordID       132576
level_1        132576
Time           132576
ALP              2926
ALT              3003
AST              3003
Age            122801
Albumin          2244
BUN              9965
Bilirubin        3142
Cholesterol       124
Creatinine      10000
DiasABP         46491
FiO2            19430
GCS             35249
Gender           2762
Glucose          9945
HCO3             9985
HCT             11684
HR             118209
Height         122801
ICUType          2762
K               10795
Lactate          5165
MAP             45836
MechVent        17916
Mg               9366
NIDiasABP       75802
NIMAP           74362
NISysABP        75848
Na              10237
PaCO2            9967
PaO2             9982
Platelets        9055
RespRate        40967
SaO2             1478
SysABP          46500
Temp            37579
TroponinI         319
TroponinT        1771
Urine           80560
WBC              8673
Weight          85536
pH              10118
dtype: int64

In [93]:
training_ICUType_4 = train_X[train_X['ICUType'] == 4.0]
training_ICUType_4 = training_ICUType_4[training_ICUType_4["Time"] == 0.0]
training_ICUType_4_ids = training_ICUType_4["RecordID"]
ICUType_4_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_4_ids)]
ICUType_4_measurements_training = ICUType_4_measurements_training.count() 
ICUType_4_measurements_training

RecordID       104544
level_1        104544
Time           104544
ALP              1848
ALT              1878
AST              1877
Age             99871
Albumin          1488
BUN              7915
Bilirubin        1841
Cholesterol       148
Creatinine       7917
DiasABP         70095
FiO2            19298
GCS             48372
Gender           2178
Glucose          7966
HCO3             7795
HCT             10130
HR              96080
Height          99871
ICUType          2178
K                8647
Lactate          6135
MAP             69472
MechVent        19171
Mg               8088
NIDiasABP       36680
NIMAP           36204
NISysABP        36727
Na               8405
PaCO2           12196
PaO2            12152
Platelets        8036
RespRate        26132
SaO2             2203
SysABP          70102
Temp            37661
TroponinI         183
TroponinT         801
Urine           79369
WBC              7520
Weight          43461
pH              12368
dtype: int64

In [94]:
age_65_and_above_training = train_X[train_X["Age"] >= 65]
age_65_and_above_training = age_65_and_above_training[age_65_and_above_training ["Time"] == 0.0]
age_65_and_above_training_ids = age_65_and_above_training ["RecordID"]
age_65_and_above_measurements_training = train_X[train_X["RecordID"].isin(age_65_and_above_training_ids)]
age_65_and_above_measurements_training = age_65_and_above_measurements_training.count()
age_65_and_above_measurements_training

RecordID       201744
level_1        201744
Time           201744
ALP              2749
ALT              2814
AST              2817
Age            190373
Albumin          2296
BUN             14267
Bilirubin        2857
Cholesterol       386
Creatinine      14339
DiasABP        111100
FiO2            31697
GCS             62638
Gender           4203
Glucose         13213
HCO3            13913
HCT             19119
HR             182611
Height         190373
ICUType          4203
K               14858
Lactate          7955
MAP            110531
MechVent        29638
Mg              14029
NIDiasABP       84135
NIMAP           83101
NISysABP        84217
Na              13709
PaCO2           23793
PaO2            23747
Platelets       14636
RespRate        49505
SaO2             9228
SysABP         111110
Temp            77994
TroponinI         511
TroponinT        2753
Urine          143307
WBC             13339
Weight         106430
pH              24894
dtype: int64

In [95]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor para cada recordID.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [96]:
age_under_65_training  = train_X[train_X["Age"] < 65]
age_under_65_training  = age_under_65_training[age_under_65_training["Time"] == 0.0]
age_under_65_training_ids = age_under_65_training["RecordID"]
age_under_65_measurements_training = train_X[train_X["RecordID"].isin(age_under_65_training_ids)]
age_under_65_measurements_training  = age_under_65_measurements_training .count()
age_under_65_measurements_training

RecordID       166464
level_1        166464
Time           166464
ALP              3386
ALT              3499
AST              3492
Age            156114
Albumin          2399
BUN             12479
Bilirubin        3532
Cholesterol       247
Creatinine      12531
DiasABP         88669
FiO2            25882
GCS             55323
Gender           3468
Glucose         11954
HCO3            12230
HCT             15925
HR             149281
Height         156114
ICUType          3468
K               13169
Lactate          7199
MAP             88056
MechVent        25606
Mg              12109
NIDiasABP       70339
NIMAP           69164
NISysABP        70409
Na              12478
PaCO2           18609
PaO2            18580
Platelets       12654
RespRate        39647
SaO2             5536
SysABP          88678
Temp            58701
TroponinI         236
TroponinT        1157
Urine          112267
WBC             11605
Weight          86274
pH              19417
dtype: int64

In [97]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [98]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [99]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575037    1.600
575038    1.600
575039    1.600
575088    1.727
575184    1.727
Name: Height, Length: 100032, dtype: float64

In [100]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = round(filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.7,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.2,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.2,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.2,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.2,Sobrepeso

In [101]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.5,NaN,NaN,50.0,13.3,76.0,7.45,24.7,Peso normal
1,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,600.0,11.5,84.6,NaN,26.0,Sobrepeso
2,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.0,3.5,NaN,120.0,16.1,48.4,7.40,18.3,Baixo peso
3,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,98.00,34.8,NaN,NaN,35.0,9.0,66.1,7.39,21.5,Peso normal
4,132567,0,0.0,NaN,NaN,NaN,71.0,NaN,9.0,NaN,...,111.50,35.6,NaN,NaN,15.0,9.0,56.0,7.44,22.6,Peso normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3984,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.00,37.6,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
3985,163013,0,0.0,82.0,11.0,30.0,74.0,2.5,30.0,1.2,...,118.00,36.5,NaN,0.03,40.0,9.6,68.6,7.35,29.5,Sobrepeso
3986,163016,0,0.0,NaN,27.0,120.0,65.0,NaN,29.0,0.4,...,101.00,38.1,NaN,NaN,75.0,8.0,63.6,7.37,24.8,Peso normal
3987,163021,0,0.0,NaN,NaN,NaN,72.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.6,62.0,NaN,20.8,Peso normal
3988,163029,0,0.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,28.5,Sobrepeso

In [102]:
classification_low_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_low_weight_training_ids = classification_low_weight_training["RecordID"]
classification_measurements_l_w_t = train_X[train_X["RecordID"].isin(classification_low_weight_training_ids)]
classification_measurements_l_w_t = classification_measurements_l_w_t.count() 
classification_measurements_l_w_t

RecordID       5856
level_1        5856
Time           5856
ALP              97
ALT             100
AST             100
Age            5650
Albumin          83
BUN             437
Bilirubin        99
Cholesterol       9
Creatinine      438
DiasABP        3728
FiO2            983
GCS            1891
Gender          122
Glucose         416
HCO3            432
HCT             567
HR             5446
Height         5650
ICUType         122
K               457
Lactate         301
MAP            3745
MechVent        960
Mg              443
NIDiasABP      2073
NIMAP          2042
NISysABP       2078
Na              428
PaCO2           763
PaO2            770
Platelets       452
RespRate        997
SaO2            284
SysABP         3729
Temp           2449
TroponinI        25
TroponinT        48
Urine          4245
WBC             407
Weight         3063
pH              807
dtype: int64

In [103]:
classification_normal_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_normal_weight_training_ids = classification_normal_weight_training["RecordID"]
classification_measurements_n_w_t = train_X[train_X["RecordID"].isin(classification_normal_weight_training_ids)]
classification_measurements_n_w_t = classification_measurements_n_w_t.count() 
classification_measurements_n_w_t

RecordID       57408
level_1        57408
Time           57408
ALP              925
ALT              954
AST              952
Age            55081
Albumin          711
BUN             4257
Bilirubin        956
Cholesterol      106
Creatinine      4274
DiasABP        37292
FiO2            9656
GCS            18281
Gender          1196
Glucose         3865
HCO3            4108
HCT             5947
HR             52686
Height         55081
ICUType         1196
K               4361
Lactate         2730
MAP            37151
MechVent        9545
Mg              4236
NIDiasABP      19688
NIMAP          19539
NISysABP       19711
Na              4006
PaCO2           8377
PaO2            8349
Platelets       4650
RespRate        9636
SaO2            3465
SysABP         37293
Temp           25755
TroponinI        137
TroponinT        543
Urine          42347
WBC             4108
Weight         28843
pH              8883
dtype: int64

In [104]:
classification_overweight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_overweight_training_ids = classification_overweight_training['RecordID']
classification_measurements_o_w_t = train_X[train_X["RecordID"].isin(classification_overweight_training_ids)]
classification_measurements_o_w_t = classification_measurements_o_w_t.count() 
classification_measurements_o_w_t

RecordID       66672
level_1        66672
Time           66672
ALP             1171
ALT             1212
AST             1208
Age            63745
Albumin          826
BUN             5001
Bilirubin       1211
Cholesterol      135
Creatinine      5025
DiasABP        45254
FiO2           11225
GCS            20265
Gender          1389
Glucose         4404
HCO3            4812
HCT             7157
HR             60719
Height         63745
ICUType         1389
K               4942
Lactate         3021
MAP            45175
MechVent       10998
Mg              4932
NIDiasABP      21068
NIMAP          20869
NISysABP       21099
Na              4558
PaCO2          10550
PaO2           10531
Platelets       5652
RespRate       10377
SaO2            4691
SysABP         45256
Temp           31822
TroponinI        153
TroponinT        616
Urine          49517
WBC             4950
Weight         34570
pH             11204
dtype: int64

In [105]:
classification_obesity_grade1_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_training_ids = classification_obesity_grade1_training["RecordID"]
classification_measurements_ob1_t = train_X[train_X["RecordID"].isin(classification_obesity_grade1_training_ids)]
classification_measurements_ob1_t  = classification_measurements_ob1_t .count() 
classification_measurements_ob1_t

RecordID       34704
level_1        34704
Time           34704
ALP              551
ALT              564
AST              564
Age            33368
Albumin          408
BUN             2542
Bilirubin        575
Cholesterol       56
Creatinine      2554
DiasABP        24277
FiO2            6328
GCS            10643
Gender           723
Glucose         2211
HCO3            2432
HCT             3612
HR             31914
Height         33368
ICUType          723
K               2524
Lactate         1633
MAP            24144
MechVent        6200
Mg              2452
NIDiasABP      10332
NIMAP          10215
NISysABP       10348
Na              2329
PaCO2           5770
PaO2            5763
Platelets       2786
RespRate        4653
SaO2            2469
SysABP         24277
Temp           16934
TroponinI        107
TroponinT        329
Urine          26806
WBC             2447
Weight         18141
pH              6083
dtype: int64

In [106]:
classification_obesity_grade2_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_training_ids = classification_obesity_grade2_training["RecordID"]
classification_measurements_ob2_t = train_X[train_X["RecordID"].isin(classification_obesity_grade2_training_ids)]
classification_measurements_ob2_t = classification_measurements_ob2_t.count() 
classification_measurements_ob2_t

RecordID       14832
level_1        14832
Time           14832
ALP              249
ALT              253
AST              252
Age            14208
Albumin          172
BUN             1141
Bilirubin        259
Cholesterol       24
Creatinine      1151
DiasABP        10323
FiO2            2757
GCS             4428
Gender           309
Glucose         1016
HCO3            1114
HCT             1578
HR             13582
Height         14208
ICUType          309
K               1137
Lactate          771
MAP            10314
MechVent        2612
Mg              1095
NIDiasABP       4383
NIMAP           4335
NISysABP        4386
Na              1056
PaCO2           2468
PaO2            2465
Platelets       1250
RespRate        2237
SaO2            1087
SysABP         10325
Temp            7171
TroponinI         24
TroponinT        160
Urine          11185
WBC             1112
Weight          8412
pH              2567
dtype: int64

In [107]:
classification_obesity_grade3_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_training_ids = classification_obesity_grade3_training["RecordID"]
classification_measurements_ob3_t = train_X[train_X["RecordID"].isin(classification_obesity_grade3_training_ids)]
classification_measurements_ob3_t = classification_measurements_ob3_t.count() 
classification_measurements_ob3_t

RecordID       12000
level_1        12000
Time           12000
ALP              195
ALT              199
AST              198
Age            11533
Albumin          140
BUN              894
Bilirubin        197
Cholesterol       18
Creatinine       892
DiasABP         7779
FiO2            2312
GCS             3466
Gender           250
Glucose          806
HCO3             863
HCT             1158
HR             11042
Height         11533
ICUType          250
K                912
Lactate          654
MAP             7820
MechVent        2286
Mg               880
NIDiasABP       3781
NIMAP           3717
NISysABP        3788
Na               830
PaCO2           1943
PaO2            1943
Platelets        902
RespRate        1770
SaO2             773
SysABP          7779
Temp            5078
TroponinI         22
TroponinT        120
Urine           9046
WBC              835
Weight          7003
pH              2019
dtype: int64

In [108]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [109]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_measurements_training
df_test_transpose["Male"] = male_gender_measurements_training
df_test_transpose["Undefined Gender"] = undefined_gender_measurements_training
df_test_transpose["ICUType 1"] = ICUType_1_measurements_training 
df_test_transpose["ICUType 2"] = ICUType_2_measurements_training 
df_test_transpose["ICUType 3"] = ICUType_3_measurements_training 
df_test_transpose["ICUType 4"] = ICUType_4_measurements_training 
df_test_transpose["Age 65+"] = age_65_and_above_measurements_training
df_test_transpose["Age 65-"] = age_under_65_measurements_training 
df_test_transpose['Low Weight'] = classification_measurements_l_w_t 
df_test_transpose['Normal Weight'] = classification_measurements_n_w_t 
df_test_transpose['Overweight'] = classification_measurements_o_w_t 
df_test_transpose['Obesity Grade 1'] = classification_measurements_ob1_t 
df_test_transpose['Obesity Grade 2'] = classification_measurements_ob2_t 
df_test_transpose['Obesity Grade 3'] = classification_measurements_ob3_t 

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,161520,206304,384,53856,77232,132576,104544,201744,166464,5856,57408,66672,34704,14832,12000
level_1,161520,206304,384,53856,77232,132576,104544,201744,166464,5856,57408,66672,34704,14832,12000
Time,161520,206304,384,53856,77232,132576,104544,201744,166464,5856,57408,66672,34704,14832,12000
ALP,2647,3486,2,819,542,2926,1848,2749,3386,97,925,1171,551,249,195
ALT,2728,3582,3,870,562,3003,1878,2814,3499,100,954,1212,564,253,199
AST,2720,3586,3,870,559,3003,1877,2817,3492,100,952,1208,564,252,198
Age,152010,194192,285,49328,74487,122801,99871,190373,156114,5650,55081,63745,33368,14208,11533
Albumin,2098,2595,2,591,372,2244,1488,2296,2399,83,711,826,408,172,140
BUN,11752,14976,18,3839,5027,9965,7915,14267,12479,437,4257,5001,2542,1141,894
Bilirubin,2764,3623,2,855,551,3142,1841,2857,3532,99,956,1211,575,259,197
Cholesterol,257,376,0,339,22,124,148,386,247,9,106,135,56,24,18
Creatinine,11792,15060,18,3917,5036,10000,7917,14339,12531,438,4274,5025,2554,1151,892
DiasABP,83086,116528,155,22671,60512,46491,70095,111100,88669,3728,37292,45254,24277,10323,7779
FiO2,24516,33041,22,5907,12944,19430,19298,31697,25882,983,9656,11225,6328,2757,2312
GCS,52040,65829,92,13948,20392,35249,48372,62638,55323,1891,18281,20265,10643,4428,3466
Gender,3365,4298,8,1122,1609,2762,2178,4203,3468,122,1196,1389,723,309,250
Glucose,11213,13935,19,3652,3604,9945,7966,13213,11954,416,3865,4404,2211,1016,806
HCO3,11545,14580,18,3705,4658,9985,7795,13913,12230,432,4108,4812,2432,1114,863
HCT,14836,20190,18,4727,8503,11684,10130,19119,15925,567,5947,7157,3612,1578,1158
HR,145984,185635,273,46889,70714,118209,96080,182611,149281,5446,52686,60719,31914,13582,11042
Height,152010,194192,285,49328,74487,122801,99871,190373,156114,5650,55081,63745,33368,14208,11533
ICUType,3365,4298,8,1122,1609,2762,2178,4203,3468,122,1196,1389,723,309,250
K,12412,15595,20,4506,4079,10795,8647,14858,13169,457,4361,4942,2524,1137,912
Lactate,6322,8831,1,1175,2679,5165,6135,7955,7199,301,2730,3021,1633,771,654
MAP,82604,115831,152,22576,60703,45836,69472,110531,88056,3745,37151,45175,24144,10314,7820
MechVent,23856,31360,28,5402,12755,17916,19171,29638,25606,960,9545,10998,6200,2612,2286
Mg,11483,14639,16,3824,4860,9366,8088,14029,12109,443,4236,4932,2452,1095,880
NIDiasABP,71296,83028,150,25342,16650,75802,36680,84135,70339,2073,19688,21068,10332,4383,3781
NIMAP,70166,81949,150,25211,16488,74362,36204,83101,69164,2042,19539,20869,10215,4335,3717
NISysABP,71360,83116,150,25358,16693,75848,36727,84217,70409,2078,19711,21099,10348,4386,3788
Na,11659,14510,18,3667,3878,10237,8405,13709,12478,428,4006,4558,2329,1056,830
PaCO2,17076,25311,15,4501,15738,9967,12196,23793,18609,763,8377,10550,5770,2468,1943
PaO2,17035,25277,15,4499,15694,9982,12152,23747,18580,770,8349,10531,5763,2465,1943
Platelets,11589,15684,17,3885,6314,9055,8036,14636,12654,452,4650,5652,2786,1250,902
RespRate,43422,45595,135,18645,3408,40967,26132,49505,39647,997,9636,10377,4653,2237,1770
SaO2,5869,8895,0,2701,8382,1478,2203,9228,5536,284,3465,4691,2469,1087,773
SysABP,83093,116540,155,22673,60513,46500,70102,111110,88678,3729,37293,45256,24277,10325,7779
Temp,57198,79401,96,16176,45279,37579,37661,77994,58701,2449,25755,31822,16934,7171,5078
TroponinI,335,411,1,154,91,319,183,511,236,25,137,153,107,24,22
TroponinT,1665,2241,4,1161,177,1771,801,2753,1157,48,543,616,329,160,120
Urine,112240,143127,207,30708,64937,80560,79369,143307,112267,4245,42347,49517,26806,11185,9046
WBC,10782,14145,17,3490,5261,8673,7520,13339,11605,407,4108,4950,2447,1112,835
Weight,85985,106537,182,23507,40200,85536,43461,106430,86274,3063,28843,34570,18141,8412,7003
pH,17712,26579,20,4596,17229,10118,12368,24894,19417,807,8883,11204,6083,2567,2019

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [110]:
validation_X = physionet2012_dataset['val_X']

In [111]:
validation_female_gender = validation_X[validation_X['Gender'] == 0.0]
validation_female_gender_ids = validation_female_gender["RecordID"]
female_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_female_gender_ids)]
female_gender_measurements_validation = female_gender_measurements_validation.count()
female_gender_measurements_validation

RecordID       39552
level_1        39552
Time           39552
ALP              651
ALT              673
AST              675
Age            37266
Albumin          502
BUN             2794
Bilirubin        681
Cholesterol       67
Creatinine      2798
DiasABP        20135
FiO2            6309
GCS            12764
Gender           824
Glucose         2671
HCO3            2744
HCT             3716
HR             35791
Height         37266
ICUType          824
K               2968
Lactate         1598
MAP            20041
MechVent        6170
Mg              2746
NIDiasABP      17549
NIMAP          17285
NISysABP       17561
Na              2778
PaCO2           4184
PaO2            4174
Platelets       2840
RespRate       10409
SaO2            1469
SysABP         20136
Temp           14132
TroponinI        112
TroponinT        467
Urine          27507
WBC             2638
Weight         21338
pH              4326
dtype: int64

In [112]:
validation_male_gender = validation_X[validation_X['Gender'] == 1.0]
validation_male_gender_ids = validation_male_gender["RecordID"]
male_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_male_gender_ids)]
male_gender_measurements_validation = male_gender_measurements_validation.count()
male_gender_measurements_validation

RecordID       52464
level_1        52464
Time           52464
ALP              839
ALT              866
AST              869
Age            49348
Albumin          634
BUN             3802
Bilirubin        867
Cholesterol       93
Creatinine      3802
DiasABP        28954
FiO2            7993
GCS            16855
Gender          1093
Glucose         3547
HCO3            3683
HCT             5124
HR             47077
Height         49348
ICUType         1093
K               3956
Lactate         2070
MAP            28769
MechVent        7620
Mg              3776
NIDiasABP      21614
NIMAP          21327
NISysABP       21630
Na              3680
PaCO2           6133
PaO2            6118
Platelets       3927
RespRate       12223
SaO2            2178
SysABP         28956
Temp           19938
TroponinI         88
TroponinT        609
Urine          35398
WBC             3499
Weight         27436
pH              6467
dtype: int64

In [113]:
validation_undefined_gender = validation_X[validation_X['Gender'] == -1.0]
validation_undefined_gender_ids = validation_undefined_gender["RecordID"]
undefined_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_undefined_gender_ids)]
undefined_gender_measurements_validation = undefined_gender_measurements_validation.count()
undefined_gender_measurements_validation

RecordID       48
level_1        48
Time           48
ALP             1
ALT             1
AST             1
Age            48
Albumin         0
BUN             4
Bilirubin       1
Cholesterol     0
Creatinine      4
DiasABP        41
FiO2            0
GCS            12
Gender          1
Glucose         3
HCO3            4
HCT             3
HR             48
Height         48
ICUType         1
K               3
Lactate         1
MAP            40
MechVent        0
Mg              4
NIDiasABP      16
NIMAP          16
NISysABP       16
Na              3
PaCO2           1
PaO2            1
Platelets       3
RespRate        0
SaO2            1
SysABP         41
Temp           10
TroponinI       0
TroponinT       0
Urine           8
WBC             3
Weight         36
pH              1
dtype: int64

In [114]:
validation_ICUType_1 = validation_X[validation_X['ICUType'] == 1.0]
validation_ICUType_1 = validation_ICUType_1[validation_ICUType_1['Time'] == 0.0]
validation_ICUType_1_ids = validation_ICUType_1['RecordID']
ICUType_1_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_1_ids)]
ICUType_1_measurements_validation = ICUType_1_measurements_validation.count()
ICUType_1_measurements_validation

RecordID       13824
level_1        13824
Time           13824
ALP              203
ALT              213
AST              213
Age            12597
Albumin          157
BUN             1010
Bilirubin        210
Cholesterol       82
Creatinine      1015
DiasABP         5623
FiO2            1590
GCS             3635
Gender           288
Glucose          975
HCO3             974
HCT             1209
HR             11997
Height         12597
ICUType          288
K               1160
Lactate          344
MAP             5606
MechVent        1505
Mg              1001
NIDiasABP       6658
NIMAP           6627
NISysABP        6667
Na               981
PaCO2           1135
PaO2            1139
Platelets        993
RespRate        5008
SaO2             672
SysABP          5623
Temp            4162
TroponinI         42
TroponinT        357
Urine           7758
WBC              885
Weight          6707
pH              1159
dtype: int64

In [115]:
validation_ICUType_2 = validation_X[validation_X['ICUType'] == 2.0]
validation_ICUType_2 = validation_ICUType_2[validation_ICUType_2['Time'] == 0.0]
validation_ICUType_2_ids = validation_ICUType_2['RecordID']
ICUType_2_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_2_ids)]
ICUType_2_measurements_validation = ICUType_2_measurements_validation.count()
ICUType_2_measurements_validation

RecordID       19248
level_1        19248
Time           19248
ALP              136
ALT              139
AST              142
Age            18612
Albumin           83
BUN             1264
Bilirubin        140
Cholesterol        6
Creatinine      1263
DiasABP        14934
FiO2            3295
GCS             5027
Gender           401
Glucose          925
HCO3            1153
HCT             2107
HR             17660
Height         18612
ICUType          401
K               1049
Lactate          701
MAP            14898
MechVent        3272
Mg              1265
NIDiasABP       4341
NIMAP           4307
NISysABP        4341
Na               969
PaCO2           3843
PaO2            3826
Platelets       1569
RespRate         802
SaO2            2100
SysABP         14936
Temp           11274
TroponinI         22
TroponinT         65
Urine          16159
WBC             1296
Weight          9873
pH              4216
dtype: int64

In [116]:
validation_ICUType_3 = validation_X[validation_X['ICUType'] == 3.0]
validation_ICUType_3 = validation_ICUType_3[validation_ICUType_3['Time'] == 0.0]
validation_ICUType_3_ids = validation_ICUType_3['RecordID']
ICUType_3_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_3_ids)]
ICUType_3_measurements_validation = ICUType_3_measurements_validation.count()
ICUType_3_measurements_validation

RecordID       33264
level_1        33264
Time           33264
ALP              713
ALT              744
AST              743
Age            30908
Albumin          542
BUN             2462
Bilirubin        757
Cholesterol       41
Creatinine      2462
DiasABP        11539
FiO2            4781
GCS             9056
Gender           693
Glucose         2445
HCO3            2453
HCT             3034
HR             29785
Height         30908
ICUType          693
K               2662
Lactate         1165
MAP            11457
MechVent        4484
Mg              2330
NIDiasABP      18940
NIMAP          18585
NISysABP       18951
Na              2500
PaCO2           2406
PaO2            2402
Platelets       2325
RespRate       10674
SaO2             381
SysABP         11539
Temp            9710
TroponinI        103
TroponinT        458
Urine          20041
WBC             2201
Weight         21199
pH              2444
dtype: int64

In [117]:
validation_ICUType_4 = validation_X[validation_X['ICUType'] == 4.0]
validation_ICUType_4 = validation_ICUType_4[validation_ICUType_4['Time'] == 0.0]
validation_ICUType_4_ids = validation_ICUType_4['RecordID']
ICUType_4_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_4_ids)]
ICUType_4_measurements_validation = ICUType_4_measurements_validation.count()
ICUType_4_measurements_validation

RecordID       25728
level_1        25728
Time           25728
ALP              439
ALT              444
AST              447
Age            24545
Albumin          354
BUN             1864
Bilirubin        442
Cholesterol       31
Creatinine      1864
DiasABP        17034
FiO2            4636
GCS            11913
Gender           536
Glucose         1876
HCO3            1851
HCT             2493
HR             23474
Height         24545
ICUType          536
K               2056
Lactate         1459
MAP            16889
MechVent        4529
Mg              1930
NIDiasABP       9240
NIMAP           9109
NISysABP        9248
Na              2011
PaCO2           2934
PaO2            2926
Platelets       1883
RespRate        6148
SaO2             495
SysABP         17035
Temp            8934
TroponinI         33
TroponinT        196
Urine          18955
WBC             1758
Weight         11031
pH              2975
dtype: int64

In [118]:
age_65_and_above_validation = validation_X[validation_X['Age'] >= 65]
age_65_and_above_validation = age_65_and_above_validation[age_65_and_above_validation['Time'] == 0.0]
age_65_and_above_validation_ids = age_65_and_above_validation['RecordID']
age_65_and_above_measurements_validation = validation_X[validation_X['RecordID'].isin(age_65_and_above_validation_ids)]
age_65_and_above_measurements_validation = age_65_and_above_measurements_validation.count()
age_65_and_above_measurements_validation

RecordID       50496
level_1        50496
Time           50496
ALP              710
ALT              726
AST              732
Age            47649
Albumin          563
BUN             3590
Bilirubin        746
Cholesterol       83
Creatinine      3589
DiasABP        26750
FiO2            7661
GCS            15901
Gender          1052
Glucose         3351
HCO3            3503
HCT             4812
HR             45790
Height         47649
ICUType         1052
K               3750
Lactate         1947
MAP            26647
MechVent        7336
Mg              3537
NIDiasABP      22134
NIMAP          21859
NISysABP       22146
Na              3494
PaCO2           5544
PaO2            5528
Platelets       3661
RespRate       12780
SaO2            2138
SysABP         26751
Temp           19333
TroponinI        145
TroponinT        765
Urine          35283
WBC             3329
Weight         26672
pH              5813
dtype: int64

In [119]:
age_under_65_validation = validation_X[validation_X['Age'] < 65]
age_under_65_validation = age_under_65_validation[age_under_65_validation['Time'] == 0.0]
age_under_65_validation_ids = age_under_65_validation["RecordID"]
age_under_65__measurements_validation = validation_X[validation_X["RecordID"].isin(age_under_65_validation_ids)]
age_under_65__measurements_validation = age_under_65__measurements_validation.count()
age_under_65__measurements_validation

RecordID       41568
level_1        41568
Time           41568
ALP              781
ALT              814
AST              813
Age            39013
Albumin          573
BUN             3010
Bilirubin        803
Cholesterol       77
Creatinine      3015
DiasABP        22380
FiO2            6641
GCS            13730
Gender           866
Glucose         2870
HCO3            2928
HCT             4031
HR             37126
Height         39013
ICUType          866
K               3177
Lactate         1722
MAP            22203
MechVent        6454
Mg              2989
NIDiasABP      17045
NIMAP          16769
NISysABP       17061
Na              2967
PaCO2           4774
PaO2            4765
Platelets       3109
RespRate        9852
SaO2            1510
SysABP         22382
Temp           14747
TroponinI         55
TroponinT        311
Urine          27630
WBC             2811
Weight         22138
pH              4981
dtype: int64

In [120]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [121]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

288       1.626
289       1.626
290       1.626
291       1.626
293       1.626
          ...
573164    1.219
573165    1.219
573166    1.219
573167    1.219
574560    1.689
Name: Height, Length: 24958, dtype: float64

In [122]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
288,132548,0,0.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.3,NaN,NaN,NaN,NaN,87.0,NaN,32.906233,Obesidade grau 1
289,132548,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,205.000000,35.8,NaN,NaN,120.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
290,132548,2,2.0,NaN,NaN,NaN,68.0,NaN,32.0,NaN,...,212.142857,NaN,NaN,NaN,60.0,6.2,87.0,NaN,32.906233,Obesidade grau 1
291,132548,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,201.250000,NaN,NaN,NaN,140.0,NaN,87.0,NaN,32.906233,Obesidade grau 1
293,132548,5,5.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,175.000000,36.6,NaN,NaN,190.0,NaN,87.0,NaN,32.906233,Obesidade grau 1

In [123]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_low_weight_validation_ids = classification_low_weight_validation["RecordID"]
classification_measurements_l_w_v = validation_X[validation_X["RecordID"].isin(classification_low_weight_validation_ids)]
classification_measurements_l_w_v = classification_measurements_l_w_v.count() 
classification_measurements_l_w_v

RecordID       1728
level_1        1728
Time           1728
ALP              19
ALT              19
AST              19
Age            1635
Albumin          11
BUN             120
Bilirubin        19
Cholesterol       3
Creatinine      121
DiasABP        1201
FiO2            269
GCS             525
Gender           36
Glucose         111
HCO3            116
HCT             163
HR             1577
Height         1635
ICUType          36
K               129
Lactate          66
MAP            1194
MechVent        312
Mg              113
NIDiasABP       542
NIMAP           515
NISysABP        542
Na              117
PaCO2           235
PaO2            237
Platelets       120
RespRate        257
SaO2            136
SysABP         1201
Temp            788
TroponinI         8
TroponinT        30
Urine          1210
WBC             111
Weight          997
pH              251
dtype: int64

In [124]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_normal_weight_validation_ids = classification_normal_weight_validation["RecordID"]
classification_measurements_n_w_v = validation_X[validation_X["RecordID"].isin(classification_normal_weight_validation_ids)]
classification_measurements_n_w_v = classification_measurements_n_w_v.count() 
classification_measurements_n_w_v

RecordID       14880
level_1        14880
Time           14880
ALP              199
ALT              204
AST              204
Age            14266
Albumin          149
BUN             1056
Bilirubin        205
Cholesterol       16
Creatinine      1054
DiasABP        10210
FiO2            2511
GCS             4971
Gender           310
Glucose          956
HCO3            1023
HCT             1489
HR             13605
Height         14266
ICUType          310
K               1101
Lactate          681
MAP            10146
MechVent        2541
Mg              1046
NIDiasABP       4750
NIMAP           4684
NISysABP        4754
Na               994
PaCO2           2148
PaO2            2141
Platelets       1194
RespRate        2134
SaO2             887
SysABP         10210
Temp            6922
TroponinI         37
TroponinT        146
Urine          11218
WBC             1045
Weight          7687
pH              2299
dtype: int64

In [125]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_overweight_validation_ids = classification_overweight_validation["RecordID"]
classification_measurements_o_w_v = validation_X[validation_X["RecordID"].isin(classification_overweight_validation_ids)]
classification_measurements_o_w_v = classification_measurements_o_w_v.count() 
classification_measurements_o_w_v

RecordID       20016
level_1        20016
Time           20016
ALP              266
ALT              267
AST              271
Age            19192
Albumin          185
BUN             1459
Bilirubin        274
Cholesterol       26
Creatinine      1460
DiasABP        13692
FiO2            3429
GCS             6124
Gender           417
Glucose         1272
HCO3            1392
HCT             2118
HR             18313
Height         19192
ICUType          417
K               1421
Lactate          810
MAP            13663
MechVent        3432
Mg              1461
NIDiasABP       6073
NIMAP           6008
NISysABP        6078
Na              1300
PaCO2           3114
PaO2            3102
Platelets       1635
RespRate        2678
SaO2            1473
SysABP         13694
Temp            9913
TroponinI         37
TroponinT        182
Urine          14967
WBC             1425
Weight         11042
pH              3342
dtype: int64

In [126]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_validation_ids = classification_obesity_grade1_validation["RecordID"]
classification_measurements_ob1_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade1_validation_ids)]
classification_measurements_ob1_v  = classification_measurements_ob1_v .count() 
classification_measurements_ob1_v

RecordID       12384
level_1        12384
Time           12384
ALP              211
ALT              218
AST              218
Age            11978
Albumin          141
BUN              966
Bilirubin        217
Cholesterol       13
Creatinine       965
DiasABP         8853
FiO2            2220
GCS             3756
Gender           258
Glucose          834
HCO3             915
HCT             1428
HR             11415
Height         11978
ICUType          258
K                929
Lactate          671
MAP             8802
MechVent        2165
Mg               973
NIDiasABP       3498
NIMAP           3467
NISysABP        3500
Na               870
PaCO2           2146
PaO2            2141
Platelets       1081
RespRate        1421
SaO2             958
SysABP          8854
Temp            6298
TroponinI         25
TroponinT        112
Urine           9707
WBC              924
Weight          6919
pH              2274
dtype: int64

In [127]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_validation_ids = classification_obesity_grade2_validation["RecordID"]
classification_measurements_ob2_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade2_validation_ids)]
classification_measurements_ob2_v  = classification_measurements_ob2_v .count() 
classification_measurements_ob2_v

RecordID       5424
level_1        5424
Time           5424
ALP              95
ALT              98
AST              97
Age            5209
Albumin          60
BUN             407
Bilirubin       100
Cholesterol      14
Creatinine      406
DiasABP        3784
FiO2           1022
GCS            1598
Gender          113
Glucose         330
HCO3            378
HCT             619
HR             4942
Height         5209
ICUType         113
K               368
Lactate         310
MAP            3772
MechVent        965
Mg              424
NIDiasABP      1592
NIMAP          1558
NISysABP       1592
Na              367
PaCO2          1013
PaO2           1007
Platelets       464
RespRate        753
SaO2            502
SysABP         3784
Temp           2754
TroponinI        17
TroponinT        53
Urine          4125
WBC             398
Weight         2983
pH             1072
dtype: int64

In [128]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_validation_ids = classification_obesity_grade3_validation["RecordID"]
classification_measurements_ob3_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade3_validation_ids)]
classification_measurements_ob3_v  = classification_measurements_ob3_v .count() 
classification_measurements_ob3_v

RecordID       4320
level_1        4320
Time           4320
ALP              84
ALT              89
AST              88
Age            4119
Albumin          55
BUN             312
Bilirubin        91
Cholesterol      12
Creatinine      311
DiasABP        2699
FiO2            875
GCS            1177
Gender           90
Glucose         271
HCO3            294
HCT             429
HR             3935
Height         4119
ICUType          90
K               304
Lactate         274
MAP            2683
MechVent        876
Mg              319
NIDiasABP      1380
NIMAP          1347
NISysABP       1381
Na              280
PaCO2           763
PaO2            762
Platelets       342
RespRate        635
SaO2            352
SysABP         2699
Temp           2040
TroponinI         8
TroponinT        42
Urine          3169
WBC             280
Weight         2502
pH              787
dtype: int64

In [129]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [130]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_measurements_validation
df_test_transpose["Male"] = male_gender_measurements_validation
df_test_transpose["Undefined Gender"] = undefined_gender_measurements_validation
df_test_transpose["ICUType 1"] = ICUType_1_measurements_validation
df_test_transpose["ICUType 2"] = ICUType_2_measurements_validation
df_test_transpose["ICUType 3"] = ICUType_3_measurements_validation
df_test_transpose["ICUType 4"] = ICUType_4_measurements_validation
df_test_transpose["Age 65+"] = age_65_and_above_measurements_validation
df_test_transpose["Age 65-"] = age_under_65__measurements_validation
df_test_transpose['Low Weight'] = classification_measurements_l_w_v
df_test_transpose['Normal Weight'] = classification_measurements_n_w_v
df_test_transpose['Overweight'] = classification_measurements_o_w_v
df_test_transpose['Obesity Grade 1'] = classification_measurements_ob1_v
df_test_transpose['Obesity Grade 2'] = classification_measurements_ob2_v
df_test_transpose['Obesity Grade 3'] = classification_measurements_ob3_v

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,39552,52464,48,13824,19248,33264,25728,50496,41568,1728,14880,20016,12384,5424,4320
level_1,39552,52464,48,13824,19248,33264,25728,50496,41568,1728,14880,20016,12384,5424,4320
Time,39552,52464,48,13824,19248,33264,25728,50496,41568,1728,14880,20016,12384,5424,4320
ALP,651,839,1,203,136,713,439,710,781,19,199,266,211,95,84
ALT,673,866,1,213,139,744,444,726,814,19,204,267,218,98,89
AST,675,869,1,213,142,743,447,732,813,19,204,271,218,97,88
Age,37266,49348,48,12597,18612,30908,24545,47649,39013,1635,14266,19192,11978,5209,4119
Albumin,502,634,0,157,83,542,354,563,573,11,149,185,141,60,55
BUN,2794,3802,4,1010,1264,2462,1864,3590,3010,120,1056,1459,966,407,312
Bilirubin,681,867,1,210,140,757,442,746,803,19,205,274,217,100,91
Cholesterol,67,93,0,82,6,41,31,83,77,3,16,26,13,14,12
Creatinine,2798,3802,4,1015,1263,2462,1864,3589,3015,121,1054,1460,965,406,311
DiasABP,20135,28954,41,5623,14934,11539,17034,26750,22380,1201,10210,13692,8853,3784,2699
FiO2,6309,7993,0,1590,3295,4781,4636,7661,6641,269,2511,3429,2220,1022,875
GCS,12764,16855,12,3635,5027,9056,11913,15901,13730,525,4971,6124,3756,1598,1177
Gender,824,1093,1,288,401,693,536,1052,866,36,310,417,258,113,90
Glucose,2671,3547,3,975,925,2445,1876,3351,2870,111,956,1272,834,330,271
HCO3,2744,3683,4,974,1153,2453,1851,3503,2928,116,1023,1392,915,378,294
HCT,3716,5124,3,1209,2107,3034,2493,4812,4031,163,1489,2118,1428,619,429
HR,35791,47077,48,11997,17660,29785,23474,45790,37126,1577,13605,18313,11415,4942,3935
Height,37266,49348,48,12597,18612,30908,24545,47649,39013,1635,14266,19192,11978,5209,4119
ICUType,824,1093,1,288,401,693,536,1052,866,36,310,417,258,113,90
K,2968,3956,3,1160,1049,2662,2056,3750,3177,129,1101,1421,929,368,304
Lactate,1598,2070,1,344,701,1165,1459,1947,1722,66,681,810,671,310,274
MAP,20041,28769,40,5606,14898,11457,16889,26647,22203,1194,10146,13663,8802,3772,2683
MechVent,6170,7620,0,1505,3272,4484,4529,7336,6454,312,2541,3432,2165,965,876
Mg,2746,3776,4,1001,1265,2330,1930,3537,2989,113,1046,1461,973,424,319
NIDiasABP,17549,21614,16,6658,4341,18940,9240,22134,17045,542,4750,6073,3498,1592,1380
NIMAP,17285,21327,16,6627,4307,18585,9109,21859,16769,515,4684,6008,3467,1558,1347
NISysABP,17561,21630,16,6667,4341,18951,9248,22146,17061,542,4754,6078,3500,1592,1381
Na,2778,3680,3,981,969,2500,2011,3494,2967,117,994,1300,870,367,280
PaCO2,4184,6133,1,1135,3843,2406,2934,5544,4774,235,2148,3114,2146,1013,763
PaO2,4174,6118,1,1139,3826,2402,2926,5528,4765,237,2141,3102,2141,1007,762
Platelets,2840,3927,3,993,1569,2325,1883,3661,3109,120,1194,1635,1081,464,342
RespRate,10409,12223,0,5008,802,10674,6148,12780,9852,257,2134,2678,1421,753,635
SaO2,1469,2178,1,672,2100,381,495,2138,1510,136,887,1473,958,502,352
SysABP,20136,28956,41,5623,14936,11539,17035,26751,22382,1201,10210,13694,8854,3784,2699
Temp,14132,19938,10,4162,11274,9710,8934,19333,14747,788,6922,9913,6298,2754,2040
TroponinI,112,88,0,42,22,103,33,145,55,8,37,37,25,17,8
TroponinT,467,609,0,357,65,458,196,765,311,30,146,182,112,53,42
Urine,27507,35398,8,7758,16159,20041,18955,35283,27630,1210,11218,14967,9707,4125,3169
WBC,2638,3499,3,885,1296,2201,1758,3329,2811,111,1045,1425,924,398,280
Weight,21338,27436,36,6707,9873,21199,11031,26672,22138,997,7687,11042,6919,2983,2502
pH,4326,6467,1,1159,4216,2444,2975,5813,4981,251,2299,3342,2274,1072,787

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [131]:
test_X = physionet2012_dataset['test_X']

In [132]:
test_female_gender = test_X[test_X['Gender'] == 0.0]
test_female_gender_ids = test_female_gender["RecordID"]
female_gender_measurements_test = test_X[test_X["RecordID"].isin(test_female_gender_ids)]
female_gender_measurements_test = female_gender_measurements_test.count()
female_gender_measurements_test

RecordID       51360
level_1        51360
Time           51360
ALP              804
ALT              820
AST              821
Age            48447
Albumin          614
BUN             3675
Bilirubin        828
Cholesterol       91
Creatinine      3705
DiasABP        27236
FiO2            8129
GCS            16720
Gender          1070
Glucose         3504
HCO3            3635
HCT             4669
HR             46562
Height         48447
ICUType         1070
K               3869
Lactate         2102
MAP            27051
MechVent        8031
Mg              3639
NIDiasABP      22380
NIMAP          22101
NISysABP       22399
Na              3664
PaCO2           5795
PaO2            5795
Platelets       3603
RespRate       13262
SaO2            2025
SysABP         27237
Temp           18497
TroponinI        111
TroponinT        557
Urine          36312
WBC             3350
Weight         28355
pH              6021
dtype: int64

In [133]:
test_male_gender = test_X[test_X['Gender'] == 1.0]
test_male_gender_ids = test_male_gender["RecordID"]
male_gender_measurements_test = test_X[test_X["RecordID"].isin(test_male_gender_ids)]
male_gender_measurements_test = male_gender_measurements_test.count()
male_gender_measurements_test

RecordID       63648
level_1        63648
Time           63648
ALP              993
ALT             1020
AST             1019
Age            60063
Albumin          791
BUN             4634
Bilirubin       1025
Cholesterol      110
Creatinine      4665
DiasABP        35569
FiO2           10290
GCS            20093
Gender          1326
Glucose         4362
HCO3            4561
HCT             6110
HR             57554
Height         60063
ICUType         1326
K               4824
Lactate         2742
MAP            35439
MechVent        9633
Mg              4518
NIDiasABP      26027
NIMAP          25732
NISysABP       26044
Na              4550
PaCO2           7864
PaO2            7844
Platelets       4728
RespRate       13396
SaO2            2684
SysABP         35569
Temp           24312
TroponinI        116
TroponinT        699
Urine          43711
WBC             4295
Weight         34117
pH              8281
dtype: int64

In [134]:
test_undefined_gender = test_X[test_X['Gender'] == -1.0]
test_undefined_gender_ids = test_undefined_gender["RecordID"]
undefined_gender_measurements_test = test_X[test_X["RecordID"].isin(test_undefined_gender_ids)]
undefined_gender_measurements_test = undefined_gender_measurements_test.count()
undefined_gender_measurements_test

RecordID       144
level_1        144
Time           144
ALP              2
ALT              2
AST              2
Age             97
Albumin          3
BUN             15
Bilirubin        2
Cholesterol      0
Creatinine      15
DiasABP         94
FiO2            30
GCS             26
Gender           3
Glucose         15
HCO3            15
HCT             13
HR              92
Height          97
ICUType          3
K               15
Lactate         27
MAP             92
MechVent        23
Mg              14
NIDiasABP       11
NIMAP           11
NISysABP        11
Na              15
PaCO2           40
PaO2            40
Platelets       14
RespRate         0
SaO2             2
SysABP          94
Temp            49
TroponinI        0
TroponinT        5
Urine           68
WBC             13
Weight          82
pH              40
dtype: int64

In [135]:
test_ICUType_1 = test_X[test_X['ICUType'] == 1.0]
test_ICUType_1 = test_ICUType_1[test_ICUType_1['Time'] == 0.0]
test_ICUType_1_ids = test_ICUType_1['RecordID']
ICUType_1_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_1_ids)]
ICUType_1_measurements_test = ICUType_1_measurements_test.count()
ICUType_1_measurements_test

RecordID       17040
level_1        17040
Time           17040
ALP              237
ALT              251
AST              249
Age            15727
Albumin          211
BUN             1204
Bilirubin        245
Cholesterol      117
Creatinine      1222
DiasABP         6707
FiO2            1741
GCS             4286
Gender           355
Glucose         1163
HCO3            1170
HCT             1472
HR             15027
Height         15727
ICUType          355
K               1378
Lactate          397
MAP             6682
MechVent        1680
Mg              1191
NIDiasABP       8707
NIMAP           8655
NISysABP        8710
Na              1174
PaCO2           1360
PaO2            1359
Platelets       1207
RespRate        6219
SaO2             807
SysABP          6707
Temp            5105
TroponinI         61
TroponinT        323
Urine           9697
WBC             1088
Weight          7739
pH              1389
dtype: int64

In [136]:
test_ICUType_2 = test_X[test_X['ICUType'] == 2.0]
test_ICUType_2 = test_ICUType_2[test_ICUType_2['Time'] == 0.0]
test_ICUType_2_ids = test_ICUType_2['RecordID']
ICUType_2_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_2_ids)]
ICUType_2_measurements_test = ICUType_2_measurements_test.count()
ICUType_2_measurements_test

RecordID       24864
level_1        24864
Time           24864
ALP              179
ALT              180
AST              179
Age            24131
Albumin          110
BUN             1582
Bilirubin        175
Cholesterol        5
Creatinine      1592
DiasABP        19754
FiO2            4344
GCS             6713
Gender           518
Glucose         1143
HCO3            1482
HCT             2621
HR             22933
Height         24131
ICUType          518
K               1302
Lactate          883
MAP            19760
MechVent        4144
Mg              1528
NIDiasABP       5386
NIMAP           5353
NISysABP        5396
Na              1267
PaCO2           5007
PaO2            4991
Platelets       1942
RespRate         935
SaO2            2674
SysABP         19754
Temp           14077
TroponinI         46
TroponinT         65
Urine          20984
WBC             1625
Weight         12841
pH              5505
dtype: int64

In [137]:
test_ICUType_3 = test_X[test_X['ICUType'] == 3.0]
test_ICUType_3 = test_ICUType_3[test_ICUType_3['Time'] == 0.0]
test_ICUType_3_ids = test_ICUType_3['RecordID']
ICUType_3_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_3_ids)]
ICUType_3_measurements_test = ICUType_3_measurements_test.count()
ICUType_3_measurements_test

RecordID       39936
level_1        39936
Time           39936
ALP              814
ALT              833
AST              836
Age            37121
Albumin          648
BUN             3085
Bilirubin        867
Cholesterol       37
Creatinine      3107
DiasABP        14805
FiO2            6017
GCS            10495
Gender           832
Glucose         3097
HCO3            3113
HCT             3517
HR             35740
Height         37121
ICUType          832
K               3333
Lactate         1674
MAP            14561
MechVent        5637
Mg              2942
NIDiasABP      22130
NIMAP          21806
NISysABP       22141
Na              3172
PaCO2           3298
PaO2            3297
Platelets       2719
RespRate       11783
SaO2             613
SysABP         14806
Temp           11662
TroponinI         78
TroponinT        595
Urine          24071
WBC             2618
Weight         26856
pH              3346
dtype: int64

In [138]:
test_ICUType_4 = test_X[test_X['ICUType'] == 4.0]
test_ICUType_4 = test_ICUType_4[test_ICUType_4['Time'] == 0.0]
test_ICUType_4_ids = test_ICUType_4['RecordID']
ICUType_4_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_4_ids)]
ICUType_4_measurements_test = ICUType_4_measurements_test.count()
ICUType_4_measurements_test

RecordID       33312
level_1        33312
Time           33312
ALP              569
ALT              578
AST              578
Age            31628
Albumin          439
BUN             2453
Bilirubin        568
Cholesterol       42
Creatinine      2464
DiasABP        21633
FiO2            6347
GCS            15345
Gender           694
Glucose         2478
HCO3            2446
HCT             3182
HR             30508
Height         31628
ICUType          694
K               2695
Lactate         1917
MAP            21579
MechVent        6226
Mg              2510
NIDiasABP      12195
NIMAP          12030
NISysABP       12207
Na              2616
PaCO2           4034
PaO2            4032
Platelets       2477
RespRate        7721
SaO2             617
SysABP         21633
Temp           12014
TroponinI         42
TroponinT        278
Urine          25339
WBC             2327
Weight         15118
pH              4102
dtype: int64

In [139]:
age_65_and_above_test= test_X[test_X['Age'] >= 65]
age_65_and_above_test = age_65_and_above_test[age_65_and_above_test['Time'] == 0.0]
age_65_and_above_test_ids = age_65_and_above_test['RecordID']
age_65_and_above_measurements_test= test_X[test_X['RecordID'].isin(age_65_and_above_test_ids)]
age_65_and_above_measurements_test = age_65_and_above_measurements_test.count()
age_65_and_above_measurements_test

RecordID       62400
level_1        62400
Time           62400
ALP              724
ALT              742
AST              741
Age            59241
Albumin          631
BUN             4345
Bilirubin        759
Cholesterol      121
Creatinine      4384
DiasABP        34674
FiO2           10007
GCS            19396
Gender          1300
Glucose         4061
HCO3            4275
HCT             5741
HR             56942
Height         59241
ICUType         1300
K               4520
Lactate         2400
MAP            34519
MechVent        9451
Mg              4301
NIDiasABP      26443
NIMAP          26212
NISysABP       26464
Na              4283
PaCO2           7417
PaO2            7416
Platelets       4415
RespRate       14948
SaO2            2951
SysABP         34674
Temp           24089
TroponinI        161
TroponinT        840
Urine          44777
WBC             4046
Weight         34887
pH              7789
dtype: int64

In [140]:
age_under_65_test = test_X[test_X['Age'] < 65]
age_under_65_test = age_under_65_test[age_under_65_test['Time'] == 0.0]
age_under_65_test_ids = age_under_65_test["RecordID"]
age_under_65_measurements_test = test_X[test_X["RecordID"].isin(age_under_65_test_ids)]
age_under_65_measurements_test = age_under_65_measurements_test.count()
age_under_65_measurements_test

RecordID       52752
level_1        52752
Time           52752
ALP             1075
ALT             1100
AST             1101
Age            49366
Albumin          777
BUN             3979
Bilirubin       1096
Cholesterol       80
Creatinine      4001
DiasABP        28225
FiO2            8442
GCS            17443
Gender          1099
Glucose         3820
HCO3            3936
HCT             5051
HR             47266
Height         49366
ICUType         1099
K               4188
Lactate         2471
MAP            28063
MechVent        8236
Mg              3870
NIDiasABP      21975
NIMAP          21632
NISysABP       21990
Na              3946
PaCO2           6282
PaO2            6263
Platelets       3930
RespRate       11710
SaO2            1760
SysABP         28226
Temp           18769
TroponinI         66
TroponinT        421
Urine          35314
WBC             3612
Weight         27667
pH              6553
dtype: int64

In [141]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [142]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

240       1.803
720       1.676
738       1.676
739       1.676
740       1.676
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 33809, dtype: float64

In [143]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
240,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.068194,Obesidade grau 2
720,132575,0,0.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,12.5,63.0,7.34,22.428102,Peso normal
738,132575,18,18.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,122.0,37.4,NaN,NaN,38.0,NaN,72.4,NaN,25.774517,Sobrepeso
739,132575,19,19.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,121.0,37.3,NaN,NaN,45.0,NaN,72.4,NaN,25.774517,Sobrepeso
740,132575,20,20.0,NaN,NaN,NaN,78.0,NaN,NaN,NaN,...,97.5,37.3,NaN,NaN,30.0,NaN,72.4,NaN,25.774517,Sobrepeso

In [144]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_low_weight_test_ids = classification_low_weight_test["RecordID"]
classification_measurements_l_w_test = test_X[test_X["RecordID"].isin(classification_low_weight_test_ids)]
classification_measurements_l_w_test = classification_measurements_l_w_test.count() 
classification_measurements_l_w_test

RecordID       1920
level_1        1920
Time           1920
ALP              28
ALT              27
AST              28
Age            1843
Albumin          21
BUN             148
Bilirubin        30
Cholesterol       3
Creatinine      149
DiasABP        1175
FiO2            332
GCS             584
Gender           40
Glucose         143
HCO3            148
HCT             194
HR             1771
Height         1843
ICUType          40
K               157
Lactate         135
MAP            1194
MechVent        350
Mg              153
NIDiasABP       732
NIMAP           728
NISysABP        732
Na              150
PaCO2           287
PaO2            286
Platelets       147
RespRate        396
SaO2            104
SysABP         1175
Temp            812
TroponinI         5
TroponinT        16
Urine          1389
WBC             133
Weight          882
pH              296
dtype: int64

In [145]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_normal_weight_test_ids = classification_normal_weight_test["RecordID"]
classification_measurements_n_w_test = test_X[test_X["RecordID"].isin(classification_normal_weight_test_ids)]
classification_measurements_n_w_test = classification_measurements_n_w_test.count() 
classification_measurements_n_w_test

RecordID       18192
level_1        18192
Time           18192
ALP              291
ALT              297
AST              297
Age            17440
Albumin          228
BUN             1309
Bilirubin        297
Cholesterol       39
Creatinine      1318
DiasABP        12186
FiO2            3006
GCS             5791
Gender           379
Glucose         1200
HCO3            1281
HCT             1839
HR             16734
Height         17440
ICUType          379
K               1335
Lactate          812
MAP            12109
MechVent        3109
Mg              1302
NIDiasABP       5887
NIMAP           5835
NISysABP        5892
Na              1268
PaCO2           2715
PaO2            2709
Platelets       1434
RespRate        2728
SaO2            1108
SysABP         12186
Temp            8005
TroponinI         54
TroponinT        151
Urine          13101
WBC             1269
Weight         10147
pH              2884
dtype: int64

In [146]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_overweight_test_ids = classification_overweight_test["RecordID"]
classification_measurements_o_w_test = test_X[test_X["RecordID"].isin(classification_overweight_test_ids)]
classification_measurements_o_w_test = classification_measurements_o_w_test.count() 
classification_measurements_o_w_test

RecordID       23856
level_1        23856
Time           23856
ALP              307
ALT              315
AST              313
Age            22999
Albumin          230
BUN             1722
Bilirubin        313
Cholesterol       27
Creatinine      1739
DiasABP        17419
FiO2            4234
GCS             7209
Gender           497
Glucose         1490
HCO3            1659
HCT             2535
HR             21953
Height         22999
ICUType          497
K               1664
Lactate         1121
MAP            17385
MechVent        4147
Mg              1684
NIDiasABP       6695
NIMAP           6597
NISysABP        6702
Na              1581
PaCO2           4015
PaO2            4001
Platelets       1923
RespRate        2656
SaO2            1730
SysABP         17420
Temp           11853
TroponinI         69
TroponinT        184
Urine          18659
WBC             1645
Weight         13275
pH              4310
dtype: int64

In [147]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_test_ids = classification_obesity_grade1_test["RecordID"]
classification_measurements_ob1_test = test_X[test_X["RecordID"].isin(classification_obesity_grade1_test_ids)]
classification_measurements_ob1_test = classification_measurements_ob1_test .count() 
classification_measurements_ob1_test

RecordID       16224
level_1        16224
Time           16224
ALP              251
ALT              255
AST              253
Age            15645
Albumin          171
BUN             1217
Bilirubin        250
Cholesterol       26
Creatinine      1223
DiasABP        11719
FiO2            3037
GCS             4834
Gender           338
Glucose         1061
HCO3            1191
HCT             1733
HR             14892
Height         15645
ICUType          338
K               1193
Lactate          878
MAP            11673
MechVent        3049
Mg              1200
NIDiasABP       4501
NIMAP           4463
NISysABP        4502
Na              1119
PaCO2           3032
PaO2            3026
Platelets       1343
RespRate        1572
SaO2            1305
SysABP         11719
Temp            8333
TroponinI         37
TroponinT        154
Urine          12799
WBC             1167
Weight          9343
pH              3224
dtype: int64

In [148]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_test_ids = classification_obesity_grade2_test["RecordID"]
classification_measurements_ob2_test = test_X[test_X["RecordID"].isin(classification_obesity_grade2_test_ids)]
classification_measurements_ob2_test = classification_measurements_ob2_test .count() 
classification_measurements_ob2_test

RecordID       6960
level_1        6960
Time           6960
ALP             100
ALT              98
AST             100
Age            6699
Albumin          66
BUN             522
Bilirubin       100
Cholesterol       6
Creatinine      526
DiasABP        5069
FiO2           1296
GCS            1920
Gender          145
Glucose         453
HCO3            504
HCT             745
HR             6390
Height         6699
ICUType         145
K               505
Lactate         419
MAP            5064
MechVent       1311
Mg              498
NIDiasABP      1891
NIMAP          1838
NISysABP       1894
Na              472
PaCO2          1412
PaO2           1410
Platelets       609
RespRate        646
SaO2            610
SysABP         5069
Temp           3907
TroponinI         9
TroponinT        60
Urine          5452
WBC             531
Weight         4161
pH             1475
dtype: int64

In [149]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_test_ids = classification_obesity_grade3_test["RecordID"]
classification_measurements_ob3_test = test_X[test_X["RecordID"].isin(classification_obesity_grade3_test_ids)]
classification_measurements_ob3_test = classification_measurements_ob3_test .count() 
classification_measurements_ob3_test

RecordID       6624
level_1        6624
Time           6624
ALP             125
ALT             126
AST             126
Age            6384
Albumin          81
BUN             530
Bilirubin       128
Cholesterol      10
Creatinine      532
DiasABP        4852
FiO2           1459
GCS            1916
Gender          138
Glucose         461
HCO3            518
HCT             686
HR             6135
Height         6384
ICUType         138
K               507
Lactate         427
MAP            4817
MechVent       1401
Mg              514
NIDiasABP      1787
NIMAP          1783
NISysABP       1792
Na              485
PaCO2          1318
PaO2           1321
Platelets       540
RespRate        476
SaO2            543
SysABP         4852
Temp           3283
TroponinI         5
TroponinT        73
Urine          5088
WBC             489
Weight         3790
pH             1365
dtype: int64

In [150]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [151]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_measurements_test
df_test_transpose["Male"] = male_gender_measurements_test
df_test_transpose["Undefined Gender"] = undefined_gender_measurements_test
df_test_transpose["ICUType 1"] = ICUType_1_measurements_test
df_test_transpose["ICUType 2"] = ICUType_2_measurements_test
df_test_transpose["ICUType 3"] = ICUType_3_measurements_test
df_test_transpose["ICUType 4"] = ICUType_4_measurements_test
df_test_transpose["Age 65+"] = age_65_and_above_measurements_test
df_test_transpose["Age 65-"] = age_under_65_measurements_test
df_test_transpose['Low Weight'] = classification_measurements_l_w_test 
df_test_transpose['Normal Weight'] = classification_measurements_n_w_test
df_test_transpose['Overweight'] = classification_measurements_o_w_test
df_test_transpose['Obesity Grade 1'] = classification_measurements_ob1_test 
df_test_transpose['Obesity Grade 2'] = classification_measurements_ob2_test
df_test_transpose['Obesity Grade 3'] = classification_measurements_ob3_test

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
RecordID,51360,63648,144,17040,24864,39936,33312,62400,52752,1920,18192,23856,16224,6960,6624
level_1,51360,63648,144,17040,24864,39936,33312,62400,52752,1920,18192,23856,16224,6960,6624
Time,51360,63648,144,17040,24864,39936,33312,62400,52752,1920,18192,23856,16224,6960,6624
ALP,804,993,2,237,179,814,569,724,1075,28,291,307,251,100,125
ALT,820,1020,2,251,180,833,578,742,1100,27,297,315,255,98,126
AST,821,1019,2,249,179,836,578,741,1101,28,297,313,253,100,126
Age,48447,60063,97,15727,24131,37121,31628,59241,49366,1843,17440,22999,15645,6699,6384
Albumin,614,791,3,211,110,648,439,631,777,21,228,230,171,66,81
BUN,3675,4634,15,1204,1582,3085,2453,4345,3979,148,1309,1722,1217,522,530
Bilirubin,828,1025,2,245,175,867,568,759,1096,30,297,313,250,100,128
Cholesterol,91,110,0,117,5,37,42,121,80,3,39,27,26,6,10
Creatinine,3705,4665,15,1222,1592,3107,2464,4384,4001,149,1318,1739,1223,526,532
DiasABP,27236,35569,94,6707,19754,14805,21633,34674,28225,1175,12186,17419,11719,5069,4852
FiO2,8129,10290,30,1741,4344,6017,6347,10007,8442,332,3006,4234,3037,1296,1459
GCS,16720,20093,26,4286,6713,10495,15345,19396,17443,584,5791,7209,4834,1920,1916
Gender,1070,1326,3,355,518,832,694,1300,1099,40,379,497,338,145,138
Glucose,3504,4362,15,1163,1143,3097,2478,4061,3820,143,1200,1490,1061,453,461
HCO3,3635,4561,15,1170,1482,3113,2446,4275,3936,148,1281,1659,1191,504,518
HCT,4669,6110,13,1472,2621,3517,3182,5741,5051,194,1839,2535,1733,745,686
HR,46562,57554,92,15027,22933,35740,30508,56942,47266,1771,16734,21953,14892,6390,6135
Height,48447,60063,97,15727,24131,37121,31628,59241,49366,1843,17440,22999,15645,6699,6384
ICUType,1070,1326,3,355,518,832,694,1300,1099,40,379,497,338,145,138
K,3869,4824,15,1378,1302,3333,2695,4520,4188,157,1335,1664,1193,505,507
Lactate,2102,2742,27,397,883,1674,1917,2400,2471,135,812,1121,878,419,427
MAP,27051,35439,92,6682,19760,14561,21579,34519,28063,1194,12109,17385,11673,5064,4817
MechVent,8031,9633,23,1680,4144,5637,6226,9451,8236,350,3109,4147,3049,1311,1401
Mg,3639,4518,14,1191,1528,2942,2510,4301,3870,153,1302,1684,1200,498,514
NIDiasABP,22380,26027,11,8707,5386,22130,12195,26443,21975,732,5887,6695,4501,1891,1787
NIMAP,22101,25732,11,8655,5353,21806,12030,26212,21632,728,5835,6597,4463,1838,1783
NISysABP,22399,26044,11,8710,5396,22141,12207,26464,21990,732,5892,6702,4502,1894,1792
Na,3664,4550,15,1174,1267,3172,2616,4283,3946,150,1268,1581,1119,472,485
PaCO2,5795,7864,40,1360,5007,3298,4034,7417,6282,287,2715,4015,3032,1412,1318
PaO2,5795,7844,40,1359,4991,3297,4032,7416,6263,286,2709,4001,3026,1410,1321
Platelets,3603,4728,14,1207,1942,2719,2477,4415,3930,147,1434,1923,1343,609,540
RespRate,13262,13396,0,6219,935,11783,7721,14948,11710,396,2728,2656,1572,646,476
SaO2,2025,2684,2,807,2674,613,617,2951,1760,104,1108,1730,1305,610,543
SysABP,27237,35569,94,6707,19754,14806,21633,34674,28226,1175,12186,17420,11719,5069,4852
Temp,18497,24312,49,5105,14077,11662,12014,24089,18769,812,8005,11853,8333,3907,3283
TroponinI,111,116,0,61,46,78,42,161,66,5,54,69,37,9,5
TroponinT,557,699,5,323,65,595,278,840,421,16,151,184,154,60,73
Urine,36312,43711,68,9697,20984,24071,25339,44777,35314,1389,13101,18659,12799,5452,5088
WBC,3350,4295,13,1088,1625,2618,2327,4046,3612,133,1269,1645,1167,531,489
Weight,28355,34117,82,7739,12841,26856,15118,34887,27667,882,10147,13275,9343,4161,3790
pH,6021,8281,40,1389,5505,3346,4102,7789,6553,296,2884,4310,3224,1475,1365