In [144]:
import os
import sys
import pandas as pd
from IPython.display import display, HTML
module_path = os.path.abspath(os.path.join('..'))
if module_path not in sys.path:
    sys.path.append(module_path)

<h2>Loading dataset</h2>

In [145]:
from pypots.benchpots.datasets import preprocess_physionet2012
physionet2012_dataset = preprocess_physionet2012(subset="all", rate=0.1)

2024-11-11 21:20:29 [INFO]: You're using dataset physionet_2012, please cite it properly in your work. You can find its reference information at the below link:
https://github.com/WenjieDu/TSDB/tree/main/dataset_profiles/physionet_2012
2024-11-11 21:20:29 [INFO]: Dataset physionet_2012 has already been downloaded. Processing directly...
2024-11-11 21:20:29 [INFO]: Dataset physionet_2012 has already been cached. Loading from cache directly...
2024-11-11 21:20:29 [INFO]: Loaded successfully!

<h3>Training data</h3>

<h4>Loading training dataset</h4>

In [146]:
train_X = physionet2012_dataset['train_X']

In [147]:
training_female_gender = train_X[train_X["Gender"] == 0.0]
training_female_gender_ids = training_female_gender["RecordID"]
female_gender_measurements_training = train_X[train_X["RecordID"].isin(training_female_gender_ids)]
female_gender_measurements_training = female_gender_measurements_training.count()
female_gender_measurements_training

RecordID       164304
level_1        164304
Time           164304
ALP              2667
ALT              2740
AST              2737
Age            154822
Albumin          2118
BUN             11796
Bilirubin        2779
Cholesterol       258
Creatinine      11846
DiasABP         85269
FiO2            25300
GCS             52956
Gender           3423
Glucose         11235
HCO3            11599
HCT             14986
HR             148745
Height         154822
ICUType          3423
K               12414
Lactate          6437
MAP             84775
MechVent        24854
Mg              11514
NIDiasABP       72449
NIMAP           71402
NISysABP        72512
Na              11696
PaCO2           17562
PaO2            17528
Platelets       11669
RespRate        43511
SaO2             6025
SysABP          85277
Temp            58896
TroponinI         352
TroponinT        1732
Urine          114825
WBC             10863
Weight          88881
pH              18212
dtype: int64

In [148]:
training_male_gender = train_X[train_X['Gender'] == 1.0]
training_male_gender_ids = training_male_gender["RecordID"]
male_gender_measurements_training = train_X[train_X["RecordID"].isin(training_male_gender_ids)]
male_gender_measurements_training  = male_gender_measurements_training.count()
male_gender_measurements_training

RecordID       203568
level_1        203568
Time           203568
ALP              3328
ALT              3422
AST              3424
Age            191656
Albumin          2515
BUN             14810
Bilirubin        3450
Cholesterol       349
Creatinine      14874
DiasABP        114711
FiO2            32573
GCS             64866
Gender           4241
Glucose         13810
HCO3            14442
HCT             20002
HR             183235
Height         191656
ICUType          4241
K               15389
Lactate          8801
MAP            114059
MechVent        30994
Mg              14483
NIDiasABP       82070
NIMAP           81043
NISysABP        82147
Na              14350
PaCO2           25141
PaO2            25088
Platelets       15455
RespRate        44795
SaO2             8814
SysABP         114721
Temp            78543
TroponinI         378
TroponinT        2252
Urine          140777
WBC             13922
Weight         107114
pH              26415
dtype: int64

In [149]:
training_undefined_gender = train_X[train_X['Gender'] == -1.0]
undefined_gender_training_ids = training_undefined_gender['RecordID']
undefined_gender_measurements_training = train_X[train_X["RecordID"].isin(undefined_gender_training_ids)]
undefined_gender_measurements_training = undefined_gender_measurements_training.count()
undefined_gender_measurements_training

RecordID       336
level_1        336
Time           336
ALP              5
ALT              6
AST              6
Age            242
Albumin          5
BUN             25
Bilirubin        5
Cholesterol      0
Creatinine      25
DiasABP        203
FiO2            39
GCS             62
Gender           7
Glucose         25
HCO3            25
HCT             23
HR             232
Height         242
ICUType          7
K               26
Lactate         28
MAP            199
MechVent        37
Mg              23
NIDiasABP       61
NIMAP           61
NISysABP        61
Na              24
PaCO2           45
PaO2            45
Platelets       23
RespRate        46
SaO2             3
SysABP         203
Temp           102
TroponinI        0
TroponinT        6
Urine          144
WBC             22
Weight         176
pH              49
dtype: int64

In [150]:
training_ICUType_1 = train_X[train_X['ICUType'] == 1.0]
training_ICUType_1 = training_ICUType_1[training_ICUType_1["Time"] == 0.0]
training_ICUType_1_ids = training_ICUType_1["RecordID"]
ICUType_1_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_1_ids)]
ICUType_1_measurements_training = ICUType_1_measurements_training.count() 
ICUType_1_measurements_training

RecordID       51984
level_1        51984
Time           51984
ALP              787
ALT              833
AST              831
Age            47727
Albumin          604
BUN             3736
Bilirubin        827
Cholesterol      321
Creatinine      3795
DiasABP        21481
FiO2            5654
GCS            13251
Gender          1083
Glucose         3583
HCO3            3622
HCT             4546
HR             45468
Height         47727
ICUType         1083
K               4318
Lactate         1204
MAP            21392
MechVent        5248
Mg              3706
NIDiasABP      25253
NIMAP          25128
NISysABP       25273
Na              3599
PaCO2           4237
PaO2            4239
Platelets       3746
RespRate       18437
SaO2            2583
SysABP         21483
Temp           15739
TroponinI        166
TroponinT       1144
Urine          29675
WBC             3384
Weight         23313
pH              4320
dtype: int64

In [151]:
training_ICUType_2 = train_X[train_X['ICUType'] == 2.0]
training_ICUType_2 = training_ICUType_2[training_ICUType_2["Time"] == 0.0]
training_ICUType2_ids = training_ICUType_2["RecordID"]
ICUType_2_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType2_ids)]
ICUType_2_measurements_training = ICUType_2_measurements_training.count() 
ICUType_2_measurements_training

RecordID       79008
level_1        79008
Time           79008
ALP              557
ALT              577
AST              575
Age            76407
Albumin          377
BUN             5157
Bilirubin        563
Cholesterol       25
Creatinine      5170
DiasABP        62277
FiO2           13462
GCS            21005
Gender          1646
Glucose         3675
HCO3            4755
HCT             8582
HR             72591
Height         76407
ICUType         1646
K               4168
Lactate         2758
MAP            62362
MechVent       13344
Mg              4896
NIDiasABP      16827
NIMAP          16657
NISysABP       16861
Na              3991
PaCO2          16072
PaO2           16015
Platelets       6388
RespRate        3298
SaO2            8526
SysABP         62278
Temp           46505
TroponinI         85
TroponinT        179
Urine          66621
WBC             5301
Weight         40792
pH             17586
dtype: int64

In [152]:
training_ICUType_3 = train_X[train_X['ICUType'] == 3.0]
training_ICUType_3 = training_ICUType_3[training_ICUType_3["Time"] == 0.0]
training_ICUType_3_ids = training_ICUType_3["RecordID"]
ICUType_3_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_3_ids)]
ICUType_3_measurements_training = ICUType_3_measurements_training.count() 
ICUType_3_measurements_training

RecordID       131808
level_1        131808
Time           131808
ALP              2837
ALT              2914
AST              2916
Age            122256
Albumin          2207
BUN              9908
Bilirubin        3029
Cholesterol       135
Creatinine       9944
DiasABP         46731
FiO2            19333
GCS             35157
Gender           2746
Glucose          9890
HCO3             9927
HCT             11708
HR             117744
Height         122256
ICUType          2746
K               10747
Lactate          5209
MAP             46138
MechVent        18069
Mg               9389
NIDiasABP       74975
NIMAP           73664
NISysABP        75019
Na              10134
PaCO2           10074
PaO2            10083
Platelets        9076
RespRate        40804
SaO2             1606
SysABP          46739
Temp            37865
TroponinI         317
TroponinT        1847
Urine           79859
WBC              8702
Weight          86253
pH              10234
dtype: int64

In [153]:
training_ICUType_4 = train_X[train_X['ICUType'] == 4.0]
training_ICUType_4 = training_ICUType_4[training_ICUType_4["Time"] == 0.0]
training_ICUType_4_ids = training_ICUType_4["RecordID"]
ICUType_4_measurements_training = train_X[train_X["RecordID"].isin(training_ICUType_4_ids)]
ICUType_4_measurements_training = ICUType_4_measurements_training.count() 
ICUType_4_measurements_training

RecordID       105408
level_1        105408
Time           105408
ALP              1819
ALT              1844
AST              1845
Age            100330
Albumin          1450
BUN              7830
Bilirubin        1815
Cholesterol       126
Creatinine       7836
DiasABP         69694
FiO2            19463
GCS             48471
Gender           2196
Glucose          7922
HCO3             7762
HCT             10175
HR              96409
Height         100330
ICUType          2196
K                8596
Lactate          6095
MAP             69141
MechVent        19224
Mg               8029
NIDiasABP       37525
NIMAP           37057
NISysABP        37567
Na               8346
PaCO2           12365
PaO2            12324
Platelets        7937
RespRate        25813
SaO2             2127
SysABP          69701
Temp            37432
TroponinI         162
TroponinT         820
Urine           79591
WBC              7420
Weight          45813
pH              12536
dtype: int64

In [154]:
age_65_and_above_training = train_X[train_X["Age"] >= 65]
age_65_and_above_training = age_65_and_above_training[age_65_and_above_training ["Time"] == 0.0]
age_65_and_above_training_ids = age_65_and_above_training ["RecordID"]
age_65_and_above_measurements_training = train_X[train_X["RecordID"].isin(age_65_and_above_training_ids)]
age_65_and_above_measurements_training = age_65_and_above_measurements_training.count()
age_65_and_above_measurements_training

RecordID       202848
level_1        202848
Time           202848
ALP              2802
ALT              2867
AST              2874
Age            191770
Albumin          2295
BUN             14417
Bilirubin        2928
Cholesterol       371
Creatinine      14495
DiasABP        112515
FiO2            32028
GCS             62862
Gender           4226
Glucose         13375
HCO3            14104
HCT             19243
HR             184183
Height         191770
ICUType          4226
K               14962
Lactate          8180
MAP            111966
MechVent        30332
Mg              14139
NIDiasABP       84822
NIMAP           83843
NISysABP        84896
Na              13969
PaCO2           24088
PaO2            24046
Platelets       14770
RespRate        49203
SaO2             9332
SysABP         112523
Temp            79046
TroponinI         499
TroponinT        2850
Urine          144585
WBC             13460
Weight         108883
pH              25212
dtype: int64

In [155]:
# Motivação para o teste: A quantidade de valores no grupo de idade que estava na tabela, era muito maior do que a quantidade de 
# valores para o grupo de gênero, o que não fazia sentido, pois, já que não temos dados faltantes dessas variáveis em ambos os grupos
# se gênero tem n ocorrências, idade deve ter n ocorrências também, e vice-versa. 

# Descoberta: Através do teste, vimos que tinha casos em que o valor do campo idade, se repete durante a série temporal do paciente, e visto isso, nós ajustamos o código para pegar apenas a primeira ocorrência de valor para cada recordID.
# Também descobrimos que, como estamos filtrando apenas os gêneros female e male e há um campo para gênero indefinido, o grupo de Age estava pegando as idades desse campo de gênero indefinido também, o que estava fazendo com que 
# a soma total de ocorrências para o grupo de Age estivesse maior do que para o grupo de Gender.

# teste2 = train_X[train_X['Age'] >= 65]
# teste2["RecordID"].value_counts()

In [156]:
age_under_65_training  = train_X[train_X["Age"] < 65]
age_under_65_training  = age_under_65_training[age_under_65_training["Time"] == 0.0]
age_under_65_training_ids = age_under_65_training["RecordID"]
age_under_65_measurements_training = train_X[train_X["RecordID"].isin(age_under_65_training_ids)]
age_under_65_measurements_training  = age_under_65_measurements_training .count()
age_under_65_measurements_training

RecordID       165360
level_1        165360
Time           165360
ALP              3198
ALT              3301
AST              3293
Age            154950
Albumin          2343
BUN             12214
Bilirubin        3306
Cholesterol       236
Creatinine      12250
DiasABP         87668
FiO2            25884
GCS             55022
Gender           3445
Glucose         11695
HCO3            11962
HCT             15768
HR             148029
Height         154950
ICUType          3445
K               12867
Lactate          7086
MAP             87067
MechVent        25553
Mg              11881
NIDiasABP       69758
NIMAP           68663
NISysABP        69824
Na              12101
PaCO2           18660
PaO2            18615
Platelets       12377
RespRate        39149
SaO2             5510
SysABP          87678
Temp            58495
TroponinI         231
TroponinT        1140
Urine          111161
WBC             11347
Weight          87288
pH              19464
dtype: int64

In [157]:
filtered_train_X = train_X[(train_X['Height'] != -1) & (train_X['Weight'] != -1) & (train_X['Height'].notna()) & (train_X['Weight'].notna())]

In [158]:
def classify_BMI(BMI):
    if BMI <= 18.5:
        return "Baixo peso"
    elif BMI >= 18.6 and BMI <= 24.9:
        return "Peso normal"
    elif BMI >= 25 and BMI <= 29.9:
        return "Sobrepeso"
    elif BMI >= 30 and BMI <= 34.9:
        return "Obesidade grau 1"
    elif BMI >= 35 and BMI <= 39.9:
        return "Obesidade grau 2"
    elif BMI >= 40:
        return "Obesidade grau 3"

In [159]:
filtered_train_X_meters = filtered_train_X.copy()
filtered_train_X_meters['Height'] = filtered_train_X['Height'] / 100 # Converting Height from cm to meters
filtered_train_X_meters['Height']

48        1.753
67        1.753
68        1.753
69        1.753
70        1.753
          ...
575321    1.727
575322    1.727
575323    1.727
575325    1.727
575327    1.727
Name: Height, Length: 102982, dtype: float64

In [160]:
bmi_data_train = filtered_train_X_meters
bmi_data_train["BMI"] = round(filtered_train_X_meters["Weight"] / (filtered_train_X_meters["Height"] ** 2), 1)
bmi_data_train["Classificacao"] = bmi_data_train["BMI"].apply(classify_BMI)
bmi_data_train.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
48,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,76.0,7.45,24.7,Peso normal
67,132540,19,19.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,122.0,37.5,NaN,NaN,50.0,NaN,80.6,NaN,26.2,Sobrepeso
68,132540,20,20.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,107.0,37.4,NaN,NaN,380.0,NaN,80.6,NaN,26.2,Sobrepeso
69,132540,21,21.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,121.0,37.5,NaN,NaN,170.0,NaN,80.6,NaN,26.2,Sobrepeso
70,132540,22,22.0,NaN,NaN,NaN,76.0,NaN,NaN,NaN,...,128.0,37.5,NaN,NaN,130.0,NaN,80.6,NaN,26.2,Sobrepeso

In [161]:
bmi_data_train = bmi_data_train.groupby("RecordID").first().reset_index()
bmi_data_train

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
0,132540,0,0.0,NaN,NaN,NaN,76.0,NaN,21.0,NaN,...,122.00,37.5,NaN,NaN,50.0,13.3,76.0,7.45,24.7,Peso normal
1,132547,0,0.0,NaN,NaN,NaN,64.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,114.0,NaN,35.1,Obesidade grau 2
2,132551,0,0.0,47.0,46.0,82.0,78.0,1.9,81.0,0.3,...,102.75,38.0,3.5,NaN,120.0,16.1,48.4,7.40,18.3,Baixo peso
3,132567,0,0.0,NaN,NaN,NaN,71.0,NaN,9.0,NaN,...,111.50,35.6,NaN,NaN,15.0,9.0,56.0,7.44,22.6,Peso normal
4,132568,0,0.0,NaN,NaN,NaN,66.0,NaN,18.0,NaN,...,NaN,36.1,NaN,NaN,220.0,14.8,84.5,NaN,34.1,Obesidade grau 1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4021,163008,0,0.0,NaN,NaN,NaN,59.0,NaN,24.0,NaN,...,97.00,37.6,NaN,NaN,45.0,6.9,98.5,7.38,34.0,Obesidade grau 1
4022,163016,0,0.0,NaN,27.0,120.0,65.0,NaN,29.0,0.4,...,101.00,38.1,NaN,NaN,75.0,8.0,63.6,7.37,24.8,Peso normal
4023,163021,0,0.0,NaN,NaN,NaN,72.0,NaN,9.0,NaN,...,NaN,NaN,NaN,NaN,NaN,8.6,62.0,NaN,20.8,Peso normal
4024,163029,0,0.0,NaN,NaN,NaN,61.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,85.0,NaN,28.5,Sobrepeso
4025,163034,0,0.0,NaN,NaN,NaN,60.0,NaN,15.0,NaN,...,103.00,37.9,NaN,NaN,160.0,6.1,85.0,7.43,28.5,Sobrepeso

In [162]:
bmi_data_train["Classificacao"].value_counts()

Classificacao
Sobrepeso           1384
Peso normal         1203
Obesidade grau 1     725
Obesidade grau 2     306
Obesidade grau 3     285
Baixo peso           123
Name: count, dtype: int64

In [163]:
classification_undefined_training_ids = bmi_data_train["RecordID"]
classification_undefined_measurements_training = train_X[~train_X["RecordID"].isin(classification_undefined_training_ids)]
classification_undefined_measurements_training = classification_undefined_measurements_training.count()
classification_undefined_measurements_training

RecordID       174960
level_1        174960
Time           174960
ALP              2897
ALT              2990
AST              2995
Age            161368
Albumin          2357
BUN             12236
Bilirubin        3046
Cholesterol       273
Creatinine      12295
DiasABP         69590
FiO2            24232
GCS             58188
Gender           3645
Glucose         12238
HCO3            12168
HCT             14913
HR             154984
Height         161368
ICUType          3645
K               13430
Lactate          5986
MAP             68872
MechVent        22528
Mg              11922
NIDiasABP       92929
NIMAP           91517
NISysABP        92999
Na              12689
PaCO2           12507
PaO2            12476
Platelets       11445
RespRate        58660
SaO2             1998
SysABP          69601
Temp            46970
TroponinI         269
TroponinT        2123
Urine          111099
WBC             10967
Weight          93189
pH              12725
dtype: int64

In [164]:
classification_low_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Baixo peso']
classification_low_weight_training_ids = classification_low_weight_training["RecordID"]
classification_measurements_l_w_t = train_X[train_X["RecordID"].isin(classification_low_weight_training_ids)]
classification_measurements_l_w_t = classification_measurements_l_w_t.count() 
classification_measurements_l_w_t

RecordID       5904
level_1        5904
Time           5904
ALP              84
ALT              85
AST              85
Age            5634
Albumin          65
BUN             443
Bilirubin        87
Cholesterol       8
Creatinine      445
DiasABP        3790
FiO2           1008
GCS            1819
Gender          123
Glucose         424
HCO3            440
HCT             560
HR             5407
Height         5634
ICUType         123
K               463
Lactate         274
MAP            3788
MechVent       1015
Mg              430
NIDiasABP      2017
NIMAP          1998
NISysABP       2018
Na              436
PaCO2           792
PaO2            801
Platelets       444
RespRate       1043
SaO2            314
SysABP         3791
Temp           2371
TroponinI        21
TroponinT        65
Urine          4132
WBC             401
Weight         3157
pH              834
dtype: int64

In [165]:
classification_normal_weight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Peso normal']
classification_normal_weight_training_ids = classification_normal_weight_training["RecordID"]
classification_measurements_n_w_t = train_X[train_X["RecordID"].isin(classification_normal_weight_training_ids)]
classification_measurements_n_w_t = classification_measurements_n_w_t.count() 
classification_measurements_n_w_t

RecordID       57744
level_1        57744
Time           57744
ALP              914
ALT              940
AST              938
Age            55420
Albumin          723
BUN             4230
Bilirubin        939
Cholesterol      109
Creatinine      4243
DiasABP        38526
FiO2            9781
GCS            18472
Gender          1203
Glucose         3837
HCO3            4098
HCT             5951
HR             53017
Height         55420
ICUType         1203
K               4335
Lactate         2666
MAP            38365
MechVent        9791
Mg              4215
NIDiasABP      19189
NIMAP          19063
NISysABP       19210
Na              4011
PaCO2           8485
PaO2            8456
Platelets       4701
RespRate        9629
SaO2            3422
SysABP         38526
Temp           26318
TroponinI        150
TroponinT        529
Urine          42664
WBC             4132
Weight         28886
pH              9022
dtype: int64

In [166]:
classification_overweight_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Sobrepeso']
classification_overweight_training_ids = classification_overweight_training['RecordID']
classification_measurements_o_w_t = train_X[train_X["RecordID"].isin(classification_overweight_training_ids)]
classification_measurements_o_w_t = classification_measurements_o_w_t.count() 
classification_measurements_o_w_t

RecordID       66432
level_1        66432
Time           66432
ALP             1112
ALT             1131
AST             1129
Age            63650
Albumin          779
BUN             5008
Bilirubin       1141
Cholesterol      115
Creatinine      5036
DiasABP        45560
FiO2           11358
GCS            20377
Gender          1384
Glucose         4400
HCO3            4827
HCT             7127
HR             60687
Height         63650
ICUType         1384
K               4909
Lactate         3174
MAP            45446
MechVent       11334
Mg              4888
NIDiasABP      20678
NIMAP          20413
NISysABP       20703
Na              4571
PaCO2          10606
PaO2           10577
Platelets       5540
RespRate        9826
SaO2            4655
SysABP         45564
Temp           32024
TroponinI        157
TroponinT        606
Urine          49580
WBC             4850
Weight         35411
pH             11229
dtype: int64

In [167]:
classification_obesity_grade1_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_training_ids = classification_obesity_grade1_training["RecordID"]
classification_measurements_ob1_t = train_X[train_X["RecordID"].isin(classification_obesity_grade1_training_ids)]
classification_measurements_ob1_t  = classification_measurements_ob1_t .count() 
classification_measurements_ob1_t

RecordID       34800
level_1        34800
Time           34800
ALP              526
ALT              543
AST              541
Age            33452
Albumin          384
BUN             2562
Bilirubin        544
Cholesterol       49
Creatinine      2567
DiasABP        23909
FiO2            6114
GCS            10662
Gender           725
Glucose         2262
HCO3            2447
HCT             3593
HR             32014
Height         33452
ICUType          725
K               2558
Lactate         1650
MAP            23767
MechVent        5983
Mg              2472
NIDiasABP      10834
NIMAP          10731
NISysABP       10846
Na              2363
PaCO2           5645
PaO2            5638
Platelets       2763
RespRate        4925
SaO2            2383
SysABP         23909
Temp           16757
TroponinI         78
TroponinT        341
Urine          26911
WBC             2412
Weight         18722
pH              5982
dtype: int64

In [168]:
classification_obesity_grade2_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_training_ids = classification_obesity_grade2_training["RecordID"]
classification_measurements_ob2_t = train_X[train_X["RecordID"].isin(classification_obesity_grade2_training_ids)]
classification_measurements_ob2_t = classification_measurements_ob2_t.count() 
classification_measurements_ob2_t

RecordID       14688
level_1        14688
Time           14688
ALP              237
ALT              241
AST              242
Age            14055
Albumin          170
BUN             1137
Bilirubin        242
Cholesterol       25
Creatinine      1145
DiasABP        10051
FiO2            2762
GCS             4389
Gender           306
Glucose         1010
HCO3            1103
HCT             1549
HR             13481
Height         14055
ICUType          306
K               1130
Lactate          784
MAP            10020
MechVent        2631
Mg              1088
NIDiasABP       4431
NIMAP           4354
NISysABP        4433
Na              1063
PaCO2           2455
PaO2            2452
Platelets       1224
RespRate        2305
SaO2            1083
SysABP         10053
Temp            7096
TroponinI         28
TroponinT        165
Urine          11041
WBC             1101
Weight          8711
pH              2545
dtype: int64

In [169]:
classification_obesity_grade3_training = bmi_data_train[bmi_data_train["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_training_ids = classification_obesity_grade3_training["RecordID"]
classification_measurements_ob3_t = train_X[train_X["RecordID"].isin(classification_obesity_grade3_training_ids)]
classification_measurements_ob3_t = classification_measurements_ob3_t.count() 
classification_measurements_ob3_t

RecordID       13680
level_1        13680
Time           13680
ALP              230
ALT              238
AST              237
Age            13141
Albumin          160
BUN             1015
Bilirubin        235
Cholesterol       28
Creatinine      1014
DiasABP         8757
FiO2            2657
GCS             3977
Gender           285
Glucose          899
HCO3             983
HCT             1318
HR             12622
Height         13141
ICUType          285
K               1004
Lactate          732
MAP             8775
MechVent        2603
Mg              1005
NIDiasABP       4502
NIMAP           4430
NISysABP        4511
Na               937
PaCO2           2258
PaO2            2261
Platelets       1030
RespRate        1964
SaO2             987
SysABP          8757
Temp            6005
TroponinI         27
TroponinT        161
Urine          10319
WBC              944
Weight          8095
pH              2339
dtype: int64

In [170]:
df_columns = train_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [171]:
df_train = pd.DataFrame(columns=df_columns)
df_train_transpose = df_train.T
df_train_transpose["Female"] = female_gender_measurements_training
df_train_transpose["Male"] = male_gender_measurements_training
df_train_transpose["Undefined Gender"] = undefined_gender_measurements_training
df_train_transpose["ICUType 1"] = ICUType_1_measurements_training 
df_train_transpose["ICUType 2"] = ICUType_2_measurements_training 
df_train_transpose["ICUType 3"] = ICUType_3_measurements_training 
df_train_transpose["ICUType 4"] = ICUType_4_measurements_training 
df_train_transpose["Age 65+"] = age_65_and_above_measurements_training
df_train_transpose["Age 65-"] = age_under_65_measurements_training 
df_train_transpose['Undefined Classification'] = classification_undefined_measurements_training
df_train_transpose['Low Weight'] = classification_measurements_l_w_t 
df_train_transpose['Normal Weight'] = classification_measurements_n_w_t 
df_train_transpose['Overweight'] = classification_measurements_o_w_t 
df_train_transpose['Obesity Grade 1'] = classification_measurements_ob1_t 
df_train_transpose['Obesity Grade 2'] = classification_measurements_ob2_t 
df_train_transpose['Obesity Grade 3'] = classification_measurements_ob3_t 
df_train_transpose = df_train_transpose.drop('RecordID',axis=0)
df_train_transpose = df_train_transpose.drop('level_1',axis=0)
df_train_transpose = df_train_transpose.drop('Time',axis=0)
df_train_transpose = df_train_transpose.drop('Age',axis=0)
df_train_transpose = df_train_transpose.drop('Gender',axis=0)
df_train_transpose = df_train_transpose.drop('Height',axis=0)
df_train_transpose = df_train_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Train Set</h2>"))
df_train_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,2667,3328,5,787,557,2837,1819,2802,3198,2897,84,914,1112,526,237,230
ALT,2740,3422,6,833,577,2914,1844,2867,3301,2990,85,940,1131,543,241,238
AST,2737,3424,6,831,575,2916,1845,2874,3293,2995,85,938,1129,541,242,237
Albumin,2118,2515,5,604,377,2207,1450,2295,2343,2357,65,723,779,384,170,160
BUN,11796,14810,25,3736,5157,9908,7830,14417,12214,12236,443,4230,5008,2562,1137,1015
Bilirubin,2779,3450,5,827,563,3029,1815,2928,3306,3046,87,939,1141,544,242,235
Cholesterol,258,349,0,321,25,135,126,371,236,273,8,109,115,49,25,28
Creatinine,11846,14874,25,3795,5170,9944,7836,14495,12250,12295,445,4243,5036,2567,1145,1014
DiasABP,85269,114711,203,21481,62277,46731,69694,112515,87668,69590,3790,38526,45560,23909,10051,8757
FiO2,25300,32573,39,5654,13462,19333,19463,32028,25884,24232,1008,9781,11358,6114,2762,2657
GCS,52956,64866,62,13251,21005,35157,48471,62862,55022,58188,1819,18472,20377,10662,4389,3977
Glucose,11235,13810,25,3583,3675,9890,7922,13375,11695,12238,424,3837,4400,2262,1010,899
HCO3,11599,14442,25,3622,4755,9927,7762,14104,11962,12168,440,4098,4827,2447,1103,983
HCT,14986,20002,23,4546,8582,11708,10175,19243,15768,14913,560,5951,7127,3593,1549,1318
HR,148745,183235,232,45468,72591,117744,96409,184183,148029,154984,5407,53017,60687,32014,13481,12622
K,12414,15389,26,4318,4168,10747,8596,14962,12867,13430,463,4335,4909,2558,1130,1004
Lactate,6437,8801,28,1204,2758,5209,6095,8180,7086,5986,274,2666,3174,1650,784,732
MAP,84775,114059,199,21392,62362,46138,69141,111966,87067,68872,3788,38365,45446,23767,10020,8775
MechVent,24854,30994,37,5248,13344,18069,19224,30332,25553,22528,1015,9791,11334,5983,2631,2603
Mg,11514,14483,23,3706,4896,9389,8029,14139,11881,11922,430,4215,4888,2472,1088,1005
NIDiasABP,72449,82070,61,25253,16827,74975,37525,84822,69758,92929,2017,19189,20678,10834,4431,4502
NIMAP,71402,81043,61,25128,16657,73664,37057,83843,68663,91517,1998,19063,20413,10731,4354,4430
NISysABP,72512,82147,61,25273,16861,75019,37567,84896,69824,92999,2018,19210,20703,10846,4433,4511
Na,11696,14350,24,3599,3991,10134,8346,13969,12101,12689,436,4011,4571,2363,1063,937
PaCO2,17562,25141,45,4237,16072,10074,12365,24088,18660,12507,792,8485,10606,5645,2455,2258
PaO2,17528,25088,45,4239,16015,10083,12324,24046,18615,12476,801,8456,10577,5638,2452,2261
Platelets,11669,15455,23,3746,6388,9076,7937,14770,12377,11445,444,4701,5540,2763,1224,1030
RespRate,43511,44795,46,18437,3298,40804,25813,49203,39149,58660,1043,9629,9826,4925,2305,1964
SaO2,6025,8814,3,2583,8526,1606,2127,9332,5510,1998,314,3422,4655,2383,1083,987
SysABP,85277,114721,203,21483,62278,46739,69701,112523,87678,69601,3791,38526,45564,23909,10053,8757
Temp,58896,78543,102,15739,46505,37865,37432,79046,58495,46970,2371,26318,32024,16757,7096,6005
TroponinI,352,378,0,166,85,317,162,499,231,269,21,150,157,78,28,27
TroponinT,1732,2252,6,1144,179,1847,820,2850,1140,2123,65,529,606,341,165,161
Urine,114825,140777,144,29675,66621,79859,79591,144585,111161,111099,4132,42664,49580,26911,11041,10319
WBC,10863,13922,22,3384,5301,8702,7420,13460,11347,10967,401,4132,4850,2412,1101,944
Weight,88881,107114,176,23313,40792,86253,45813,108883,87288,93189,3157,28886,35411,18722,8711,8095
pH,18212,26415,49,4320,17586,10234,12536,25212,19464,12725,834,9022,11229,5982,2545,2339

<h3>Validation data</h3>

<h4>Loading validation dataset</h4>

In [172]:
validation_X = physionet2012_dataset['val_X']

In [173]:
validation_female_gender = validation_X[validation_X['Gender'] == 0.0]
validation_female_gender_ids = validation_female_gender["RecordID"]
female_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_female_gender_ids)]
female_gender_measurements_validation = female_gender_measurements_validation.count()
female_gender_measurements_validation

RecordID       39360
level_1        39360
Time           39360
ALP              657
ALT              674
AST              670
Age            37125
Albumin          508
BUN             2818
Bilirubin        685
Cholesterol       79
Creatinine      2825
DiasABP        20394
FiO2            6109
GCS            12930
Gender           820
Glucose         2682
HCO3            2762
HCT             3705
HR             35644
Height         37125
ICUType          820
K               2962
Lactate         1571
MAP            20264
MechVent        5930
Mg              2790
NIDiasABP      17308
NIMAP          17059
NISysABP       17323
Na              2810
PaCO2           4216
PaO2            4214
Platelets       2820
RespRate       10627
SaO2            1491
SysABP         20394
Temp           13780
TroponinI         81
TroponinT        406
Urine          27277
WBC             2616
Weight         20456
pH              4394
dtype: int64

In [174]:
validation_male_gender = validation_X[validation_X['Gender'] == 1.0]
validation_male_gender_ids = validation_male_gender["RecordID"]
male_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_male_gender_ids)]
male_gender_measurements_validation = male_gender_measurements_validation.count()
male_gender_measurements_validation

RecordID       52560
level_1        52560
Time           52560
ALP              926
ALT              946
AST              948
Age            49289
Albumin          691
BUN             3855
Bilirubin        956
Cholesterol      106
Creatinine      3871
DiasABP        29061
FiO2            8372
GCS            16463
Gender          1095
Glucose         3602
HCO3            3767
HCT             5045
HR             47187
Height         49289
ICUType         1095
K               3985
Lactate         2143
MAP            28830
MechVent        7950
Mg              3748
NIDiasABP      21460
NIMAP          21232
NISysABP       21479
Na              3760
PaCO2           6268
PaO2            6261
Platelets       3949
RespRate       11580
SaO2            2120
SysABP         29061
Temp           19915
TroponinI        107
TroponinT        604
Urine          35687
WBC             3574
Weight         27125
pH              6593
dtype: int64

In [175]:
validation_undefined_gender = validation_X[validation_X['Gender'] == -1.0]
validation_undefined_gender_ids = validation_undefined_gender["RecordID"]
undefined_gender_measurements_validation = validation_X[validation_X["RecordID"].isin(validation_undefined_gender_ids)]
undefined_gender_measurements_validation = undefined_gender_measurements_validation.count()
undefined_gender_measurements_validation

RecordID       144
level_1        144
Time           144
ALP              0
ALT              0
AST              0
Age             97
Albumin          0
BUN              4
Bilirubin        0
Cholesterol      0
Creatinine       4
DiasABP          0
FiO2             2
GCS             24
Gender           3
Glucose          4
HCO3             4
HCT              4
HR              94
Height          97
ICUType          3
K                4
Lactate          1
MAP              0
MechVent         7
Mg               3
NIDiasABP       82
NIMAP           82
NISysABP        82
Na               4
PaCO2            3
PaO2             3
Platelets        4
RespRate        47
SaO2             0
SysABP           0
Temp            21
TroponinI        1
TroponinT        0
Urine           68
WBC              4
Weight          88
pH               3
dtype: int64

In [176]:
validation_ICUType_1 = validation_X[validation_X['ICUType'] == 1.0]
validation_ICUType_1 = validation_ICUType_1[validation_ICUType_1['Time'] == 0.0]
validation_ICUType_1_ids = validation_ICUType_1['RecordID']
ICUType_1_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_1_ids)]
ICUType_1_measurements_validation = ICUType_1_measurements_validation.count()
ICUType_1_measurements_validation

RecordID       15408
level_1        15408
Time           15408
ALP              226
ALT              235
AST              234
Age            13999
Albumin          169
BUN             1101
Bilirubin        231
Cholesterol      106
Creatinine      1114
DiasABP         6098
FiO2            1627
GCS             4050
Gender           321
Glucose         1031
HCO3            1055
HCT             1372
HR             13288
Height         13999
ICUType          321
K               1249
Lactate          330
MAP             6093
MechVent        1511
Mg              1068
NIDiasABP       7414
NIMAP           7370
NISysABP        7417
Na              1044
PaCO2           1263
PaO2            1261
Platelets       1129
RespRate        5507
SaO2             736
SysABP          6098
Temp            4715
TroponinI         46
TroponinT        314
Urine           8383
WBC              999
Weight          6278
pH              1294
dtype: int64

In [177]:
validation_ICUType_2 = validation_X[validation_X['ICUType'] == 2.0]
validation_ICUType_2 = validation_ICUType_2[validation_ICUType_2['Time'] == 0.0]
validation_ICUType_2_ids = validation_ICUType_2['RecordID']
ICUType_2_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_2_ids)]
ICUType_2_measurements_validation = ICUType_2_measurements_validation.count()
ICUType_2_measurements_validation

RecordID       18288
level_1        18288
Time           18288
ALP              104
ALT              106
AST              107
Age            17550
Albumin           73
BUN             1152
Bilirubin        103
Cholesterol        5
Creatinine      1150
DiasABP        14012
FiO2            2994
GCS             4725
Gender           381
Glucose          828
HCO3            1072
HCT             2003
HR             16629
Height         17550
ICUType          381
K                946
Lactate          617
MAP            14027
MechVent        2882
Mg              1169
NIDiasABP       4158
NIMAP           4119
NISysABP        4163
Na               901
PaCO2           3571
PaO2            3566
Platelets       1465
RespRate         854
SaO2            1939
SysABP         14012
Temp           10227
TroponinI         22
TroponinT         64
Urine          15129
WBC             1227
Weight          9288
pH              3960
dtype: int64

In [178]:
validation_ICUType_3 = validation_X[validation_X['ICUType'] == 3.0]
validation_ICUType_3 = validation_ICUType_3[validation_ICUType_3['Time'] == 0.0]
validation_ICUType_3_ids = validation_ICUType_3['RecordID']
ICUType_3_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_3_ids)]
ICUType_3_measurements_validation = ICUType_3_measurements_validation.count()
ICUType_3_measurements_validation

RecordID       32160
level_1        32160
Time           32160
ALP              770
ALT              791
AST              790
Age            29972
Albumin          572
BUN             2473
Bilirubin        822
Cholesterol       34
Creatinine      2480
DiasABP        11773
FiO2            5072
GCS             8579
Gender           670
Glucose         2470
HCO3            2486
HCT             2810
HR             28960
Height         29972
ICUType          670
K               2641
Lactate         1223
MAP            11581
MechVent        4628
Mg              2319
NIDiasABP      18238
NIMAP          17973
NISysABP       18252
Na              2538
PaCO2           2600
PaO2            2602
Platelets       2199
RespRate        9673
SaO2             383
SysABP         11773
Temp            9219
TroponinI         83
TroponinT        426
Urine          19725
WBC             2091
Weight         21348
pH              2633
dtype: int64

In [179]:
validation_ICUType_4 = validation_X[validation_X['ICUType'] == 4.0]
validation_ICUType_4 = validation_ICUType_4[validation_ICUType_4['Time'] == 0.0]
validation_ICUType_4_ids = validation_ICUType_4['RecordID']
ICUType_4_measurements_validation = validation_X[validation_X['RecordID'].isin(validation_ICUType_4_ids)]
ICUType_4_measurements_validation = ICUType_4_measurements_validation.count()
ICUType_4_measurements_validation

RecordID       26208
level_1        26208
Time           26208
ALP              483
ALT              488
AST              487
Age            24990
Albumin          385
BUN             1951
Bilirubin        485
Cholesterol       40
Creatinine      1956
DiasABP        17572
FiO2            4790
GCS            12063
Gender           546
Glucose         1959
HCO3            1920
HCT             2569
HR             24048
Height         24990
ICUType          546
K               2115
Lactate         1545
MAP            17393
MechVent        4866
Mg              1985
NIDiasABP       9040
NIMAP           8911
NISysABP        9052
Na              2091
PaCO2           3053
PaO2            3049
Platelets       1980
RespRate        6220
SaO2             553
SysABP         17572
Temp            9555
TroponinI         38
TroponinT        206
Urine          19795
WBC             1877
Weight         10755
pH              3103
dtype: int64

In [180]:
age_65_and_above_validation = validation_X[validation_X['Age'] >= 65]
age_65_and_above_validation = age_65_and_above_validation[age_65_and_above_validation['Time'] == 0.0]
age_65_and_above_validation_ids = age_65_and_above_validation['RecordID']
age_65_and_above_measurements_validation = validation_X[validation_X['RecordID'].isin(age_65_and_above_validation_ids)]
age_65_and_above_measurements_validation = age_65_and_above_measurements_validation.count()
age_65_and_above_measurements_validation

RecordID       49440
level_1        49440
Time           49440
ALP              634
ALT              650
AST              649
Age            46470
Albumin          538
BUN             3444
Bilirubin        656
Cholesterol      110
Creatinine      3455
DiasABP        26059
FiO2            7492
GCS            15134
Gender          1030
Glucose         3185
HCO3            3349
HCT             4599
HR             44523
Height         46470
ICUType         1030
K               3567
Lactate         1732
MAP            25896
MechVent        6996
Mg              3382
NIDiasABP      21272
NIMAP          21057
NISysABP       21293
Na              3309
PaCO2           5453
PaO2            5446
Platelets       3545
RespRate       12692
SaO2            2208
SysABP         26059
Temp           18523
TroponinI        131
TroponinT        697
Urine          34618
WBC             3222
Weight         25892
pH              5746
dtype: int64

In [181]:
age_under_65_validation = validation_X[validation_X['Age'] < 65]
age_under_65_validation = age_under_65_validation[age_under_65_validation['Time'] == 0.0]
age_under_65_validation_ids = age_under_65_validation["RecordID"]
age_under_65__measurements_validation = validation_X[validation_X["RecordID"].isin(age_under_65_validation_ids)]
age_under_65__measurements_validation = age_under_65__measurements_validation.count()
age_under_65__measurements_validation

RecordID       42624
level_1        42624
Time           42624
ALP              949
ALT              970
AST              969
Age            40041
Albumin          661
BUN             3233
Bilirubin        985
Cholesterol       75
Creatinine      3245
DiasABP        23396
FiO2            6991
GCS            14283
Gender           888
Glucose         3103
HCO3            3184
HCT             4155
HR             38402
Height         40041
ICUType          888
K               3384
Lactate         1983
MAP            23198
MechVent        6891
Mg              3159
NIDiasABP      17578
NIMAP          17316
NISysABP       17591
Na              3265
PaCO2           5034
PaO2            5032
Platelets       3228
RespRate        9562
SaO2            1403
SysABP         23396
Temp           15193
TroponinI         58
TroponinT        313
Urine          28414
WBC             2972
Weight         21777
pH              5244
dtype: int64

In [182]:
filtered_validation_X = validation_X[(validation_X['Height'] != -1) & (validation_X['Weight'] != -1) & (validation_X['Height'].notna()) & (validation_X['Weight'].notna())]

In [183]:
filtered_validation_X_meters = filtered_validation_X.copy()
filtered_validation_X_meters['Height'] = filtered_validation_X['Height'] / 100 # Converting Height from cm to meters
filtered_validation_X_meters['Height']

432       1.753
433       1.753
434       1.753
435       1.753
436       1.753
          ...
574460    1.930
574461    1.930
574462    1.930
574463    1.930
574752    1.473
Name: Height, Length: 24653, dtype: float64

In [184]:
bmi_data_validation = filtered_validation_X_meters
bmi_data_validation["BMI"] = filtered_validation_X_meters["Weight"] / (filtered_validation_X_meters["Height"] ** 2)
bmi_data_validation["Classificacao"] = bmi_data_validation["BMI"].apply(classify_BMI)
bmi_data_validation.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
432,132555,0,0.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,98.0,34.80,NaN,NaN,35.0,NaN,66.1,7.39,21.509862,Peso normal
433,132555,1,1.0,NaN,NaN,NaN,74.0,NaN,19.0,NaN,...,112.0,35.30,NaN,NaN,130.0,9.0,66.1,7.41,21.509862,Peso normal
434,132555,2,2.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,104.0,36.05,NaN,NaN,210.0,NaN,66.1,NaN,21.509862,Peso normal
435,132555,3,3.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,114.0,36.20,NaN,NaN,120.0,NaN,66.1,NaN,21.509862,Peso normal
436,132555,4,4.0,NaN,NaN,NaN,74.0,NaN,NaN,NaN,...,111.0,36.10,NaN,NaN,185.0,NaN,66.1,7.29,21.509862,Peso normal

In [185]:
classification_undefined_validation_ids = bmi_data_validation["RecordID"]
classification_undefined_measurements_validation = validation_X[~validation_X["RecordID"].isin(classification_undefined_validation_ids)]
classification_undefined_measurements_validation = classification_undefined_measurements_validation.count()
classification_undefined_measurements_validation

RecordID       44160
level_1        44160
Time           44160
ALP              790
ALT              809
AST              807
Age            40818
Albumin          625
BUN             3147
Bilirubin        821
Cholesterol       83
Creatinine      3160
DiasABP        18028
FiO2            6398
GCS            14845
Gender           920
Glucose         3135
HCO3            3129
HCT             3780
HR             39282
Height         40818
ICUType          920
K               3409
Lactate         1525
MAP            17766
MechVent        5937
Mg              3035
NIDiasABP      23392
NIMAP          23063
NISysABP       23405
Na              3274
PaCO2           3206
PaO2            3201
Platelets       2893
RespRate       14822
SaO2             515
SysABP         18028
Temp           11954
TroponinI         72
TroponinT        565
Urine          28094
WBC             2754
Weight         23016
pH              3250
dtype: int64

In [186]:
classification_low_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Baixo peso']
classification_low_weight_validation_ids = classification_low_weight_validation["RecordID"]
classification_measurements_l_w_v = validation_X[validation_X["RecordID"].isin(classification_low_weight_validation_ids)]
classification_measurements_l_w_v = classification_measurements_l_w_v.count() 
classification_measurements_l_w_v

RecordID       1296
level_1        1296
Time           1296
ALP              13
ALT              12
AST              12
Age            1262
Albumin          14
BUN              85
Bilirubin        14
Cholesterol       0
Creatinine       86
DiasABP         756
FiO2            211
GCS             418
Gender           27
Glucose          85
HCO3             87
HCT             116
HR             1218
Height         1262
ICUType          27
K                98
Lactate          61
MAP             755
MechVent        221
Mg               89
NIDiasABP       576
NIMAP           575
NISysABP        580
Na               86
PaCO2           145
PaO2            144
Platelets        86
RespRate        272
SaO2             34
SysABP          756
Temp            439
TroponinI         2
TroponinT        15
Urine           990
WBC              81
Weight          665
pH              151
dtype: int64

In [187]:
classification_normal_weight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Peso normal']
classification_normal_weight_validation_ids = classification_normal_weight_validation["RecordID"]
classification_measurements_n_w_v = validation_X[validation_X["RecordID"].isin(classification_normal_weight_validation_ids)]
classification_measurements_n_w_v = classification_measurements_n_w_v.count() 
classification_measurements_n_w_v

RecordID       14592
level_1        14592
Time           14592
ALP              216
ALT              223
AST              222
Age            13900
Albumin          152
BUN             1043
Bilirubin        226
Cholesterol       27
Creatinine      1047
DiasABP         9075
FiO2            2340
GCS             4517
Gender           304
Glucose          950
HCO3            1010
HCT             1499
HR             13281
Height         13900
ICUType          304
K               1062
Lactate          647
MAP             9032
MechVent        2365
Mg              1031
NIDiasABP       5031
NIMAP           4992
NISysABP        5034
Na               985
PaCO2           2015
PaO2            2011
Platelets       1137
RespRate        2246
SaO2             836
SysABP          9075
Temp            6240
TroponinI         25
TroponinT        125
Urine          10270
WBC             1024
Weight          7711
pH              2156
dtype: int64

In [188]:
classification_overweight_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Sobrepeso']
classification_overweight_validation_ids = classification_overweight_validation["RecordID"]
classification_measurements_o_w_v = validation_X[validation_X["RecordID"].isin(classification_overweight_validation_ids)]
classification_measurements_o_w_v = classification_measurements_o_w_v.count() 
classification_measurements_o_w_v

RecordID       19632
level_1        19632
Time           19632
ALP              307
ALT              316
AST              317
Age            18826
Albumin          216
BUN             1416
Bilirubin        315
Cholesterol       38
Creatinine      1421
DiasABP        13205
FiO2            3282
GCS             5891
Gender           409
Glucose         1235
HCO3            1347
HCT             2111
HR             17951
Height         18826
ICUType          409
K               1391
Lactate          855
MAP            13176
MechVent        3269
Mg              1446
NIDiasABP       6378
NIMAP           6326
NISysABP        6385
Na              1284
PaCO2           3141
PaO2            3137
Platelets       1650
RespRate        2832
SaO2            1413
SysABP         13205
Temp            9644
TroponinI         49
TroponinT        183
Urine          14723
WBC             1420
Weight         10365
pH              3385
dtype: int64

In [189]:
classification_obesity_grade1_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_validation_ids = classification_obesity_grade1_validation["RecordID"]
classification_measurements_ob1_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade1_validation_ids)]
classification_measurements_ob1_v  = classification_measurements_ob1_v .count() 
classification_measurements_ob1_v

RecordID       11904
level_1        11904
Time           11904
ALP              193
ALT              195
AST              197
Age            11378
Albumin          133
BUN              873
Bilirubin        197
Cholesterol       22
Creatinine       872
DiasABP         8795
FiO2            2107
GCS             3522
Gender           248
Glucose          726
HCO3             829
HCT             1300
HR             10846
Height         11378
ICUType          248
K                822
Lactate          598
MAP             8755
MechVent        2145
Mg               853
NIDiasABP       3002
NIMAP           2961
NISysABP        3006
Na               782
PaCO2           2119
PaO2            2117
Platelets       1007
RespRate        1327
SaO2            1002
SysABP          8795
Temp            6223
TroponinI         28
TroponinT        103
Urine           9174
WBC              867
Weight          6495
pH              2262
dtype: int64

In [190]:
classification_obesity_grade2_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_validation_ids = classification_obesity_grade2_validation["RecordID"]
classification_measurements_ob2_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade2_validation_ids)]
classification_measurements_ob2_v  = classification_measurements_ob2_v .count() 
classification_measurements_ob2_v

RecordID       5040
level_1        5040
Time           5040
ALP              86
ALT              89
AST              89
Age            4843
Albumin          61
BUN             385
Bilirubin        91
Cholesterol      13
Creatinine      388
DiasABP        3655
FiO2            880
GCS            1379
Gender          105
Glucose         313
HCO3            365
HCT             572
HR             4614
Height         4843
ICUType         105
K               351
Lactate         241
MAP            3680
MechVent        812
Mg              376
NIDiasABP      1240
NIMAP          1215
NISysABP       1245
Na              342
PaCO2           893
PaO2            892
Platelets       448
RespRate        677
SaO2            408
SysABP         3655
Temp           2573
TroponinI        11
TroponinT        53
Urine          3795
WBC             389
Weight         2884
pH              947
dtype: int64

In [191]:
classification_obesity_grade3_validation = bmi_data_validation[bmi_data_validation["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_validation_ids = classification_obesity_grade3_validation["RecordID"]
classification_measurements_ob3_v = validation_X[validation_X["RecordID"].isin(classification_obesity_grade3_validation_ids)]
classification_measurements_ob3_v  = classification_measurements_ob3_v .count() 
classification_measurements_ob3_v

RecordID       4560
level_1        4560
Time           4560
ALP              86
ALT              87
AST              86
Age            4374
Albumin          66
BUN             360
Bilirubin        89
Cholesterol       5
Creatinine      362
DiasABP        3362
FiO2           1020
GCS            1294
Gender           95
Glucose         315
HCO3            350
HCT             506
HR             4148
Height         4374
ICUType          95
K               347
Lactate         312
MAP            3362
MechVent        986
Mg              360
NIDiasABP       963
NIMAP           944
NISysABP        966
Na              327
PaCO2           958
PaO2            961
Platelets       392
RespRate        393
SaO2            360
SysABP         3362
Temp           2191
TroponinI         8
TroponinT        24
Urine          3480
WBC             348
Weight         2617
pH              996
dtype: int64

In [192]:
df_columns = validation_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [193]:
df_validation = pd.DataFrame(columns=df_columns)
df_validation_transpose = df_validation.T
df_validation_transpose["Female"] = female_gender_measurements_validation
df_validation_transpose["Male"] = male_gender_measurements_validation
df_validation_transpose["Undefined Gender"] = undefined_gender_measurements_validation
df_validation_transpose["ICUType 1"] = ICUType_1_measurements_validation
df_validation_transpose["ICUType 2"] = ICUType_2_measurements_validation
df_validation_transpose["ICUType 3"] = ICUType_3_measurements_validation
df_validation_transpose["ICUType 4"] = ICUType_4_measurements_validation
df_validation_transpose["Age 65+"] = age_65_and_above_measurements_validation
df_validation_transpose["Age 65-"] = age_under_65__measurements_validation
df_validation_transpose['Undefined Classification'] = classification_undefined_measurements_validation
df_validation_transpose['Low Weight'] = classification_measurements_l_w_v
df_validation_transpose['Normal Weight'] = classification_measurements_n_w_v
df_validation_transpose['Overweight'] = classification_measurements_o_w_v
df_validation_transpose['Obesity Grade 1'] = classification_measurements_ob1_v
df_validation_transpose['Obesity Grade 2'] = classification_measurements_ob2_v
df_validation_transpose['Obesity Grade 3'] = classification_measurements_ob3_v
df_validation_transpose = df_validation_transpose.drop('RecordID',axis=0)
df_validation_transpose = df_validation_transpose.drop('level_1',axis=0)
df_validation_transpose = df_validation_transpose.drop('Time',axis=0)
df_validation_transpose = df_validation_transpose.drop('Age',axis=0)
df_validation_transpose = df_validation_transpose.drop('Gender',axis=0)
df_validation_transpose = df_validation_transpose.drop('Height',axis=0)
df_validation_transpose = df_validation_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Validation Set</h2>"))
df_validation_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,657,926,0,226,104,770,483,634,949,790,13,216,307,193,86,86
ALT,674,946,0,235,106,791,488,650,970,809,12,223,316,195,89,87
AST,670,948,0,234,107,790,487,649,969,807,12,222,317,197,89,86
Albumin,508,691,0,169,73,572,385,538,661,625,14,152,216,133,61,66
BUN,2818,3855,4,1101,1152,2473,1951,3444,3233,3147,85,1043,1416,873,385,360
Bilirubin,685,956,0,231,103,822,485,656,985,821,14,226,315,197,91,89
Cholesterol,79,106,0,106,5,34,40,110,75,83,0,27,38,22,13,5
Creatinine,2825,3871,4,1114,1150,2480,1956,3455,3245,3160,86,1047,1421,872,388,362
DiasABP,20394,29061,0,6098,14012,11773,17572,26059,23396,18028,756,9075,13205,8795,3655,3362
FiO2,6109,8372,2,1627,2994,5072,4790,7492,6991,6398,211,2340,3282,2107,880,1020
GCS,12930,16463,24,4050,4725,8579,12063,15134,14283,14845,418,4517,5891,3522,1379,1294
Glucose,2682,3602,4,1031,828,2470,1959,3185,3103,3135,85,950,1235,726,313,315
HCO3,2762,3767,4,1055,1072,2486,1920,3349,3184,3129,87,1010,1347,829,365,350
HCT,3705,5045,4,1372,2003,2810,2569,4599,4155,3780,116,1499,2111,1300,572,506
HR,35644,47187,94,13288,16629,28960,24048,44523,38402,39282,1218,13281,17951,10846,4614,4148
K,2962,3985,4,1249,946,2641,2115,3567,3384,3409,98,1062,1391,822,351,347
Lactate,1571,2143,1,330,617,1223,1545,1732,1983,1525,61,647,855,598,241,312
MAP,20264,28830,0,6093,14027,11581,17393,25896,23198,17766,755,9032,13176,8755,3680,3362
MechVent,5930,7950,7,1511,2882,4628,4866,6996,6891,5937,221,2365,3269,2145,812,986
Mg,2790,3748,3,1068,1169,2319,1985,3382,3159,3035,89,1031,1446,853,376,360
NIDiasABP,17308,21460,82,7414,4158,18238,9040,21272,17578,23392,576,5031,6378,3002,1240,963
NIMAP,17059,21232,82,7370,4119,17973,8911,21057,17316,23063,575,4992,6326,2961,1215,944
NISysABP,17323,21479,82,7417,4163,18252,9052,21293,17591,23405,580,5034,6385,3006,1245,966
Na,2810,3760,4,1044,901,2538,2091,3309,3265,3274,86,985,1284,782,342,327
PaCO2,4216,6268,3,1263,3571,2600,3053,5453,5034,3206,145,2015,3141,2119,893,958
PaO2,4214,6261,3,1261,3566,2602,3049,5446,5032,3201,144,2011,3137,2117,892,961
Platelets,2820,3949,4,1129,1465,2199,1980,3545,3228,2893,86,1137,1650,1007,448,392
RespRate,10627,11580,47,5507,854,9673,6220,12692,9562,14822,272,2246,2832,1327,677,393
SaO2,1491,2120,0,736,1939,383,553,2208,1403,515,34,836,1413,1002,408,360
SysABP,20394,29061,0,6098,14012,11773,17572,26059,23396,18028,756,9075,13205,8795,3655,3362
Temp,13780,19915,21,4715,10227,9219,9555,18523,15193,11954,439,6240,9644,6223,2573,2191
TroponinI,81,107,1,46,22,83,38,131,58,72,2,25,49,28,11,8
TroponinT,406,604,0,314,64,426,206,697,313,565,15,125,183,103,53,24
Urine,27277,35687,68,8383,15129,19725,19795,34618,28414,28094,990,10270,14723,9174,3795,3480
WBC,2616,3574,4,999,1227,2091,1877,3222,2972,2754,81,1024,1420,867,389,348
Weight,20456,27125,88,6278,9288,21348,10755,25892,21777,23016,665,7711,10365,6495,2884,2617
pH,4394,6593,3,1294,3960,2633,3103,5746,5244,3250,151,2156,3385,2262,947,996

<h3> Test data</h3>

<h4>Loading test dataset</h4>

In [194]:
test_X = physionet2012_dataset['test_X']

In [195]:
test_female_gender = test_X[test_X['Gender'] == 0.0]
test_female_gender_ids = test_female_gender["RecordID"]
female_gender_measurements_test = test_X[test_X["RecordID"].isin(test_female_gender_ids)]
female_gender_measurements_test = female_gender_measurements_test.count()
female_gender_measurements_test

RecordID       48768
level_1        48768
Time           48768
ALP              778
ALT              807
AST              809
Age            45776
Albumin          588
BUN             3607
Bilirubin        809
Cholesterol       78
Creatinine      3624
DiasABP        24794
FiO2            7545
GCS            15638
Gender          1016
Glucose         3471
HCO3            3563
HCT             4530
HR             43948
Height         45776
ICUType         1016
K               3873
Lactate         2014
MAP            24657
MechVent        7273
Mg              3564
NIDiasABP      21468
NIMAP          21091
NISysABP       21485
Na              3595
PaCO2           5277
PaO2            5262
Platelets       3543
RespRate       12955
SaO2            1847
SysABP         24795
Temp           17151
TroponinI        125
TroponinT        551
Urine          33957
WBC             3291
Weight         26341
pH              5453
dtype: int64

In [196]:
test_male_gender = test_X[test_X['Gender'] == 1.0]
test_male_gender_ids = test_male_gender["RecordID"]
male_gender_measurements_test = test_X[test_X["RecordID"].isin(test_male_gender_ids)]
male_gender_measurements_test = male_gender_measurements_test.count()
male_gender_measurements_test

RecordID       66288
level_1        66288
Time           66288
ALP             1064
ALT             1100
AST             1102
Age            62658
Albumin          814
BUN             4747
Bilirubin       1109
Cholesterol      124
Creatinine      4782
DiasABP        37279
FiO2           10379
GCS            21448
Gender          1381
Glucose         4432
HCO3            4615
HCT             6377
HR             59844
Height         62658
ICUType         1381
K               5001
Lactate         2699
MAP            37150
MechVent        9669
Mg              4702
NIDiasABP      27139
NIMAP          26733
NISysABP       27164
Na              4630
PaCO2           7899
PaO2            7890
Platelets       4935
RespRate       14839
SaO2            2823
SysABP         37283
Temp           25193
TroponinI        130
TroponinT        693
Urine          45772
WBC             4443
Weight         33851
pH              8319
dtype: int64

In [197]:
test_undefined_gender = test_X[test_X['Gender'] == -1.0]
test_undefined_gender_ids = test_undefined_gender["RecordID"]
undefined_gender_measurements_test = test_X[test_X["RecordID"].isin(test_undefined_gender_ids)]
undefined_gender_measurements_test = undefined_gender_measurements_test.count()
undefined_gender_measurements_test

RecordID       96
level_1        96
Time           96
ALP             0
ALT             0
AST             0
Age            91
Albumin         0
BUN             8
Bilirubin       0
Cholesterol     0
Creatinine      8
DiasABP        87
FiO2           11
GCS            44
Gender          2
Glucose         8
HCO3            8
HCT             7
HR             87
Height         91
ICUType         2
K               8
Lactate         0
MAP            85
MechVent        7
Mg              8
NIDiasABP      34
NIMAP          34
NISysABP       34
Na              8
PaCO2           8
PaO2            8
Platelets       7
RespRate       42
SaO2            0
SysABP         87
Temp           32
TroponinI       0
TroponinT       3
Urine          71
WBC             7
Weight         36
pH              9
dtype: int64

In [198]:
test_ICUType_1 = test_X[test_X['ICUType'] == 1.0]
test_ICUType_1 = test_ICUType_1[test_ICUType_1['Time'] == 0.0]
test_ICUType_1_ids = test_ICUType_1['RecordID']
ICUType_1_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_1_ids)]
ICUType_1_measurements_test = ICUType_1_measurements_test.count()
ICUType_1_measurements_test

RecordID       17328
level_1        17328
Time           17328
ALP              246
ALT              266
AST              267
Age            15926
Albumin          186
BUN             1216
Bilirubin        252
Cholesterol      111
Creatinine      1245
DiasABP         7422
FiO2            1957
GCS             4568
Gender           361
Glucose         1176
HCO3            1172
HCT             1490
HR             15157
Height         15926
ICUType          361
K               1477
Lactate          382
MAP             7379
MechVent        1828
Mg              1242
NIDiasABP       8040
NIMAP           7995
NISysABP        8045
Na              1179
PaCO2           1496
PaO2            1497
Platelets       1210
RespRate        5928
SaO2             861
SysABP          7422
Temp            4989
TroponinI         45
TroponinT        383
Urine          10105
WBC             1080
Weight          8362
pH              1530
dtype: int64

In [199]:
test_ICUType_2 = test_X[test_X['ICUType'] == 2.0]
test_ICUType_2 = test_ICUType_2[test_ICUType_2['Time'] == 0.0]
test_ICUType_2_ids = test_ICUType_2['RecordID']
ICUType_2_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_2_ids)]
ICUType_2_measurements_test = ICUType_2_measurements_test.count()
ICUType_2_measurements_test

RecordID       24048
level_1        24048
Time           24048
ALP              196
ALT              198
AST              198
Age            23273
Albumin          115
BUN             1564
Bilirubin        200
Cholesterol        3
Creatinine      1571
DiasABP        18911
FiO2            4127
GCS             6402
Gender           501
Glucose         1169
HCO3            1466
HCT             2646
HR             22087
Height         23273
ICUType          501
K               1316
Lactate          888
MAP            18972
MechVent        3945
Mg              1588
NIDiasABP       5392
NIMAP           5372
NISysABP        5406
Na              1222
PaCO2           4945
PaO2            4930
Platelets       1972
RespRate         993
SaO2            2691
SysABP         18913
Temp           13898
TroponinI         52
TroponinT         64
Urine          20330
WBC             1654
Weight         12834
pH              5404
dtype: int64

In [200]:
test_ICUType_3 = test_X[test_X['ICUType'] == 3.0]
test_ICUType_3 = test_ICUType_3[test_ICUType_3['Time'] == 0.0]
test_ICUType_3_ids = test_ICUType_3['RecordID']
ICUType_3_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_3_ids)]
ICUType_3_measurements_test = ICUType_3_measurements_test.count()
ICUType_3_measurements_test

RecordID       41808
level_1        41808
Time           41808
ALP              846
ALT              875
AST              876
Age            38602
Albumin          655
BUN             3131
Bilirubin        915
Cholesterol       33
Creatinine      3145
DiasABP        14331
FiO2            5823
GCS            11064
Gender           871
Glucose         3127
HCO3            3138
HCT             3717
HR             37030
Height         38602
ICUType          871
K               3402
Lactate         1572
MAP            14135
MechVent        5340
Mg              2930
NIDiasABP      23659
NIMAP          23116
NISysABP       23669
Na              3237
PaCO2           2997
PaO2            2996
Platelets       2824
RespRate       12947
SaO2             483
SysABP         14333
Temp           11867
TroponinI        100
TroponinT        551
Urine          25088
WBC             2699
Weight         25990
pH              3041
dtype: int64

In [201]:
test_ICUType_4 = test_X[test_X['ICUType'] == 4.0]
test_ICUType_4 = test_ICUType_4[test_ICUType_4['Time'] == 0.0]
test_ICUType_4_ids = test_ICUType_4['RecordID']
ICUType_4_measurements_test = test_X[test_X['RecordID'].isin(test_ICUType_4_ids)]
ICUType_4_measurements_test = ICUType_4_measurements_test.count()
ICUType_4_measurements_test

RecordID       31968
level_1        31968
Time           31968
ALP              554
ALT              568
AST              570
Age            30724
Albumin          446
BUN             2451
Bilirubin        551
Cholesterol       55
Creatinine      2453
DiasABP        21496
FiO2            6028
GCS            15096
Gender           666
Glucose         2439
HCO3            2410
HCT             3061
HR             29605
Height         30724
ICUType          666
K               2687
Lactate         1871
MAP            21406
MechVent        5836
Mg              2514
NIDiasABP      11550
NIMAP          11375
NISysABP       11563
Na              2595
PaCO2           3746
PaO2            3737
Platelets       2479
RespRate        7968
SaO2             635
SysABP         21497
Temp           11622
TroponinI         58
TroponinT        249
Urine          24277
WBC             2308
Weight         13042
pH              3806
dtype: int64

In [202]:
age_65_and_above_test= test_X[test_X['Age'] >= 65]
age_65_and_above_test = age_65_and_above_test[age_65_and_above_test['Time'] == 0.0]
age_65_and_above_test_ids = age_65_and_above_test['RecordID']
age_65_and_above_measurements_test= test_X[test_X['RecordID'].isin(age_65_and_above_test_ids)]
age_65_and_above_measurements_test = age_65_and_above_measurements_test.count()
age_65_and_above_measurements_test

RecordID       62352
level_1        62352
Time           62352
ALP              747
ALT              765
AST              767
Age            59023
Albumin          657
BUN             4341
Bilirubin        778
Cholesterol      109
Creatinine      4362
DiasABP        33950
FiO2            9845
GCS            19939
Gender          1299
Glucose         4065
HCO3            4238
HCT             5830
HR             56637
Height         59023
ICUType         1299
K               4599
Lactate         2390
MAP            33835
MechVent        9097
Mg              4346
NIDiasABP      26618
NIMAP          26272
NISysABP       26638
Na              4208
PaCO2           7213
PaO2            7199
Platelets       4397
RespRate       15338
SaO2            2777
SysABP         33953
Temp           23847
TroponinI        187
TroponinT        811
Urine          44164
WBC             4032
Weight         33214
pH              7538
dtype: int64

In [203]:
age_under_65_test = test_X[test_X['Age'] < 65]
age_under_65_test = age_under_65_test[age_under_65_test['Time'] == 0.0]
age_under_65_test_ids = age_under_65_test["RecordID"]
age_under_65_measurements_test = test_X[test_X["RecordID"].isin(age_under_65_test_ids)]
age_under_65_measurements_test = age_under_65_measurements_test.count()
age_under_65_measurements_test

RecordID       52800
level_1        52800
Time           52800
ALP             1095
ALT             1142
AST             1144
Age            49502
Albumin          745
BUN             4021
Bilirubin       1140
Cholesterol       93
Creatinine      4052
DiasABP        28210
FiO2            8090
GCS            17191
Gender          1100
Glucose         3846
HCO3            3948
HCT             5084
HR             47242
Height         49502
ICUType         1100
K               4283
Lactate         2323
MAP            28057
MechVent        7852
Mg              3928
NIDiasABP      22023
NIMAP          21586
NISysABP       22045
Na              4025
PaCO2           5971
PaO2            5961
Platelets       4088
RespRate       12498
SaO2            1893
SysABP         28212
Temp           18529
TroponinI         68
TroponinT        436
Urine          35636
WBC             3709
Weight         27014
pH              6243
dtype: int64

In [204]:
filtered_test_X = test_X[(test_X['Height'] != -1) & (test_X['Weight'] != -1) & (test_X['Height'].notna()) & (test_X['Weight'].notna())]

In [205]:
filtered_test_X_meters = filtered_test_X.copy()
filtered_test_X_meters['Height'] = filtered_test_X['Height'] / 100 # Converting Height from cm to meters
filtered_test_X_meters['Height']

144       1.803
145       1.803
146       1.803
147       1.803
148       1.803
          ...
574987    1.524
574988    1.524
574989    1.524
574990    1.524
574991    1.524
Name: Height, Length: 31164, dtype: float64

In [206]:
bmi_data_test = filtered_test_X_meters
bmi_data_test["BMI"] = filtered_test_X_meters["Weight"] / (filtered_test_X_meters["Height"] ** 2)
bmi_data_test["Classificacao"] = bmi_data_test["BMI"].apply(classify_BMI)
bmi_data_test.head()

,RecordID,level_1,Time,ALP,ALT,AST,Age,Albumin,BUN,Bilirubin,...,SysABP,Temp,TroponinI,TroponinT,Urine,WBC,Weight,pH,BMI,Classificacao
144,132543,0,0.0,105.0,12.0,15.0,68.0,4.4,23.0,0.2,...,NaN,36.3,NaN,NaN,NaN,11.5,84.6,NaN,26.024291,Sobrepeso
145,132543,1,1.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
146,132543,2,2.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
147,132543,3,3.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,36.4,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso
148,132543,4,4.0,NaN,NaN,NaN,68.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,84.6,NaN,26.024291,Sobrepeso

In [207]:
classification_undefined_test_ids = bmi_data_test["RecordID"]
classification_undefined_measurements_test = test_X[~test_X["RecordID"].isin(classification_undefined_test_ids)]
classification_undefined_measurements_test = classification_undefined_measurements_test.count()
classification_undefined_measurements_test

RecordID       55440
level_1        55440
Time           55440
ALP              859
ALT              892
AST              895
Age            51233
Albumin          700
BUN             3927
Bilirubin        891
Cholesterol       99
Creatinine      3953
DiasABP        21857
FiO2            7309
GCS            18585
Gender          1155
Glucose         3909
HCO3            3894
HCT             4721
HR             49222
Height         51233
ICUType         1155
K               4352
Lactate         1802
MAP            21657
MechVent        6650
Mg              3826
NIDiasABP      29693
NIMAP          29165
NISysABP       29712
Na              4114
PaCO2           3722
PaO2            3717
Platelets       3610
RespRate       19616
SaO2             604
SysABP         21860
Temp           14998
TroponinI        110
TroponinT        652
Urine          35093
WBC             3452
Weight         29064
pH              3812
dtype: int64

In [208]:
classification_low_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Baixo peso']
classification_low_weight_test_ids = classification_low_weight_test["RecordID"]
classification_measurements_l_w_test = test_X[test_X["RecordID"].isin(classification_low_weight_test_ids)]
classification_measurements_l_w_test = classification_measurements_l_w_test.count() 
classification_measurements_l_w_test

RecordID       1968
level_1        1968
Time           1968
ALP              42
ALT              44
AST              45
Age            1907
Albumin          30
BUN             156
Bilirubin        42
Cholesterol       7
Creatinine      157
DiasABP        1194
FiO2            312
GCS             629
Gender           41
Glucose         136
HCO3            150
HCT             222
HR             1838
Height         1907
ICUType          41
K               154
Lactate         131
MAP            1228
MechVent        319
Mg              161
NIDiasABP       750
NIMAP           706
NISysABP        750
Na              147
PaCO2           296
PaO2            296
Platelets       169
RespRate        243
SaO2            157
SysABP         1194
Temp            979
TroponinI        12
TroponinT        16
Urine          1441
WBC             153
Weight          972
pH              318
dtype: int64

In [209]:
classification_normal_weight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Peso normal']
classification_normal_weight_test_ids = classification_normal_weight_test["RecordID"]
classification_measurements_n_w_test = test_X[test_X["RecordID"].isin(classification_normal_weight_test_ids)]
classification_measurements_n_w_test = classification_measurements_n_w_test.count() 
classification_measurements_n_w_test

RecordID       18192
level_1        18192
Time           18192
ALP              284
ALT              291
AST              292
Age            17547
Albumin          214
BUN             1360
Bilirubin        291
Cholesterol       24
Creatinine      1367
DiasABP        12151
FiO2            3114
GCS             5955
Gender           379
Glucose         1233
HCO3            1314
HCT             1885
HR             16810
Height         17547
ICUType          379
K               1399
Lactate          914
MAP            12103
MechVent        3019
Mg              1364
NIDiasABP       6019
NIMAP           5928
NISysABP        6028
Na              1275
PaCO2           2777
PaO2            2769
Platelets       1461
RespRate        2574
SaO2            1221
SysABP         12152
Temp            8358
TroponinI         49
TroponinT        183
Urine          13738
WBC             1280
Weight         10235
pH              2941
dtype: int64

In [210]:
classification_overweight_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Sobrepeso']
classification_overweight_test_ids = classification_overweight_test["RecordID"]
classification_measurements_o_w_test = test_X[test_X["RecordID"].isin(classification_overweight_test_ids)]
classification_measurements_o_w_test = classification_measurements_o_w_test.count() 
classification_measurements_o_w_test

RecordID       24528
level_1        24528
Time           24528
ALP              337
ALT              359
AST              358
Age            23497
Albumin          246
BUN             1763
Bilirubin        355
Cholesterol       38
Creatinine      1773
DiasABP        17488
FiO2            4378
GCS             7381
Gender           511
Glucose         1536
HCO3            1694
HCT             2572
HR             22367
Height         23497
ICUType          511
K               1726
Lactate          976
MAP            17498
MechVent        4126
Mg              1774
NIDiasABP       6782
NIMAP           6735
NISysABP        6794
Na              1587
PaCO2           4079
PaO2            4070
Platelets       2027
RespRate        2951
SaO2            1922
SysABP         17490
Temp           11916
TroponinI         62
TroponinT        204
Urine          18787
WBC             1768
Weight         13347
pH              4354
dtype: int64

In [211]:
classification_obesity_grade1_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 1']
classification_obesity_grade1_test_ids = classification_obesity_grade1_test["RecordID"]
classification_measurements_ob1_test = test_X[test_X["RecordID"].isin(classification_obesity_grade1_test_ids)]
classification_measurements_ob1_test = classification_measurements_ob1_test .count() 
classification_measurements_ob1_test

RecordID       16704
level_1        16704
Time           16704
ALP              294
ALT              299
AST              297
Age            16221
Albumin          203
BUN             1265
Bilirubin        300
Cholesterol       23
Creatinine      1275
DiasABP        12171
FiO2            3355
GCS             4925
Gender           348
Glucose         1094
HCO3            1231
HCT             1862
HR             15421
Height         16221
ICUType          348
K               1243
Lactate          907
MAP            12148
MechVent        3223
Mg              1285
NIDiasABP       4728
NIMAP           4679
NISysABP        4735
Na              1140
PaCO2           3154
PaO2            3146
Platelets       1448
RespRate        1453
SaO2            1369
SysABP         12172
Temp            8692
TroponinI         58
TroponinT        151
Urine          13214
WBC             1256
Weight          9272
pH              3327
dtype: int64

In [212]:
classification_obesity_grade2_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 2']
classification_obesity_grade2_test_ids = classification_obesity_grade2_test["RecordID"]
classification_measurements_ob2_test = test_X[test_X["RecordID"].isin(classification_obesity_grade2_test_ids)]
classification_measurements_ob2_test = classification_measurements_ob2_test .count() 
classification_measurements_ob2_test

RecordID       6960
level_1        6960
Time           6960
ALP             138
ALT             137
AST             137
Age            6713
Albumin          87
BUN             526
Bilirubin       144
Cholesterol       7
Creatinine      530
DiasABP        5174
FiO2           1388
GCS            2044
Gender          145
Glucose         450
HCO3            509
HCT             780
HR             6369
Height         6713
ICUType         145
K               510
Lactate         452
MAP            5144
MechVent       1377
Mg              516
NIDiasABP      1868
NIMAP          1844
NISysABP       1869
Na              457
PaCO2          1389
PaO2           1386
Platelets       601
RespRate        605
SaO2            633
SysABP         5174
Temp           3860
TroponinI        13
TroponinT        58
Urine          5431
WBC             525
Weight         3769
pH             1452
dtype: int64

In [213]:
classification_obesity_grade3_test = bmi_data_test[bmi_data_test["Classificacao"] == 'Obesidade grau 3']
classification_obesity_grade3_test_ids = classification_obesity_grade3_test["RecordID"]
classification_measurements_ob3_test = test_X[test_X["RecordID"].isin(classification_obesity_grade3_test_ids)]
classification_measurements_ob3_test = classification_measurements_ob3_test .count() 
classification_measurements_ob3_test

RecordID       5232
level_1        5232
Time           5232
ALP              83
ALT              83
AST              84
Age            4999
Albumin          55
BUN             381
Bilirubin        92
Cholesterol       7
Creatinine      381
DiasABP        3606
FiO2           1047
GCS            1404
Gender          109
Glucose         344
HCO3            364
HCT             503
HR             4754
Height         4999
ICUType         109
K               392
Lactate         292
MAP            3613
MechVent       1060
Mg              378
NIDiasABP      1456
NIMAP          1445
NISysABP       1457
Na              346
PaCO2           936
PaO2            933
Platelets       396
RespRate        588
SaO2            377
SysABP         3606
Temp           2304
TroponinI         2
TroponinT        50
Urine          3957
WBC             335
Weight         2984
pH              971
dtype: int64

In [214]:
df_columns = test_X.columns
df_columns

Index(['RecordID', 'level_1', 'Time', 'ALP', 'ALT', 'AST', 'Age', 'Albumin',
       'BUN', 'Bilirubin', 'Cholesterol', 'Creatinine', 'DiasABP', 'FiO2',
       'GCS', 'Gender', 'Glucose', 'HCO3', 'HCT', 'HR', 'Height', 'ICUType',
       'K', 'Lactate', 'MAP', 'MechVent', 'Mg', 'NIDiasABP', 'NIMAP',
       'NISysABP', 'Na', 'PaCO2', 'PaO2', 'Platelets', 'RespRate', 'SaO2',
       'SysABP', 'Temp', 'TroponinI', 'TroponinT', 'Urine', 'WBC', 'Weight',
       'pH'],
      dtype='object')

In [215]:
df_test = pd.DataFrame(columns=df_columns)
df_test_transpose = df_test.T
df_test_transpose["Female"] = female_gender_measurements_test
df_test_transpose["Male"] = male_gender_measurements_test
df_test_transpose["Undefined Gender"] = undefined_gender_measurements_test
df_test_transpose["ICUType 1"] = ICUType_1_measurements_test
df_test_transpose["ICUType 2"] = ICUType_2_measurements_test
df_test_transpose["ICUType 3"] = ICUType_3_measurements_test
df_test_transpose["ICUType 4"] = ICUType_4_measurements_test
df_test_transpose["Age 65+"] = age_65_and_above_measurements_test
df_test_transpose["Age 65-"] = age_under_65_measurements_test
df_test_transpose['Undefined Classification'] = classification_undefined_measurements_test
df_test_transpose['Low Weight'] = classification_measurements_l_w_test 
df_test_transpose['Normal Weight'] = classification_measurements_n_w_test
df_test_transpose['Overweight'] = classification_measurements_o_w_test
df_test_transpose['Obesity Grade 1'] = classification_measurements_ob1_test 
df_test_transpose['Obesity Grade 2'] = classification_measurements_ob2_test
df_test_transpose['Obesity Grade 3'] = classification_measurements_ob3_test
df_test_transpose = df_test_transpose.drop('RecordID',axis=0)
df_test_transpose = df_test_transpose.drop('level_1',axis=0)
df_test_transpose = df_test_transpose.drop('Time',axis=0)
df_test_transpose = df_test_transpose.drop('Age',axis=0)
df_test_transpose = df_test_transpose.drop('Gender',axis=0)
df_test_transpose = df_test_transpose.drop('Height',axis=0)
df_test_transpose = df_test_transpose.drop('ICUType',axis=0)

#df_test_transpose.style.set_caption("Repeated Measurements per variable by demographics")

display(HTML("<h2 style='text-align: center; font-size: 24px; font-weight: bold;'>Repeated Measurements per Variable by Demographics - Test Set</h2>"))
df_test_transpose

,Female,Male,Undefined Gender,ICUType 1,ICUType 2,ICUType 3,ICUType 4,Age 65+,Age 65-,Undefined Classification,Low Weight,Normal Weight,Overweight,Obesity Grade 1,Obesity Grade 2,Obesity Grade 3
ALP,778,1064,0,246,196,846,554,747,1095,859,42,284,337,294,138,83
ALT,807,1100,0,266,198,875,568,765,1142,892,44,291,359,299,137,83
AST,809,1102,0,267,198,876,570,767,1144,895,45,292,358,297,137,84
Albumin,588,814,0,186,115,655,446,657,745,700,30,214,246,203,87,55
BUN,3607,4747,8,1216,1564,3131,2451,4341,4021,3927,156,1360,1763,1265,526,381
Bilirubin,809,1109,0,252,200,915,551,778,1140,891,42,291,355,300,144,92
Cholesterol,78,124,0,111,3,33,55,109,93,99,7,24,38,23,7,7
Creatinine,3624,4782,8,1245,1571,3145,2453,4362,4052,3953,157,1367,1773,1275,530,381
DiasABP,24794,37279,87,7422,18911,14331,21496,33950,28210,21857,1194,12151,17488,12171,5174,3606
FiO2,7545,10379,11,1957,4127,5823,6028,9845,8090,7309,312,3114,4378,3355,1388,1047
GCS,15638,21448,44,4568,6402,11064,15096,19939,17191,18585,629,5955,7381,4925,2044,1404
Glucose,3471,4432,8,1176,1169,3127,2439,4065,3846,3909,136,1233,1536,1094,450,344
HCO3,3563,4615,8,1172,1466,3138,2410,4238,3948,3894,150,1314,1694,1231,509,364
HCT,4530,6377,7,1490,2646,3717,3061,5830,5084,4721,222,1885,2572,1862,780,503
HR,43948,59844,87,15157,22087,37030,29605,56637,47242,49222,1838,16810,22367,15421,6369,4754
K,3873,5001,8,1477,1316,3402,2687,4599,4283,4352,154,1399,1726,1243,510,392
Lactate,2014,2699,0,382,888,1572,1871,2390,2323,1802,131,914,976,907,452,292
MAP,24657,37150,85,7379,18972,14135,21406,33835,28057,21657,1228,12103,17498,12148,5144,3613
MechVent,7273,9669,7,1828,3945,5340,5836,9097,7852,6650,319,3019,4126,3223,1377,1060
Mg,3564,4702,8,1242,1588,2930,2514,4346,3928,3826,161,1364,1774,1285,516,378
NIDiasABP,21468,27139,34,8040,5392,23659,11550,26618,22023,29693,750,6019,6782,4728,1868,1456
NIMAP,21091,26733,34,7995,5372,23116,11375,26272,21586,29165,706,5928,6735,4679,1844,1445
NISysABP,21485,27164,34,8045,5406,23669,11563,26638,22045,29712,750,6028,6794,4735,1869,1457
Na,3595,4630,8,1179,1222,3237,2595,4208,4025,4114,147,1275,1587,1140,457,346
PaCO2,5277,7899,8,1496,4945,2997,3746,7213,5971,3722,296,2777,4079,3154,1389,936
PaO2,5262,7890,8,1497,4930,2996,3737,7199,5961,3717,296,2769,4070,3146,1386,933
Platelets,3543,4935,7,1210,1972,2824,2479,4397,4088,3610,169,1461,2027,1448,601,396
RespRate,12955,14839,42,5928,993,12947,7968,15338,12498,19616,243,2574,2951,1453,605,588
SaO2,1847,2823,0,861,2691,483,635,2777,1893,604,157,1221,1922,1369,633,377
SysABP,24795,37283,87,7422,18913,14333,21497,33953,28212,21860,1194,12152,17490,12172,5174,3606
Temp,17151,25193,32,4989,13898,11867,11622,23847,18529,14998,979,8358,11916,8692,3860,2304
TroponinI,125,130,0,45,52,100,58,187,68,110,12,49,62,58,13,2
TroponinT,551,693,3,383,64,551,249,811,436,652,16,183,204,151,58,50
Urine,33957,45772,71,10105,20330,25088,24277,44164,35636,35093,1441,13738,18787,13214,5431,3957
WBC,3291,4443,7,1080,1654,2699,2308,4032,3709,3452,153,1280,1768,1256,525,335
Weight,26341,33851,36,8362,12834,25990,13042,33214,27014,29064,972,10235,13347,9272,3769,2984
pH,5453,8319,9,1530,5404,3041,3806,7538,6243,3812,318,2941,4354,3327,1452,971